
body {
    margin: 0;
}
#target {
    width: 190px;
    height: 190px;
    border-shape: xywh(0% 0% 100% 100%);
    position: relative;
    background: green;
    box-shadow: 10px 20px 0 10px blue, inset 0 0 0 10px purple;
    border: 10px solid black;
}
