
    body {
        margin: 0;
        background: white;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: 240px;
        overflow: visible;
    }
    .shadow {
        fill: rgba(0, 0, 255, 0.5);
        transform: translate(10px, 20px);
    }
    .border {
        fill: green;
        stroke: black;
        stroke-width: 10px;
    }
