
.wrapper {
  width: 50px;
  margin-left: 50px;
  background: red;
}
.float {
  float: right;
  clear: right;
  width: 25px;
  height: 50px;
  background: green;
}
.bfc {
  overflow: hidden;
  height: 50px;
  margin-left: -50px;
  background: green;
}
