
#wrapper {
  width: 100px;
  height: 100px;
  background: red;
}
#float {
  float: left;
  width: 50px;
  height: 100px;
  background: green;
}
#bfc {
  overflow: hidden;
  height: 100px;
  min-width: 25px;
  background: green;
}
