
  body {
    margin: 0;
  }
  #shape {
    width: 240px;
    height: 240px;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    background-color: green;
    /* The size of the content-box is 200x200. */
    clip-path: shape(from center left,
                    curve to center right with center top / center top,
                    curve to center left with center bottom / center bottom,
                    close)
               content-box;
  }
