
      div {
        position: absolute;
        left: 50px;
        top: 50px;
        background-color: blue;
        width: 30px;
        height: 30px;
        padding: 10px;
        border: solid blue 25px;
        clip-path: circle(farthest-side) border-box;
      }
    