
svg {
  width: 300px;
  height: 300px;
}
.bg1 { fill: green; }
.cp1 { clip-path: polygon(0px 0px, 100px 0px, 0px 100px); }
.cp2 { clip-path: circle(50px); }
.cp3 { clip-path: ellipse(50px 30px); }
.cp4 { clip-path: inset(10px 20px 30px 40px); }
