
  div#outer
  {
  border: black solid 8px;
  height: 384px;
  width: 128px;
  }

  div#inner
  {
  height: 384px;
  width: 24px;
  }

  div#inner > div
  {
  height: 192px;
  width: 24px;
  }

  div#top {background-color: lime;}

  div#bottom {background-color: aqua;}
  