
  .test {
    width: 200px;
    height: 200px;
    background-color: green;
    background-image: url("http://{{hosts[][]}}:{{ports[http][1]}}/css/support/1x1-green.png" cross-origin(use-credentials));
  }
