
  body {
    margin: 0px;
  }
  .multicol {
    column-count: 5;
    width: 600px;
    column-gap: 1px;
    height: 101px;
  }
  #flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    border: 1px solid black;
    column-gap: 3px;
    column-rule: 3px solid green;
    row-gap: 3px;
    row-rule: 3px solid gold;
  }

  #flex > div {
    background: lightblue;
  }
