
@font-face {
    font-family: GentiumPlus;
    src: url('/fonts/GentiumPlus-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.test {
    font-family: GentiumPlus;
    font-size: 18pt;
    width: 300px;
    border: 1px solid black;
    margin: 1em;
}
/* the CSS above is not part of the test */
