
div { font: 20px/1 Ahem; }
img { float:right; }
.test {
    max-width: 200px;
    color: green;
}
span { hyphens: none; }
.ref {
    position: absolute;
    background: green linear-gradient(red, red) 7ch 0/3ch 3ch no-repeat;
    color: red;
    width: 200px;
    height: 200px;
    z-index: -1;
}
