
code {
  display: block;
  hyphens: auto;
  border: 1px solid black;
  /* Prefer Courier New if available, as otherwise Menlo may be used,
     and its HYPHEN and HYPHEN-MINUS glyphs don't match. */
  font-family: Courier New, Courier, monospace;
}
