
    * { margin:0; padding:0; font-size:100%; line-height:1; font-family: Ahem; }

    .test {
      width: 300px;
      float: left;
      width: 33.3333%;
    }

    p {
      margin-top: 10px;
      margin-right: 10px;
      background: #ccc;
    }

    #row1-col1 {
        height: 90px;
        color: orange;
    }

    #row1-col2 {
        height: 90px;
        color: green;
    }

    #row1-col3 {
        height: 90px;
        color: blue;
    }

    #row2-col1 {
        height: 140px;
        color: yellow;
    }

    #row2-col2 {
        height: 140px;
        color: magenta;
    }

    #row3-col1 {
        height: 290px;
        color: cyan;
    }

    .clear {
        clear: both;
    }

  