
    * { margin:0; padding:0; font-size:100%; line-height:1; }

    #test {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      height: 300px;
    }

    p {
      margin-top: 10px;
      margin-right: 10px;
      background: #ccc;
    }

    #col1-row1 {
        height: 90px;
    }

    #col1-row2 {
        height: 90px;
    }

    #col1-row3 {
        height: 90px;
    }

    #col2-row1 {
        height: 140px;
    }

    #col2-row2 {
        height: 140px;
    }

    #col3-row1 {
        height: 290px;
    }

  