
    * { margin:0; padding:0; font-size:100%; line-height:1; font-family: Ahem; }

    #test {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap-reverse;
      height: 300px;
    }

    p {
      margin-top: 10px;
      margin-right: 10px;
      background: #ccc;
    }

    #col1-row1 {
        height: 90px;
        color: orange;
    }

    #col1-row2 {
        height: 90px;
        color: green;
    }

    #col1-row3 {
        height: 90px;
        color: blue;
    }

    #col2-row1 {
        height: 140px;
        color: yellow;
    }

    #col2-row2 {
        height: 140px;
        color: magenta;
    }

    #col3-row1 {
        height: 290px;
        color: cyan;
    }

  