
    .test {
      width: 300px;
    }

    p {
        margin-right: 10px;
        background: #ccc;
    }

    #row1-col1 {
        width: 90px;
        float: left;
    }

    #row1-col2 {
        width: 90px;
        float: left;
    }

    #row1-col3 {
        width: 90px;
        float: left;
    }

    #row2-col1 {
        width: 140px;
        float: left;
    }

    #row2-col2 {
        width: 140px;
        float: left;
    }

    #row3-col1 {
        width: 290px;
        float: left;
    }

    .clear {
        clear: both;
    }

  