
    span { background-color: yellow; display: inline-block; }
    /* Using 16px Ahem means that the 'ch' unit will be evenly divisible by 8 (for the 0.125ch
       increment used below) without running into floating-point accuracy limitations */
    pre { position: absolute; top: 0; font: 16px Ahem; }
    tt { font: 16px monospace; }
  