
        .container {
            position: absolute;
        }
        .green {
            position: absolute;
            top: 0;
            left: 0;
            background: green;
         }
        .red {
            position: absolute;
            top: 0;
            left: 0;
            background: red;
            tab-size: 4;
        }
    