
div {
  font-family: monospace; /* so we can compare tab with a count of preserved spaces */
  white-space: pre;
}
.test {
  word-spacing: 1ch; /* effectively double the size of SPACE, and hence of tabs */
  tab-size: 3;
}
.ref1 {
  word-spacing: 1ch;
}
.ref2 {
  white-space: pre;
}
