
  :root {
    /* CSS scrollbar properties applied to the root element
       will be propagated to the viewport. */
    scrollbar-width: thin;
    overflow: visible;
  }

  body {
    /* overflow is propagated as well */
    overflow: scroll;
    /* but CSS scrollbar properties applied to the body are not propagated */
    scrollbar-width: none;
  }

  :root,
  body {
    margin: 0;
    padding: 0;
  }

  #content {
    height: 10vh;
    width: 100%;
    background: lightsalmon;
  }

  #expander {
    /* force vertical scroll */
    height: 200vh;
    width: 300px;
    background: gray;
  }
