
    .overflow-ib {
      overflow: hidden;
      display: inline-block;
    }

    details {
      height: 40px;
      width: 100px;
      /* Transparent text & "details-arrow", so that it's easier to make
         a simple reference case: */
      color: transparent;
      border-color: gray;
      border-style: solid;
      border-width: 2px 3px 4px 5px;
      padding: 4px 5px 7px 8px;
      margin: 1px 2px 3px 4px;
    }
