
			article, svg{
				position: absolute;
				top: 220px;
				left: 60px;
			}
			article{
				border: 10px solid green;
				display: block;
				height: 100px;
				width: 100px;
				z-index: 2;
				cursor:pointer;
			}
			section article{
				transform: rotate(30deg);
				transform-origin: 19% 197%;
			}

		

				rect{
					stroke-width: 10;
					stroke: red;
					fill: none;
		   	 	}
			    