
      .container {
      height: 100px;
      width: 200px;
      margin: 30px;
      outline: 1px solid black;
    }
    .box {
      height: 100%;
      width: 100%;
      padding: 5px;
      margin: 5px;
      border: 5px solid gray;
      transform-origin: 20% 50%;
    }
    #test-div {
      background-color: blue;
    }

    #test-span {
      background-color: red;
    }
    