
  div {
    width: 200px;
    height: 200px;
  }

  .rotate45 {
    transform: rotateY(45deg)
  }
  .rotateNeg45 {
    transform: rotateY(-45deg)
  }

  .parent {
    transform-style: preserve-3d;
  }

  .perspective {
    perspective: 200px;
  }
