
.background {
  width: 100px;
  height: 100px;
  background-color: green;
}

.flipper {
  backface-visibility:hidden;
  transform: rotateY(180deg);
  width: 100px;
  top: -100px;
  margin-top: -100px;
}

.scroll {
  overflow-y: scroll;
  width: 100px;
  height: 100px;
}

.inner {
  height: 900px;
  background: red;
}

