
        div {
            top:0px;
            left:0px;
            position:absolute;
            height: 150px;
            width: 150px;
            background-color:green;
            transform-origin: 0 0;
            transform: skew(25deg, 35deg);
        }
        svg {
            top:5px;
            left:5px;
            position:absolute;
            height: 253.667px;
            width: 218.333px;
        }
    