
      div {
        position: absolute;
      }
      div.container {
        height: 100px;
        top: 60px;
        width: 400px;
      }
      div.blue {
        background-color: blue;
        height: 100px;
        transform: rotateY(-60deg);
        transform-style: preserve-3d;
        width: 400px;
      }
      div.green {
        background-color: green;
        height: 100px;
        transform: rotateY(120deg);
        width: 400px;
      }
      div.red{
        background-color: red;
        height: 100px;
        left: 100px;
        width: 200px;
      }
    