
      div {
        position: absolute;
      }
      div.redsquare {
        background-color: red;
        border: 20px solid black;
        height: 120px;
        left: 60px;
        top: 60px;
        width: 120px;
      }
      div.green {
        background-color: green;
        height: 120px;
        left: 20px;
        top: 80px;
        transform: rotate3d(0,1,0,60deg);
        width: 240px;
      }
    