
      div {
        position: absolute;
      }
      div.redsquare {
        background-color: red;
        border: 20px solid black;
        height: 120px;
        left: 60px;
        top: 60px;
        width: 120px;
      }
      div.green {
        background-color: green;
        height: 240px;
        left: 80px;
        top: 20px;
        transform: rotateX(60deg);
        width: 120px;
      }
    