
    div {
      width: 200px;
      height: 200px;
    }
    #container {
      position: relative;
      background-color: green;
      perspective: 1000px;
    }
    #rotated {
      background-color: red;
      transform: rotateX(90deg);
    }
  