
  body {
    background: red;
    margin: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
    background: white;
  }
  .transform {
    transform-origin: 0 0;
    will-change: transform;
    background: linear-gradient(white, white);
    width: 47px;
    height: 47px;
    position: absolute;
  }
