
.parent {
  perspective: 0px;
  perspective-origin: top left;
}
.parent > div {
  position: absolute;
}
.child-2d {
  background: red;
  width: 200px;
  height: 200px;
}
.child-3d {
  width: 100px;
  height: 100px;
  background: green;
  transform: translateZ(0.5px);
}
