
        .container {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 100px;
            left: 100px;
            perspective: 3px;
            perspective-origin: 0px 0px;
        }
        .redSquare {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 150px;
            height: 150px;
            background: red;
            transform: translateZ(0px);
         }
        .greenSquare {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100px;
            height: 100px;
            background: green;
            transform: translateZ(1px);
         }
    