
        .redContainer {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 100px;
            left: 100px;
            perspective: 3px;
            background: red;
        }
        .greenSquare {
            position: absolute;
            top: 25px;
            left: 25px;
            width: 100px;
            height: 100px;
            background: green;
            transform: translateZ(1px);
         }
    