
.parent {
  transform: perspective(0px);
  transform-style: preserve-3d;
  transform-origin: top left;
}
.parent > div {
  width: 100px;
  height: 100px;
  position: absolute;
}
.child-3d {
  background: green;
  transform: translateZ(0.5px);
}
