

div {
  width: 100px;
  height: 100px;
}

#outer {
  position: relative;
  background: red;
  perspective: 100px;
}

#middle {
}

#inner {
  transform: translateZ(-100px);
  position: absolute;
  top: 0;
  left: 0;
  background: green;
}

