

  .scene {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 100px;
    top: 100px;
  }

  .chair {
    width: 400px;
    height: 400px;
    transform: rotateY(80deg);
    transform-style: preserve-3d;
    transform-origin: 50% 50% 50%;
  }

  .shadow {
    position: absolute;
    top: 250px;
    left: 0;
    width: 200px;
    height: 200px;
    filter: blur(1px);
    background: black;
    transform: translate3d(1px, 1px, 1px);
  }

  svg.cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 500px;
    height: 570px;
  }

