
body {
  margin: 0;
}
div {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
}
.flattener {
  background: fuchsia;
}
.sibling {
  background: blue;
  top: 50px;
  left: 25px;
}
.child {
  background: silver;
  left: 50px;
}
