
        #greenBottomDiv {
            background: green;
            border-bottom-color: black;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            border-width: 5px;
            border-style: solid;
            height: 100px;
            position: absolute;
            transform:
                rotate(90deg);
            width: 100px;
         }

        #redDiv {
            position: absolute;
            background: red;
            height: 110px;
            width: 110px;
         }

    