
      .container {
          border: 1px solid black;
          height: 100px;
          width: 100px;
          background-color:#fff;
      }
      .transformed {
          transform: rotateY(45deg);
          background-color:green;
          height: 100px;
      }
  