
      .container {
          height: 100px;
          width: 100px;
          background-color:#fff;
          border:1px solid black;
      }

      .transformed {
          position: relative;
          top:15px;
          width: 100px;
          height: 70.7px;
          background-color:green;
        }
   