
      .container {
        z-index: 11;
        position: absolute;
          height: 100px;
          width: 100px;
          margin-left: 500px;
          transform: scaleX(2);
          background-color: green;
      }

       .hidden {
        z-index: 10;
        background-color: red;
          position: absolute;
          height: 100px;
          width: 200px;
          margin-left: 450px;
      }
  