
#container {
  width: 100px;
  height: 100px;
  background: green;
  position: relative;
  transform-style: preserve-3d;
}
#scroller {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  transform: translateZ(-1px);
  overflow-y: hidden;
}
