
        body {margin:0}
        #greenSquare {
            position: absolute;
            top: 0px;
            left: -100px;
            width: 100px;
            height: 100px;
            background: green;
            transform-origin: right bottom;
            transform:rotate(90deg);
        }
        #relativeContainer {
            position: relative;
        }
        #redSquare {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100px;
            height: 100px;
            background: red;
        }
    