
      body {
        height: 50px;
        width: 50px;
        transform-origin: 50% 100%;
      }
      div {
        height: 100px;
        width: 100px;
        transform: rotate(180deg);
        transform-origin: inherit;
        background: blue;
      }
    