
      body {
        font-size: 25px;
        transform: translate(1em, 1em);
        overflow: hidden;
      }
      div {
        font-size: 100px;
        transform: inherit;
        height: 100px;
        width: 100px;
        background: blue;
      }
    