
      div {
        width: 100px;
        height: 50px;
        background: gold;
        position: absolute;
        left: 100px;
        top: 100px;
        transform: rotate(10deg) translatex(50%) rotate(10deg)
                   translatey(50px) skewx(10deg) translate(25px, 25px);
      }
    