
  html, body { margin: 0; padding: 0 }
  #changetransform {
    position: absolute;
    top: 100px;
    left: 100px;
  }

  #abscovered {
    position: absolute;
    top: 50px;
    left: 50px;
    background: red;
    height: 100px;
    width: 100px;
  }

  #fixedmoves {
    position: fixed;
    top: 50px;
    left: 50px;
    background: green;
    height: 100px;
    width: 100px;
  }
