
      body > div {
        display: inline-table;
        width: 100px;
        height: 200px;
        transform: translate(50px, 50px);
        background: gold;
      }
      body > div > div {
        width: 200px;
        height: 100px;
        position: fixed;
        left: 50px;
        top: 100px;
        background: navy;
        color: gold;
      }
    