
      body {
        margin: 0;
      }
      div {
        background: url(support/transform-triangle-down.svg) fixed;
        width: 100px;
        height: 100px;
        transform: translate(50px, 50px) rotate(90deg);
      }
    