
.wrapper {
  width: 200px;
  height: 200px;
  background: red;
}
.test {
  width: 200px;
  height: 200px;
  background: green;
  transform: matrix(0,1, 1,0, 0,0);
  /*
    The resulting matrix is:
    ┌         ┐
    │ 0 1 0 0 │
    │ 1 0 0 0 │
    │ 0 0 1 0 │
    │ 0 0 0 1 │
    └         ┘
    It could result from e.g. `scaleX(-1) rotate(90deg)`.
  */
}
