
      input {
        /* Margin to avoid overlap of translated inputs */
        margin: 10px;
      }
      p + input {
        transform: rotate(360deg);
      }
      p + input + input {
        transform: translateX(-10px);
      }
      p + input + input + input {
        transform: translateX(10px);
      }
      p + input + input + input + input {
        transform: translateY(-10px);
      }
      p + input + input + input + input + input {
        transform: translateY(10px);
      }
    