
      body > div {
        background: green;
        height: 100px;
        width: 100px;
      }
      span {
        background: yellow;
      }
      body > div > div {
        position: relative;
        top: 150px;
        left: 20px;
      }
    