
      body > div {
        width: 100px;
        height: 200px;
        transform: translate(50px, 50px);
        background: gold;
      }
      body > div > div {
        width: 200px;
        height: 100px;
        position: fixed;
        right: -150px;
        bottom: 0;
        background: navy;
        color: gold;
      }
    