
      html {
        overflow: hidden;
        transform: rotate(90deg);
        transform-origin: 50px 50px;
      }
      body {
        background: url(support/transform-triangle-left.svg);
      }
    