
      html {
        transform: rotate(-90deg);
        transform-origin: 100px 100px;
        overflow: hidden;
      }
      body {
        margin: 0;
      }
      div {
        background: url(support/transform-triangle-up.svg) fixed;
        width: 100px;
        height: 100px;
        position: relative;
        left: 50px;
        top: 50px;
      }
    