
        div {
            position: absolute;
            top: 100px;
            left: 100px;
            height: 100px;
            width: 100px;
        }

        .transformed {
            background-color: white;
            transform: rotateY(60deg);
        }

        .back {
            background-color: green;
        }
    