
      div {
        width: 60px;
        height: 10px;
        padding: 10px;
        border: 10px solid gold;
        margin: 10px;
        background: gold;
        position: absolute;
        left: 90px;
        top: 90px;
        transform: rotate(10deg) translatex(50%) rotate(10deg) translatey(100%)
                   skewx(10deg) translate(25px, 25px);
      }
    