
      div {
        height: 100px;
        width: 100px;
      }
      body > div {
        transform: matrix(1, 0, 0, 1, 50, 0);
      }
      body > div > div {
        transform: matrix(1, 0, 0, 1, 50, 0);
      }
      body > div > div > div {
        background: blue;
      }
    