
      body > div {
        transform: rotateX(90deg);
        transform-style: preserve-3d;
      }
      body > div > div {
        display: table;
      }
      body > div > div > div {
        display: table-row;
      }
      body > div > div > div > div {
        display: table-cell;
        transform-style: preserve-3d;
      }
      body > div > div > div > div > div {
        transform: rotateX(90deg);
      }
    