
    div {
      width: 100px;
      height: 100px;
    }
    .gradient{
      background-image: linear-gradient(orange 50%, fuchsia 50%);
      transform: rotate(90deg);
      transform-origin: top right;
    }

    .red {
      width: 98px;
      height: 98px;
      background: red;
    }
  