
    div {
      height: 150px;
      width: 150px;
    }
    .container {
      background-color: red;
    }
    .transformed {
      transform-origin: top left;
      transform: rotateX(180deg);
      background-color: green;
      position: relative;
      top: 150px;
    }
    