
      body > div {
        background: green;
        width: 100px;
        height: 100px;
      }
      span {
        background: yellow;
      }
      body > div > div {
        transform: translate(20px, 150px);
      }
    