
      div {
        width: 200px;
        height: 100px;
      }
      body > div {
        transform: scale(-1);
      }
      body > div > div {
        background: url(support/transform-triangle-down.svg);
      }
    