
      body {
        overflow: hidden;
      }
      body > div {
        position: relative;
        top: 50px;
        left: 50px;
      }
      body > div > div {
        display: table-cell;
      }
    