
        div {
            background-color: green;
            float: left;
            margin: 50px;
        }
        .greenSquare {
            width: 100px;
            height: 100px;
            transform: scale(.3);
            transform-origin: top left;
        }
        .greenSquareTwo {
            width: 30px;
            height: 30px;
        }
    