
      body > div > div {
        display: table;
      }
      body > div > div > div {
        display: table-row;
      }
      body > div > div > div > div {
        display: table-cell;
      }
    