
  .div1 {
    height: 150px;
    position: absolute;
    width: 150px;
  }
  .div2 {
    background-color: gray;
  }
  #test {
    background-color: red;
    height: 50px;
    margin: 0px 50px 100px 50px;
    transform: rotate(180deg);
    transform-origin: 50% bottom;
    width: 50px;
  }
  #ref {
    background-color: green;
    height: 50px;
    margin: 0px 50px 100px 50px;
    transform: rotate(180deg);
    transform-origin: 50% 100%;
    width: 50px;
  }
