
  body {
    margin: 0;
  }

  div {
    height: 100px;
    width: 100px;
  }

  #outer {
    transform: translate(100px, 100px);
  }

  #inner {
    transform: scale(0.5);
    transform-origin: center;
  }
