
      div {
        margin: 300px 0 0 300px;
        width: 100px;
        height: 200px;
        background: #202040;
        transform: rotate(45deg);
        transform-origin: 50% 0%;
      }
    