
        body {margin:0}
        #greenSquare {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100px;
            height: 100px;
            background: green;
        }
        #relativeContainer {
            position: relative;
        }
        #redSquare {
            position: absolute;
            top: 0px;
            left: 100px;
            width: 100px;
            height: 100px;
            background: red;
        }
        #rotateSquare {
            position:absolute;
            top: 0px;
            left: -100px;
            width: 200px;
            height: 100px;
            transform:rotate(180deg)
        }
    