
  body
    {
      height: 50vh;
      margin: 0px;
    }

  div#filler-before
    {
      height: 125vh;
    }

  div#blue
    {
      background-color: blue;
      height: 12.5vh;
      width: 50vh;
     }

  div#orange
    {
      background-color: orange;
      height: 12.5vh;
      width: 50vh;
    }

  div#filler-after
    {
      height: 50vh;
    }
  