
   div {
    background-color: green;
   }
   .borderContainer {
    width: 108px;
    height: 108px;
    position: relative;
   }
   .borderContainer > div {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
   }
   .corner {
    background-image: url('../support/border.png');
    background-size: 60px 60px;
   }
   .edge {
    background-image: url('../support/border.png');
    background-position: left -20px;
    background-size: 60px 60px;
   }
   .left {
    left: 0px;
   }
   .left1 {
    left: 22px;
   }
   .left2 {
    left: 44px;
   }
   .left3 {
    left: 66px;
   }
   .right {
    right: 0px;
   }
   .top {
    top: 0px;
   }
   .top1 {
    top: 22px;
   }
   .top2 {
    top: 44px;
   }
   .top3 {
    top: 66px;
   }
   .bottom {
    bottom: 0px;
   }
  