
  div#outer-yellow
    {
      background-color: yellow;
      height: 100px;
      padding: 50px;
      width: 100px;
    }

  div#inner-green
    {
      background-color: green;
      height: 100px;
    }
  