
  div
    {
      border: 10px double red;
      border-image-outset: 2;
      border-image-repeat: round stretch;
      border-image-slice: 30;
      border-image-source: url("../support/blue-and-red-diamonds-81x81.png");
      border-image-width: 4;
      height: 150px;
      margin: 50px 0px 100px 50px;
      width: 150px;
    }
  