
  table
    {
      border-spacing: 0px;
      table-layout: fixed;
    }

  td
    {
      padding: 0px;
    }

  td.green-square
    {
      background-color: green;
      height: 25px;
      width: 25px;
    }

  td#blue-square
    {
      border: blue solid 1px;
      height: 48px;
      width: 48px;
    }
  