
  div#outer
    {
      background-image: linear-gradient(to top, blue, orange);
      height: 140px;
      margin: 10px;
      width: 140px;
    }

  div#inner
    {
      background-color: white;
      height: 80px;
      left: 30px;
      position: relative;
      top: 30px;
      width: 80px;
    }
  