
  table
    {
    border-spacing: 0px;
    table-layout: fixed;
    width: 154px;
    }

  td
    {
      height: 27px;
      padding: 0px;
    }

  td.corner
    {
      background-image: url("../support/blue-and-red-diamonds-81x81.png");
    }

  img
    {
      vertical-align: top;
    }
  