
  body
    {
      height: 568px;
      overflow-y: hidden;
      width: 584px;
    }

  div
    {
      display: inline-block;
      position: relative;
      vertical-align: bottom;
    }

  div.image
    {
      height: 288px;
      width: 514px;
    }

  img
    {
      clip: rect(15px, auto, auto, 15px);
      left: -15px;
      position: absolute;
      top: -15px;
    }

  div.light-blue-border
    {
      border: 16px solid rgba(60, 150, 255, 0.4);
      bottom: 288px;
      height: 256px;
      width: 482px;
    }
  