
  div#outer
    {
      height: 100px;
      margin: 120px 0px 0px 104px;
      overflow: auto;
      width: 100px;
    }

  div#inner
    {
      background-color: green;
      height: 300px;
      width: 300px;
    }
  