
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }
  #target {
    /* Use a sans-serif font to reduce likelihood that the 'hi' text draws any
       flourishes that happen to generate antialiasing fringe outside the
       container: */
    font-family: sans-serif;
  }
