
  .container {
    /* inline just so they don't overflow on each other */
    display: inline-flex;
    width: 100px;
    border: solid;
    flex-wrap: wrap;
    /* Prevent the lines from stretching. */
    align-content: start;
    font: 20px/1 Ahem;
  }

  .container>div {
    border: 3px solid;
  }

  .stretch {
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
  }
