
#red {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  background: red;
}
#flex-container {
  display: flex;
  flex-direction: row;
  height: 0;
}
#flex-item {
  min-height: stretch;
  border: 100px solid green;
}
