
  .container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: solid;
    flex-wrap: wrap;
    /* Prevent the lines from stretching. */
    align-content: start;
    font: 20px/1 Ahem;
  }

  .container>div {
    border: 3px solid;
  }

  .stretch {
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
  }
