
  .container {
    display: inline-flex;
    width: 100px;
    border: solid;
    margin: 10px;
  }

  .container>div {
    border: 3px solid;
  }

  .stretch {
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
  }
