
.parent {
  column-gap: 90px;
}
.target {
  column-count: 2;
  column-gap: 10px;
}
.expected div {
  opacity: 0.7;
}
.target > div {
  height: 20px;
  background-color: black;
}
.target.expected > div {
  background-color: green;
}
