
  .container {
    writing-mode: vertical-rl;
    inline-size: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: circle(50% at left 40px top 40px) border-box;
    clip-path: circle(50% at left 40px top 40px) border-box;
    box-sizing: content-box;
    block-size: 40px;
    inline-size: 40px;
    padding: 20px;
    border: 20px solid lightgreen;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    background-color: orange;
  }

  .box {
    display: inline-block;
    inline-size: 60px;
    background-color: blue;
  }

  .long {
    inline-size: 200px;
  }
  