
  .container {
    width: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: circle();
    clip-path: circle();
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    padding: 20px;
    border: 20px solid lightgreen;
    background-color: orange;
  }

  .box {
    display: inline-block;
    width: 60px;
    background-color: blue;
  }
  