
  .invalid {
    list-style-type: lower-greek;
    list-style-type: symbols(a b c);
    list-style-type: symbols(alphabetic a b c);
    list-style-type: symbols(numeric 0 1 2);
    list-style-type: symbols(additive 'a' 'b');
    list-style-type: symbols(fixed);
    list-style-type: symbols(alphabetic 'a');
    list-style-type: symbols(numeric '0');
  }
