
      div {
        margin-left: 4em;
      }
      div::after {
        content: "World";
        display: list-item;
      }
      div::after::marker {
        content: attr(data-mark, "failed ");
        color: blue;
      }
    