
html,body {
  color:black; background-color:white; font:4px/1 Ahem; padding:0; margin:0;
}
body {
  margin-left: 3ch;
}
* { font:10px/1 Ahem; }
.wrapper {
  display: inline-block;
  position: relative;
  height: 2em;
  width: 5em;
  border: 1px solid black;
  margin: 1px;
  vertical-align: top;
}
.wrapper > * {
  content:none;
  padding:0; margin:0; border:none;
}
::marker { content: 'M'; }
.after::after { content: 'A'; }
.before::before { content: 'B'; }
  