
 table { overflow:hidden; border-spacing:0 }
 caption { margin-top:10px; caption-side:bottom }
 td { padding:0 }
 div { width:20px; height:25px; border-bottom:solid red 10px; margin-top:-15px; position:relative; top:15px; background:black }
