
 table { overflow:hidden; border-spacing:0; display:inline-table }
 caption { margin-bottom:10px }
 td { padding:0 }
 div { width:20px; height:25px; border-top:solid red 10px; margin-top:-15px; background:black }
