
  @page {
    size: 293px;
    margin: 5px;
  }
  :root {
    print-color-adjust: exact;
  }
  body {
    margin: 0;
    background: yellow;
  }
  div {
    /* Forced breaks defeat break avoidance hints. */
    break-before: page;
    break-after: avoid;
  }
