
:root {
  print-color-adjust: exact;
  writing-mode: sideways-rl;
}
body {
  margin: 20px;
  background: linear-gradient(to left, lightgray 0%, lightgray 50%, white 50%, white 100%);
}
@page {
  size: 800px 600px;
  margin: 0;
}
