
@layer layer2, layer1;
@page b{
    margin: 0;
}
@layer layer1 {
    @page {
        margin: 1cm;
    }
}
@layer layer2 {
    @page {
        margin: 0;
    }
}
div {
    width: 1cm;
    height: 1cm;
    border: 2px solid red;
}
  