
  @page {
    size: 500px;
    margin: 5% 10% 15% 20%;
    padding: 20% 15% 10% 5%;
    border: 10px solid lightblue;
  }
  @page larger {
    size: 500px 800px;
  }
  @page smaller {
    size: 400px 300px;
  }
  :root {
    print-color-adjust: exact;
  }
  body {
    margin: 0;
  }
