
  @page {
    size: 20em 7em;
    margin: 0;
  }
  :root {
    print-color-adjust: exact;
  }
  .pagebox {
    break-before: page;
    display: flex;
    width: 20em;
    height: 7em;
  }
  .pagebox > div {
    flex: 1;
    margin: 30px;
    border: solid;
    background: yellow;
  }
  body {
    margin: 0;
  }
