
  @page {
    margin: 0;
  }
  :root {
    print-color-adjust: exact;
  }
  body {
    margin: 0;
  }
  .fullpager {
    break-before: page;
    margin-top: 10px;
    margin-left: 40px;
    width: calc(100vw - 60px);
    height: calc(100vh - 40px);
  }
