
  @page {
    size: 400px 800px;
    margin: 0;
    padding: 5% 20% 15% 40%;
    background: red;
  }
  :root {
    print-color-adjust: exact;
  }
  body {
    margin: 0;
    background: hotpink;
  }
