
@page {
  margin: 0;
  size: 200px 300px;
}
@page rotated {
  page-orientation: rotate-left;
}
body {
  margin: 0;
}
.filler {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    border: 10px solid black;
}
