
@page{
    margin: 0;
    size: 200px 300px;
}
@page landscape{
    /* Add a margin so that even if page-orientation doesn't work in the tests
     * the pages are different. */
    margin: 20px;
    page-orientation: rotate-left;
}
:root {
  print-color-adjust: exact;
}
body{
    margin: 0;
}
.page{
    break-after: page;
    overflow: hidden;
    width: 160px;
    height: 260px;
}
.marker{
    width: 90px;
    height: 90px;
    background-color: cyan;
}
  