
@font-face {
  font-family: ligature-font;
  src: url('/fonts/Lato-Medium-Liga.ttf');
}
#test-container {
  font-family: ligature-font;
  font-size: 40px;
  text-autospace: normal;
}
.base {
  text-autospace: no-autospace;
}
