
.test {
  font-family: Ahem;
  font-size: 40px;
}
.normal {
  text-autospace: normal;
  /* These properties have no effect on horizontal text,
     so should not disable the auto-space insertion: */
  text-orientation: upright;
  text-combine-upright: all;
}
