
#container {
  writing-mode: sideways-lr;
}
.test {
  font-family: Ahem;
  font-size: 40px;
}
.no-autospace {
  text-autospace: no-autospace;
}
.spacing {
  margin: 5px;
}
.spacing-bottom {
  margin-bottom: 5px;
}
