
.test {
    font-size: 100px;
    text-shadow: 300px 300px 0 green;
}
.hide-text {
    background-color: white;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 1;
    left: 0;
}
