
  .container {
    writing-mode: horizontal-tb;
    width: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: polygon(60px 20px, 100px 60px, 20px 60px, 60px 100px) border-box;
    clip-path: polygon(60px 20px, 100px 60px, 20px 60px, 60px 100px) border-box;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    padding: 20px;
    margin: 20px;
    border: 20px solid lightgreen;
    background-color: orange;
  }

  .box {
    display: inline-block;
    width: 80px;
    background-color: blue;
  }

  .long {
    width: 200px;
  }
  