

@keyframes scale-and-rotate-animation {
    0%      { scale: 1.5; rotate: 0deg; }
    0.001%  { scale: 1; rotate: 90deg; }
    100%    { scale: 1; rotate: 90deg; }
}

#target {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;

    transform-origin: bottom left;
    animation: scale-and-rotate-animation linear 100s;
}

