
  .container {
    width: 100px;
    height: 100px;
  }
  #inline-size { container-type: inline-size; }
  #size { container-type: size; }
  span { color: red }
  @container (min-aspect-ratio: 1 / 1000) {
    span { color: green; }
  }
  @container (min-aspect-ratio: 2 / 1) {
    span { background-color: lime; }
  }
