
  #scroller {
    height: 100px;
    width: 100px;
    overflow-y: auto;
  }
  #container {
    container-type: inline-size;
  }
  #inner {
    height: 100px;
    border-bottom: 1px solid red;
  }
  @container (max-width: 99px) {
    #inner {
      height: 50px;
    }
  }
