
  .fail { display: inline; }
  .pass { display: none; }
  #container { container-type: size; width: 100px; }
  @container (min-width: 200px) {
    .fail { display: none; }
    .pass { display: inline; }
  }
