
  .parent { width: 300px; }
  .child { width: 100px; }
  .parent, .child { container-type: inline-size; }
  @container (min-width: 200px) {
    .child { container-type: initial; }
    .grandchild { border: 3px solid green }
  }
