
  #inline { container-type: inline-size; }
  #size, #outer { container-type: size; }
  .h600 { height: 600px; }
  .w500 { width: 500px; }
  .h400 { height: 400px; }
  .w300 { width: 300px; }
  .child {
    padding-left: 10cqi;
    padding-right: 10cqb;
  }
