
  #container {
    container-type: inline-size;
    width: 100px;
  }
  #div { color: red; }
  @keyframes test {
    from { color: green; }
    to { color: green; }
  }
  @container (min-width: 200px) {
    #div { animation: test 1s linear forwards; }
  }
