
  #container {
    container-type: size;
    width: 200px;
    height: 100px;
  }
  @container (width <= 200px) {
    #multicol {
      column-count: 2;
      column-gap: 0;
    }
  }
  #green {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: green;
    vertical-align: bottom;
  }
