
  #target { container-type: inline-size; }
  #target::highlight(foo) {
    text-decoration-line: underline;
    text-decoration-thickness: 0px;
  }
  @container (width >= 300px) {
    #target::highlight(foo) {
      text-decoration-line: underline;
      text-decoration-thickness: 10cqw;
    }
    #target::highlight(bar) {
      text-decoration-line: underline;
      text-decoration-thickness: 10cqw;
    }
  }
