
  :root {
    color: black;
  }

  .container {
    container-type: size;
    width: 200px;
    height: 40px;
  }

  @container (min-width: 300px) {
    #container1 div::before { content: "before"; }
    #container1 div::after { content: "after"; }
    #container2 li::marker { color: green; }
  }
