
.container {
  display: inline-block;
  border: solid 3px cornflowerblue;
  width: 100px;
  height: 100px;
  container-type: inline-size;
}
div > div {
  box-sizing: border-box;
  width: 100cqw;
  height: 200px;
  border: solid 10px orange;
}
