
  foreignObject {
    display: block;
    width: 100px;
    height: 100px;
    container-type: size;
  }
  @supports not (container-type: size) {
    div { color: red; }
  }
  @container (width = 100px) {
    div { color: red; }
  }
