
  .container {
    container-type: inline-size;
  }
  #outer {
    width: 100px;
    color: green;
  }
  #target {
    transition: color 100s step-end;
  }

  @container (min-width: 200px) {
    #inner { color: red; }
  }
  @container (min-width: 200px) {
    #target {
      /* This rule exists just to have a container query dependency between
         target and #inner */
      background-color: orange;
    }
  }
