
  .container { container-type: size }
  #outer {
    width: 100px;
    color: green;
  }
  @container (min-width: 200px) {
    #inner { color: red }
  }
  @container (min-width: 400px) {
    #target {
      color: green;
      transition: color 1s step-start;
    }
  }
