
#ref {
	width: 100px;
	height: 150px;
	background: green;
	margin: 10px;
	display: inline-block;
}
img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: white;
	margin: 10px;
}

#t01 {
	padding-left: 20px;
	margin-left: -10px; /*not strictly necessary, but helps preserve alignment, which makes visual verification easier. */
}
#t02 {
	padding-bottom: 20px;
	margin-bottom: -10px; /*not strictly necessary, but helps preserve alignment, which makes visual verification easier. */
}
#t03 {
	width: 120px;
	padding-left: 20px;
	margin-left: -10px; /*not strictly necessary, but helps preserve alignment, which makes visual verification easier. */
}
#t04 {
	height: 170px;
	padding-bottom: 20px;
	margin-bottom: -10px; /*not strictly necessary, but helps preserve alignment, which makes visual verification easier. */
}
body {
	max-width: 400px;
}
