
img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: white;
	padding-bottom: 30px;
	max-height: 100px;
}

#ref {
	margin-bottom: 10px;
	width: 100px;
	height: 70px;
	background: green;
}

