
#cb {
	position: absolute;
	width: 100px;
	height: 100px;
}
#red {
	position:absolute;
	top: 25px;
	right:5px;
	width: 70px;
	height: 70px;
	background:red;
	z-index: -1;
}
#test {
	box-sizing: border-box;
	margin-top: 25px;
	margin-right: 5px;
	margin-left: auto; /* should resolve to 25px, but would resolve to 0 if the wrong interpretation of width is used in CSS2.1 10.3.3 */
	padding-left: 25px;
	padding-right: 25px;
	width: 70px;
	height: 70px;
	background:green;
}
