
img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: white;
	padding-right: 30px;
	min-width: 160px;
}

#ref {
	display: inline-block;
	width: 130px;
	height: 150px;
	background: green;
}

