
img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: white;
	padding-bottom: 30px;
	min-height: 160px;
}

#ref {
	height: 130px;
	margin-bottom: 10px;
	width: 300px;
	background: green;
}

