
img {
	box-sizing: border-box;
	width: auto;
	height: auto;
	background: white;
	padding-bottom: 30px;
	min-height: 160px;
}

#ref {
	display: inline-block;
	margin-bottom: 30px; /*for alignement*/
	width: 130px;
	height: 130px;
	background: green;
}

