
  textarea {
    font-size: 3em;
    font-weight: bold;
    width: 10em;
    padding: 10px;

    background: white;
    color: black;
    caret-color: auto; /*initial value, but to be sure in case the UA stylesheet sets something else */
  }
