
    #container { width: 500px; }
    button,
    input[type=color],
    input[type=button],
    input[type=reset],
    input[type=search],
    input[type=submit],
    input[type=text],
    meter,
    progress,
    #select-listbox,
    textarea {
        appearance: none;
    }
    #select-dropdown-box,
    #select-menulist-button { appearance: none; appearance: menulist-button; }
