
#container {
  position: absolute;
  padding: 50px;
  cursor: crosshair;
}
#test{
  border-image: linear-gradient(blue, blue);
  border-image-outset: 50px;
  border-image-width: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  cursor: url("support/cursors/fail.png"), help;
}
