
div {
  width: 100px;
  height: 100px;
}
#test {
  cursor: url("support/cursors/fail.png"), help;
  cursor: auto;
  border: solid blue;
}
#ref {
  cursor: default;
  border: solid orange;
}
:root {
  cursor: help; /* give the root element a different cursor so that
  it is easy to tell if something changes when hovering the target.*/
}
