
div.test{
  background: #D2B48C; border: 2px solid #555;
  cursor: image-set( "support/cursors/woolly-64.ico" 1x), image-set( "support/cursors/woolly-64.png" 1x), help;
  width: 128px; height: 128px;
}
