
a {
  cursor: url("support/cursors/fail.png"), help; /* Override UA styles, regardless of specificity */
  cursor: auto !important; /* Override UA styles, regardless of specificity */
}
#ref {
  cursor: default;
  width: 100px;
  height: 100px;
  border: solid orange;
}
:root {
  cursor: help; /* give the root element a different cursor so that
  it is easy to tell if something changes when hovering the target.*/
}
