
    div > a {
        float: right;
        margin-left: 1em;
        margin-right: 1em;
    }

    div {
        clear: right;
    }

    #parent {
        nav-down: #finish;
    }

    #intermediate {
        nav-down: #end;
    }
