
    div > a {
        float: up;
        margin-up: 1em;
        margin-right: 1em;
    }

    div {
        clear: up;
    }

    #parent {
        nav-up: #finish;
    }

    #intermediate {
        nav-up: #end;
    }
