
div {
  width: 100px;
  height: 100px;
  /* The borders makes the box rectangular rather than square */
  border-right: solid white 50px;
  border-left: solid white 50px;
  background: red;
  outline: solid 50px green;
  outline-offset: -100px;
  margin-left: -50px;
}
