
  #container {
    background-color: green;
    border: 20px red solid;
    height: 60px;
    width: 60px;
  }
  #test {
    background-color: green;
    height: 20px;
    left: 20px;
    outline: 20px green solid;
    outline-offset: 20px;
    position: relative;
    top: 20px;
    width: 20px;
  }
