
  #container {
    background-color: red;
    height: 100px;
    width: 100px;
  }
  #parent {
    background-color: red;
    height: 80px;
    left: 10px;
    outline-color: green;
    outline-style: solid;
    outline-width: 10px;
    position: relative;
    top: 10px;
    width: 80px;
  }
  #child {
    background-color: green;
    height: 60px;
    left: 10px;
    outline-color: inherit;
    outline-style: solid;
    outline-width: 10px;
    position: relative;
    top: 10px;
    width: 60px;
  }
