
div {
  width: 100px;
  height: 100px;
  outline-style: auto;

  /* These values may be ignored by the UA, but just in case they are not,
     set them to something that does not result in the outline being invisible */
  outline-width: 5px;
  outline-color: green;
}

