
  #container {
    background-color: red;
    height: 100px;
    width: 100px;
  }
  #test {
    background-color: green;
    height: 60px;
    left: 20px;
    outline: 20px green solid;
    position: relative;
    top: 20px;
    width: 60px;
  }
