
body {
  margin-bottom: 1000px;
}
.test {
  width: 100px;
  height: 100px;
  overflow: scroll;
}
.resize-both {
  resize: both;
}
.resize-horizontal {
  resize: horizontal;
}
.resize-vertical {
  resize: vertical;
}
.resize-block {
  resize: block;
}
.resize-inline {
  resize: inline;
}
.wm-horizontal {
  writing-mode: horizontal-tb;
}
.wm-vertical {
  writing-mode: vertical-lr;
}
.test::before {
  content: "";
  display: block;
  width: 1000px;
  height: 1000px;
}
