
div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  height: 100px;
  white-space: pre;
  font: 20px/1 Ahem;
  color: green;
  background: url("support/1x1-red.png") top right / 1em 1em no-repeat, green;
}
.rel {
  position: relative;
  left: 1em;
}
