
html,body {
  color:black; background-color:white; font:16px/1 monospace;
}

.ellipsize {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  border: 1px solid;
}

.inline-block {
  display: inline-block;
  background: red;
}
  