
.test {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:pre;
  font: 100px/1 Ahem;
  color: green;

  /* 2em width and starting with a space
     because the handling of the ellipsis of the first character on the line is special,
     and therefore we need to have the thing we want to test in non first position.
     Shifting 1em left to align with the usual green square.
   */
  width: 2em;
  margin-left: -1em;
}
.red {
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: red;
}
span {
  font: 50%/1 serif;
  color: red;
}
