
div {
  font: 20px monospace;
  width: 12.3ch; /* slightly more than 12ch because in some browsers (safari) the ellipsis is slightly large than other characters, even in monospace fonts. */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
