
div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  height: 100px;
  background: green;
}
div > p {
  white-space: pre;
  font: 40px/1 Ahem;
  color: green;
  background: red;
  margin: 0;
}
