
html,body {
  color:black; background-color:white; font:14px/1 monospace; padding:0; margin:0;
}

.clip {
    overflow: hidden;
    width: 40px;
    text-overflow: ellipsis;
}

input { width: 40px; -webkit-appearance: none; border: 1px solid black; }

.thg { display: table-header-group; }
.tc { display: table-cell; }
.t { display: table; }

    