

.container {
    border: solid orange;
    padding: 1ch;
    margin: 1ch;
    float: left;
}

input, #extract-canvas { color-scheme: dark; }
#extract-canvas { background-color: canvas; }
#t3 { background: orange; }

