
    html, body {
      font: 16px/1 monospace;
      background: white;
    }

    .grid-lanes {
      display: grid-lanes;
      grid-lanes-direction: column fill-reverse;
      grid-template-columns: 80px;
      gap: 4px;
      width: 200px;
      height: 130px;
      border: 1px solid;
    }

    item {
      display: block;
      width: min-content;
      height: 28px;
      color: white;
      background: #555;
    }
  