
.grid {
    display: grid;
    background: gray;
    position: relative;
    grid-template-columns: 50px;
    justify-items: unsafe center;
    width: 50px;
}
.overflow-safe {
    justify-self: safe end;
    width: 75px;
    height: 50px;
    background-color: lightgreen;
}
.overflow-unsafe {
    justify-self: unsafe flex-end;
    width: 75px;
    height: 50px;
    background-color: lightblue;
}
.small-center-item {
    width: 25px;
    background-color: lightyellow;
}
