
    html, body {
      font: 16px/1 monospace;
      background: white;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 80px);
      gap: 4px;
      width: 200px;
      height: 180px;
      border: 1px solid;
    }

    item {
      display: block;
      width: 40px;
      height: 26px;
      color: white;
      background: #2ca02c;
    }
  