
    html, body {
      font: 16px/1 monospace;
      background: white;
    }

    .grid-lanes {
      display: grid-lanes;
      grid-lanes-direction: column fill-reverse;
      grid-template-columns: repeat(2, 80px);
      border: 1px solid blue;
      gap: 4px;
      width: min-content;
      height: 180px;
    }

    item {
      display: block;
      width: min-content;
      height: min-content;
      color: white;
      background: #555;
    }
  