
html,body {
  color:black; background-color:white; font:15px/1 monospace; padding:0; margin:0;
}

grid {
  display: inline grid-lanes;
  gap: 1px 2px;
  grid-template-columns: repeat(4,20px);
  color: #444;
  border: 1px solid;
  padding: 2px;
  width: 100px;
}

item {
  background-color: #444;
  color: #fff;
}

.safe {
  width: 10px;
  margin-right: 75px;
}
