
div {
  font-family: monospace;
  gap: 1ch;
  width: 27ch;
  columns: 3;
  height: 2lh;

  border: 1px solid;
  margin: 1em;
}
.test {
    continue: discard;
    block-overflow: no-ellipsis;
    max-lines: 5;
}
