
  div.scrolling-container
    {
      display: inline-block;
      height: 250px;
      margin-right: 30px;
      overflow: auto;
      position: static;
      width: 150px;
    }

  div.vertical-spacer
    {
      height: 200px;
    }

  div.sticky
    {
      background-color: green;
      height: 100px;
      position: relative;
      width: 100px;
    }

  div#first-sticky
    {
      bottom: 25px;
    }

  div#second-sticky
    {
      top: 0px;
    }

  div#third-sticky
    {
      top: 75px;
    }
  