
  div.scrolling-container
    {
      height: 150px;
      margin-bottom: 30px;
      overflow-y: hidden;
      position: static;
      white-space: nowrap;
      width: 250px;
    }

  div.horizontal-spacer-200
    {
      display: inline-block;
      height: 100%;
      width: 200px;
    }

  div.sticky
    {
      background-color: green;
      display: inline-block;
      height: 100px;
      position: relative;
      vertical-align: top;
      width: 100px;
    }

  div#first-sticky
    {
      left: 0px;
    }

  div#second-sticky
    {
      left: 50px;
    }

  div#third-sticky
    {
      left: 100px;
    }
  