
body {
  background: rebeccapurple;
}

div {
  width: 100px;
  height: 100px;
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
}

.item1 {
  background: green;
}

.item2 {
  background: yellow;
}
