
.target {
  width: 100px;
  height: 100px;
  view-transition-name: target;
  background: blue;
}
.invisible {
  width: 500px;
  height: 500px;
  opacity: 0;
}

::view-transition-group(root) {
  visibility: hidden;
  animation-duration: 500s;
}

::view-transition-group(*),
::view-transition-image-pair(*) {
  animation-play-state: paused;
}

::view-transition-old(*) {
  animation: unset;
  opacity: 1;
}

::view-transition-new(*) {
  animation: unset;
  opacity: 0;
}

::view-transition {
  background: pink;
}
