
.parent {
  top: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  background: blue;
  transform-style: preserve-3d;
}
.child {
  background: green;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateZ(-500px);
}
body {
  perspective: 1000px;
  height: 500px;
}
