
body { background: pink }
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.box {
  width: 100px;
  height: 500px;
  contain: paint;
  background: green;
  border: 1px solid black;
  box-sizing: border-box;
}
