
body {
  width: 100vw;
  height: 100vh;
  background: grey;
  font: 12px/1 Ahem;
}

#target {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 100.52px;
  left: 100.37px;

  view-transition-name: target;
  contain: layout;
  will-change: filter;
}
