
:root {
  scrollbar-width: none;
}
body { background: pink }
#spacer {
  width: 100px;
  height: 950px;
  background: lightgreen;
}
#container {
  width: 500px;
  columns: 2;
  height: 500px;
  visibility: hidden;
}
#target {
  width: 200px;
  height: 200px;
  background: green;
}
#unrelated {
  width: 100px;
  height: 100px;
  background: lightblue;
}
