
#target {
  width: 100px;
  height: 100px;
  contain: paint;
  background: blue;
  position: relative;
  left: 200px;
}
#unrelated {
  width: 100px;
  height: 100px;
  background: green;
  position: relative;
  top: 200px;
  left: 200px;
}

