
:root {
  writing-mode: vertical-lr;
}

.target_after_bottom_edge {
  position: fixed;
  inset-block-start: 20000px;
  inset-inline-start: 0px;
}

.target {
  contain: paint;
  inline-size: 100px;
  block-size: 40000px;
  view-transition-name: target;
}

.top {
  inline-size: 100%;
  block-size: 100px;
  background: lightblue;
}

.middle {
  inline-size: 100%;
  block-size: 39800px;
  background: green;
}

.bottom {
  inline-size: 100%;
  block-size: 100px;
  background: blue;
}

.hidden {
  position: fixed;
  inset-block-start: 10000px;
  inline-size: 10px;
  block-size: 10px;
  background: grey;
  view-transition-name: hidden;
}

html::view-transition-group(hidden) { animation-duration: 300s; }
html::view-transition-image-pair(hidden) { animation: unset; opacity: 0; }

html::view-transition-old(*), html::view-transition-new(*) {
  object-fit: none;
}

/* We should capture at least viewport height worth of content from the element's top edge */
html::view-transition-group(target) {
  animation: unset;
  transform: unset;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
}
html::view-transition-new(target) { animation: unset; opacity: 0; }
html::view-transition-old(target) { animation: unset; opacity: 1; }

