
div {
  width: 100px;
  height: 100px;
  background: blue;
  contain: paint;
}
.tagone { view-transition-name: one }
.tagtwo { view-transition-name: two }
.tagthree { view-transition-name: three }
.tagfour { view-transition-name: four }
.tagfive { view-transition-name: five }

::view-transition-old(four) {
  animation-name: unset;
}
::view-transition-new(five) {
  animation-name: unset;
}
