
#box {
  width: 100px;
  height: 100px;
  background: limegreen;
}
html::view-transition-group(root) {
  animation-duration: 300s;
}
html::view-transition-new(root) {
  animation: none;
  opacity: 0;
}
html::view-transition-old(root) {
  animation: none;
  opacity: 1;
}
