
:root {
  font: 20px/1 Ahem;
}

div {
  width: 250px;
  visibility: hidden;
}
span {
  text-shadow: red -2px -5px;
  border: 2px solid black;
  box-shadow: 3px 3px red, -1em 0 .4em olive;
  view-transition-name: target;
  visibility: visible;
}

body {
  background: pink;
}
