
:root {
  background-color: rebeccapurple;
  font: 20px/1 Ahem;
}

body { margin: 0; }

.container {
  position: absolute;
  left: 100px;
  width: 400px;
  height: 100px;
  background-color: grey;
}

.container.start {
  top: 100px;
}

.container.end {
  top: 300px;
}

.container.transitioned {
  left: 20px;
  width: 600px;
  transform: translateY(-50px);
}

.inline {
  opacity: 0;
  background-color: coral;
  color: blue;
}

.transitioned .inline {
  opacity: 1;
}

#dummyStartInline {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 600px;
  /* scale transform applied in script below */
  transform-origin: top left;
}

