
@keyframes fade {
  from {
    opacity: 0;
  }
}

div {
  width: 100px;
  height: 100px;
  background: blue;
  contain: paint;
  view-transition-name: target;
}

.animated {
  animation: fade 0.5s;
}
