
        html {
            background: lightblue;
        }
        body {
            background-color: lightgreen;
        }
        ::view-transition-group(*) {
            animation-duration: 2s;
        }
    