
:root { view-transition-name: unset; }
#target {
  width: 100px;
  height: 100px;
  background: blue;
  view-transition-name: target;
  position: relative;
}
.left {
  left: 0;
}
.right {
  left: 100px;
}

html::view-transition-group(*) {
  animation: unset;
}
html::view-transition-old(*) {
  animation: unset;
  opacity: 0;
}
@keyframes move {
  from {
    transform: translate(500px);
  }
}
html::view-transition-new(target) {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
}
