
@keyframes move {
  from {
    transform: translate(500px);
  }
}
#target {
  width: 100px;
  height: 100px;
  background: blue;
  view-transition-name: target;
  position: relative;
  left: 100px;

  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-play-state: paused;
}
