
div {
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
}

::part(party) {
  view-transition-name: animate-me;
}

html {
  view-transition-name: none;
}

html::view-transition-group(*) { animation-play-state: paused; }
html::view-transition-old(*) { animation: unset; opacity: 0 }
html::view-transition-new(*) { animation: unset; opacity: 0 }
html::view-transition-group(animate-me) {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
}


      div {
        width: 100px;
        height: 100px;
        position: absolute;
        view-transition-name: please-dont-animate-me !important;
      }
    