
    iframe {
      position: absolute;
      left: 25px;
      top: 25px;
      width: 50vw;
      height: 50vh;
    }
    div {
      background-color: skyblue;
      width: 100px;
      height: 100px;
    }
  