
  #target {
    background: green;
    width: 100px;
    height: 100px;
    view-transition-name: target;
  }

  html::view-transition-group(*) {}

  html:active-view-transition-type(type-name)::view-transition-group(target) {
    animation-play-state: paused;
    width: 100px;
    height: 100px;
    background: green;
  }

  html:active-view-transition-type(type-name)::view-transition-new(target) {
    animation: unset;
    opacity: 0;
  }

  html:active-view-transition-type(type-name)::view-transition-old(target) {
    animation: unset;
    opacity: 0;
  }

  html::view-transition-group(root) {
    display: none;
  }

  html::view-transition {
    background: lightpink;
  }
