
.background {
  background: cyan;
  width: 200px;
  height: 200px;
}
.shared {
  background: blue;
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  will-change: opacity;
}
.filter {
  backdrop-filter: invert(1);
  position: relative;
  left: -50px;
  top: 30px;
  width: 200px;
  height: 40px;
}
