
.background {
  background: cyan;
  width: 200px;
  height: 200px;
}
.shared {
  background: blue;
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  view-transition-name: shared;
  /* Apply transform to match the layerized pixels of view transition
     without establishing a backdrop filter root itself. */
  transform: translateZ(0);
}
.filter {
  backdrop-filter: invert(1);
  position: relative;
  left: -50px;
  top: 30px;
  width: 200px;
  height: 40px;
}
