
.foo {
  position: fixed;
  left: 0;
  top: 0;
  background: red;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.bar {
  position: fixed;
  left: 50px;
  top: 50px;
  background: green;
  width: 100px;
  height: 100px;
}
