
div {
  position: fixed;
  top: 0;
  left: 0;
}
#first {
  background: blue;
  width: 100px;
  height: 100px;
  transform: translate(100px);
}
#second {
  background: green;
  width: 100px;
  height: 100px;
  transform: translate(150px);
}
