
@font-face {
	font-family: CSSFW;
	src: url('/fonts/adobe-fonts/CSSFWOrientationTest.otf');
	}
.test, .ref { font-size: 30px; font-family: CSSFW, sans-serif; width: 3em; padding: 0; border: 1px solid orange; line-height: 1em; }
