
.test > div { font-family: monospace; font-size: 25px; width: 50ch; line-height: 30px; }
#breakable2 { white-space: pre-line; }
#breakable3 { white-space: pre-wrap; }
#breakable4 { white-space: break-spaces; }
