
  #target {
    width: 100px;
    height: 100px;
    background: red;
    overflow: clip;
  }

  #container {
    overflow: auto;
    height: 300px;
  }

  #fill {
    background: blue;
    height: 5000px;
  }
