
  #ellipsis {
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 18ch;
  }
  img {
    width: 10ch;
  }
  .ib {
    display: inline-block;
    width: 10ch;
    height: 10px;
  }
