
  body {
    margin: 0
  }

  .shadow {
    width: 100px;
    height: 100px;
    will-change: transform;
    background: black;
    box-shadow: 10px 50px 5px red;
  }

  .cover {
    width: 200px;
    height: 200px;
    background: white;
    position: absolute;
  }

  .spacer {
    width: 100px;
    height: 150px;
  }
