
    body {
        height: 15000px;
    }

    .auto {
        content-visibility: auto;
        width: 100px;
        height: 100px;
        overflow-clip-margin: 10000px;
        overflow: visible;
        background: lightblue;
    }

    .big {
        width: 10px;
        height: 20000px;
        position: relative;
        top: -10000px;
        background: green;
    }
