
.prop {
  overflow-clip-margin: 20px;
}
.container {
  width: 100px;
  height: 100px;
  overflow-clip-margin: inherit;
  overflow: clip;
}
.child {
  width: 200px;
  height: 200px;
  background: lightblue;
}
