
  .line {
    display: flex;
  }
  .container {
    block-size: 50px;
    border: 5px solid black;
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: none;
    margin: 10px;
  }
  .tall {
    /* trigger overflow */
    block-size: 5000px;
  }
  