
.container {
  width: 100px;
  height: 100px;
  overflow: auto;
  background: #DDD;
  --too-big: 120px;
  --slightly-smaller: 95px;
}
.target {
  width: 120px;
  height: 95px;
  background: rgba(0,255,0,0.3);
}
