
  .parent {
    width: 100px;
    height: 100px;
    overflow: clip;
  }

  .child1, .child2 {
    width: 100px;
    height: 100px;
    flex: none;
  }

  .child1 {
    background-color: green;
  }

  .child2 {
    background-color: red;
  }
