
  .container {
    width: 100px;
    height: 100px;
    overflow: visible;
    padding: 10px;
    border: 10px solid black;
    margin: 10px;
    background: grey;
  }

  .inner_border_box {
    width: 140px;
    height: 140px;
    position: relative;
    top: -20px;
    left: -20px;
    background: blue;
  }

  .inner_padding_box {
    width: 120px;
    height: 120px;
    position: relative;
    top: -10px;
    left: -10px;
    background: blue;
  }

  .inner_content_box {
    width: 100px;
    height: 100px;
    background: blue;
  }
