
#container {
  overflow: hidden;
  width: 100px;
  height: 20px;
}
#stacking-context {
  position: relative;
  background: red;
  z-index: 100;
}
.content {
  width: 100px;
  height: 20px;
  background: green;
}
