
  .container {
    width: 100px;
    height: 100px;
    overflow: clip;
    padding: 10px;
    border: 10px solid black;
    margin: 10px;
    background: grey;
  }

  .inner {
    width: 150px;
    height: 150px;
    position: relative;
    top: -25px;
    left: -25px;
    background: blue;
  }
