
  .line {
    display: flex;
  }
  .container {
    block-size: 50px;
    border: 5px solid black;
    scrollbar-gutter: stable;
    margin: 10px;
  }
  .hidden {
    overflow: hidden;
  }
  .scroll-x {
    overflow-x: scroll;
  }
  .scroll-y {
    overflow-y: scroll;
  }
  .tall {
    /* trigger overflow */
    block-size: 5000px;
  }
  