
.scroll {
  overflow: scroll;
}

.zero-h {
  width: 100px;
  height: 0px;
}

.zero-w {
  width: 0;
  height: 100px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}
