
body { margin: 0 }
.wrapper {
  width: 100px;
  height: 200px;
  overflow: scroll;
}
.inner {
  width: 100px;
  height: 200px;
  background-color: lime;
  transform: translate(-3px, -6px) scale(1.10);
}
