
  textarea {
    width: 100px;
    height: 50px;
    padding: 11px 13px 17px 19px;
    font: 20px/1 Ahem;
    background: yellow content-box;
    border: 0;
    outline: 1px solid blue;
    overflow: hidden;
  }
  