
  .line {
    display: flex;
  }

  .container {
    writing-mode: horizontal-tb;
    direction: rtl;

    box-sizing: border-box;
    block-size: 200px;
    inline-size: 200px;
    margin: 10px;
    background: deepskyblue;
    resize: both;
  }

  .content {
    inline-size: 100%;
    block-size: 200%;
    background: lightsalmon;
  }
  