
  body,
  html {
    margin: 0;
    padding: 0;
    border: none;
  }

  :root {
    scrollbar-gutter: stable;
    overflow: auto;
  }

  #content {
    background: green;
    width: 100%;
    /* force scrolling */
    height: 200vh;
  }
