
scrollable-container {
  display: block;
  width: 100px;
  height: 100px;
  overflow: scroll;
  padding: 10px 5px;
  line-height: 0;
}

scrollable-container > div {
  position: relative;
  writing-mode: horizontal-tb;
  direction: ltr;
  outline: solid red 2px;
}
