
  .container {
    width: 100px;
    height: 100px;
    overflow: scroll;
    background: silver;
    border: solid thick;
    scrollbar-width: none;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .element {
    width: 100px;
    height: 100px;
    background: lime;
  }
