
  .container {
    width: 100px;
    height: 100px;
    overflow: scroll;
    background: silver;
    border: solid thick;
    scrollbar-width: none;
  }

  .element {
    width: 200px;
    height: 200px;
    background: lime;
  }

  .element-2 {
    width: 200px;
    height: 200px;
    background: aqua;
  }
