
    .container {
        width: 100px;
        height: 100px;
        overflow-x: hidden;
        background: silver;
        scrollbar-width: none;
    }

    .list .item {
        width: 10px;
        height: 10px;
        background: lime;
        position: absolute;
        margin: 0%;
    }

    .list {
        position: relative;
        background: grey;
    }
