
.container {
  display: flex;
}

.cell {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid red;
  text-overflow: ellipsis;
}

span {
  display: inline-block;
  background: green;
  width: 30px;
  height: 1em;
  padding: 4px;
  margin: 5px;
}
