

#scope {
  position: relative; width: 100px; height: 100px;
  background: #ddd; contain: strict;
}
#part {
  position: absolute; top: 10px; left: 10px;
  width: 80px; height: 80px; background: #8cf;
  z-index: 1; view-transition-name: foo;
}

