
.container {
    background-color: green;
    width: min-content;
    margin-trim: block-start;
}
.outer {
    background-color: green;
    width: 100px;
    height: 10px;
}
.first {
    margin-top: 50px;
    width: 100px;
    height: 40px;
}
.second {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}
