
grid {
    display: inline-grid;
    border: 1px solid black;
    grid-template-columns: auto auto;
    margin-trim: block-end;
}

item {
    display: block;
    background-color: green;
    width: 50px;
    height: 50px;
    margin-block-end: 10px;
}
