
    grid {
      display: inline grid-lanes;
      grid-template-columns: 50px 100px 200px;
      border: 1px solid;
      background: lightgrey;
    }

    subgrid {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 2 / span 2;
      background: lightblue;
    }
  