
.target {
  display: flex;
  position: relative;
  line-height: 0;
  font-size: 20px;
  inline-size: 300px;
  margin-block: 10px;
  padding: 10px;
  border: solid 3px;
}

.inner {
  display: grid;
  gap: 10px;
  grid-template: 50px 50px / 50px 50px 50px;
  border: solid 5px;
  padding: 10px;
}

.inner > div:first-child,
.inner > div:last-child {
  align-self: start;
}

span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}
