
.target {
  display: flex;
  position: relative;
}
.target > div, .target td {
  background: hotpink;
  font-size: 20px;
  line-height: 0;
}
.target table { border-spacing: 0; }
.target td { padding: 5px; min-width: 5px; min-height: 5px; }
.target caption {
  margin: 10px;
  background: lime;
  block-size: 20px;
}
.target span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}
