
.target {
  display: flex;
  position: relative;
  line-height: 0;
  font-size: 20px;
  inline-size: 200px;
  margin-inline: 10px;
  padding: 10px;
  border: solid 3px;
  writing-mode: vertical-rl;
}

.inner {
  display: flex;
  border: solid 5px;
  padding: 10px;
}

span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}
