
.target {
  width: max-content;
  height: max-content;
  border: 1px solid;
}
.target::before {
  content: "";
  display: block;
  width: 100px;
  height: 50px;
}
.cis-auto .target {
  contain-intrinsic-size: auto 40px auto 20px;
}
.skip-contents {
  content-visibility: hidden;
}
