
  #t1 {
    position: absolute;
    left: 0vmax;
    content-visibility: auto;
    contain-intrinsic-size: 1000vmax 1000vmax;
    background: red;
  }
  #t1::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
  }
