
    .test {
        width: max-content;
        height: max-content;
        border: 1px solid;
    }

    .test::before {
        content: "";
        display: block;
        width: 320px;
        height: 240px;
    }

    .contain-size {
        contain: size;
    }

    .ci-width {
        contain-intrinsic-width: 10px;
    }

    .ci-height {
        contain-intrinsic-height: 20px;
    }

    .ci-both {
        contain-intrinsic-size: 10px 20px;
    }

    .skip-contents .test {
        content-visibility: hidden;
    }

