
#flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 250px;
}
.item {
  border: 1px solid black;
}
#one {
  background: lightblue;
  contain-intrinsic-size: 55px 21px;
  contain: size;
}
#two {
  background: lightgreen;
  contain-intrinsic-size: 66px 42px;
  contain: size;
}
#three {
  background: lightgrey;
  align-self: stretch;
  contain-intrinsic-size: 77px 63px;
  contain: size;
}
