
.test {
  contain: size;
  display: inline-block;
  padding: 0;
  border: 5px solid;
  column-gap: 5px;
}
.columns-60px-1 {
  columns: 60px 1;
}
.columns-120px-1 {
  columns: 120px 1;
}
.columns-60px-2 {
  columns: 60px 2;
}
.cis-none {
  contain-intrinsic-size: none none;
}
.cis-height {
  contain-intrinsic-size: none 50px;
}
.cis-width {
  contain-intrinsic-size: 100px none;
}
.cis-both {
  contain-intrinsic-size: 100px 50px;
}
