
#container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 25px;
}
#test-container {
  /* Allow at most 1.5 glyphs to overflow the left edge of #container. */
  margin-left: -30px;
  width: 230px;
  height: 200px;
  font: 20px/1 Ahem;
  background-color: red;
  color: green;
  text-align: right;
}
#test-shape {
  margin-left: 30px;
  float: right;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-width: 95px 40px 95px 120px;
  border-style: solid;
  border-color: transparent;
  shape-margin: 70px;
  shape-outside: padding-box;
}
#static-shape {
  position: absolute;
  left: 50px;
  top: 20px;
  width: 150px;
  height: 160px;
  background-color: green;
}
