
  .container {
    writing-mode: vertical-rl;
    inline-size: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: border-box;
    border-bottom-right-radius: 50%;
    box-sizing: content-box;
    block-size: 40px;
    inline-size: 40px;
    padding: 20px;
    border: 20px solid lightgreen;
    margin: 20px;
    background-color: orange;
  }

  .box {
    display: inline-block;
    inline-size: 60px;
    background-color: blue;
  }

  .longbox {
    display: inline-block;
    inline-size: 200px;
    block-size: 20px;
    background-color: blue;
  }
  