
  .container {
    width: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: padding-box;
    border-radius: 50%;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    padding: 40px;
    border: 10px solid lightgreen;
    margin: 10px;
    background-color: orange;
  }

  .box {
    display: inline-block;
    width: 60px;
    background-color: blue;
  }

  .longbox {
    display: inline-block;
    width: 200px;
    height: 20px;
    background-color: blue;
  }
  