
  .container {
    width: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    shape-outside: border-box;
    border-radius: 50%;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    padding: 20px;
    border: 20px solid lightgreen;
    /* No margin. */
    background-color: orange;
  }

  .box {
    display: inline-block;
    width: 60px;
    background-color: blue;
  }
  