
div {
  font: 25px/1 Ahem;
}
.fail {
  position: absolute;
  color: red;
  z-index: -1;
}
.fail span { color: green; }
.test {
  color: green;
  width: 4.1ch;  /* ".1" to cover floating point errors. */
  white-space: break-spaces;
}
