
div {
  font: 25px/1 Ahem;
}
.expected {
  position: absolute;
  color: green;
  width: 100px;
  height: 100px;
  white-space: pre;
}
.test {
  background: green;
  color: red;
  width: 4ch;

  white-space: break-spaces;
  overflow-wrap: break-word;
