
div {
  font: 25px/1 Ahem;
}
.fail {
  position: absolute;
  color: red;
  z-index: -1;
}
span { color: green; }
.test {
  color: green;
  width: 4ch;

  white-space: break-spaces;
  line-break: anywhere;
  word-break: break-all;
  overflow-wrap: break-word;
}

