
  div#test {
      direction: rtl;
      text-align: left;

      font: 20px/1 Ahem;
      margin-left: 20px;
      background: green;
      color: red;

      width: 4ch;
      white-space: pre-wrap;
  }
  span {
      background: blue;
  }
  #green-cover {
    position: absolute;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    background:
        linear-gradient(green, green) 0 0 / 60px 20px no-repeat,
        linear-gradient(green, green) 0 20px / 20px 20px no-repeat;
    z-index: 1;
  }
