
@font-face {
    font-family: "Hasubi Mono";
    src: url("/fonts/hasubi-mono/HasubiMono-Regular.woff2");
}

div {
    font-family: "Hasubi Mono", monospace;
    border: solid blue;
    font-size: 1.5em;
}
.ref {
    border-color: orange;
    white-space: pre;
}
.w5 { width: 5.01ch; } /* .01 to cover floating point errors */
.w6 { width: 6.01ch; }
.w7 { width: 7.01ch; }

.blue { background: #aaaaff; }
.red { background: #ffaaaa; }
.green { background: #aaffaa; }
.pink { background: #ffaaff; }
.yellow { background: #ffffaa; }
