
  div {
    font: 25px/1 Ahem;
    width: 5ch;
    height: 4ch;
    margin-left: -1ch;
    background:
      linear-gradient(red, red) 1ch 0 / 4ch 1ch no-repeat,
      linear-gradient(green, green) 1ch 0 / 4ch 4ch no-repeat;

    text-align: right;
    white-space: normal;
  }
  span {
    color: transparent;
    background: green;
  }
  .break-spaces {
    white-space: break-spaces;
  }
