
.ref {
  position: absolute;
  background: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.test {
  font: 25px/1 Ahem;
  width: 4ch;
  background: green;
  color: green;

  white-space: pre-wrap;
}
