
div {
   font-size: 20px;
   font-family: Ahem;
   line-height: 1em;
}
.red {
  position: absolute;
  white-space: pre;
  background: green;
  color: red;
  width: 40px;
  height: 40px;
  z-index: -1;
}
.test {
  color: green;
  width: 2ch;

  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
