
div {
   font-size: 20px;
   font-family: Ahem;
}
.red {
  position: absolute;
  background: green;
  color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
  white-space: pre;
}
.test {
  color: green;
  line-height: 1em;
  width: 5ch;

  white-space: pre-wrap;
  word-break: break-word;
}
