
div {
  font-size: 20px;
  font-family: Ahem;
  line-height: 1em;
  white-space: pre-wrap;
  color: green;

  background: linear-gradient(red, red) 1ch 0/2ch 2ch no-repeat;

  width: 3ch;
  margin-left: -1ch;
}
