
div {
  font-size: 2rem;
  margin: 1rem;
}
#test {
  white-space: pre-wrap;
  width: 5ch;
  border: solid 1px;
  font-family: monospace;
  text-align: center;
  text-decoration: underline;
}

#ref {
  white-space: pre;
  width: 5ch;
  border: solid 1px;
  font-family: monospace;
}
#ref span {
  text-decoration: underline;
}

