
#red {
  position: absolute;
  z-index:-1;
  width: 40px;
  height: 40px;
  background: red;
}
#test {
  margin-left: -1em;
  font: 40px/1 Ahem;
  color: white;
  background: green;
  width: max-content;
  white-space: pre-wrap
}
