
div {
  white-space: break-spaces;
  font-family: monospace;
  tab-size: 8; /* the initial value, but since we're measuring against it, we might as well be sure */
}
span { display: inline-block; }
#s1 { width: 6ch; }
#s2 { width: 7ch; }
#s3 { width: 7.3ch; }
