
      body {
        font-family: "Ahem";
        font-size: 12px;
        width: 500px;
      }
      .spacing-10-balance {
        word-spacing: 10px;
        text-wrap-style: balance;
      }
      .spacing-30-balance {
        word-spacing: 30px;
        text-wrap-style: balance;
      }
      .spacing-30 {
        word-spacing: 30px;
      }
      .balance-first-line-spacing-30 {
        text-wrap-style: balance;
      }
      .balance-first-line-spacing-30::first-line {
        word-spacing: 30px;
      }
      .img1 {
        background-color: green;
        width: 20px;
        height: 10px;
      }
    