
body {
  font: 20px/1 monospace;
}
.float {
  float: left;
  width: 15ch;
  height: 150px;
  background: silver;
}
.mask {
  width: 15ch;
  height: 150px;
  background: green;
  position: absolute;
  left: 15ch;
}
.test {
  width: 28ch;
  text-wrap: balance;
  background: red;
}
