
div {
  white-space: pre-wrap;
  font-family: Ahem;
  font-size: 10px;
  line-height: 1;
  width: 3ch;
  color: green;
}
.red {
  position: absolute;
  z-index: -1;
}
.red div {
  color: red;
}
span { color: transparent; } /* because ogham space is otherwise visible*/
