
div {
  font: 25px/1 Ahem;
  color: green;
  background: red;

  width: 2ch;
  white-space: pre-wrap;
  word-break: break-all;
}
span { background: blue; } /* If the space is removed instead of hanging, there will be no blue box*/
