
div {
  border: 1px solid gray;
  font: 22px monospace;
  width: 22ch;
  margin: 1em;
}
.test {
  white-space: pre-wrap;
  text-align: justify;
}
.ref {
  white-space: normal;
  text-align: justify;
}
