
div {
    font: 25px/1 Ahem;
    color: green;
    background: red;

    width: min-content;
    white-space: pre-wrap;
}
span { background: blue; } /* If the space is removed instead of hanging, there will be no blue box*/
