
  div
    {
      border: black solid 2px;
      font-family: monospace;
      font-size: 32px;
      margin-bottom: 0.25em;
      width: 16ch;
    }

  div#test
    {
      white-space: pre;
    }

  span
    {
      white-space: normal;
    }

  div#reference
    {
      white-space: normal;
    }
  