
  div
    {
      color: transparent;
      /*
      so that background-color can
      shine through the A, G, M, Z glyphs
      */
      font-family: Ahem;
      font-size: 25px;
      line-height: 1;
      width: 0;
      /*
      This will trigger
      min-content size
      for div#min-sized-parent
      */
    }

  div#reference-overlapped-red
    {
      background-color: red;
      position: absolute;
      width: auto;
      z-index: -1;
    }

  div.test-overlapping-green
    {
      background-color: green;
      float: left;
      white-space: pre;
      width: auto;
    }

  div#last
    {
      overflow-wrap: break-word;
    }
  