
  div
    {
      color: transparent;
      /*
      so that background-color can
      shine through the ABCD, GHIJ,
      MNOP, WXYZ glyphs
      */
      font-family: Ahem;
      font-size: 25px;
      line-height: 1;
      width: 0;
      /*
      'width: 0' will trigger
      min-content size
      for div#min-sized-parent
      */
    }

  div.test-overlapped-red
    {
      background-color: red;
      float: left;
      white-space: pre-wrap;
      width: auto;
    }

  div#reference-overlapping-green
    {
      background-color: green;
      position: absolute;
      width: auto;
    }
  