
  div#cell, td#reference
    {
      border: black solid 2px;
      font-family: monospace;
      font-size: 32px;
      width: 4ch;
    }

  div#table
    {
      display: table;
    }

  div#test
    {
      display: table-row-group;
      white-space: break-spaces;
    }

  div#row
    {
      display: table-row;
    }

  div#cell
    {
      display: table-cell;
      width: 4ch;
    }

  table
    {
      border-spacing: 0px;
      margin-top: 0.5em;
    }

  td#reference
    {
      padding: 0px;
      white-space: pre;
    }
  