
  div
    {
      border: black solid 2px;
      font-family: monospace;
      font-size: 32px;
      margin-bottom: 0.25em;
      width: 4ch;
    }

  div#test
    {
      display: block;
      white-space: break-spaces;
    }

  div#reference
    {
      white-space: pre;
    }
  