
.multicol {
  inline-size: 400px;
  block-size: 100px;
  columns: 4;
  column-fill: auto;
  gap: 0;
}
.pattern {
  background: repeating-linear-gradient(orange, orange 25px, dodgerblue 25px, dodgerblue 50px);
}
