
* { vertical-align: baseline; }
table { display: inline-table; border: 3px solid; }
td { width:10px; background-color:pink; background-clip:content-box; }
.p { padding: 0 10px 0 0; height:150px; }
.size { height:80px; }
.w { background: white; }
x { display: block; overflow: hidden; height:50px; background: white; }
.xp { height:80px; background-color:pink; }
.m50 { margin-top: 50px; }
.top { vertical-align:top; }
