
    .tealBlock {
      background: teal;
      width: 10px;
      height: 10px;
      margin-bottom: 5px;
    }
    .purpleBlock {
      background: purple;
      width: 10px;
      height: 10px;
      margin-bottom: 5px;
    }
  