
           div{
                 text-decoration-skip-ink: none;
                 text-decoration: green underline;
                 writing-mode: vertical-lr;
                 text-orientation: upright;
                 text-underline-offset: -0.5em;
           }
        