
         div{
             font: 20px/1 Ahem;
             color: rgba(255,255,0,0.25);
             text-decoration: green underline;
             text-decoration-skip-ink: none;
             text-underline-offset: .5em;
         }
        