
      div.wrapper {
        font-size: 2em;
        position: relative;
      }
      sup.baseline {
        vertical-align: baseline;
      }
      .hide {
        color: transparent;
      }
      div {
        white-space: nowrap;
      }
    