
body {
  background: white;
  color: black;
  font-family: times new roman, serif;
}
div {
  position: relative;
}
h1 {
  position: absolute;
}
u {
  text-decoration-skip-ink: none;
  text-decoration-color: black;
}
