
          div{
                 font: 20px/1 Ahem;
                 color: transparent;
                 text-decoration-skip-ink: auto;
                 text-decoration: green underline;
                 text-underline-offset: auto;
                 writing-mode: vertical-lr;
           }
        