
  .wrapper {
    position: relative;
    width: 10px;
    height: 100px;
    margin: 110px 2px;
    float: left;
  }
  .decoration {
    position: absolute;
    top: 0;
    left: 0;
    font: 10px/1 Ahem;
    color: transparent;
    text-decoration-color: green;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
  }
