
        #text{
            border: black dashed;
            overflow-y: auto;
            height: 5em;
            width: 20em;
            font: 20px/1 Ahem;
            color: transparent;
            text-decoration: red underline;
            text-decoration-skip-ink: none;
        }
    