
      p {
        margin: 0;
        padding: 1em;
      }
      div.wrapper {
        font-size: 2em;
      }
      div p {
        position: absolute;
      }
      span.blue {
        text-decoration: underline;
        text-decoration: underline blue;
      }
      .hide {
        color: transparent;
        text-decoration: none;
      }
      sup.hide {
        vertical-align: baseline;
      }
      sup.unhide {
        color: initial;
        text-decoration: underline;
        text-decoration: underline green;
      }
      sup.strut {
        color: transparent;
      }
    