
body {
  background: white;
  color: black;
}
div {
  position: relative;
}
h1 {
  position: absolute;
}
u {
  text-decoration-color: blue;
  text-decoration-inset: auto;
  text-underline-position: under;
}
