
@font-face {
font-family: underline-variable;
src: url(../resources/UnderlineTest-VF.ttf);
}

.test {
text-underline-position: from-font;
font-size: 64px;
line-height: 1.8;
}

.close_underline {
text-decoration: underline;
font-family: underline-variable, sans-serif;
font-variation-settings: 'UNDO' 200;
}

.far_underline {
text-decoration: underline;
font-family: underline-variable, sans-serif;
font-variation-settings: 'UNDO' 1000;
}
