
#container {
  columns: 2;
  column-fill: auto;
  background: orange;
  height: 50px;
}
#target {
  width: 100px;
  height: 100px;
  background: purple;
  position: absolute;
}
.transform {
  transform: translate(0, 50px);
}
