
  @font-face {
    font-family: 'csstest_noto';
    src: url('/fonts/noto/NotoNaskhArabic-regular.woff2') format('woff2');
  }
  div {
    font-family: 'csstest_noto';
    font-size: 4em;
    margin: 1rem;
  }
  section {
    float: left; /* to sizing to the intrinsic min of the ref box*/
  }
  #ref { border: solid orange; }
  #test { border: solid blue; }
