
  html {
    will-change: backdrop-filter;
  }
  body {
    margin: 0;
  }
  .hidden {
    width: 100px;
    height: 100px;
    background: red;
    margin-left: 100px;
    margin-top: 200px;
  }
  .fixedpos {
    position: fixed;
    top: 100px;
    left: 100px;
    background: green;
    height: 100px;
    width: 100px;
  }
  .spacer {
    height: 2000px;
  }
