
  html, body { margin: 0; }
  .indicator {
    position: absolute;
    width: 100px;
    height: 100px;
    background: green;
    z-index: 1;
  }
  .will-change-opacity {
    will-change: opacity;
    width: 100px;
    height: 100px;
  }
  .top {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    z-index: 3;
  }
