
.test div { width: 50px; }
 		#colonlangcontroltest { color: red; font-weight: bold; width: 400px; }
		#colonlangcontroltest[lang|=xx] { display:none; }
#box[lang|='es'] { width: 100px; }
#relevance[lang|='yy'] { display:none; }
