
        body {
            margin: 0;
        }
        .container {
            position: relative;
            font: 15px Ahem, sans-serif;
            line-height: 20px;
            width: 200px;
            height: 200px;
            color: green;
        }
        .ellipse {
            z-index: -1;
            width: 160px;
            height: 80px;
            border-radius: 80px;
            background-color: blue;
            overflow: hidden;
        }
        #left-ellipse-outline {
            position: absolute;
            top: 20px;
            left: 0px;
        }
        .left-ellipse-float-line {
            float: left;
            clear: left;
            height: 20px;
        }
    