
grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 50px;
    width: 300px;
    height: 100px;
}

box1 {
    height: 50px;
    width: 30px;
    background-color: blue;
}

box2 {
    height: 50px;
    background-color: red;
}

box3 {
    height: 50px;
    width: 100px;
    grid-row: 2;
    grid-column: 1;
    background-color: purple;
}

box4 {
    height: 50px;
    background-color: green;
}

