
.grid {
    display: grid;
    grid-template-rows: 90px 80px 100px;
    grid-template-columns: 50px 100px 90px 50px 80px 100px 15px 10px;
    height: 290px;
    gap: 10px;
    background: lightgoldenrodyellow;
}
