
div {
  color: lime;
  background: green;
  margin: 10px;
}
::highlight(empty) {
  color: lime;
  background: transparent;
}
::highlight(color-currentcolor) {
  color: lime;
  background: transparent;
}
::highlight(color-initial) {
  color: black;
  background: transparent;
}
::highlight(color-inherit) {
  color: lime;
  background: transparent;
}
::highlight(color-unset) {
  color: lime;
  background: transparent;
}
::highlight(color-cyan) {
  color: cyan;
  background: transparent;
}
::highlight(backgroundcolor-currentcolor) {
  color: lime;
  background-color: lime;
}
::highlight(color-currentcolor-backgroundcolor-currentcolor) {
  color: lime;
  background-color: lime;
}
::highlight(color-initial-backgroundcolor-currentcolor) {
  color: black;
  background-color: black;
}
::highlight(color-inherit-backgroundcolor-currentcolor) {
  color: lime;
  background-color: lime;
}
::highlight(color-unset-backgroundcolor-currentcolor) {
  color: lime;
  background-color: lime;
}
::highlight(color-cyan-backgroundcolor-currentcolor) {
  color: cyan;
  background-color: cyan;
}
::highlight(backgroundcolor-blue) {
  color: lime;
  background-color: blue;
}
::highlight(color-currentcolor-backgroundcolor-blue) {
  color: lime;
  background-color: blue;
}
::highlight(color-initial-backgroundcolor-blue) {
  color: black;
  background-color: blue;
}
::highlight(color-inherit-backgroundcolor-blue) {
  color: lime;
  background-color: blue;
}
::highlight(color-unset-backgroundcolor-blue) {
  color: lime;
  background-color: blue;
}
