
  body {
    --background-color: green;
    --decoration-color: green;
  }
  body::selection {
    --decoration-color: purple;
  }
  div::selection {
    --background-color: blue;
    background-color: var(--background-color, red);
  }
