
    :link, :visited {
        color: blue;
    }
    main {
        font-size: 7em;
        margin: 0.5em;
    }
    main::target-text {
        /*
            Used background-color should be initial (transparent).
            https://www.w3.org/TR/CSS21/colors.html#propdef-background-color
        */
        color: black;
    }
