
div {
  color: lime;
  background: green;
  margin: 10px;
}
#empty > span {
}
#color-currentcolor > span {
  color: currentcolor;
}
#backgroundcolor-currentcolor > span {
  background-color: currentcolor;
}
#textdecorationcolor-currentcolor > span {
  text-decoration-line: underline;
  text-decoration-color: currentcolor;
}
#color-currentcolor-backgroundcolor-currentcolor > span {
  color: currentcolor;
  background-color: currentcolor;
}
#color-currentcolor-backgroundcolor-blue > span {
  color: currentcolor;
  background-color: blue;
}
#color-blue-backgroundcolor-currentcolor > span {
  color: blue;
  background-color: currentcolor;
}
