
    main {
        font-size: 7em;
        margin: 0.5em;
    }
    main::selection {
        /*
            Used background-color should be UA default, not initial.
        */
        color: revert;
    }
