
  div
    {
      display: inline-block;
      font-size: 32px;
      margin-right: 10ch;
      width: 0;
      word-break: normal;
    }

  span
    {
      word-break: break-all;
    }

  div#first-sub-test
    {
      white-space: pre;
    }

  div#second-sub-test
    {
      white-space: nowrap;
    }
  