
div {
  position: relative;
  font: 25px / 1 Ahem;
}
.ref {
  position: absolute;
  background: green;
  color: red;
  height: 100px;
  z-index: -1;
}
.test {
  color: transparent;
  width: 4ch;
  word-break: break-all;
}
