
div {
    font: 50px / 1 Ahem;
}
.fail {
    background: green;
    position: absolute;
    color: red;
    height: 100px;
    z-index: -1;
}
.test {
    color: green;
    width: 1em;

    word-break: break-all;
}
