
div {
    font: 50px / 1 Ahem;
}
.fail {
    background: green;
    position: absolute;
    color: red;
    width: 100px;
    z-index: -1;
}
.test {
    color: green;
    width: min-content;
    word-break: break-word;
}
