
div {
  position: relative;
  font-size: 20px;
  font-family: Ahem;
  line-height: 1em;
}
.red {
  position: absolute;
  width: 100px;
  height: 100px;
  background: green;
  color: red;
  z-index: -1;
}
.test {
  color: green;
  width: 8ch;
  white-space: pre-wrap;
  word-break: break-all;
}
