
  .multicol {
    columns: 2;
    column-gap: 0px;
    width: 400px;
    margin-top: -60px;
    margin-left: -200px;
  }
  .abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
  }
