
  @supports not selector(::column) {
    #multicol::before {
      content: "FAIL";
    }
  }
  #multicol {
    width: 100px;
    height: 100px;
    column-count: 1;
  }
  #multicol::column {
    background-color: red;
  }
  #content {
    width: 100px;
    height: 100px;
  }
