
  .square {
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
  }
  .left {
    margin-left: 40px;
  }
  .right {
    margin-left: 110px;
  }
  .bottom {
    margin-top: 70px;
  }
