
div {
    position: absolute;
}
.bg {
    background: red;
    width: 100px;
    height: 100px;
}
.test {
    line-height: 50px;
    width: 100px;
    background: green;
    columns: 2 20px;
    column-gap: 0;
    orphans: 1;
    widows: 1;
}
