
* {
  aspect-ratio: 1206265768.1737075 / 726190483.5455273 ! important;
  float: inline-start;
  padding-block-end: 4348105909.35903Q;
  column-count: 1027970145;
  width: min-content;
  border-inline-end: groove gainsboro 319302447.513733ch;
}
