
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
    margin-left: -350px;
    margin-top: -200px;
  }
  .rel {
    position: relative;
  }
  .abs {
    position: absolute;
  }
  .fixed {
    position: fixed;
    width: 100px;
    height: 100px;
    background: green;
  }
