
  .multicol {
      visibility: hidden;
      position: absolute;
      left: 100px;
      top: 50px;
      columns: 3;
      column-gap: 10px;
      inline-size: 290px;
      font: 20px/1 Ahem;
      orphans: 1;
      widows: 1;
  }
  #horizontalTbLtr {
      writing-mode: horizontal-tb;
  }
  #verticalLrLtr {
      writing-mode: vertical-lr;
  }
  #verticalRlLtr {
      writing-mode: vertical-rl;
  }
  #sidewaysLrLtr {
      writing-mode: sideways-lr;
  }
  #sidewaysRlLtr {
      writing-mode: sideways-rl;
  }
  #horizontalTbRtl {
      writing-mode: horizontal-tb;
      direction: rtl;
  }
  #verticalLrRtl {
      writing-mode: vertical-lr;
      direction: rtl;
  }
  #verticalRlRtl {
      writing-mode: vertical-rl;
      direction: rtl;
  }
  #sidewaysLrRtl {
      writing-mode: sideways-lr;
      direction: rtl;
  }
  #sidewaysRlRtl {
      writing-mode: sideways-rl;
      direction: rtl;
  }
