
  #reference {
    border-style: dotted; /* Avoid border-top-width computed style 0 */
    border-top-width: medium;
  }
  #container {
    color: rgba(42, 53, 64, 0.75);
    column-rule-style: dotted; /* Avoid column-rule-width computed style 0 */
  }
  #target {
    column-rule-style: dotted;
  }
