
  article {
    column-count: 3;
    column-rule: 6px solid;
    width: 400px;
    outline: 1px solid black;
    transform: scale(1);
  }
  h3 {
    column-span: all;
    outline: 1px solid blue;
  }
  .out-of-flow {
    position: absolute;
    top: 0;
    right: 0;
  }
  