
  article {
    column-count: 2;
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    border: 5px solid purple;
  }
  div.block1 {
    background-color: yellow;
    /* This overflows the column container, so one extra column is created. */
    height: 300%;
  }
  div.spanner {
    column-span: all;
    height: 25%;
    background-color: lightblue;
  }
  div.block2 {
    background-color: yellow;
    /* No height left for this block. According to the breaking rules, the
       column container creates 1px column boxes for it. */
    height: 100%;
  }
  