
  article {
    column-count: 1;
    column-fill: auto;
    width: 200px;
    background-color: lightgreen;
  }
  div.container {
    height: 250px;
    background-color: pink;
  }
  div.block {
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
  div.column-span {
    column-span: all;
    height: 50px;
    background-color: lightblue;
  }
  