
#columns {
  column-width: 350px;
}
.spacer {
  height: 200px;
  width: 10px;
}
#outer {
  border: 1px solid black;
  overflow: scroll;
  height: 300px;
  width: 300px;
}
.inner {
  overflow: scroll;
}
.clipped_target {
  overflow: scroll;
  background: red;
  width: 50px;
  height: 50px;
}
