
  article {
    column-count: 3;
    column-rule: 6px solid;
    width: 400px;
    outline: 1px solid black;
    unicode-bidi: bidi-override; /* Needed to trigger bidi resolution. */
  }
  h3 {
    column-span: all;
    outline: 1px solid blue;
  }
  