
  article {
    font: 25px/25px Ahem;
    color: green;
    background-color: green;
    width: 100px;
    column-count: 2;
    column-gap: 0;
    margin-bottom: 0;
    orphans: 1;
    widows: 1;
  }

  article div:last-child {
    margin-bottom: 13px;
  }
  