
  #multicol {
    columns: 2;
    width: 100px;
    height: 100px;
    column-fill: auto;
    column-gap: 0px;
  }
  .rel {
    position: relative;
  }
  .abs {
    position: absolute;
    width: 100px;
    height: 100px;
    background: green;
    top: 0;
    left: 0;
  }
