
  fieldset {
    width: 400px;
    overflow: hidden;
    position: absolute;
  }
  .inner {
    column-count: 3;
    column-rule: 6px solid;
  }
  h3 {
    column-span: all;
    outline: 1px solid blue;
  }
  a {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: blue;
  }
  