
  .outer {
    column-count: 2;
    column-rule: 6px solid black;
    width: 400px;
    height: 250px;
  }
  .inner {
    column-count: 2;
    column-rule: 3px solid gray;
    height: 200px;
  }
  .outer-block {
    background-color: lightgreen;
    height: 200px;
  }
  .inner-block {
    background-color: lightblue;
    height: 300px;
  }
  