

.outer {
  height: 125px;
  column-fill: auto;
  width: 800px;
  column-count: 4;
  column-rule: 4px solid blue;
  column-gap: 16px;
  background: rgba(0, 0, 255, 0.3);
}

.inner {
  column-count: 2;
  column-rule: 2px solid fuchsia;
  column-gap: 16px;
  background: rgba(255, 0, 255, 0.3);
  font: 16px/1.25 sans-serif;
  border: solid green;
  border-width: 0 0 25px 0;
  box-decoration-break: clone;
}

