
  .column {
    column-count: 1;
    column-rule: 6px solid;
    width: 400px;
    outline: 1px solid black;
  }
  .spanner {
    /* column-count: 1 makes this behave like a real spanner. */
    outline: 1px solid blue;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  