

.outer {
  height: 100px;
  width: 800px;
  background: rgba(0, 0, 255, 0.3);
  position: relative;
}

.inner {
  height: 100px;
  width: 86px;
  font: 16px/1.25 sans-serif;
  position: absolute;
  top: 0;
}

.lefthalf {
  border-right: 2px solid fuchsia;
  padding-right: 7px;
}

.righthalf {
  padding-left: 7px;
}

