
  article {
    column-count: 2;
    column-rule: 6px solid;
    width: 400px;
    height: 500px;
    background-color: lightgreen;
    border: 2em solid purple;
    padding: 2em;
  }
  div.block {
    width: 100px;
    height: 200px;
  }
  div.column-span {
    column-span: all;
    height: 50px;
    background-color: lightblue;
  }
  