

.outer {
  height: 200px;
  width: 800px;
  background: rgba(0, 0, 255, 0.3);
  position: relative;
}

.blueborders {
  position: absolute;
  top: 0;
  left: 262px; /* 256px first column + (16px gap - 4px rule) / 2 */
  width: 268px; /* 256px second column + (16px gap - 4px rule) */
  height: 200px;
  border-right: blue solid 4px;
  border-left: blue solid 4px;
}

.innerbg {
  height: 100px;
  width: 256px;
  background: rgba(255, 0, 255, 0.3);
  position: absolute;
  top: 0;
}

.inner {
  height: 100px;
  width: 120px;
  font: 16px/1.25 sans-serif;
  position: absolute;
  top: 0;
}

.lefthalf {
  border-right: 2px solid fuchsia;
  padding-right: 7px;
}

.righthalf {
  padding-left: 7px;
}

