
section {
  display: inline-block;
  width: 100px;
  height: 400px;
  border: 2px solid purple;
  columns: 2;
  column-gap: 10px;
  column-rule: 10px solid orange;
}

.span {
  column-span: all;
  block-size: 20px;
}

.p {
  block-size: 80px;
  background-color: lightgreen;
}
