
  #column {
    column-count: 3;
    column-rule: 6px solid;
    width: 400px;
    outline: 1px solid black;
  }
  #block {
    height: 400px;
  }
  h3 {
    column-span: all;
    outline: 1px solid blue;
  }
  