
.multicol {
  position: relative;
  font: 20px/1 Ahem;
  margin: 10px;
  column-count: 2;
  column-gap: 25%;
  background: yellow;
}

.fixed200 {
  width: 200px;
}

.inlineBlock {
  display: inline-block;
}

.wrapper200 {
  width: 200px;
}

.wrapper8 {
  width: 8px;
}

.marginTopBottom {
  margin: 10px 0;
}

.multicol > :nth-child(1) { background: magenta; }
.multicol > :nth-child(2) { background: cyan; }
