
.outer {
  position: relative;
  margin-left: 100px;
  width: 400px;
  height: 400px;
  column-count: 2;
  overflow: hidden;
  background: yellow;
}
.cb {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: red;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: green;
}
