
.multi {
  width: 400px;
  height: 400px;
  columns: 3;
}
.child {
  inline-size: 100px;
  block-size: 100px;
  outline: solid black;
}
.grandchild {
  inline-size: 100px;
  block-size: 300px;
  background: lime;
}
