
  div
    {
      font-size: 300%;
    }

  img
    {
      vertical-align: top;
    }

  /*
  Chromium 80+ will highlight space
  below and above content box while
  Firefox 72+ only highlights the image itself.
  Therefore this 'vertical-align: top' declaration
  to work around this possible behavior.
  */

  img::selection
    {
      background-color: blue;
      /*
      equivalent to rgb(0, 0, 255) or rgb(0%, 0%, 100%)
      or rgba(0, 0, 255, 1) or #0000FF
      */
    }
  