
  body {
    margin: 0;
    padding: 0;
  }

  dialog {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 0;
    border: none;
    background: blue;
  }

  dialog::backdrop {
    background: red;
  }
