
    html {
      overflow: scroll;
    }
    body {
      overflow: scroll;
    }
    div {
      position: relative;
    }
    span {
      position: absolute;
      color: transparent;
    }
    #control {
      background-color: green;
    }
    #test {
      background-color: red;
      line-height: 1;
      top: 1px;
    }
    #test::first-letter {
      text-transform: uppercase;
    }
  