
  div {
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 50px;
  }
  #d1::first-letter {
    color: red;
    background: red;
    float: left;
  }
  #d2 span {
    color: green;
    background: green;
    float: left;
  }
  