
body { margin-left: 5em; }
li, span, ibi { list-style-position: inside }
li::first-letter { color: green }
li:first-child > * { list-style-type: 'marker ' }
li:last-child > ::marker { content: 'marker ' }
span { display:inline list-item; }
ibi { display:inline flow-root list-item; }
ibo { display:inline flow-root list-item; list-style-position: outside; }
