
  div {
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 50px;
    background: red;
  }
  span {
    background : white;
  }
  div::first-letter {
    color: green;
    background: green;
    float: left;
  }
  