
  div {
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 50px;
  }
  #d1 span {
    color: red;
    background: red;
    float: left;
  }
  #d2::first-letter {
    color: green;
    background: green;
    float: left;
  }
  