
  .a {
    color: yellow;
    background-color: blue;
  }
  .b {
    color: lime;
    background-color: blue;
  }
  .selection {
    color: green;
    background-color: black;
    text-shadow: 0 2em red, 0 4em currentColor;
  }
