
    :root {
        writing-mode: vertical-rl;
    }
    p {
        font-size: 7em;
        color: #E03838C0;
        text-shadow: 0.1250em 0.1250em #C0C000C0;
    }
    p::selection {
        color: #707070C0;
        background: #38E038C0;
        text-shadow: 0.2500em 0.2500em #3838E0C0;
    }
