
  ::highlight(a) {
    color: yellow;
    background-color: blue;
  }
  ::highlight(b) {
    color: lime;
    background-color: blue;
  }
  ::selection {
    color: green;
    background-color: black;
    text-decoration: /* currentColor */ underline;
  }
