
body { color: black; background: white; }
#t1 > li { list-style-position: inside; }
#t2 > li { list-style-position: outside; }
#t3 > li { list-style-position: inside; }
#t4 > li { list-style-position: inside; }

#t1, #t2, #t3, blue { color: blue; }
black { color: black; }

span { font-size: 32pt; }
