
div {
  float: left;
  font: 25px/1 Ahem;
}
.inside {
  list-style-position: inside;
  width: 250px;
}
.outside {
  list-style-position: outside;
  width: 100px;
  margin-left: 150px;
}
ol {
  padding: 0;
}
.marker-disc {
  list-style-type: disc;
}
.marker-decimal {
  list-style-type: "2 . \A0 ";
}
.marker-string {
  list-style-type: "X p";
}
.marker-content::marker {
  content: "X p p";
}
