
ol {
  float: left;
  width: 50px;
  list-style: none;
  line-height: 2;
}
.text-emphasis-shorthand {
  -webkit-text-emphasis: circle green;
  text-emphasis: circle green;
}
.text-emphasis-longhands {
  -webkit-text-emphasis-style: circle;
  -webkit-text-emphasis-color: green;
  -webkit-text-emphasis-position: under right;
  text-emphasis-style: circle;
  text-emphasis-color: green;
  text-emphasis-position: under right;
}
