
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}
body { margin-left: 40px; }
.big { font-size:xx-large; }
.big-marker > li::marker { font-size:xx-large; }
