
li {
    color: red;
    font-size: 20px;
}

li::before {
    color: green;
    content: "PA";
}

li::after {
    color: green;
    content: "SSED if the list marker is green.";
}

li::marker {
    color: green;
}

li::first-letter {
    color: white;
    background-color: green;
}
