
body {
  writing-mode: vertical-lr;
}
ol, ul {
  display: flow-root;
}
ul {
  list-style-position: inside;
}
.decimal {
  list-style-type: decimal;
}
.string {
  list-style-type: "2. ";
}
.content ::marker {
  content: "3. ";
}
::marker {
  /* Try to undo whatever styles browsers might have set on ::marker. */
  all: unset;
  /* However, Blink still enforces `white-space: pre` on markers with outside position.
     As a workaround, the reference expects `white-space: pre` too, but then we need
     to set it here for Firefox. */
  white-space: pre;
  text-combine-upright: all;
}
