
@font-face {
  /* This font looks different with 'font-variant-numeric: tabular-nums' */
  font-family: 'Exo 2';
  src: local('Exo 2'),
       url('/css/css-fonts/support/fonts/Exo2-SemiBold.otf') format("opentype");
}
ol {
  float: left;
  width: 50px;
  line-height: 25px;
  list-style-type: none;
  font-family: "Exo 2";
}
span {
  display: inline-block;
  font: 25px/1 Ahem;
  vertical-align: top;
  width: 25px;
  height: 25px;
}
@supports not (selector(::before::marker) and selector(::after::marker)) {
  /* Allow the test to pass on browsers that support ::marker but not nested
     ::before::marker nor ::after::marker. On these browsers, the test isn't
     able to set `font-variant-numeric: normal` on the nested pseudo-elements,
     so expect `font-variant-numeric: tabular-nums` instead. */
  .before, .after {
    font-variant-numeric: tabular-nums;
  }
}
