
body {
  direction: rtl;
}
ul {
  width: 300px;
  border: 1px solid black;
  font-family: Ahem;
}
li {
  /* Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1808393 */
  list-style-type: "A";
}
