
li {
  border: 5px solid;
  float: left;
  clear: left;
}
.inside {
  list-style-position: inside;
}
.symbol {
  list-style-type: disc;
}
.decimal {
  list-style-type: decimal;
}
.string {
  list-style-type: "string";
}
.content::marker {
  content: "content";
}
