
div {
  float: left;
  font: 25px/1 Ahem;
}
.inside {
  list-style-position: inside;
  width: 250px;
}
.outside {
  list-style-position: outside;
  width: 100px;
  margin-left: 150px;
}
ol {
  padding: 0;
}
.word-spacing.explicit ::marker,
.word-spacing.inherit {
  word-spacing: 25px;
}
.marker-disc {
  list-style-type: disc;
}
.marker-decimal {
  list-style-type: decimal;
}
.marker-string {
  list-style-type: "X p";
}
.marker-content::marker {
  content: "Xp p";
}
