
div {
  overflow: auto;
  scroll-marker-group: after;
}

div::before {
  background: red;
  content: "";
  height: 20px;
  width: 100px;
  display: flex;
}

div > li {
  background: orange;
  height: 20px;
  width: 100px;
  display: flex;
}

div::after {
  background: yellow;
  content: "";
  height: 20px;
  width: 100px;
  display: flex;
}

div::scroll-button(up) {
  background: green;
  border: none;
  content: "";
  height: 20px;
  width: 100px;
  display: flex;
}

div::scroll-button(right) {
  content: "";
  border: none;
  background: blue;
  height: 20px;
  width: 100px;
  display: flex;
}


div::scroll-marker-group {
  background: purple;
  height: 20px;
  width: 100px;
  display: flex;
}
