
  #target {
    width: 100px;
    height: 100px;
    background-color: blue;
    --f: url("data:image/svg+xml,");
    position: absolute;
    position-area: block-end span-inline-end;
    position-try-fallbacks: block-start span-inline-end;
  }
