
  div
    {
      float: left;
      font-size: 80px; /* arbitrary font size */
      line-height: 1.8; /* arbitrary line-height */
      text-orientation: upright;
      writing-mode: vertical-rl;
    }

  div#blue
    {
      background-color: blue;
      color: blue;
    }

  div#orange
    {
      background-color: orange;
      color: orange;
    }
  