
  @font-face {
    font-family: foo;
    font-weight: 900;
    src: url('/fonts/noto/noto-sans-v8-latin-regular.woff');
  }
  div {
    font-family: foo, sans-serif;
    font-weight: 900;
    width: 10ex;
    height: 20px;
    background: blue;
    margin: 20px;
    font-size: 20px;
  }
