
  @font-face
    {
      font-family: IcTestFullWidth;
      src: url(/css/css-values/resources/IcTestFullWidth.woff2);
    }

  div
    {
      float: left;
      font-family: IcTestFullWidth;
      font-size: 80px; /* arbitrary font size */
      line-height: 1.8; /* arbitrary line-height */
      text-orientation: sideways;
      writing-mode: vertical-rl;
    }

  div#blue
    {
      background-color: blue;
      color: blue;
    }

  div#orange
    {
      background-color: orange;
      color: orange;
    }
  