
  #target {
    width: 100px;
    height: 100px;
    background-image: url('support/sprite-view-no-viewbox.svg#rect');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
