
  @page {
    margin: 4em;
    counter-increment: page 2;

    @bottom-center {
      text-align: left;
      vertical-align: top;
      content: counter(page);
    }
  }
  @page :first {
    @top-center {
      text-align: left;
      vertical-align: top;
      content: "There are " counter(pages) " pages";
    }
  }
  body {
    margin: 0;
  }
