
  @page {
    margin: 4em;

    @top-center {
      text-align: left;
      vertical-align: top;
      content: "Page " counter(page) " of " counter(pages);
    }
    @bottom-center {
      text-align: left;
      vertical-align: top;
      content: "Page " counter(page) " of " counter(pages);
    }
  }
  @page :first {
    @top-center { content: none; }
    @bottom-center { content: none; }
  }
  body {
    margin: 0;
  }
