
  :root {
    print-color-adjust: exact;
    font: 16px/1 Ahem;
  }
  @page {
    margin: 0;
    width: 32em;
    height: 28em;
  }
  body {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 6em auto 6em;
    grid-template-rows: 6em auto 6em;
    height: 100vh;
    overflow: clip;
  }
  .vertical-edge {
    display: flex;
  }
