
  :root {
    print-color-adjust: exact;
    font: 16px/1 Ahem;
  }
  @page {
    size: 32em 28em;
    margin: 0;
  }
  body {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 7em auto 5em;
    grid-template-rows: 4em auto 8em;
    height: 100vh;
  }
  .vertical-edge {
    display: flex;
  }
  .horizontal-edge {
    display: flex;
    flex-flow: column;
  }
