
  @page {
    margin: 100px;
    size: 500px 400px;
    border: solid blue;
    @top-left-corner {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @top-left {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @top-center {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @top-right {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @top-right-corner {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @right-top {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @right-middle {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @right-bottom {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @bottom-right-corner {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @bottom-right {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @bottom-center {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @bottom-left {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @bottom-left-corner {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @left-bottom {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @left-middle {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
    @left-top {
      border: solid;
      width: 25px;
      height: 25px;
      margin: 3px;
      content: "";
    }
  }
