
    body {
        margin: 0;
    }
    .container {
        font: 15px Ahem, sans-serif;
        line-height: 20px;
        width: 400px;
        height: 200px;
        color: green;
    }
    .ellipse {
        width: 160px;
        height: 160px;
        shape-outside: ellipse(80px 40px at 80px 40px);
    }
    