
        #ref-overlapped-red {
            background-color: red;
            height: 150px;
            width: 50px;
        }
        #test-overlapping-square {
            background-image: url(support/100x100-blue-and-orange.png);
            background-repeat: no-repeat round;
            background-size: 20% 30%;
            bottom: 150px;
            height: 150px;
            position: relative;
            width: 250px;
        }
            /*
            Background positioning area is 250px wide by 150px tall.
            The width of the background image is 20% of 250px == 50px.
            The height is rescaled to 30% of 150px == 45px.
            Then, because background-repeat is set to no-repeat round, the
            height is rescaled as following:
            Newest height = 150px / (round [150px / 45px]);
            Newest height = 150px / (round [3.33]);
            Newest height = 150px / (3);
            Newest height = 50px;
            */
    