
      .outer {
        width: 106px;
        height: 192px;
        border: 1px solid black;
        background-size: 32px 60px;
        background-image: url(support/aqua-yellow-32x32.png);
        background-repeat: space round;
      }
      .outer_gradient {
        width: 106px;
        height: 192px;
        border: 1px solid black;
        background-size: 32px 60px;
        background-image: linear-gradient(to top left, red, green);
        background-repeat: space round;
      }
    