
body {
  /* suppress scrollbars */
  overflow: hidden;
}
#target {
  background-attachment: fixed;
  background-image: linear-gradient(green 50%, yellow 50%);
  font-size: 130px;
  line-height: 100px;
}
