
body { margin: 0 }
div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-origin: content-box;
  background-image: url(/images/green-100x50.png);
}
#test1 {
  height: 0;
  width: 100px;
  padding-bottom: 100px;
}

#test2 {
  height: 100px;
  width: 0;
  padding-right: 100px;
}
#test3 {
  height: 0;
  width: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
