
:root {
  --icon: url("/images/green.png?variable-cors-no-reload");
}
.item::before,
.item::after {
  display: block;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(180deg);
  background: var(--icon) 50%/2rem 2rem;
}
.item::after {
  background: blue;
  mask: var(--icon);
}
.item.toggled::after,
.item.toggled::before {
  color: blue;
}
