
  html {
    background: linear-gradient(rgba(0,255,0,0.5), rgba(0,0,255,0.5)), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
    background-attachment: fixed, scroll;
    background-size: 100px 100px, 100px 100px;
    height: 300px;
    margin: 50px;
  }
