
      .outer {
        width: 192px;
        height: 106px;
        border: 1px solid black;
        background-size: 60px 32px;
        background-image: url(support/aqua-yellow-32x32.png);
        background-repeat: round space;
      }
      .outer_gradient {
        width: 192px;
        height: 106px;
        border: 1px solid black;
        background-size: 60px 32px;
        background-image: linear-gradient(to top left, red, green);
        background-repeat: round space;
      }
    