
    span {
      background: url(support/green-60x60-red-5px-border.png) no-repeat center;
      border: 5px solid green;
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      height: 60px;
      width: 60px;
    }
  