
      .outer {
        width: 106px;
        height: 96px;
        border: 1px solid black;
        background-image: url(support/aqua-yellow-32x32.png);
        background-repeat: space;
      }
    