
      body {
      	zoom: 121%;
      }
      .test-table {
        display: table;
        width: 600px;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: red;
      }
      .test-row {
        padding: 0px;
        border: 0px;
        display: table-row;
      }
      .test-cell {
        display: table-cell;
        padding: 0px;
        height: 50px;
        border: 0px;
        background: url("support/50x50-green.png");
        background-size: 100% 100%;
      }

  