
      .outer
      {
        border: 20px solid rgba(0, 0, 0, 0.5);
        width: 106px;
        height: 106px;
        background-image: url(support/aqua-yellow-37x37.png);
        background-repeat: repeat;
      }
      .outer_gradient
      {
        border: 20px solid rgba(0, 0, 0, 0.5);
        width: 32px;
        height: 32px;
        background-size: 50px 50px;
        background-image: linear-gradient(to top left, red, green);
        background-repeat: no-repeat;
        background-position: -10px -10px;
      }
    