
      .outer
      {
        border: 1px solid black;
        width: 106px;
        height: 106px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
      }
      .inner
      {
        height: 32px;
        width: 32px;
        background-image: url(support/aqua-yellow-32x32.png);
      }
      .outer_gradient
      {
        border: 1px solid black;
        width: 106px;
        height: 106px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
      }
      .inner_gradient
      {
        height: 32px;
        width: 32px;
        background-image: linear-gradient(to top left, red, green);
      }
    