
        #ref-overlapped-red {
            background-color: red;
            height: 45px;
            width: 45px;
        }
        #test-overlapping-green {
            background-image: url(support/60x60-green.png);
            background-repeat: no-repeat;
            background-size: -1px -1px;
            bottom: 45px;
            height: 100px;
            position: relative;
            width: 100px;
        }
    