
div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-image: url("support/blue_color.png");
  background-repeat: no-repeat;
  display: inline-block;
}
.test1  {
  background-position: left 50px center;
}
.test2 {
  background-position: right 25px top 75%;
}
.test3 {
  background-position: left 25px bottom 75%;
}
.test4 {
  background-position: right 25px bottom 25%;
}
