
  #outer {
    width: 150px;
    height: 150px;
    background-color: red;
  }
  #inner {
    border: 30px dashed green;
    padding: 30px;
    width: 30px;
    height: 30px;
    background-color: green;
    background-clip: content-box;
  }
