
        #test-overlapped-red {
            background-clip: padding-box;
            background-color: red;
            border: transparent dotted 5px;
            height: 100px;
            padding: 25px;
            width: 100px;
        }
        #ref-overlapping-green {
            background-color: green;
            bottom: 155px;
            height: 150px;
            left: 5px;
            position: relative;
            width: 150px;
        }
    