
.back {
  background-color: red;
  width: 100px;
  display: flex;
}

.left {
  flex-basis: 50%;
  border-left: 5px solid green;
}

.right {
  flex-basis: 50%;
  border-right: 6px solid green;
}

.left, .right {
  background-color: green;
  background-clip: content-box;
  height: 100px;
}
