
  div
    {
      background-clip: border-box;
      background-image: linear-gradient(orange, blue);
      background-origin: content-box;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50% auto;
      border: solid 40px;
      border-color: transparent black;
      height: 400px;
      width: 400px;
    }
  