
        div {
            background-color: red;
            background-image: url(support/100x100-blue-and-orange.png);
            background-repeat: repeat round;
            background-size: 52px auto;
            height: 180px;
            width: 156px;

            /*
            Background positioning area is 156px wide by 180px tall.
            The width of the background image is 52px.
            So, the height is rescaled to 52px to keep the original aspect ratio.
            Then, because background-repeat is set to repeat round, the
            height is rescaled as following:
            Newest height = 180px / (round [180px / 52px]);
            Newest height = 180px / (round [3.46]);
            Newest height = 180px / (3);
            Newest height = 60px;
            */
        }
    