
        div {
            background-color: red;
            background-image: url(support/100x100-blue-and-orange.png);
            background-repeat: repeat;  /* default */
            background-size: 50px;  /* 50px auto */
            height: 200px;
            width: 200px;

            /*
            Background positioning area is 200px wide by 200px tall.
            So, the image should be rescaled to 50px by 50px and
            then be repeated four times in horizontal and vertical directions.
            */
        }
    