
	#test-container {
		background-attachment: local;
		background-image: url("support/cat.png");
		background-repeat: no-repeat;
		border: 1px solid blue;
		height: 250px;
		overflow: scroll;
		padding: 100px 0 0;
		width: 250px;
	}

        