
        #test-overlapped-red {
            background-clip: content-box;
            background-color: red;
            border: transparent dotted 5px;
            height: 100px;
            padding: 25px;
            width: 100px;
        }
        #ref-overlapping-green {
            background-color: green;
            bottom: 130px;
            height: 100px;
            left: 30px;
            position: relative;
            width: 100px;
        }
    