
  div
    {
      background-attachment: local;
      background-image: url("support/100x100-red.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      font-size: 100px;
      line-height: 1;
      height: 100px;
      overflow: hidden;
      width: 100px;
    }
  