
      .outer {
        width: 48px;
        height: 48px;
        border: 1px solid black;
        background-image: url(support/aqua-yellow-32x32.png);
        background-repeat: space;
        background-position: 5px 5px;
      }
      .outer_gradient {
        width: 48px;
        height: 48px;
        border: 1px solid black;
        background-size: 32px 32px;
        background-image: linear-gradient(to top left, red, green);
        background-repeat: space;
        background-position: 5px 5px;
      }
    