
      .outer {
        width: 72px;
        height: 72px;
        border: 1px solid black;
        background-size: 36px 36px;
        background-image: url(support/aqua-yellow-32x32.png);
        background-repeat: repeat round;
      }
      .outer_gradient {
        width: 72px;
        height: 72px;
        border: 1px solid black;
        background-size: 36px 36px;
        background-image: linear-gradient(to top left, red, green);
        background-repeat: repeat round;
      }
    