
  .red-if-too-thin { height: 5px; background: red; }
  .cb { position: relative; }
  .red-if-too-thick { height: 20px; background: red; }
  .overlap-red-if-too-thick { height: 20px; background: white; position: absolute; top: 5px; width: 100%; }
  .border-test { border-top-style: solid; border-top-width: thick; margin-top: -5px; }
