
        /* <![CDATA[ */
        	div
            {
				border-radius: 29px  43px 19px 13px / 5px 11px 23px 17px;

        		background:	#dddddd;
        		width:		200px;
        		height: 	100px;
        	}
        /* ]]> */
        