
    div {
        width: 200px;
        height: 200px;
        margin: 20px;
        background-color: silver;
        border-image-source: linear-gradient(blue, orange);
        border-image-slice: 32;
        border-image-repeat: repeat;
        border-image-width: 32px;
        border-style: none;
    }
