
    	/* <![CDATA[ */
        	div
        	{
				border-top-left-radius: 29px  5px;
				border-top-right-radius: 43px  11px;
				border-bottom-left-radius: 13px  17px;
				border-bottom-right-radius: 19px  23px;
        		background:	#dddddd;
        		width:		200px;
        		height: 	100px;
			}
        /* ]]> */
        