
  .red-if-too-thin { height: 1px; background: red; }
  .cb { position: relative; }
  .red-if-too-thick { height: 20px; background: red; }
  .overlap-red-if-too-thick { height: 20px; background: white; position: absolute; top: 1px; width: 100%; }
  .border-test { border-top-style: solid; border-top-width: thin; margin-top: -1px; }
