
      .outer {
        position: absolute;
        left: 0px;
        top: 0px;
        border: 27px solid transparent;
        border-image: url("support/border.png") 27;
        border-image-repeat: round round;
        width: 13px;
        height: 13px;
      }
    