
      .container {
        border: 1px solid red;
        width:100px;
        height:100px;
        background-color:#eee;
      }
      .triangle-up {
        height: 0;
        width: 0;
        border: 50px solid #e5c3b2;
        border-color: transparent transparent #e5c3b2 transparent;
      }
    