
      #rounded-div {
	 position: absolute;
	 top: 50px;
	 left: 5px;
	 width: 13em;
	 height: 8em;
	 border: solid 1em green;
	 border-radius: 0em / 5em
	 }
	 #error {
	 position: absolute;
	 top: 50px;
	 left: 5px;
	 width: 13em;
	 height: 8em;
	 border: solid 1em red;
	 }
    