
  div#outer-test
    {
      border: red solid 25px;
      width: 50px;

      border-image-source: url("support/1x1-green.png");
    }

  div#inner-blue
    {
      border: blue solid 1px;
      height: 48px;
    }
  