

        #test {
            border : 10px solid red;
            width  : 30px;
            height : 30px;

            border-image-source: url(support/img-ref-2.png);
            border-image-slice : 10;
            border-image-repeat: repeat;
        }

    