
      .outer {
        width: 81px;
        height: 81px;
      }
      .inner1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 27px;
        height: 27px;
        background-image: url("support/border.png");
      }
      .inner2 {
        position: absolute;
        top: 0px;
        left: 27px;
        width: 34px;
        height: 27px;
        background-size: 102px 81px;
        background-image: url("support/border.png");
        background-position: -34px 0px;
      }
      .inner3 {
        position: absolute;
        top: 0px;
        left: 61px;
        width: 27px;
        height: 27px;
        background-image: url("support/border.png");
      }
      .inner4 {
        position: absolute;
        top: 27px;
        left: 0px;
        width: 27px;
        height: 34px;
        background-size: 81px 102px;
        background-image: url("support/border.png");
        background-position: 0px -34px;
      }
      .inner5 {
        position: absolute;
        top: 27px;
        left: 61px;
        width: 27px;
        height: 34px;
        background-size: 81px 102px;
        background-image: url("support/border.png");
        background-position: -54px -34px;
      }
      .inner6 {
        position: absolute;
        top: 61px;
        left: 0px;
        width: 27px;
        height: 27px;
        background-image: url("support/border.png");
      }
      .inner7 {
        position: absolute;
        top: 61px;
        left: 27px;
        width: 34px;
        height: 27px;
        background-size: 102px 81px;
        background-image: url("support/border.png");
        background-position: -34px -54px;
      }
      .inner8 {
        position: absolute;
        top: 61px;
        left: 61px;
        width: 27px;
        height: 27px;
        background-image: url("support/border.png");
      }
    