
      .outer {
        width: 81px;
        height: 81px;
      }
      .inner1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-tl.png");
      }
      .inner2 {
        position: absolute;
        top: 0px;
        left: 27px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-to.png");
      }
      .inner3 {
        position: absolute;
        top: 0px;
        left: 54px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-tr.png");
      }
      .inner4 {
        position: absolute;
        top: 27px;
        left: 0px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-le.png");
      }
      .inner5 {
        position: absolute;
        top: 27px;
        left: 27px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-ct.png");
      }
      .inner6 {
        position: absolute;
        top: 27px;
        left: 54px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-ri.png");
      }
      .inner7 {
        position: absolute;
        top: 54px;
        left: 0px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-bl.png");
      }
      .inner8 {
        position: absolute;
        top: 54px;
        left: 27px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-bo.png");
      }
      .inner9 {
        position: absolute;
        top: 54px;
        left: 54px;
        width: 27px;
        height: 27px;
        background-image: url("support/reticule-br.png");
      }
    