
      .outer {
        position: absolute;
        left: 0px;
        top: 0px;
        border: 27px solid transparent;
        border-image: url("support/border.png") 27;
        border-image-repeat: space space;
        width: 81px;
        height: 81px;
      }
    