
  div { display: inline-block; height: 100px; }
  .red-if-too-thin { width: 1px; background: red; }
  .cb { position: relative; }
  .red-if-too-thick { width: 20px; background: red; }
  .overlap-red-if-too-thick { width: 20px; background: white; position: absolute; left: 0; }
  .border-test { border-right-style: solid; border-right-width: thin; margin-left: -1px; }
