
    #container {
        color: red;
    }

    #container.green {
        color: green;
    }

    #target {
        border: 50px solid color-mix(in hsl, transparent 0%, currentColor 100%);
        width: 0;
    }
