
    #target {
        color: red;
        outline: 50px solid color-mix(in hsl, transparent 0%, currentColor 100%);
        outline-offset: -50px;
        width: 100px;
        height: 100px;
    }

    #target.green {
        color: green;
    }
