
            div {
                border: red solid 18px;
                border-image-repeat: repeat;
                border-image-slice: 27;
                border-image-source: url("support/blue-and-red-diamonds-81x81.png");
                height: 108px;  /* 6 times 18 == 108 */
                width: 144px;  /* 8 times 18 == 144 */
            }
    