
.container {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid black;
  padding: 20px;
  background-color: blue;
  background-attachment: local;
  background-clip: content-box;
  display: none;
}
.content {
  width: 400px;
  height: 400px;
}
