
.init_scrolled {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: blue;
}
.mid_scrolled {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, yellow 50%, blue 50%);
}
.max_scrolled {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: yellow;
}
