

#container {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#element-with-attachment-scroll {
    width: 500px;
    height: 500px;
    background-image: url('/css/support/60x60-red.png'), url('support/60x60-green.png');
    background-position: 0 0, 0 60px;
    background-repeat: no-repeat;
}

