
  td
    {
      height: 100px;
      padding: 0px;
      vertical-align: top;
      width: 100px;
    }

  td#middle-cell
    {
      background: url("support/500x500-red-with-green-center.png") local;
      overflow: auto;
    }

  div#outer
    {
      height: 0px;
      width: 0px;
    }

  div#inner
    {
      height: 300px;
      width: 300px;
    }
  