
  .multicol {
    background: red;
    column-count: 4;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    width: 25px;
    background: green;
  }
  .flex > div {
    width: 25px;
  }
