
  .multicol {
    position: relative;
    columns: 4;
    column-fill: auto;
    column-gap: 0px;
    width: 100px;
    height: 100px;
    background: green;
  }

  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: red;

  }

  .flex>div {
    height: 40px;
    background: green;
  }

  .abspos {
    position: absolute;
    background: green;
  }
