
  .multicol {
    position: relative;
    column-width: 50px;
    column-fill: auto;
    column-gap: 0px;

    height: 100px;
    width: 100px;

    background: red;
  }
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    background: red;
    block-size: 200px;
  }
  .abspos {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100px;
    height: 90px;
    background: green;
  }
