
     .multi-column {
        columns: 2;
        height: 60px;
        column-width: 60px;
        width: 130px;
        gap: 10px;
    }

    body {
        margin: 0px;
    }

    #flexbox {
        border: 2px solid rgb(96 139 168);
        width: 60px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 110px;
        justify-content: space-between;
    }

    .item {
        width: 60px;
        height: 25px;
        background-color: #007bff;
        color: white;
    }
