
  .multicol {
    background: red;
    column-count: 5;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    width: 20px;
  }
  .flex > div {
    background: green;
    width: 10px;
  }
