
  #flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
    position: relative;
    justify-content: center;
    padding-top: 10px;
  }
  #flex > div {
    width: 25px;
    height: 100px;
    background: green;
    flex: none;
  }
