
.multicol {
  columns: 2;
  column-fill: auto;
  column-gap: 0;
  width: 100px;
  height: 300px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.item {
  background: green;
  width: 25px;
  height: 100px;
}
