
  #flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }
  #flex > div {
    height: 100px;
    width: 10px;
  }
  #flex > div:nth-child(odd) {
    background: green;
    margin-top: -100px;
    break-before: column;
  }
