
.multicol {
  columns: 2;
  column-fill: auto;
  column-gap: 0;
  width: 100px;
  height: 300px;
}
.flexbox {
  display: flex;
  flex-direction: column;
}
.item {
  background: green;
  height: 50px;
}
