
  .multicol {
    column-count: 2;
    column-gap: 0;
    column-fill: auto;
    width: 200px;
    border: 5px solid gray;
    height: 0px;
  }
  .flexbox {
    display: flex;
    width: 100px;
  }
  .flexbox > div {
    width: 50px;
    contain: size;
  }
  