
  .multicol {
    column-count: 2;
    column-fill:auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
    background: red;
  }
  .flex {
    display: flex;
    height: 200px;
    width: 50px;
  }
  .flex > div {
    height: 10px;
    width: 50px;
  }
  .flex > div > div {
    background: green;
  }
