
  .container {
    writing-mode: sideways-lr;
    position: absolute;
    inline-size: 200px;
    line-height: 0;
  }

  .shape {
    float: left;
    /* Omit shape-outside */
    clip-path: inset(10px round 60px 0/ 40px 0) border-box;
    box-sizing: content-box;
    block-size: 40px;
    inline-size: 40px;
    padding: 10px 20px;
    border: solid lightgreen;
    border-width: 20px 30px;
    background-color: orange;
  }

  .box {
    position: absolute;
    inline-size: 80px;
    background-color: blue;
  }

  .long {
    inline-size: 200px;
  }
  