
.block, .grid { font: 10px/1 Ahem; }
.big { font-size: 20px; }
.block {
  position: absolute;
  z-index: -1;
  background: green;
  width: 100px;
  height: 100px;
}
.block > div {
  position: absolute;
  color: red;
}
.grid {
  display: inline-grid;
  color: green;
  grid-auto-rows: 50px;
  justify-items: baseline;
  justify-content: start;
}
.grid > div { writing-mode: vertical-lr; }
.big { font-size: 20px; }
.firstRowFirstColumn {
  grid-row: 1;
  grid-column: 1;
}
.secondRowFirstColumn {
  grid-row: 2;
  grid-column: 1;
}
.firstRowSecondColumn {
  grid-row: 1;
  grid-column: 2;
}
