
.positioned {
  position: fixed;
  width: 100px;
  height: 50px;
  left: anchor(left);
  top: anchor(bottom);
  background: green;
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;
  overflow: hidden;
}

.filler {
  width: 1px;
  height: 50px;
}

.anchor {
  width: 100px;
  height: 50px;
  background: green;
  border: none;
  padding: 0;
}
