
.cb {
  position: relative;
}
.not-positioned-cb {
  transform: translate(0, 0);  /* Make it a containing block. */
}
.anchor1 {
  anchor-name: --a1;
}
.size5x7 {
  width: 5px;
  height: 7px;
  background: orange;
}
.size9x11 {
  width: 9px;
  height: 11px;
  background: blue;
}
.target {
  position: absolute;
}
