
.relpos {
  position: relative;
  width: 200px;
  outline: 1px solid;
}
.vrl-rtl {
  writing-mode: vertical-rl;
  direction: rtl;
}
.spacer {
  background: yellow;
  width: 10px;
  height: 10px;
}
#anchor {
  anchor-name: --a1;
  margin: 20px;
  width: 100px;
  height: 200px;
  background: orange;
}
.target {
  position: absolute;
}
