
.columns {
  column-count: 3;
  column-fill: auto;
  column-gap: 10px;
  width: 620px;
  height: 100px;
}
.fakeanchor {
  box-sizing: border-box;
  border: 2px solid lime;
  border-width: 5px 6px 7px 8px;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  background: green;
}
