
#scroll-container {
  width: 400px;
  height: 400px;
  overflow: scroll;
}

#scroll-contents {
  width: 1000px;
  height: 1000px;
  position: relative;
}

#anchor {
  anchor-name: --anchor;
  height: 100px;
  width: 100px;
  overflow: scroll;
}

#anchored {
  background: green;
  width: 100px;
  height: 100px;
}
