
body { margin: 0 }
#target  {
    margin-top: 100px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background: blue;
}
#target::before, #target::after {
    width: 100px;
    height: 100px;
    position: absolute;
    position-anchor: auto;
}
#target.moved {
    margin-top: 200px;
    margin-left: 200px;
}
#target::before {
    left: anchor(right);
    top: anchor(top);
    background: green;
    content:'';
}
#target::after {
    left: anchor(left);
    top: anchor(bottom);
    background: green;
    content:'';
}
