
body {
  margin: 0;
  width: 200vw;
  height: 200vh;
}

#anchor {
  anchor-name: --a;
  width: 100px;
  height: 100px;
  margin-block-start: 100vb;
  margin-inline-start: 100vi;
  background: orange;
}

#anchored {
  position: fixed;
  width: 100px;
  height: 100px;
  background: green;
  position-anchor: --a;
  position-try: --pf1, --pf2, --pf3;
  inset-block-start: anchor(end);
  inset-inline-start: anchor(end);
}

@position-try --pf1 {
  inset: auto;
  inset-block-end: anchor(start);
  inset-inline-start: anchor(end);
}
@position-try --pf2 {
  inset: auto;
  inset-block-start: anchor(end);
  inset-inline-end: anchor(start);
}
@position-try --pf3 {
  inset: auto;
  inset-block-end: anchor(start);
  inset-inline-end: anchor(start);
}
