
  body { margin: 0; }
  #cb {
    position: relative;
    width: 400px;
    height: 100px;
    border: 1px solid black;
  }
  #a1 {
    anchor-name: --a1;
    width: 100px;
    height: 100px;
    background: green;
  }
  #t1 {
    position-anchor: --a1;
    /* transition-behavior exercises bug in Chrome */
    transition-behavior: allow-discrete;
    position: absolute;
    position-area: bottom;
    position-try-fallbacks: --right;
    width: 200px;
    height: 100px;
    background: cyan;
  }
  @position-try --right {
    position-area: right;
  }
