
.cb {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid black;
}

.anchor {
  width: 100px;
  height: 100px;
  top: 10px;
  left: 20px;
  position: absolute;
  background: red;
  anchor-name: --a;
}

.anchored {
  position-anchor: --a;
  position: absolute;
  /* Anchored directly on top */
  top: anchor(top);
  left: anchor(left);
  width: anchor-size(width);
  height: anchor-size(height);
  background: coral;
}

/* The child should have the same size as the anchored element,
   and inset by top:10px,left:20px vs. that element. */
.child {
  position-anchor: --unknown; /* Should have no effect. */
  position: relative;
  background: skyblue;
  top: inherit;
  left: inherit;
  width: inherit;
  height: inherit;
}

