
  #mc {
    columns: 2;
    gap: 0;
    display: list-item;
    list-style-position: outside;
    margin-left: 40px;
    width: 60px;
    color: red;
  }
  #mc::marker {
    /* anchor-name doesn't apply here. */
    anchor-name: --invalid;
  }
