
  body { margin: 0; }
  #host { width: 200px }


      ::slotted(#slotted), :host {
        position-try-fallbacks: --pf;
        position: absolute;
        left: 999999px; /* force fallback */
      }
    