
  body { margin: 0; }

  #anchor {
    anchor-name: --a;
    margin-left: 100px;
    width: 100px;
    height: 100px;
  }

  #anchored {
    position: absolute;
    width: 100px;
    height: 100px;
    position-try-fallbacks: --pf;
    left: 999999px; /* force fallback */
  }


  @position-try --pf {
    left: anchor(--a left);
  }
