
  #container {
    position: relative;
  }
  #anchor {
    anchor-name: --a1;
    width: 0px;
    height: 100px;
  }
  #anchored {
    position-area: left center;
    position: absolute;
    position-anchor: --a1;
    position-try-fallbacks: --f1;
    width: 100px;
  }
  #child {
    height: inherit;
    background: green;
  }
  @position-try --f1 {
    position-area: right center;
    height: 100px;
  }
