
    @keyframes --anim {
      from {
        position: absolute;
        position-try-fallbacks: flip-block;
      }
    }
    #parent {
      display: inline-grid;
    }
    #victim {
      height:100em;
    }
    #victim.anim {
      animation: --anim 100ms linear;
    }
  