
  #cb {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
  #anchor {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 80px;
    height: 80px;
    background-color: tomato;
    anchor-name: --a;
  }
  #target, #ref {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: skyblue;
    position-area: bottom right;
    position-anchor: --a;
  }
  #ref {
    background-color: seagreen;
  }


