
  #container {
    position: relative;
    width: 400px;
    height: 150px;
  }

  .anchor {
    width: 100px;
    height: 100px;
    background: orange;
    display: inline-block;
  }

  .target {
    position: absolute;
    position-visibility: no-overflow;
    position-area: block-end;
    width: 100px;
    height: 100px;
    background: red;
    top: 0;
    left: 0;
  }

  #child {
    position: absolute;
    /* stacking context */
    z-index: 1;
    top: -100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: maroon;
  }

  #grandchild {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: pink;
  }
