
.anchor {
  width: 100px;
  height: 100px;
  background: orange;
  font: 20px/1 Ahem;
}

.target {
  position: fixed;
  background: lime;
  position-try-fallbacks: --pf;
  left: 999999px; /* force fallback */
  font: 20px/1 Ahem;
}

@position-try --pf {
  top: anchor(bottom, 0px);
  left: anchor(left, 0px);
  width: anchor-size(width, 0px);
  height: anchor-size(height, 0px);
}

body {
  margin: 0;
}

#anchor1 {
  anchor-name: --a1;
  margin-left: 100px;
}

#target1 {
  position-anchor: --a1;
}

#anchor2 {
  anchor-name: --a2;
  margin-left: 300px;
  margin-top: 100px;
}

#target2 {
  position-anchor: --a2;
}
