
  #anchor {
    width: 100px;
    height: 100px;
    margin-left: 150vw;
    background: orange;
  }

  #target {
    width: 100px;
    height: 100px;
    margin-top: -100px;
    margin-left: calc(150vw - 100px);
    background: green;
  }
