
  #scroll-container {
    overflow: hidden scroll;
    width: 300px;
    height: 100px;
  }
  #anchor {
    width: 100px;
    height: 200px;
    background: orange;
  }
  #target {
    width: 100px;
    height: 100px;
    background: green;
  }
