
  #scroll-container {
    overflow: hidden scroll;
    scrollbar-width: none;
    width: 400px;
    height: 150px;
  }

  .anchor {
    width: 100px;
    height: 100px;
    background: orange;
    display: inline-block;
  }

  .target {
    width: 100px;
    height: 100px;
  }
