
.anchor {
  anchor-name: --foo;
  border: solid orange 20px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
}
.above, .below, .left, .right {
  border: solid blue 3px;
  padding: 2px;
  position: fixed;
  position-anchor: --foo;
}
.above { position-area: top center;    height: 60vh;  margin-left:   20px; }
.below { position-area: bottom center; height: 60vh;  margin-right:  20px; }
.left  { position-area: left center;   width:  60vw;  margin-top:    20px; }
.right { position-area: right center;  width:  60vw;  margin-bottom: 20px; }
