
.clip {
    overflow: hidden;
    border: 2px solid red;
}
.c {
    position: absolute;
    top: 50px;
    width: 100px;
    height: 100px;
    border: 2px solid green;
}
.anchor {
    anchor-name: --foo;
    background: blue;
}
.anchored {
    left: anchor(left);
    top: anchor(bottom);
    position: absolute;
    position-anchor: --foo;
    background: green;
}
