
.anchor {
  width: 100px;
  height: 100px;
  background: orange;
}

.target {
  position: fixed;
  background: lime;
  width: 100px;
  height: 100px;
}

body {
  margin: 0;
  font: 20px/1 Ahem;
}

#anchor1 {
  margin-left: 100px;
}

#target1 {
  left: 100px;
  top: 100px;
}

#anchor2 {
  margin-left: 300px;
  margin-top: 100px;
}

#target2 {
  left: 300px;
  top: 300px;
}
