
  .container {
    position: relative;
    width: 100px;
    height: 120px;
    border: solid;
    margin: 1em;
    float: left;
  }
  .anchor {
    border: solid blue 10px;
    inset: 0;
    place-self: center;
    position: absolute;
  }
  .test {
    border: solid 5px;
    position: absolute;
    width: 0;
    height: 0;
  }
  .inset1 {
    margin-bottom: auto;
    margin-left: auto;
    border-color: orange;
  }
  .inset2 {
    margin-top: auto;
    margin-right: auto;
    border-color: teal;
  }
  .center {
    margin: auto;
    border-color: aqua;
  }
