
  #container {
    position: relative;
    width: 400px;
    height: 150px;
  }

  .anchor {
    width: 100px;
    height: 100px;
    background: orange;
    display: inline-block;
  }

  .target {
    position: absolute;
    position-visibility: no-overflow;
    position-area: block-end;
    width: 100px;
    height: 100px;
    background: red;
    top: 0;
    left: 0;
  }
