
  #anchor::after {
    content: "";
    position: absolute;
    position-anchor: auto;
    width: 100px;
    height: 100px;
    bottom: anchor(top);
    background: green;
  }
  #ref {
    width: 100px;
    height: 100px;
    background: red;
  }
