
    :host {
      display: block;
    }

    ::slotted(*) {
      display: block;
      anchor-name: --anchor;
      padding: 2rem;
      background: red;
      color: white;
      inline-size: fit-content;
    }

    :host::after {
      content: 'target';
      position: absolute;
      position-anchor: --anchor;
      position-area: bottom center;
      background: lightblue;
      padding: 1rem;
    }
    