
.scroller {
  /* Use overflow hidden instead of scroll to mitigate scrollbar differences. */
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: solid 3px;
  padding: 10px;
}

.filler {
  background: orange;
  min-width: 180px;
  min-height: 180px;
}

.translate {
  translate: 50px;
}

.relative {
  position: relative;
  left: 20px;
  top: 40px;
}

.anchor {
  anchor-name: --a;
}

.target {
  position-anchor: --a;
  position: absolute;
  inset: 0;
  place-self: stretch;
}
