
    .anchored {
      position: absolute;
      position-anchor: --a;
      background: green;
    }
    #anchor {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      anchor-name: --a;
      background: green;
    }
    #transformed {
      transform: scale(3);
      transform-origin: top left;
    }
  