
  div {
    width:20px;
    height:10px;
    image-animation:paused;
  }
  #box1 {
    background-image: url("../../images/anim-gr.gif");
  }
  #box2 {
    background-image: url("../../images/anim-gr.png");
  }
