
  .columnGapPx { column-gap: 12px; }
  #columnGapEm { column-gap: 2em; font: 10px/1 Monospace; }
  #columnGapVw { column-gap: 2vw; }
  #columnGapPercent { column-gap: 15%; }
  #columnGapCalc { column-gap: calc(10px + 4px); }
  #columnGapCalcFixedPercent { column-gap: calc(5px + 10%); }
  .columnGapInitial { column-gap: initial; }
  .columnGapInherit { column-gap: inherit; }

  #invalidColumnGapNegative { column-gap: -10px; }
  #invalidColumnGapMaxContent { column-gap: max-content; }
  #invalidColumnGapNone { column-gap: none; }
  #invalidColumnGapMultiple { column-gap: 10px 1px; }
  #invalidColumnGapAngle { column-gap: 3rad; }
  #invalidColumnGapResolution { column-gap: 2dpi; }
  #invalidColumnGapTime { column-gap: 200ms; }
