
  @keyframes column-gap-0-to-100 {
    from { column-gap: 0px; }
    to { column-gap: 100px; }
  }

  #target {
    animation-name: column-gap-0-to-100;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-play-state: paused;
  }
