
  @keyframes column-gap-normal-to-100 {
    from { column-gap: normal; }
    to { column-gap: 100px; }
  }

  #target {
    animation-name: column-gap-normal-to-100;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-play-state: paused;
  }
