
#grid {
  colum-gap: normal;
  row-gap: normal;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;

  position: absolute;
}
#grid * { background: green; }
#red {
  width: 100px;
  height: 100px;
  background: red;
}
