
  @keyframes row-gap-0-to-100 {
    from { row-gap: 0px; }
    to { row-gap: 100px; }
  }

  #target {
    animation-name: row-gap-0-to-100;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: -1s;
    animation-play-state: paused;
  }
