
@font-face {
  font-family: test;
  /* Version of Inter subset with OpenType tables stripped,
     so the browser's synthetic styling should take effect. */
  src: url(resources/Inter.no-var.subset.ttf);
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
.test {
  font: 32px/1.5 test;
}
