
        @keyframes fontStyleAnimation {
            from { font-style: oblique -12deg; }
            to   { font-style: oblique  12deg; }
        }

        #animation-test.animate {
            animation: fontStyleAnimation 1s infinite alternate;
        }

        #transition-test {
            font-style: oblique -12deg;
            transition-property: font-style;
            transition-duration: 10s;
        }

        #transition-test.animate {
            font-style: oblique 12deg;
        }

    