
@font-face {
  font-family: TestWeight;
  src: url(resources/csstest-weights-100-kerned.ttf);
  font-weight: 300 200;
}
@font-face {
  font-family: TestWeight;
  src: url(resources/csstest-weights-900-kerned.ttf);
  font-weight: 300 400;
}
@font-face {
  font-family: TestStyle;
  src: url(resources/csstest-weights-100-kerned.ttf);
  font-style: oblique 30deg 20deg;
}
@font-face {
  font-family: TestStyle;
  src: url(resources/csstest-weights-900-kerned.ttf);
  font-style: oblique 30deg 40deg;
}
@font-face {
  font-family: TestStretch;
  src: url(resources/csstest-weights-100-kerned.ttf);
  font-stretch: 120% 110%;
}
@font-face {
  font-family: TestStretch;
  src: url(resources/csstest-weights-900-kerned.ttf);
  font-stretch: 120% 130%;
}
