
        @keyframes fontWeightAnimation {
            from { font-weight: 100; }
            to   { font-weight: 900; }
        }

        #animation-test.animate {
            animation: fontWeightAnimation 1s infinite alternate;
        }

        #transition-test {
            font-weight: 100;
            transition-property: font-weight;
            transition-duration: 10s;
        }

        #transition-test.animate {
            font-weight: 900;
        }

    