
.ref1, .ref2 { border-left: 1px solid orange; border-right: 1px solid orange; margin-left: 20px; margin-right: 20px; width: 300px; color: orange; font: 25px/1 Ahem; }
.ref1 { border-top: 1px solid orange; margin-top: 20px; text-align: left; }
.ref2 { border-bottom: 1px solid orange; margin-bottom: 20px; text-align: right; }
