



div {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    background: green;
    text-align: center;
    color: green;
    overflow: hidden;
}

