
/* We try various "likely" font names, as well as generics; those not available
   on the platform will simply fall back to a default. */
.outer.a {
  font-family: sans-serif;
}
.outer.b {
  font-family: serif;
}
.outer.c {
  font-family: Bangla MN, serif;
}
.outer.d {
  font-family: Bangla Sangam MN, sans-serif;
}
.outer.e {
  font-family: Nirmala UI, Vrinda, sans-serif;
}
.outer.f {
  font-family: Noto Sans Bengali, sans-serif;
}
.inner {
  position: relative;
  margin: 1em;
  height: 2em;
}
.mask {
  padding: 0.25em;
  color: green;
  background: green;
  position: absolute;
}
span {
  display: inline-block;
}
