
.outer {
  position: relative;
  font: 24px/2 monospace;
}
.box {
  display: inline-block;
  width: 2ch;
  height: 1.75em;
  margin: calc(1ch - 2px);
  border: 2px solid black;
  border-radius: 5px;
}
.test {
  position: absolute;
  top: .5em;
  left: 1.5ch;
}
