
.grid {
    display: grid;
    background: gray;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 400px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
