
.test {
  --child-expected: ["2"];

  background: red;
  width: 100px;
}

.fixed {
  position: fixed;
  visibility: hidden;
  --child: 1;
}

.inflow {
  visibility: hidden;
  --child: 2;
}

@supports (display: layout(test)) {
  .test {
    background: green;
    display: layout(test);
  }
}
