
.list-div {
  overflow-y: auto;
  height: 100%;
  width: 100px;
  min-height: 100px;
  background: green;
}
#redSquare {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  z-index: -1;
}
