
    .test {
        margin: 20px;
        width: 300px;
        height: 200px;
        box-sizing: border-box;
        border: 50px solid transparent;
        background-clip: border-area;
        background-image: url(../resources/green-100.png);
        background-size: 100px 100px;
        background-position: 15px 20px;
        border-image: url(../resources/stripes-100.png);
    }
