
    #a {
        width: 100px;
        height: 80px;
        border: 20px blue solid;
        border-top-right-radius: 20px;
        background-color: green;
        background-clip: border-box;
    }
    #shield {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 120px;
        top: 5px;
        background-color: black;
    }
