
  .text {
    background-color: blue;
    color: transparent;
    font: 50px/1 monospace;
    background-clip: text;
    height: 200px;
  }
  .prev {
    height: 10px;
  }
  p {
    color: transparent;
  }
