
.parent {
  row-rule-color: blue;
}

.target {
  display: flex;
  width: 20px;
  row-gap: 10px
  height: 100px;
  background-color: black;
  color: orange;
  row-rule-style: solid;
  row-rule-width: 10px;
  row-rule-color: yellow;
}
