
    .parent {
      row-rule-style: solid;
      row-rule-width: 90px;
    }

    .target {
      display: flex;
      row-gap: 10px;
      row-rule: 10px solid black;
      column-rule: 10px solid black;
    }
  