
@font-face {
  font-family: 'high-a-only';
  font-style: normal;
  font-weight: 400;
  src:  url(/fonts/Revalia.woff) format('woff');
  unicode-range: U+0061, U+0020;
}

div {
  font-size: 50px;
  display: inline-block;
  color: transparent;
}

span { background: blue; }

div { font-family: high-a-only }
aside {
  max-width: 300px;
  overflow: hidden;
  white-space: pre;
}
