
@font-face {
  font-family: 'high-a-only';
  font-style: normal;
  font-weight: 400;
  src:  url(/fonts/Revalia.woff) format('woff');
  unicode-range: U+0061;
}

div {
  position: absolute;
  line-height: normal;
  font-size: 100px;
  color: transparent;
  border: solid black 1px;
  font-family: high-a-only;
}
