
  * {
    font-family: monospace;
  }
  .scroller {
    columns: 1;
    overflow: hidden;
    column-fill: auto;
    height: 100px;
    scroll-marker-group: before;
  }
  .scroller::scroll-marker-group {
    float: left;
    width: 2em;
    height: 1.7em;
    overflow: hidden;
  }
  .scroller::column::scroll-marker {
    content: "S";
  }
