
  #scroller {
    overflow: hidden;
    height: 100px;
    width: 100px;
  }
  #scroll-marker-group {
    border: 3px solid black;
    display: flex;
    height: 100px;
    width: 300px;
  }
  .item {
    height: 100px;
    width: 100px;
  }
  .scroll-marker {
    background-color: green;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
