
  .carousel {
    columns: 1;
    block-size: 100px;
    overflow-x: scroll;
    scroll-marker-group: after;

    &::scroll-marker-group {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    &::column::scroll-marker {
      display: block;
      content: "x";
      scroll-snap-align: center;
    }
 }
