
  #scroller {
    overflow: hidden;
    scroll-marker-group: after;
    columns: 1;
    gap: 0;
    height: 100px;
    width: 100px;
    background: red;
  }
  #scroller::scroll-marker-group {
    position: relative;
    top: -200px;
    display: block;
    height: 300px;
  }
  #scroller::column::scroll-marker {
    display: block;
    height: 100px;
    content: "";
    width: 100px;
  }
  #scroller::column::scroll-marker:target-current {
    display: flex;
    background: green;
  }
  .item {
    height: 100px;
    width: 100px;
  }
