
#scroller {
  overflow: hidden;
  scroll-marker-group: before;
  columns: 1;
  gap: 0;
  height: 100px;
  width: 100px;
}
  #scroller::scroll-marker-group {
    display: flex;
    width: 100px;
    height: 100px;
    background: red;
  }
  #scroller::column::scroll-marker {
    width: 20px;
    height: 100px;
    content: "";
  }
  #scroller.extra::column::scroll-marker {
    display: flex;
    background: green;
  }
