
  html {
    overflow: auto;
    scroll-marker-group: before;
  }
  html::scroll-marker-group {
    width: 100px;
    height: 100px;
  }
  html::scroll-button(left) {
    content: "";
    width: 100px;
    height: 100px;
  }
