
  body {
    margin: 0;
  }

  #scroll-marker-group {
    border: 3px solid black;
    padding: 5px;
    height: 20px;
    display: block;
    position: fixed;
    top: 0;
  }

  .item {
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    background: green;
  }

  #first {
    margin-top: 40px;
  }

  .scroll-marker {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 100%;
    display: inline-block;
  }
