
  * {
    font-family: monospace;
  }

  .scroller {
    overflow: hidden;
    scroll-marker-group: before;
  }

  .scroller::scroll-marker-group {
    display: block;
    height: 2em;
    overflow: hidden;
  }

  .scroller>*::scroll-marker {
    content: attr(text);
  }
