
  .container {
    scroll-marker-group: before;
    overflow: hidden;
  }

  .container::scroll-marker-group {
    display: flex;
    height: 100px;
  }

  .marker::scroll-marker {
    display: block;
    width: 20px;
    height: 100px;
    content: "";
    background: green;
  }

  .contain_abs {
    position: relative;
  }

  .contain_all {
    contain: layout;
  }

  .uncontained::scroll-marker {
    z-index: 100;
    content: "ERROR";
    background: red;
  }
