
  #scroller {
    width: 600px;
    height: 300px;
    overflow: scroll;
    scroll-marker-group: before;
  }

  #scroller div {
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    background: green;
  }

  #scroller::scroll-marker-group {
    border: 3px solid black;
    padding: 5px;
    display: block;
    height: 40px;
  }

  #scroller div::scroll-marker {
    content: "";
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 100%;
    display: inline-block;
  }

  #scroller #first::scroll-marker {
    background-color: purple;
    margin-right: 4px;
  }
