
  body {
    margin: 0;
  }

  #scroller {
    background: red;
    width: 600px;
    height: 300px;
    overflow: auto;
    scroll-marker-group: before;
    white-space: nowrap;
  }

  #scroller:focus-within {
    background: green;
  }

  #scroller div {
    background: green;
    display: inline-block;
    width: 600px;
    height: 270px;
  }

  #scroller div:focus-within {
    background: red;
  }

  #scroller::scroll-marker-group {
    background: red;
    display: flex;
    height: 20px;
    width: 40px;
  }

  #scroller::scroll-marker-group:focus-within {
    background: green;
  }

  #scroller div::scroll-marker {
    content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
  }

  #scroller div::scroll-marker:focus-within {
    background: green;
  }
