
  #sc {
    z-index: 1;
    overflow: hidden;
    scroll-marker-group: before;
    margin-left: -100px;
    width: 100px;
    height: 100px;
    background: red;
  }
  #sc::scroll-marker-group {
    z-index: 2;
    width: 100px;
    height: 100px;
    background: green;
  }
