
  * {
    padding: 0;
    margin: 0;
  }

  #scroller {
    overflow: scroll;
    scroll-marker-group: before;
    height: 100px;
  }

  #scroller::scroll-marker-group {
    border: 3px solid black;
    display: flex;
    width: 100px;
    height: 20px;
  }

  #scroller div {
    width: 100px;
    height: 100px;
  }

  #scroller div::scroll-marker {
    content: "";
    background-color: red;
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  #scroller div::scroll-marker:target-current {
    background-color: green;
  }

  #scroller div::scroll-marker:focus {
    opacity: 0.5;
  }
