
  #container {
    columns: 1;
    width: 500px;
    overflow: auto;
    scroll-marker-group: after;
  }

  #container::scroll-marker-group {
    display: block;
  }

  #container::column::scroll-marker {
    content: ' ';
  }
