
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: 30px 40px 50px 30px;
    padding: 10px;
    grid-auto-flow: dense;
    grid-lanes-pack: dense;
}
