
html,body {
    font:15px/1 monospace;
}
.grid-lanes {
    display: grid-lanes;
    flow-tolerance: 0;
    grid-template-columns: repeat(3, 50px);
    grid-auto-flow: dense;
    grid-lanes-pack: dense;
}
