
    .container {
        display: grid;
        grid-template-rows: repeat(4, 100px);
        grid-template-columns: 1fr;
        row-gap: 10px;
        width: 500px;
        margin-left: 100px;
        border: solid 2px blue;
        font-family: Ahem;
        font-size: 10px;
    }
    .row {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 10px;
    }
  