
      .div1
      {
        width: 109px;
        height: 100px;
        background: lightgreen;
        border-top-right-radius: 10px;
        clip-path: polygon(0 0, 109px 0px, 109px 100px, 100px 100px);
      }
      .div2
      {
        position: relative;
        top: -100px;
        width: 109px;
        height: 200px;
        background: black;
        border-bottom-left-radius: 10px;
        clip-path: polygon(0 0, 0px 200px, 100px 200px, 100px 100px);
      }
  