
body {
  --scale: 1;
}
.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  font-size: calc(1rem * var(--scale));
}
.spacing {
  border-collapse: separate;
  border-spacing: calc(17px * var(--scale)) calc(11px * var(--scale));
}
.zoom {
  --scale: 2;
}
