
body {
  --scale: 1;
  --shadowScaleOffsetX: 1;
  --shadowScaleOffsetY: 1;
  --shadowScaleBlurRadius: 1;
}
div {
  font-size: calc(1rem * var(--scale));
  box-shadow: calc(5px * var(--shadowScaleOffsetX)) calc(5px * var(--shadowScaleOffsetY)) calc(2px * var(--shadowScaleBlurRadius)) black;
}
.zoomFont {
  --scale: 2;
}
.zoomShadow {
  --shadowScaleOffsetX: 2;
  --shadowScaleOffsetY: 2;
  --shadowScaleBlurRadius: 2;
}
