
.group {
  display: inline-block;
  border: solid black 1px;
  padding: 10px;
}

#container {
  display: inline-block;
  width: 200px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 40px 0;
  margin: auto;
  scroll-snap-type: y mandatory;
}

.buffer {
  scroll-snap-align: start;
  background-color: lightblue;
  height: 300px;
  width: 200px;
}

.target {
  scroll-snap-align: start;
  background-color: black;
  height: 10px;
  width: 200px;
}
.target-zoomed {
  scroll-snap-align: start;
  background-color: black;
  height: 20px;
  width: 400px;
}
