
        /* Positioned container allows for the self-describing statement to still
           be visible in the case of failure */
        .container {
            position: relative;
            background: red;
            margin: 1em 0;
            border: 1px solid black;
        }
        span ~ span {
            margin: 2em 1em 1em;
        }
        span {
            display: block;
            background: green;
            color: white;
            margin: 1em;
            width: 8em;
        }
    