
        .container {
            position: relative;

            width: 200px;
            height: 200px;
        }

        .item
        {
            position: absolute;

            width: 100px;
            height:100px;
        }

        .item.one
        {
            top: 0;
            right: 0;

            background: red;
        }
        .item.two
        {
            top: 100px;
            right: 0;

            background: yellow;
        }
        .item.three
        {
            top: 0;
            right: 100px;

            background: green;
        }
        .item.four
        {
            top: 100px;
            right: 100px;

            background: blue;
        }
    