
        .container {
	position: relative;
	background: red;
	margin: 1em 0;
	border: 1px solid black;
	text-align: right;
        }
	span {
	display: inline-block;
	background: green;
	color: white;
	margin: 1em;
	width: 8em;
	text-align: left;
	}
    