
            .flex {
                width: 200px;
                height: 200px;
            }

            .flex > * {
                background: green;
                height: 100px;
                width: 200px;
                overflow: scroll;
            }
        