
    :root {
      scroll-snap-type: y mandatory;
    }
    #scroller {
      height: 400px;
      width: 400px;
      position: relative;
      overflow: scroll;
      scroll-snap-type: y mandatory;
      border: solid 1px black;
    }

    .box {
      position: absolute;
      left: 150px;
      height: 80vh;
      width: 100px;
      border: solid 1px white;
    }

    .snap {
      scroll-snap-align: start;
    }

    .blue {
      background-color: blue;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color: yellow;
    }

    #snap_area_1 {
      top: 0px;
    }

    #snap_area_2 {
      top: calc(80vh + 2px); /* height of snap_area_1 + its borders. */
    }

    #snap_area_3 {
      top: calc(160vh + 4px); /* heights of snap areas 1 & 2 + their borders */
    }

    .large_space {
      height: 400vh;
      width: 400vw;
      position: absolute;
    }
  