

div { font-size: 50px; display: inline-block; color: transparent; }

span { background: blue; }

div { line-height: 200px; }
div:nth-of-type(2) { line-height: 30px; }
div:nth-of-type(3) { line-height: normal; }
