
.gridFlexContent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}
.gridMaxFlexContent {
    grid-template-columns: minmax(30px, 2fr);
    grid-template-rows: 50px;
}
.gridTwoMaxFlexContent {
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr);
    grid-template-rows: 50px;
}
.gridTwoDoubleMaxFlexContent {
    grid-template-columns: minmax(10px, 0.5fr) minmax(10px, 2fr);
    grid-template-rows: 50px;
}
.gridIgnoreSecondGridItem {
    grid-template-columns: minmax(300px, 3fr) minmax(150px, 1fr);
    grid-template-rows: 50px;
}
.gridRespectBaseSize {
    grid-template-columns: minmax(75px, 1fr) minmax(0px, 2fr);
    grid-template-rows: 50px;
}
.gridRespectProportions {
    grid-template-columns: minmax(0px, .25fr) minmax(0px, .5fr) minmax(0px, 2fr);
    grid-template-rows: 50px;
}
.gridRespectBaseSizeProportions {
    grid-template-columns: minmax(50px, .25fr) minmax(0px, .5fr) minmax(0px, 1fr);
    grid-template-rows: 50px;
}
.gridRespectBaseSizeBeforeProportions {
    grid-template-columns: minmax(50px, .25fr) minmax(0px, .5fr) minmax(0px, 1fr);
    grid-template-rows: 50px;
}
.firstRowThirdColumn {
    background-color: yellow;
    grid-column: 3;
    grid-row: 1;
}
