
.gridMaxMaxContent {
    grid-template-columns: 50px;
    grid-template-rows: minmax(10px, max-content) minmax(10px, 1fr);
}

.gridMinMinContent {
    grid-template-columns: 50px;
    grid-template-rows: minmax(10px, 1fr) minmax(min-content, 50px);
}

.gridWithIntrinsicSizeBiggerThanFlex {
    grid-template-columns: 50px;
    grid-template-rows: minmax(min-content, 0.5fr) minmax(18px, 2fr);
}

.gridShrinkBelowItemsIntrinsicSize {
    grid-template-columns: 50px;
    grid-template-rows: minmax(0px, 1fr) minmax(0px, 2fr);
}

.gridWithNonFlexingItems {
    grid-template-columns: 50px;
    grid-template-rows: 40px minmax(min-content, 1fr) auto minmax(20px, 2fr);
}

.thirdRowFirstColumn {
    grid-column: 1;
    grid-row: 3;
}
.fourthRowFirstColumn {
    grid-column: 1;
    grid-row: 4;
}
