
.gridMaxMaxContent {
    grid-template-columns: minmax(10px, max-content) minmax(10px, 1fr);
    grid-template-rows: 50px;
}

.gridMinMinContent {
    grid-template-columns: minmax(10px, 1fr) minmax(min-content, 50px);
    grid-template-rows: 50px;
}

.gridWithIntrinsicSizeBiggerThanFlex {
    grid-template-columns: minmax(min-content, 0.5fr) minmax(18px, 2fr);
    grid-template-rows: 50px;
}

.gridShrinkBelowItemsIntrinsicSize {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 2fr);
    grid-template-rows: 50px;
}

.gridWithNonFlexingItems {
    grid-template-columns: 40px minmax(min-content, 1fr) auto minmax(20px, 2fr);
    grid-template-rows: 50px;
}

.firstRowThirdColumn {
    grid-column: 3;
    grid-row: 1;
}
.firstRowFourthColumn {
    grid-column: 4;
    grid-row: 1;
}
