
.wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.grid {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    grid: repeat(auto-fill, 20px) / repeat(auto-fill, 25px);
    justify-content: start;
    align-content: start;
}

.item {
    background: green;
}
