

.grid-container {
  height: 30px;
  width: 300px;
  border-bottom: 2px solid #cfbfcf;
}

.grid-container > * { float: left; height: 30px; }
.grid-container > :nth-child(2n) {  background: sienna; }
.grid-container > :nth-child(2n + 1) {  background: orange; }

