
.grid {
    border: 2px solid black;
    position: relative;
    min-width: 30px;

    grid-auto-columns: 20px;

    padding-top: 10px;
    margin-bottom: 10px;
}

.abs { height: 5px; position: absolute; width: 100%; }

