
.grid {
  display: grid;
  width: 100px;
  background: red;
}
.item {
  grid-row: 2 / span 1;
  background: green;
  width: 100px;
  height: 100px;
  position: relative;
  top: -32px; /* To move this item up to cover the first row */
}
