
.grid {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.gridItem {
    width: 20px;
    height: 40px;
}

.marginTop {
    margin-top: 20px;
}

.marginBottom {
    margin-bottom: 20px;
}

.borderTop {
    border-top: 5px solid;
}

.borderBottom {
    border-bottom: 5px solid;
}

.paddingTop {
    padding-top: 10px;
}

.paddingBottom {
    padding-bottom: 10px;
}
