
.wrapper {
    position: relative;
    clear: both;
}

.grid {
    font: 10px/1 Ahem;
    width: fit-content;
}

.abspos {
    position: absolute;
}

.fixedSize {
    width: 200px;
    height: 200px;
}

.oneRow100 {
    grid-template-rows: 100%;
}

.oneRow50 {
    grid-template-rows: 50%;
}

.twoRows {
    grid-template-rows: 100px 50%;
}
