
    body { overflow: hidden; }
    .flexbox {
        display: flex;
        flex-flow: column wrap;
        align-content: stretch;
        width: 100px;
        height: 100px;
        background: red;
    }
    .grid {
        display: grid;
    }
    .gridItem {
        background: green;
        height: 100px;
        writing-mode: vertical-lr;
    }
