
    body { overflow: hidden; }
    .flexbox {
        display: flex;
        flex-flow: column nowrap;
        width: 100px;
        height: 100px;
        background: red;
    }
    .grid {
        display: grid;
        justify-self: start;
        align-items: baseline;
    }
    .gridItem {
        background: green;
        width: 100%;
        height: 100px;
    }
