
.grid {
  display: inline-grid;
  background: grey;
  grid-template-columns: 100px;
  font: 20px/1 Ahem;
  width: 200px;
}
.item1 {
  background: green;
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  background: blue;
  grid-column: 1;
  grid-row: 2;
}
