
.wrapper {
    position: relative;
    clear: both;
}

.grid {
    font: 10px/1 Ahem;
}

.float {
    float: left;
}

.abspos {
    position: absolute;
}

.fixedSize {
    width: 200px;
    height: 200px;
}

.oneColumn100 {
    grid-template-columns: 100%;
}

.oneColumn50 {
    grid-template-columns: 50%;
}

.twoColumns {
    grid-template-columns: 50% 100px;
}
