
.grid {
  display: inline-grid;
  background: grey;
  grid-template-columns: 50%;
  font: 20px/1 Ahem;
}

.item1 {
  background: green;
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  background: blue;
  grid-column: 2;
  grid-row: 1;
}
