
.parent {
  mask-border-width: 100px;
}
.target {
  width: 80px;
  height: 80px;
  background-color: black;
  display: inline-block;
  border: 10px;
  mask-border-source: linear-gradient(45deg, red, blue, green);
  mask-border-width: 10px;
}
.expected {
  background-color: green;
  margin-right: 2px;
}
