
      body {
        margin: 0;
        padding: 0;
      }
      #caseTitle {
        margin: 10px;
        height: 40px;
      }
      #grid {
        width: 450px;
        position: relative;
      }
      .a {
        background: blue;
        width: 100px;
        float:left
      }
      .b {
        background: yellow;
        width: 100px;
        float:left
      }
      .c {
        background: orange;
        width: 100px;
        float:left
      }
      .d {
        background: cyan;
        width: 100px;
        float:left
      }
      .e {
        background: pink;
        width: 50px;
        float:left
      }
    