
  #grid {
      display: grid;
      position: relative;
      background: grey;
      grid-template-columns: 100px;
      grid-template-rows: 40% 60%;
      height: 50vh;
      width: auto;
      align-items: center;
  }
  #item1 {
      font: 20px/1 Ahem;
      color: green;
  }
  #item2 {
      font: 40px/1 Ahem;
      color: blue;
  }
