
         #grid {
             position: relative;
         }
         .position {
             position: absolute;
             top: 0;
             left: 0;
         }
         #first-column-first-row {
             width: 30px;
             height: 30px;
             background-color: purple;
         }
         #third-column-first-and-second-rows {
             left: 60px;
             width: 30px;
             height: 60px;
             background-color: orange
         }
         #first-and-second-columns-second-row {
             top: 30px;
             width: 60px;
             height: 30px;
             background-color: blue;
         }
        