
.grid {
  display: block;
  background-color: grey;
  overflow: scroll;
}
.inline-grid {
  display: inline-block;
  background-color: grey;
  overflow: scroll;
}
.gridItem {
  display: block;
  width: 100px;
  height: 100px;
  background: green;
}
.fit-content {
  width: fit-content;
}
