

@import "support/grid-lanes-intrinsic-sizing-visual.css";

grid {
  display: inline-grid;
  gap: 1px 2px;
  border: 1px solid;
  padding: 0 1px 0 2px;
  vertical-align: top;
  align-items: start;
  width: max-content;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

item {
  align-self: start;
}

.hidden {
  visibility: hidden;
  height: 0;
}
