

@import "support/grid-lanes-intrinsic-sizing-visual.css";

grid {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: 1ch 1ch;
  grid-template-rows: repeat(4,100px);
  border: 1px solid;
  padding: 0 1px 0 2px;
  vertical-align: top;
}

item {
    background-color: blue;
    width: auto;
}

