
.grid-lanes {
    display: grid-lanes;
    background: gray;
    position: relative;
    flow-tolerance: 0;
    grid-template-rows: auto auto auto;
    width: 300px;
    height: 100px;
    padding: 10px;
}

.first-track {
    background: lightskyblue;
    grid-row-start: 1;
}

.second-track {
    background: lightcoral;
    grid-row-start: 2;
}

.third-track {
    background: lightgreen;
    grid-row-start: 3;
}

.square-100x100 {
    width: 100px;
    height: 100px;
}
