
    .sample {
        direction: rtl;
        font-family: Ahem;
        font-size: 20px;
        line-height: 24px;
        width: 230px;
    }

    .float {
        background: cyan;
        clear: none;
        float: right;
        height: 50px;
        width: 50px;
    }

    .mc {
        columns: 2;
        direction: rtl;
        height: 500px;
        writing-mode: horizontal-tb;
    }

    .fake-initial-letter {
        background: lime;
        float: right;
        height: 80px;
        margin-top: 2px;
        width: 80px;
    }
