
    .sample {
        direction: rtl;
        font-family: Ahem;
        font-size: 20px;
        line-height: 24px;
    }

    .fake-initial-letter {
        background: lime;
        float: right;
        height: 80px;
        margin-top: 2px;
        width: 80px;
    }

    .fake-initial-letter-tab {
        background: yellow;
        float: right;
        height: 80px;
        margin-top: 2px;
        width: 160px;
    }
