
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        height: 230px;
        line-height: 24px;
        writing-mode: vertical-lr;
    }

    .fake-initial-letter {
        background: lime;
        float: left;
        height: 80px;
        margin-bottom: 30px;
        margin-left: 11px;
        margin-right: 45px;
        margin-top: 10px;
        width: 80px;
    }
