
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        height: 230px;
        line-height: 24px;
        writing-mode: vertical-rl;
    }

    .float {
        background: cyan;
        clear: none;
        float: left;
        height: 50px;
        width: 50px;
    }

    .mc {
        columns: 2;
        direction: ltr;
        height: 500px;
        writing-mode: vertical-rl;
    }

    .fake-initial-letter {
        background: lime;
        float: left;
        height: 80px;
        margin-right: -4px;
        width: 80px;
    }
