
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        line-height: 24px;
        width: 230px;
    }

    .float {
        background: cyan;
        clear: left;
        float: left;
        height: 50px;
        width: 50px;
    }

    .fake-initial-letter {
        background: lime;
        display: inline-block;
        height: 80px;
        margin-top: 2px;
        width: 80px;
    }

    .surrounding {
        display: inline-block;
        margin-left: -20px;
        vertical-align: top;
    }

    .surrounding2 {
        display: block;
        margin-left: 50px;
        margin-top: 0px;
    }
