
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        height: 230px;
        line-height: 24px;
        writing-mode: sideways-rl;
    }

    .fake-initial-letter {
        background: lime;
        float: left;
        height: 80px;
        margin-right: 2px;
        width: 80px;
    }
