
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        inline-size: 230px;
        line-height: 24px;
        writing-mode: sideways-rl;
    }

    .initial-letter::first-letter {
        initial-letter: 3 2;
        color: lime;
        font-size: 100px;   /* should be ignored in rendering */
        line-height: 50px;  /* should be ignored in rendering */
    }
