
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        height: 230px;
        line-height: 24px;
        writing-mode: sideways-rl;
    }

    .fake-initial-letter {
        background: lime;
        float: left;
        height: 80px;
        margin-block-start: 12px;
        margin-block-end: 30px;
        margin-inline-start: 15px;
        margin-inline-end: 45px;
        width: 80px;
    }
