
    .sample {
        border: solid 1px green;
        font-family: Ahem;
        font-size: 20px;
        inline-size: 230px;
        line-height: 24px;
        writing-mode: sideways-rl;
    }

    .fake-initial-letter {
        background: lime;
        display: inline-block;
        height: 80px;
        margin-left: 8px;
        margin-right: 2px;
        width: 80px;
    }

    .remainder {
        display: inline-block;
        margin-right: 24px;
        margin-top: -20px;
        vertical-align: top;
    }

    .remainder2 {
        display: inline-block;
    }
