
.clamp {
  font: 16px / 32px serif;
  padding: 4px;
  white-space: pre;
  background-color: yellow;
  border: 2px solid black;
}
.inner {
  background-color: skyblue;
  padding: 4px;
  border: 2px solid purple;
}
