
  .clamp {
    display: flow-root;
    background-color: yellow;
    padding: 0.5em;
    font-size: 16px / 32px serif;
    white-space: pre;
  }
  .float {
    float: left;
    background-color: orange;
    padding: 0.5em;
    height: 100px;
    width: 100px;
  }
