
        #test {
            width: 400px;
            color: green;
            font-family: Ahem;
            font-size: 20px;
            line-height: 2em;
        }
        #box {
            float: left;
            width: 120px;
            height: 120px;
            background-color: lightblue;
            border: 40px solid lightblue;
            border-radius: 90px;
            shape-outside: border-box;
        }
    