
    @keyframes anim {
      from {
        grid-template-rows: 20px 1fr;
      }
      to {
        grid-template-rows: 100px 1fr;
      }
    }
    .grid {
      display: grid;
      width: 400px;
      height: 400px;
      grid-gap: 10px;
      animation: anim 10s -5s paused linear;
    }
    span { border: 1px solid; }
  