
body {
  display: grid;
  grid: auto-flow / 100px;
}

.test {
  writing-mode: vertical-rl;
  background: red;
  --expected-block-size: 100;
  width: 100px;
}

.child {
  background: green;
}

@supports (display: layout(test)) {
  .test {
    display: layout(test);
  }
}
