
body {
  display: grid;
  grid: 50px / auto-flow;
}

.test {
  background: red;
  --expected-block-size: 30; /* grid-item should respect the max constraint */
  max-height: 30px;
  width: 100px;
  margin-bottom: 10px;
}

.child {
  background: green;
}

@supports (display: layout(test)) {
  .test {
    display: layout(test);
  }
}
