
body {
  position: relative;
  height: 120px;
}

.test {
  background: red;
  position: absolute;
  top: 0px;
  bottom: 20px;
  --expected-block-size: 100;
}

.child {
  background: green;
}

@supports (display: layout(test)) {
  .test {
    display: layout(test);
  }
}
