
  #grid {
    display: grid;
  }

  #inline-grid {
    display: inline-grid;
  }

  .inline-table {
    display: inline-table;
  }

  .inline {
    display: inline;
  }

  .flex {
    display: flex;
  }

  .float {
    float: left;
  }
