
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  .test-overlapping-green {
    background-color: green;
    width: 50px;
    height: 100px;
  }

  .float {
    float: left;
  }

  .grid {
    display: grid;
  }
