
  .grid {
    display: grid;
    float: left;
    background: lime;
  }

  .grid-columns-minmax-50-100 {
    grid-template-columns: minmax(50px, 100px);
  }

  .grid-columns-minmax-100-200 {
    grid-template-columns: minmax(100px, 200px);
  }

  .grid-rows-minmax-50-100 {
    grid-template-rows: minmax(50px, 100px);
  }

  .min-content {
    width: min-content;
    height: min-content;
  }

  .max-content {
    width: max-content;
    height: max-content;
  }
