
.minHeightGrid {
    min-height: 100px;
    grid-template-columns: 40px;
    grid-template-rows: 50px;
}
.maxHeightGrid {
    max-height: 100px;
    grid-template-columns: 40px;
    grid-template-rows: 150px 50px;
}

.minHeightAutoGrid {
    min-height: 100px;
}

.maxHeightAutoGrid {
    max-height: 100px;
}
