
      #back {
        height: 100px;
        width: 100px;
        position: fixed;
        background: green;
        margin-top: 50px;
      }
      @keyframes scale {
        from, to { scale: 1; }
      }
      #test {
        width: 100px;
        height: 100px;
        background: blue;
        animation: scale 100s 100s;
      }
    