
svg {
  background-color: red;
}
rect {
  transform-box: fill-box;
}
#target1 {
  rotate: 90deg;
}
#target2 {
  translate: 50% -50%;
}
#target3 {
  transform-origin: 25% 25%;
  translate: 25% 25%;
  rotate: 180deg;
}
#target4 {
  transform-origin: 75px 75px;
  translate: 25% 25%;
  rotate: -180deg;
}
