
  div { width: 160px; box-sizing: border-box; }

  .annotation-test ruby { line-height: 0; }
  .annotation-test rt { font-size: 100%; }
  .annotation-test rb { font-size: 0; }
  .annotation-test rt > div { width: 160px; box-sizing: border-box; }
