
.r { display: ruby; }
.rbc { display: ruby-base-container; }
.rb { display: ruby-base; }
.rtc { display: ruby-text-container; }
.rt { display: ruby-text; }

.r { font: 50px/1 monospace; }

.rb { background: pink; }
.rt { background: orange; }
