
  ruby { line-height: 0; }
  rt > div { width: 160px; }

  .annotation-test ruby { line-height: 0; }
  .annotation-test rt { font-size: 100%; }
  .annotation-test rb { font-size: 0; }
  .annotation-test rb > div { width: 160px; }
