
    body {
      /* Use a sans-serif font to avoid fuzzy pixels where e.g. the
         letter "a" bottom-right serif might overlap the table border: */
      font: 16px sans-serif;
    }
    .block, table, .flex {
      background-color: yellow;
      width: 100px; height: 30px;
      border: 1px solid blue;
    }
    .block { display: block; }
    table { border-collapse: collapse; }
    td { border: 3px solid red; }
    .flex { display: flex; }
    .flex-item { flex: auto; }
  