
.block {
  display: block;
  width: 75%;
  height: 50%;
  border: 5px dotted blue;
}

.container {
  border: 1px solid;
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
}

.abs {
  width: 50px;
  height: 50px;
  position: absolute;
  background: purple;
}

.static-positioned-inline {
  left: auto;
  right: auto;
}

.static-positioned-block {
  top: auto;
  bottom: auto;
}

.positioned-inline {
  left: 0;
  right: 0;
}

.positioned-block {
  top: 0;
  bottom: 0;
}

.center {
  justify-self: center;
  align-self: center;
}

.end {
  justify-self: end;
  align-self: end;
}

.start {
  justify-self: start;
  align-self: start;
}

.vertRL {
  writing-mode: vertical-rl;
}

.vertLR {
  writing-mode: vertical-lr;
}
