
body {
  margin: 0;
}

.container {
  writing-mode: vertical-rl;
  direction: rtl;
  display: inline-block;
  position: relative;
  margin: 20px;
  border: solid 4px;
  width: 100px;
  height: 100px;
}

.item {
  writing-mode: horizontal-tb;
  direction: ltr;
  position: absolute;
  background: green;
  align-self: center;
}

.inner {
  width: 20px;
  height: 20px;
}

.rtl {
  direction: rtl;
}
