
.container {
  width: 25px;
  height: 25px;
  border: 1px solid;
  position: relative;
  display: inline-block;
}

.abs {
  position: absolute;
  align-self: stretch;
  justify-self: stretch;
  background: purple;
}

.w {
  width: 10px;
}

.h {
  height: 10px;
}
