
  @font-face {
    font-family: TestFont;
    src: url("/fonts/math/mathvariant-italic.woff");
  }
  body > span {
    padding: 10px;
  }
  span > span {
    font-family: monospace;
    font-size: 10px;
  }
  .testfont {
    font-family: TestFont;
    font-size: 10px;
  }
