
.item {
    box-sizing: border-box;
    border: 20px solid blue;
}

.horizontal {
    aspect-ratio: 2 / 1;
}

.vertical {
    aspect-ratio: 1 / 2;
}

.non-replaced {
    background: green;
    /* Break the items apart to make them individually distinguishable */
    margin-bottom: 10px;
}
