
.grid {
  display: grid;
  aspect-ratio: 1/1;
  align-items: center;
  position: relative;
}
.item {
  width: 100px;
  height: 50px;
  background-color: green;
}
.abspos {
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: green;
  align-self: start;
  z-index: -1;
}
