
    #parent {
      color: white;
      background-color:
          color-mix(in srgb,
                    color-mix(in srgb, black, currentColor),
                    black);
      height: 200px;
      width: 200px;
    }
    #child {
      background-color: inherit;
      transition: background-color;
      height: 100px;
      width: 100px;
    }
