
.parent {
  box-shadow: 30px 10px 30px 10px black;
}
.target {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 3px;
  border: 2px solid;
  margin-right: 20px;
  margin-bottom: 30px;
  color: green;
  box-shadow: 10px 30px 10px 30px black;
}
.expected {
  margin-right: 40px;
}
