
.test {
  display: block;
  overflow: hidden;
  width: 300px;
}
.inline {
  display: inline;
}
.float, .clear {
  display: block;
  overflow: hidden;
  height: 3px;
  width: 100px;
  background: #f0f;
}
.clear {
  background: #0ff;
}
