
html { writing-mode: vertical-rl; }
body > div { height: 15em; width: 10em; margin: 1em; padding: 2px; border: 1px solid silver; }
div > div { margin: .5em; padding: .5em; background: yellow; }
.a { clear: left; }
.b { clear: right; }
.fl { float: left; width: 4em; }
.fr { float: right; width: 2em; }
.fl2 { float: left; width: 2em; }
.fr4 { float: right; width: 4em; }
.ltr { direction: ltr; }
.rtl { direction: rtl; }
