
html { writing-mode: vertical-rl; }
body > div { height: 20em; margin: 1em; padding: 2px; border: 1px solid silver; }
div > div { margin: .5em; padding: .5em; background: yellow; }
.left { float: left; }
.right { float: right; }
.ltr { direction: ltr; }
.rtl { direction: rtl; }
