
body > div { width: 15em; height: 10em; margin: 1em; padding: 2px; border: 1px solid silver; }
div > div { margin: .5em; padding: .5em; background: yellow; }
.a { clear: left; }
.b { clear: right; }
.fl { float: left; height: 4em; }
.fr { float: right; height: 2em; }
.fl2 { float: left; height: 2em; }
.fr4 { float: right; height: 4em; }
.ltr { direction: ltr; }
.rtl { direction: rtl; }
