

#container {
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
}

textarea {
  /* twice the height of the container so that the container is scrollable */
  height: 600px;
  width: 300px;
  padding: 0px;
  border: none;
  /* This textarea has visible 10 lines in the scroll container */
  font-size: 30px;
  line-height: 30px;
}

