

body { height: 2000px; overflow-anchor: none; }
#scroller { overflow: scroll; width: 500px; height: 300px; }
.anchor {
  position:relative; height: 100px; width: 150px;
  background-color: #afa; border: 1px solid gray;
}
#forceScrolling { height: 500px; background-color: #fcc; }

