
#outer {
  width: 200px;
  height: 200px;
  padding: 40px;
  border: 10px dashed;
  overflow: hidden;
  background: green local padding-box;
}
#outer div {
  height: 500px;
}
p {
  margin-top: 20px;
}
