
#outer {
  border: solid;
  /* With scrolling, effective position is -10px -10px */
  background: url(aqua-yellow-32x32.png) local no-repeat 0 0;
  overflow: hidden;
  width: 200px;
  height: 300px;
}
div div {
  width: 250px;
  height: 370px;
}
p {
  margin: 0;
  padding-top: 100px;
}
