
  div
    {
      background-color: lime;
      border: black solid 3px;
      font-family: monospace;
      font-size: 60px;
      line-height: 1.5em; /* computes to 90px */
      hanging-punctuation: allow-end;
      width: 240px;
    }
  