
  @import "/fonts/ahem.css";
  .contain {
    font: 20px/1 Ahem;
    border: solid blue;
    margin: 1em;
    float: left; }
  .ls0 {
    letter-spacing: 0;
  }
  .ls1 {
    letter-spacing: 1em;
  }
  .ls3 {
    letter-spacing: 3em;
  }
  .control p {
    white-space: pre;
  }
  p {
    letter-spacing: 0;
    margin: 0;
    word-break: break-all;
    float: left;
    clear: left;
    border-right: solid orange 1em;
    background: yellow;
  }
  .squash {
    width: 0;
  }
