
  @import "/fonts/ahem.css";
  .contain {
    font: 20px/1 Ahem;
    border: solid blue;
    margin: 1em;
    float: left; }
  .ls1 {
    letter-spacing: 1em;
  }
  .block, .table, .flex, .grid {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: orange;
  }
  .table {
    display: inline-table;
  }
  .flex {
    display: inline-flex;
  }
  .grid {
    display: inline-grid;
  }
  .control p {
    white-space: pre-wrap;
  }
  p {
    letter-spacing: 0;
    margin: 0;
  }
  span:not([class]) {
    padding-top: 1em;
  }
