
  @import "/fonts/ahem.css";
  .contain {
    /* Setup Boxes */
    font: 20px/1 Ahem;
    width: 5em;
    border: solid blue;
    margin: 1em;
    float: left;
  }
  span, .test {
    letter-spacing: 1em;
  }
  p {
    white-space: pre-wrap;
    margin: 0;
  }
