
    #container {
        position: relative;
    }
    #cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
    }
    @supports (writing-mode: vertical-lr) {
        #cover {
            background-color: Canvas;
        }
    }
    input {
        appearance: none;
        writing-mode: vertical-lr;
    }
