
  .multi-col {
    position: relative;
    columns: 3;
    column-fill: auto;
    width: 100px;
    height: 100px;
    background: green;
    column-gap: 0px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 90px);
    row-gap: 15px;
    column-gap: 15px;
  }
  .subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, 50px);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    column-rule: green solid 15px;
    row-gap: 75px;
    row-rule: yellow solid 75px;
    background: red;
  }
  .subgrid-item {
    background: green;
  }
  .abspos {
    background: green;
    position: absolute;
    height: 50px;
    top: 50px;
  }
