
p {
    counter-reset: -- --a -a;
    --dash:-;
}

#test_1 span::before {
    counter-increment: var(--dash)-;
    content: counter(--);
}
#test_2 span::before {
    counter-increment: var(--dash)-a;
    content: counter(--a);
}
#test_3 span::before {
    counter-increment: var(--dash)a;
    content: counter(-a);
}

#control_1 span::before {
    counter-increment: --;
    content: counter(--);
}
#control_2 span::before {
    counter-increment: --a;
    content: counter(--a);
}
#control_3 span::before {
    counter-increment: -a;
    content: counter(-a);
}
