
    div {
        min-height: 10px;
        margin-bottom: 10px;
    }

    .color { color: green; }
    .background_color { background-color: green; }
    .border { border: medium solid green; }
    .outline { outline: medium solid green; }
    .text_decoration { text-decoration: solid underline green; }
    .column_rule { columns: 2; column-rule: medium solid green; }
    .stroke { stroke: green; fill: white; }
    .fill { fill: green; }
