
  :root {
    scroll-snap-type: block mandatory;
  }
  body {
    margin: 0;
  }
  #filler-before {
    height: 200px;
  }
  #filler-after {
    height: 10000px;
  }
  #snapped {
    writing-mode: vertical-lr;
    container-name: initially-snapped;
    container-type: scroll-state;
    scroll-snap-align: start;
    width: 100px;
    height: 100px;
    background: teal;
  }

  @container initially-snapped scroll-state(snapped: block) {
    span { --snapped-logical: block }
  }
  @container initially-snapped scroll-state(snapped: inline) {
    span { --snapped-logical: inline }
  }
  @container initially-snapped scroll-state(snapped: x) {
    span { --snapped-physical: x }
  }
  @container initially-snapped scroll-state(snapped: y) {
    span { --snapped-physical: y }
  }
