
html {
  overflow: scroll;
}

body {
  container-type: scroll-state;
  overflow-y: scroll;
}

body {
  height: 300px;
}

div {
  height: 1000px;
  --y: no;
}

@container scroll-state(scrolled: y) {
  div {
    --y: yes;
  }
}
