
  html { scroll-snap-type: block mandatory; }
  body { margin: 0; }
  #filler { height: 10000px; }
  .snapped {
    container-type: scroll-state;
    scroll-snap-align: start;
    width: 100px;
    height: 100px;
  }
  @container scroll-state(snapped: block) {
    span { --snapped: true; }
  }
