
  #filler {
    height: 10000px;
  }
  #stuck {
    container-name: initially-stuck;
    container-type: scroll-state;
    position: sticky;
    bottom: 0;
  }

  span {
    --stuck: no;
    @container initially-stuck scroll-state(stuck: bottom) {
      --stuck: yes;
    }
  }
