
.grid {
  display: grid;
  grid: 50px 50px / 50px 50px;
  position: relative;
}

.green {
  background: green;
}

.red {
  background: red;
}

#item {
  position: absolute;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
