
.container {
  width: 250px;
}
.grid {
  position: relative;
  grid: 10px / repeat(auto-fit, 30px) 50px;
  grid-gap: 5px;
}
span {
  background: blue;
}
.abs {
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  background: pink;
}
