

.grid {
  grid-template-columns: 100px 200px;
  grid-template-rows: 50px 150px;
  width: 500px;
  height: 300px;
  border: 5px solid black;
  margin: 30px;
  padding: 15px;
  /* Ensures that the grid container is the containing block of the absolutely positioned grid children. */
  position: relative;
}

.absolute {
  position: absolute;
}

.startUnknownLine {
  background-color: blue;
  grid-column: foo / 3;
  grid-row: bar / 3;
}

.endUnknownLine {
  background-color: orange;
  grid-column: 1 / foo;
  grid-row: 1 / bar;
}

.startAndEndUnknownLines {
  background-color: green;
  grid-column: foo / bar;
  grid-row: foo / bar;
}

