
  #grid {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
  }

  #grid > div {
    background-color: green;
  }

  #abspos {
    position: absolute;
    margin-top: auto;
    margin-left: auto;
    width: 50%;
    height: 50%;
  }
