
    table {
      border-spacing: 0; width:200px;}
    tr {
      top: 0; position: sticky;
    }
    td {
      border: 1px solid black;
      width: 100px;
      height: 20px;
    }
    div::-webkit-scrollbar {
      display: none;
    }
    div {
      height:100px;
      overflow:auto;
    }
  