
#scroll {
  width: 100px;
  height: 100px;
  overflow: auto;
  background: green;
}
.sticky {
  position: sticky;
  width: 50px;
  height: 100px;
  top: 0;
  margin-bottom: -100px;
}
#sibling {
  width: 50px;
  height: 500px;
  background: red;
}
