
.scroller {
  overflow: scroll;
  width: 350px;
  height: 100px;
  margin-bottom: 15px;
}

.flex-container {
  width: 600px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.green {
  background-color: green;
}

.flex-item {
  height: 85px;
  width: 100px;
  display: flex;
}
