
#flex-scroller {
  overflow: hidden;
  inline-size: 100px;
  block-size: 100px;
  display: flex;
  flex-direction: column;
  background-color: green;
}

#non-sticky {
  flex: 0 0 80px;
  background-color: red;
}

#sticky {
  position: sticky;
  flex: 0 0 100px;
  bottom: 0;
}
