
.group {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 250px;
}

.scroller {
  position: relative;
  width: 130px;
  height: 200px;
  overflow: hidden;
  font: 30px/1 Ahem;
}

.contents {
  height: 500px;
  width: 200px;
}

.indicator {
  position: absolute;
  color: red;
}

.sticky {
  display: inline;
  color: green;
  position: sticky;
  top: 50px;
}
