
  html, body, div
    {
      height: 100%;
      margin: 0;
      width: 100%;
    }

  div#positioned-container
    {
      background-color: red;
      color: yellow;
      font-size: 40vh;
      position: absolute;
    }

  div#sticky
    {
      background-color: green;
      bottom: 0;
      color: white;
      position: sticky;
    }
  