
.box {
  /* Triggers promotion without creating stacking context. */
  backface-visibility: hidden;
  background: green;
  position: sticky;
  top: 200px;
  width: 100px;
  height: 100px;
}

.spacer {
  height: 200vh;
}
