
.scroller {
  width: 100px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.contents {
  height: 700px;
}

table {
  border-collapse: collapse;
}

#child, td, th {
  height: 50px;
  width: 50px;
  padding: 0;
  background: green;
}

.prepadding {
  height: 155px;
}

