
.group {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 250px;
}

.scroller {
  position: relative;
  width: 100px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  font: 25px/1 Ahem;
}

.contents {
  height: 500px;
}

.prepadding {
  height: 100px;
}

.container {
  height: 200px;
}

.innerpadding {
  height: 50px;
}

.indicator {
  position: absolute;
  left: 0;
  color: red;
}

.sticky {
  position: sticky;
  top: 50px;
  color: green;
}

.inline {
  display: inline;
}
