
  #outer { overflow-y: scroll; overflow-x: clip; width: 100px; height: 100px; }
  #inner { overflow-x: scroll; overflow-y: clip; width: 100px; height: 200px; }

  /* Only 'top' is set initially. */
  #sticky { position: sticky; top: 10px; width: 10px; height: 10px; background: green; }
  .spacer { width: 400px; height: 400px; }
