
#scroll {
  display: flex;
  width: 200px;
  height: 100px;
  overflow: auto;
  background: red;
}
.sticky {
  position: sticky;
  width: 100px;
  height: 100px;
  left: 100%;
  background: green;
}
