
    #scroller {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: scroll;
      width: 100px;
      height: 100px;
      scrollbar-width: none;
    }
    #sticky {
      position: sticky;
      bottom: 0;
      width: 50px;
      min-height: 50px;
      background: green;
    }
  