
.group {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 250px;
}

.scroller {
  position: relative;
  width: 100px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.contents {
  height: 700px;
}

.indicator {
  position: absolute;
  left: 0;
  background-color: green;
  height: 50px;
  width: 50px;
}

