
html {
  scrollbar-width: none;
}
body {
  width: 200vw;
  margin: 0px;
}
div {
  width: 50vw;
  height: 100px;
  display: inline-block;
  background: blue;
}
.sticky {
  position: sticky;
  right: 0;
  background: red;
}
