

.scroller {
  width: 100px;
  height: 100px;
  overflow: auto;
  position: relative;
  display: flex;
}
.padding {
  width: 200px;
  height: 100px;
  flex: none;
}
.sticky {
  position: sticky;
  background: green;
  left: 20px;
  right: 0;
  width: 200px;
  height: 100px;
  flex: none;
}
