
  .scroller-y { overflow-y: scroll; overflow-x: clip; width: 100px; height: 100px; margin-bottom: 20px; }
  .scroller-x { overflow-x: scroll; overflow-y: clip; width: 100px; height: 200px; }
  .clip-y { overflow-x: scroll; overflow-y: clip; width: 100px; height: 200px; }
  .sticky { position: sticky; top: 10px; left: 20px; width: 10px; height: 10px; background: green; }
  .spacer { width: 400px; height: 400px; }
