
.group {
  display: inline-block;
}

.container {
  height: 1000px;
  width: 50px;
  margin-right: 10px;
}

.scroll-container {
  height: 300px;
  width: 500px;
  overflow: hidden;
}

.sticky {
  height: 50px;
  width: 50px;
  background: green;
}
