
#container{
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: red;
}
.block {
  width: 500px;
}
.child {
  width: 100px;
  height: 100px;
  background: green;
  position: sticky;
  margin-left: auto;
  right: 0;
}
