
  @import "/fonts/ahem.css";
  html { font: 15px/1 Ahem; max-width: 800px;  }


  .test { height: 3em; margin: 0.5em 1.25em; box-sizing: border-box;
          /* show bounds of test box without interfering with margin-collapsing */
          border-left: solid blue 5px;
          /* ensure bullet follows first line */
          display: list-item;
          /* don't wrap, as that will throw off the reference */
          white-space: nowrap; }
  /* cram into 800x600 */
  html { max-height: 600px; columns: 3 }
  .wrapper { break-inside: avoid; border: solid 2px gray; }
  /* predictability */
  input { height: 4px; margin: 0; vertical-align: 4px; }
  img { height: 8px }