
  @import "/fonts/ahem.css";
  html { font: 10px/1 Ahem; max-width: 800px; }


  .pager {
    column-fill: auto;
    column-width: 15em;
    height: 5em;
  }
  .test {
    height: 19.5em;
    /* show bounds of test box without interfering with margin-collapsing */
    border-left: solid black 1em;
  }
  .overflow {
    height: 0;
    /* show bounds of overflow box without interfering with margin-collapsing */
    background: red;
  }
  .large, .float {
    height: 2.5em;
    break-inside: avoid;
    background: orange;
  }
  .float {
    float: right;
  }
  .margin {
    padding: 0.2em; /* using padding because of margin handling bugs
    margin-block: 0.5em;
  }
  .margin > * {
    margin-block: -0.3em;
switch back once fixed */
  }
  hr {
    border: solid 1px;
    margin: 0.5em;
  }

  /* readability */
  .pager { border: solid 2px gray; margin: 0.5em 0; }
  .test  { color: #8888; text-align: center; }
  .label { color: black; font-weight: bold; }
