
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: lab(83.2141% -129.1072 87.1718); width: 12em; height: 6em; margin-bottom: 0; } /* color(a98-rgb 0 1 0) converted to Lab */
    .test { background-color: color(a98-rgb 0 1 0); }
