
      #p1 { background-color: rgba(10, 175, 10, 0.2); }
      #p2 { background-color: rgba(10, 175, 10, 0.4); }
      #p3 { background-color: rgba(10%, 75%, 10%, 0.6); }
      #p4 { background-color: rgba(10, 175, 10, 0.8); }
      #p5 { background-color: rgb(10, 175, 10); }
      #p6 { background-color: rgb(10, 150, 50); }
      #p7 { background-color: rgb(10, 125, 75); }
      #p8 { background-color: rgb(10%, 45%, 45%); }
      #p9 { background-color: rgb(10, 75, 125); }
      #p10 { background-color: rgb(10, 50, 150); }
    