
      #p1 { background-color: hsl(120, 75%, 50%, 0.2); }
      #p2 { background-color: hsl(120, 75%, 50%, 40%); }
      #p3 { background-color: hsl(120 75% 50% / 0.6); }
      #p4 { background-color: hsl(120 75% 50% / 80%); }
      #p5 { background-color: hsl(120/* comment */75%/* comment */50%/1.0); }
      #p6 { background-color: hsl(120/* comment */75%/* comment */50%/100%); }
      #p7 { background-color: hsl(120,/* comment */75%,/* comment */50%,1.0); }
      #p8 { background-color: hsl(120,/* comment */75%,/* comment */50%,100%); }
      #p9 { background-color: hsl(120/* comment */75%/* comment */50%); }
      #p10 { background-color: hsl(120/* comment */,75%,/* comment */50%); }
    