
      #p1 { background-color: rgba(10.0, 175.0, 10.0, 0.2); }
      #p2 { background-color: rgba(10, 175, 10, 40%); }
      #p3 { background-color: rgba(10% 75% 10% / 0.6); }
      #p4 { background-color: rgba(10 175 10 / 80%); }
      #p5 { background-color: rgba(10/* comment */175/* comment */10/100%); }
      #p6 { background-color: rgba(10,/* comment */150,/* comment */50); }
      #p7 { background-color: rgba(10.0, 125.0, 75.0); }
      #p8 { background-color: rgba(10%, 45%, 45%); }
      #p9 { background-color: rgba(10/* comment */75/* comment */125); }
      #p10 { background-color: rgba(10.0, 50.0, 150.0); }
    