
      #p1 { background-color: rgb(10%, 60%, 10%, 20%); }
      #p2 { background-color: rgb(10, 175, 10, 0.4); }
      #p3 { background-color: rgb(10 175 10 / 60%); }
      #p4 { background-color: rgb(10.0 175.0 10.0 / 0.8); }
      #p5 { background-color: rgb(10/* comment */175/* comment */10/100%); }
      #p6 { background-color: rgb(10,/* comment */150,/* comment */50); }
      #p7 { background-color: rgb(10%, 60%, 10%); }
      #p8 { background-color: rgb(10.0 100.0 100.0); }
      #p9 { background-color: rgb(10/* comment */75/* comment */125); }
      #p10 { background-color: rgb(10.0, 50.0, 150.0); }
    