
      #p1 { background-color: rgb(10, 175, 10, 0.2); }
      #p2 { background-color: rgb(10, 175, 10, 0.4); }
      #p3 { background-color: rgb(10, 175, 10, 0.6); }
      #p4 { background-color: rgb(10%, 70%, 10%, 0.8); }
      #p5 { background-color: rgb(10%, 70%, 10%, 1.0); }
      #p6 { background-color: rgba(10, 150, 50); }
      #p7 { background-color: rgba(10, 125, 75); }
      #p8 { background-color: rgba(10%,40%, 40%); }
      #p9 { background-color: rgba(10%, 45%, 50%); }
      #p10 { background-color: rgba(10%, 50%, 60%); }
    