
body {
  background: ivory;
  color: magenta;
}
p {
  font: bold 16px sans-serif;
  padding: .5em;
}
p.test1 {
  background: white;
  color: black;
}
p.test2 {
  background: aliceblue;
  color: black;
}
p.test3 {
  background: mistyrose;
  color: black;
}
p.test4 {
  background: lightyellow;
  color: black;
}
p.test5 {
  background: palegreen;
  color: black;
}
p.test6 {
  background: darkblue;
  color: white;
}
p.test7 {
  background: maroon;
  color: white;
}
p.test8 {
  background: purple;
  color: white;
}
p.test9 {
  background: brown;
  color: white;
}
p.test10 {
  background: black;
  color: white;
}
