
    .test { background-color: red; width: 12em; height: 6em; }
    .ref { background-color: ButtonBorder; width: 12em; height: 6em; }
    @supports (color: ThreeDHighlight) {
        .test { background-color: ThreeDHighlight; }
    }
