
    .test { background-color: red; width: 12em; height: 6em; }
    .ref { background-color: ButtonBorder; width: 12em; height: 6em; }
    @supports (color: ThreeDDarkShadow) {
        .test { background-color: ThreeDDarkShadow; }
    }
