
    .test { background-color: red; width: 12em; height: 6em; }
    .ref { background-color: ButtonFace; width: 12em; height: 6em; }
    @supports (color: ButtonHighlight) {
        .test { background-color: ButtonHighlight; }
    }
