
    .test { background-color: red; width: 12em; height: 6em; }
    .ref { background-color: CanvasText; width: 12em; height: 6em; }
    @supports (color: WindowText) {
        .test { background-color: WindowText; }
    }
