
    .test { background-color: red; width: 12em; height: 6em; }
    .ref { background-color: Canvas; width: 12em; height: 6em; }
    @supports (color: ActiveCaption) {
        .test { background-color: ActiveCaption; }
    }
