
    .test { background-color: red; width: 12em; height: 12em; }
    .test { background-color: color(display-p3-linear 0.0383 0.2087 0.0156); } /* green (sRGB #008000) converted to display-p3-linear */
