
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: rgb(53.8462% 53.8462% 53.8462%); width: 12em; height: 6em; margin-bottom: 0; } /* hwb(120 70% 60%) converted to sRGB */
    .test { background-color: hwb(120 70% 60%); }
