
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: rgb(73.942% 60.484% 19.65%); width: 12em; height: 6em; margin-bottom: 0; } /* oklab(70% 0 0.125) converted to sRGB */
    .test { background-color: oklab(70% 0 0.125); }
