
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: rgb(23.056% 31.73% 82.628%); width: 12em; height: 6em; margin-bottom: 0; } /* oklch(50% 0.2 270) converted to sRGB */
    .test { background-color: oklch(50% 0.2 270); }
