
    .square { border: 1px solid black; width: 200px; height: 200px; }
    .test { background-color: red; height: 100px; }
    /* Non-zero chroma is used to show if the result is black or not, but the
     * test passes as long as it's the same color. */
    .ref { background-color: oklch(0 0.2 45); height: 100px; }
    .test { background-color: oklch(0.0001% 0.2 45); }
