
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: lab(85.7729% -160.7259 109.2319); width: 12em; height: 6em; margin-bottom: 0; } /* color(rec2020 0 1 0) converted to Lab */
    .test { background-color: color(rec2020 0 1 0); }
