
    div { width: 12em; height: 6em; margin-top: 0; margin-bottom: 0}
    .test { background-color: red; }

    /* solid color #990000 PNG image, iCCP with v2 ICC swapped red-green sRGB profile */
    .ref { background: url(./support/swap-990000-iCCP.png); }

    /* solid color #009900 PNG image, sRGB chunk */
    .test { background: url(./support/009900-sRGB.png); }
