
    body { background-color: grey; }
    .test { background-color: red; width: 12em; height: 6em; margin-top: 0; }
    .ref { background-color: color(srgb 1.08516 0.97699 0.958832); width: 12em; height: 6em; margin-bottom: 0; } /* color(xyz-d65 1 1 1) converted to sRGB */
    .test { background-color: color(xyz-d65 1 1 1); }
