
#wrapper {
  position: relative;
}

#clipper {
  height: 200px;
  width: 200px;
  overflow: clip;
}

.item {
  background: blue;
  position: relative;
  top: -25px;
  left: -10px;

  height: 50px;
  width: 250px;
  margin: 1px;
  border: 1px solid black;
}

.popout {
  position: absolute;
  left: -9px;
  top: 81px;
  background: blue;

  height: 50px;
  width: 250px;
  border: 1px solid black;
}

