
:root { view-transition-name: none }
#clipper {
  view-transition-group: contain;
  view-transition-name: clipper;
  overflow: clip;
  height: 200px;
  width: 100px;
  border-radius: 50%;
  background: rebeccapurple;
}

.item {
  view-transition-name: match-element;
  view-transition-class: item;
  background: pink;
  margin-bottom: 10px;
  height: 20px;
}
#i0 {
  view-transition-name: none;
  will-change: transform;
}
::view-transition-group(clipper) {
  animation-play-state: paused;
}
::view-transition-new(clipper) {
  animation: unset;
  opacity: 0;
}
::view-transition-old(clipper) {
  animation: unset;
  opacity: 1;
}
::view-transition-group(*.item) {
  display: none;
}
::view-transition {
  background: lightgreen;
}
