
    body {
        margin: 0;
    }

    .parent {
        opacity: .4;
    }
    .child {
        left: 50px;
        top: 50px;
    }
    div.green {
        position: absolute;
        width: 100px;
        height: 100px;
        background: green;
        will-change: opacity;
    }
