
    body {
        margin: 0;
    }
    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
    }

    .parent {
        view-transition-name: parent;
    }

    .child {
        view-transition-name: child;
        view-transition-group: parent;
        top: 100px;
        left: 100px;
        background: green;
    }
