
  :root {
    print-color-adjust: exact;
  }
  body {
    font-family: century;
    font-weight: bold;
    color: black;
    print-color-adjust: exact;
  }
  .tile {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }
  .white   { background: white }
  .magenta { background: magenta }
  .lime    { background: lime }
  .cyan    { background: cyan }
  .blue    { background: blue }
  .red     { background: red }
  .green   { background: green }
  .gray    { background: gray }
  .yellow  { background: yellow }
