
    .tall {
      /* The reference case has a block; we have an inline-block.
         Given that there's no other content on our line, we can expect our
         inline-block to end up rendering and fragmenting like the
         reference case's block. */
      display: inline-block;

      height: 10in;
      width: 1in;
      border: 0.5in solid black;
    }
  