

@keyframes a {
  from, to { color: blue }
}

p {
  color: olive;
  animation: a 1s infinite;
}
p::after {
    color: purple;
    content: "(::after)";
    animation: a 1s infinite;
}

p::before {
    color: yellow;
    content: "(::before)";
    animation: a 1s infinite;
}

