
        #container {
          position: relative;
          width: 200px;
          padding-left: 90px;
          font-family: Ahem;
          font-size: 40px;
          color: green;
        }
        #image {
          position: absolute;
          top: 0px;
          left: 100px;
          float: right;
          margin-bottom: 20px;
        }
    