
        .container {
          width: 150px;
          height: 100px;
        }
        img {
            position: relative;
            left: -50px;
        }
        .green {
            float: left;
            width: 50px;
            height: 100px;
            background: rgb(0, 100, 0);
        }
    