
.target {
  inline-size: 200px;
  padding: 10px;
  border: solid 3px;
  position: relative;
  line-height: 0;
  font-size: 20px;
}

.inner {
  border: solid 5px;
  padding: 10px;
  baseline-source: first;
  font-size: 30px;
}

span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}

textarea {
  border: solid 5px;
  width: 60px;
  height: 60px;
  vertical-align: baseline;
  font-family: Ahem;
  line-height: 1;
  margin: 0;
  padding: 0;
}

