
    @mixin --m1() {
      @result {
        @contents {
          color: green;
        }
      }
    }
    #e1::after {
      content: "AFTER";
      @apply --m1;
    }
  

    @mixin --m2() {
      @result {
        @contents {
          color: red;
        }
      }
    }
    /* Should match <div id=e2> with the specificity of :where(#e2) (zero),
       not with the specificity of :is(:where(#e2), #u1). */
    :where(#e2), #u1 {
      @apply --m2;
    }
    :where(#e2) {
      color: green; /* Wins. */
    }
  