
    @function --f() {
      --x: var(--x);
      result: var(--x, PASS);
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --x: var(--x);
      result: var(--x);
    }
    #target {
      --actual: --f();
      /* --expected: <guaranteed-invalid> */
    }
  

    @function --f() {
      --y: PASS;
      --x: var(--y, var(--x));
      result: var(--x, FAIL);
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    /* The _properties_ --x and --y are in a cycle.
      However, the _local_ --x is not a cycle with anything. */
    @function --f() {
      --x: var(--y, PASS);
      result: var(--x);
    }
    #target {
      --x: var(--y);
      --y: var(--x);
      --actual: --f();
      --expected: PASS;
    }
  

    /* The locals --x and --y are in a cycle within --f(). */
    @function --f() {
      --x: var(--y);
      --y: var(--x);
      result: --g();
    }
    @function --g() {
      --x: var(--y, PASS); /* Shadows outer --x. */
      result: var(--x);
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --x: var(--x); /* Cycle */
      result: --g(10px);
    }
    @function --g(--x) {
      result: var(--x);
    }
    #target {
      --actual: --f();
      --expected: 10px;
    }
  

    @function --f(--x, --y) {
      result: var(--x) var(--y);
    }
    #target {
      --x: var(--y);
      --y: var(--x);
      --actual: --f(PASS-x, PASS-y);
      --expected: PASS-x PASS-y;
    }
  

    @function --f() {
      result: var(--x, PASS-x) var(--x, PASS-y);
    }
    #target {
      --x: var(--y);
      --y: var(--x);
      --actual: --f();
      --expected: PASS-x PASS-y;
    }
  

    @function --f() {
        --y: var(--x, 1);
        --x: var(--y, 3);
        result: var(--x) var(--y);
    }
    #target {
      --actual: --f();
      /* --expected: <guaranteed-invalid> */
    }
  

    @function --f() {
      --x: var(--x);
      result: PASS;
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --x: PASS;
      result: var(--x, var(--y));
    }
    #target {
      --y: var(--y);
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --x: PASS;
      --y: var(--y);
      result: var(--x, var(--y));
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      result: --f();
    }
    #target {
      --tmp: --f();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      result: --g();
    }
    @function --g() {
      result: --f();
    }
    #target {
      --tmp: --g();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      result: --g();
    }
    @function --g() {
      result: --f();
    }
    #target {
      --tmp: --f();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      --local: --f();
      result: var(--local);
    }
    #target {
      --local: FAIL;
      --tmp: --f();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      --unused: --f();
      result: FAIL-result;
    }
    #target {
      --local: FAIL;
      --tmp: --f();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      result: var(--global);
    }
    #target {
      --global: --f();
      --tmp: --f();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      result: --g();
    }
    @function --g() {
      --local: --f();
      result: var(--local);
    }
    #target {
      --local: FAIL;
      --tmp: --g();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f() {
      --a: --g();
      result: var(--a, PASS);
    }

    @function --g() {
      result: var(--a);
    }
    #target {
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --local: --g();
      result: var(--local);
    }
    @function --g() {
      --local: FAIL;
      result: var(--global);
    }
    #target {
      --local: FAIL;
      --global: --f();
      --tmp: --g();
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f(--x, --y: --f(13px)) {
      result: 10px;
    }
    #target {
      --tmp: --f(42px);
      --actual: var(--tmp, PASS);
      --expected: PASS;
    }
  

    @function --f(--x, --y: var(--z), --z: var(--y)) {
      result: var(--x, FAIL) var(--y, PASS-y) var(--z, PASS-z);
    }
    #target {
      --actual: --f(42px);
      --expected: 42px PASS-y PASS-z;
    }
  

    @function --f() {
      --b: var(--b);
      --a: --g();
      result: var(--a);
    }

    @function --g(--a: var(--b)) {
      result: var(--a, PASS);
    }
    #target {
      --b: FAIL;
      --actual: --f();
      --expected: PASS;
    }
  

    @function --f() {
      --a: --g();
      result: var(--a);
    }

    @function --g() {
      --a: 10px;
      result: var(--a);
    }
    #target {
      /* Nothing is in a cycle here. */
      --actual: --f();
      --expected: 10px;
    }
  