
  #container, #target {
    container-type: size;
  }
  #size-container {
    container-type: size;
    width: 100px;
    height: 100px;
    --x: size;
  }
  #parent {
    --x: parent;
  }
  @function --f() {
    result: A;
    @container (style(--x: before)) {
      result: B;
    }
    @container (style(--x: target)) {
      result: C;
    }
    @container (style(--x: parent)) {
      result: D;
    }
    @container (style(--x: size)) {
      result: E;
    }
  }
  #target {
    --x: target;
    --actual: --f();
  }
  #target::before {
    content: "test";
    --x: before;
    --actual: --f();
  }
