
            .parent {
                width: 140px;
                height: 140px;
                position: relative;
                z-index: 1;
                overflow:scroll;
            }
            .blended {
                background: lime;
                width: 200px;
                height: 200px;
            }
        