
            div {
                width: 100px;
                height: 100px;
                background: #FF0;
            }

            #blender {
                color: #0F0;
            }
        