
.container {
    font-size: 20px;
    line-height: 1;
}

.parent {
    font-size-adjust: 3;
}

.target {
    display: inline-block;
    font-size-adjust: 1;
}

.expected {
  color: green;
  margin-right: 30px;
}
