
.container {
  font-stretch: ultra-expanded;
}
.container2 {
  font-stretch: ultra-condensed;
}
.target {
  display: inline-block;
  font: 100px sans-serif;
  font-stretch: normal;
}
.expected {
  color: green;
  margin-right: 30px;
}
