
      @font-face {
        font-family: scriptpercentscaledown80-scriptscriptpercentscaledown40;
        src: url("/fonts/math/scriptpercentscaledown80-scriptscriptpercentscaledown40.woff");
      }
      body {
        font-family: scriptpercentscaledown80-scriptscriptpercentscaledown40;
      }
    