
      @font-face {
        font-family: scriptpercentscaledown80-scriptscriptpercentscaledown40;
        src: url("/fonts/math/scriptpercentscaledown80-scriptscriptpercentscaledown40.woff");
      }
      @font-face {
        font-family: scriptpercentscaledown0-scriptscriptpercentscaledown40;
        src: url("/fonts/math/scriptpercentscaledown0-scriptscriptpercentscaledown40.woff");
      }
      @font-face {
        font-family: scriptpercentscaledown80-scriptscriptpercentscaledown0;
        src: url("/fonts/math/scriptpercentscaledown80-scriptscriptpercentscaledown0.woff");
      }
      #scale80-40-scaledown, #scale80-40-scaleup {
          font-family: scriptpercentscaledown80-scriptscriptpercentscaledown40;
      }
      #scale0-40-scaledown, #scale0-40-scaleup {
          font-family: scriptpercentscaledown0-scriptscriptpercentscaledown40;
      }
      #scale80-0-scaledown, #scale80-0-scaleup {
          font-family: scriptpercentscaledown80-scriptscriptpercentscaledown0;
      }
      #default-scaledown, #default-scaleup {
          /* Ahem font does not have any MATH table, so uses default scale. */
          font-family: Ahem;
      }
      .big { font-size: 3000px; }
      .small { font-size: 150px; }
      .level-3 { font-size: math; math-depth: -3; }
      .level-1 { font-size: math; math-depth: -1; }
      .level0 { font-size: math; math-depth: 0; }
      .level1 { font-size: math; math-depth: 1; }
      .level2 { font-size: math; math-depth: 2; }
      .level3 { font-size: math; math-depth: 3; }
      .level5 { font-size: math; math-depth: 5; }
    