
			div {
				margin: 5px;
				width: 130px;
				height: 130px;
				background:  url('support/red.png') no-repeat 0 0 /100% 100%, linear-gradient(to right, lime 50%, blue 51%);
				/*lime: rgb(0,255,0);
				blue: rgb(0,0,255);*/
				display: block;
				float: left;
				background-blend-mode: multiply, normal;
			}
		