
    .first{
      outline: 2px solid green;
      position: absolute;
      width: 87.5px;
      height: 87.5px;
      left: 43.75px;
      top: 43.75px;
    }
    .second {
      background-image: url("../../resources/green-100.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 38.5px 35px;
      position: absolute;
      width: 140px;
      height: 140px;
      left: 17.5px;
      top: 17.5px;
    }
  