

.dark {
    color-scheme: dark;
}

.box {
    width: 100px;
    height: 100px;
}

#system-color {
    background-image: linear-gradient(CanvasText, CanvasText);
}

#system-color-in-color-mix {
    background-image: linear-gradient(color-mix(in lch, Canvas, pink), color-mix(in lch, Canvas, pink));
}

#light-dark {
    background-image: linear-gradient(light-dark(red, green), light-dark(red, green));
}

#light-dark-in-color-mix {
    background-image: linear-gradient(color-mix(in lch, light-dark(red, green), pink), color-mix(in lch, light-dark(red, green), pink));
}

