
       .test {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            position: relative;
            border: 1px solid black;
            margin: 10px;
            background-image: linear-gradient(to right in hwb, red, hwb(120deg 0% 0% / 0%) );
        }

        .info {
            position: absolute;
            right: -10px;
            transform: translateX(100%);
        }
    