
        body {
            background: #fff;
        }

        div {
            width: 200px;
            height: 100px;
            margin: 10px;
        }

        div.a {
            background-image: linear-gradient(to right in lch decreasing hue,
                                              lch(50% 100% 0deg),
                                              lch(50% 100% 80deg));
        }

        div.b {
            background-image: linear-gradient(to right in lch decreasing hue,
                                              lch(50% 100% 80deg),
                                              lch(50% 100% 0deg));
        }

        div.c {
            background-image: linear-gradient(to right in lch decreasing hue,
                                              lch(50% 100% 0deg),
                                              lch(50% 100% 270deg));
        }

        div.d {
            background-image: linear-gradient(to right in lch decreasing hue,
                                              lch(50% 100% 270deg),
                                              lch(50% 100% 0deg));
        }
    