
       .test {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            position: relative;
            border: 1px solid black;
            margin: 10px;
        }

        .info {
            position: absolute;
            right: -10px;
            transform: translateX(100%);
        }

        .oklch {
            /* Expected */
            background-image: linear-gradient(to right in oklch, red, oklch(86.64396175234369% 0.295 142.4953450414439 / 0) );
        }
        .hwb {
            background-image: linear-gradient(to right in oklch, red, hwb(120deg 0% 0% / 0%) );
        }
        .rgba {
            background-image: linear-gradient(to right in oklch, red, rgba(0, 255, 0, 0) );
        }
        .hsl {
            background-image: linear-gradient(to right in oklch, red, hsl(120deg 100% 50% / 0%) );
        }
        .color {
            background-image: linear-gradient(90deg in oklch, red, color(srgb 0 1 0 / 0) );
        }
    