
       .test {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            position: relative;
            border: 1px solid black;
            margin: 10px;

            /* Expected */
            background-image: linear-gradient(90deg in lch, red, lch(87.82 113.33 134.38 / 0) );
        }

        .info {
            position: absolute;
            right: -10px;
            transform: translateX(100%);
        }
    