
    .test {
        margin: 50px;
        width: 200px;
        height: 50px;
        border: 1px solid black;
    }

    .test1 {
        background: linear-gradient(90deg in srgb, hsl(60deg 0 50%), yellow);
    }

    .test2 {
        background: linear-gradient(90deg in srgb, hsl(20deg 0 50%), yellow);
    }

    .test3 {
        background: linear-gradient(90deg in srgb, hsl(60deg none 50%), yellow);
    }

    .test4 {
        background: linear-gradient(90deg in srgb, hsl(none 0 50%), yellow);
    }

    .test5 {
        background: linear-gradient(90deg in srgb, hsl(none none 50%), yellow);
    }
