
        body {
            background: #fff;
        }

        div {
            width: 200px;
            height: 100px;
            margin: 10px;
        }

        div.a {
            background-image: linear-gradient(to right in hsl decreasing hue,
                                              hsl(0deg, 100%, 50%),
                                              hsl(40deg, 100%, 50%));
        }

        div.b {
            background-image: linear-gradient(to right in hsl decreasing hue,
                                              hsl(40deg, 100%, 50%),
                                              hsl(0deg, 100%, 50%));
        }

        div.c {
            background-image: linear-gradient(to right in hsl decreasing hue,
                                              hsl(0deg, 100%, 50%),
                                              hsl(270deg, 100%, 50%));
        }

        div.d {
            background-image: linear-gradient(to right in hsl decreasing hue,
                                              hsl(270deg, 100%, 50%),
                                              hsl(0deg, 100%, 50%));
        }
    