
   :root {
       --start: lch(60% 60 -70);
       --end: lch(60% 60 70);
       --t: 0.5;
       --big: 131070000px;
   }
   .test {
       width: 100px;
       height: 100px;
       background: linear-gradient(in lch, var(--start) calc(var(--big) * (0 - var(--t))), var(--end) calc(var(--big) * (1 - var(--t))));
   }
 