
  div {
      direction: rtl;

      font: 20px/1 Ahem;
      margin-left: 20px;
      background: green;

      width: 4ch;
  }
  .blue { color: blue; }
  .space { color: transparent; }
  .text { background: blue; }
