
  body {
    margin: 0px;
  }
  .grid {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 20px;
  }
  .subgrid {
    display: grid;
    grid-template: subgrid / subgrid;
    grid-row: 1/-1;
    grid-column: 1/-1;
    column-rule: 6px solid blue;
    row-rule: 6px solid red;
    rule-inset: 0px;
    column-rule-visibility-items: around;
    row-rule-visibility-items: around;
  }
  .item {
    width: 100%;
    height: 100%;
    background: lightgrey;
    opacity: 0.8;
  }
