
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      width: 100px;
      height: 100px;
    }
    .subgrid {
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;

      background: red;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      column-rule: green solid 10px;
      row-rule: green solid 10px;
    }
    .subgrid-item {
      background: green;
    }
  