
body {
  --bluetrans: rgba(0,0,255,0.5);
  --yellowtrans: rgba(255,255, 0, 0.5);
  --orangetrans: rgba(255,165,0,0.5);
  --greentrans: rgba(0,255,0, 0.5);
}
body * {
  box-sizing: border-box;
}
#container > * {
  position:absolute;
}
