
table {
  font: 40px/1 Ahem;
  border: 1px solid gray;
}

td {
  height: 2em;
  padding: 0;
  color: green;
  vertical-align: top;
}

td div {
  position: relative;
}

.t {
  top: 0;
}
.m {
  top: 0.5em;
}
.b {
  top: 1em;
}
