
.v-rl {
  writing-mode: vertical-rl;
  width: 200px;
}
span {
  display: inline-block;
  height: 1em;
}
#test { color: blue; }
#test2 { color: brown; }
#ref { color: orange; }
.v-rl > div {
  display: inline-block;
  border: solid;
  margin: 0 5px;
}
