
  div
    {
      color: transparent;
      font-family: Ahem;
      font-size: 100px;
      line-height: 1;
    }

  div#purple
    {
      text-shadow: 1em 0em purple;
    }

  div#orange-blue
    {
      color: yellow;
      margin-left: 1em;
      text-shadow: -1em 0em orange, 1em 0em blue;
    }

  div#fuchsia
    {
     text-shadow: 1em 0em fuchsia;
    }
  