
    div {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
    #filter-none { background-image: paint(filter-none); }
    #filter-blur-10px { background-image: paint(filter-blur-10px); }
    #filter-blur-50vh { background-image: paint(filter-blur-50vh); }
    #filter-blur-1em { background-image: paint(filter-blur-1em); }
    #filter-blur-2percent { background-image: paint(filter-blur-2percent); }
    #filter-brightness { background-image: paint(filter-brightness); }
    #filter-contrast { background-image: paint(filter-contrast); }
    #filter-drop-shadow { background-image: paint(filter-drop-shadow); }
    #filter-grayscale { background-image: paint(filter-grayscale); }
    #filter-invert { background-image: paint(filter-invert); }
    #filter-opacity { background-image: paint(filter-opacity); }
    #filter-saturate { background-image: paint(filter-saturate); }
    #filter-sepia { background-image: paint(filter-sepia); }
    #filter-hue-rotate { background-image: paint(filter-hue-rotate); }
    #filter-url { background-image: paint(filter-url); }
