
    div {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    #source-over { background-image: paint(source-over); }
    #source-in { background-image: paint(source-in); }
    #source-out { background-image: paint(source-out); }
    #source-atop { background-image: paint(source-atop); }
    #destination-over { background-image: paint(destination-over); }
    #destination-in { background-image: paint(destination-in); }
    #destination-out { background-image: paint(destination-out); }
    #destination-atop { background-image: paint(destination-atop); }
    #lighter { background-image: paint(lighter); }
    #xor { background-image: paint(xor); }
