
div {
    margin-left: 3px;
}
div::before {
    width: 100px;
    height: 100px;
    margin-left: 2px;
    content: 'foo';
    color: rgba(0, 0, 0, 0);
}
canvas{
    margin-left: 2px;
    display: block;
    position: relative;
    top: -1em;
}
