
table { border-collapse: collapse; font: 20px/1 Ahem; color: transparent; background: green; }
table { border: 30px solid green; }
tr, col { border: 20px solid red }
td { padding: 0; border:  20px solid green; }
td[rowspan], td[colspan] { border: none }
