
  main table {
    background: gray;
    border-spacing: 8px 8px;
    table-layout: fixed;
  }
  main table:hover { table-layout: auto; } /* useful for comparisons */
  main td {
    background: #BFB;
    font-size: 10px;
  }
  main td > div {
    display: inline-block;
    background: rgba(56,162,56,0.3);
    height:10px;
  }
