
  main table {
    background: gray;
    border-spacing: 10px 10px;
    table-layout: auto;
  }
  main td {
    padding: 20px;
    background: #BFB;
    font-size: 10px;
    box-sizing: border-box;
  }
  main td > div {
    display: inline-block;
    background: rgba(56,162,56,0.3);
  }
