
  .t {
    display: table;
    border-top-width: 20px;
    border-bottom-width: 40px;
    border-left-width: 20px;
    border-right-width: 40px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    border-spacing: 0;
    width:100px;
    height: 100px;
  }
  .inline {
    display: inline-table;
  }
  .cell {
    display: table-cell;
    background: yellow;
  }
  main td {
    padding: 0;
    background: yellow;
  }
