
        @font-face {
            font-family: roboto_hyphen;
            src: url(../resources/roboto_hyphenation_subset.ttf)
        }

        div {
        width: 30px;
            hyphens: auto;
            -webkit-hyphens: auto;
            font-family: roboto_hyphen, cursive;
        }
    