
.grid-lanes {
  display: grid-lanes;
  border: solid thick;
  margin: 10px;
  grid-template-columns: repeat(auto-fill, 50px 50px);
  grid-column-gap: 100px;
  width: 300px;
  background: pink;
}
.grid-lanes > div {
  background: lime;
  width: 100%;
  height: 50px;
}
