
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fit, 100px);
    height: 300px;
    width: 300px;
}

.grid-lanes > div {
    height: 100%;
    width: 100px;
}
