
.grid-lanes {
    position: relative;
    display: grid-lanes;
    grid-template-rows: repeat(auto-fill, 50px);
    min-width: 50%;
    min-height: 80%;
    float: left;
    background: pink;
}
.wrapper {
  width: 600px;
  height: 250px;
}
.item {
  background: lime;
  /* Place item on the last row. */
  grid-row: -2;
  width: 300px;
  height: 100%;
}
