
.grid-lanes {
    display: grid-lanes;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fit, 50px);
    width: 200px;
    height: 500px;
    gap: 10px;
}

.grid-lanes > div {
    height: 100%;
    width: 50px;
    background-color: orange;
}
