
.grid-lanes {
    display: grid-lanes;
    flow-tolerance: 0;
    grid-template-rows: repeat(5, 100px) repeat(auto-fit, 100px);
    width: 200px;
    height: 1000px;
}

.grid-lanes > div {
    height: 100%;
    width: 100px;
}
