
  .container {
    writing-mode: vertical-lr;
    inline-size: 472px;
  }
  .mc {
    display: flow-root;
    block-size: 120px;
    border: 1px solid;
    margin-block-end: 20px;
    background: yellow;
  }
  .column {
    float: left;
    inline-size: 150px;
    block-size: 100%;
    margin-inline-start: 10px;
  }
  .column:first-child {
    margin-inline-start: 0;
  }
