
html,body {
    color:black; background-color:white; font:24px/1 monospace; padding:0; margin:0;
    width: 300px;
}
.columns {
  columns: 3;
  background: grey;
  margin-bottom: 1em;
}
.columns > div { height:200px; background: yellow; }
.columns > div > div { height:160px; width:50px; border:solid; }
  