
  body { overflow:scroll; } /* Auto scrollbars may hide bugs. */
  #container { columns:2; height:200px; column-fill:auto; background:white; }
  #abspos { position:absolute; width:50px; bottom:0; background:blue; }
  #abspos > div { height:10px; background:white; }
