
  .box {
      height: 80px;
      margin-bottom: 10px;
      border: 10px solid hotpink;
      background: yellow;
  }
  .skip-start {
      border-right: none;
  }
  .skip-end {
      border-left: none;
  }
