
.multicol {
  column-count: 2;
  column-gap: 0;
  column-fill: auto;
  inline-size: 100px;
  block-size: 100px;
  background: red;
}

.container {
  padding: 5px 0;
  border-block: 10px solid green;
  box-decoration-break: clone;
  block-size: calc(70px + 10px); /* 1st column + 2nd column */
  background: green;
}
