
  @page { size:5in 3in; margin:0.5in; }

  :root {
    print-color-adjust: exact;
  }

  html, body {
    margin: 0;
  }
  #target {
    background: green;
    width: 2in;
    height: 6in; /* Expected to cover 3 pages. */
  }
  