
  #multicol {
    columns: 2;
    column-fill: auto;
    column-gap: 0;
    height: 400px; /* Must be large enough so that .target doesn't break initially. */
    width: 100px;
    background: red;
  }
  .block {
    width: 50px;
    background: green;
  }
  .target {
    float: left;
    height: 160px; /* Expected to be broken into 2 columns after runTest() */
  }
  