
  * {
    color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
  }
  body { width:600px; height:600px; }

  .cols { columns:3; background:grey; margin-bottom: 10px; height:80px; column-fill:auto; }
  .c2 { column-count:2; height:120px; }
  legend { background:black; width:100px; height:19px; }
  fieldset {
    background-color: lightgrey;
    border: solid;
    border-width: 6px 3px 10px 7px;
    margin: 3px 10px 7px 5px;
  }
  fieldset, legend {
    background-clip: content-box;
    padding: 10px 7px 20px 3px;
  }
  fieldset.sized {
    height: 108px;
  }
  c { display:block; background:blue; opacity:.5; height:108px; }
