
@page {
  size: 5in 3in;
  margin: 0.5in;
}

:root {
  print-color-adjust: exact;
}

html,body {
  color:black; background-color:white; font:20px/1 monospace; padding:0; margin:0;
}

body {
  width: 100vw;
  height: 100vh;
  outline: 100px solid red;
  box-shadow: 100px 100px 0 #F00;
}
