
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
    margin-left: -150px;
    margin-top: -150px;
  }
  .rel {
    position: relative;
    height: 200px;
  }
  .abs {
    position: absolute;
    width: 100%;
    height: 200px;
  }
