
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 100px;
    font: 20px/1 Ahem;
    color: red;
  }
  .fixed {
    position: fixed;
    background-color: green;
    width: 100px;
    height: 100px;
  }
