
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
  }
  #outer {
    height: 100px;
    width: 100px;
    margin-left: -150px;
    margin-top: -150px;
  }
  #inner {
    width: 50px;
  }
  .rel {
    position: relative;
  }
  .abs {
    position: absolute;
    background-color: green;
    width: 25px;
    height: 400px;
    left: -100px;
  }
