
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
  }
  #outer {
    height: 100px;
    width: 100px;
    transform: translateX(0);
  }
  #inner {
    width: 50px;
  }
  .rel {
    position: relative;
  }
  .abs {
    position: absolute;
  }
  .fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100px;
    background:green;
  }
