
  #multicol {
    column-count: 2;
    width: 100px;
    height: 100px;
    column-fill: auto;
    column-gap: 0px;
    background-color: red;
  }
  .rel {
    position: relative;
    height: 100px;
    width: 50px;
  }
  .abs {
    position: absolute;
    width: 50px;
    background-color: green;
  }
