
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
  }
  #outer {
    height: 100px;
    width: 100px;
    background: red;
  }
  #inner {
    width: 50px;
  }
  .rel {
    position: relative;
  }
  .abs {
    position: absolute;
  }
