
  #multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0px;
    height: 100px;
    width: 50px;
  }
  .rel {
    position: relative;
    width: 30px;
  }
  .abs {
    position: absolute;
    top: 0px;
    width: 5px;
    height: 10px;
    background: green;
  }
