
  #multicol {
      column-count: 2;
      column-fill: auto;
      column-gap: 16px;
      column-rule:16px white solid;
      width: 100px;
      height: 40px;
      background: gray;
  }

  .abs {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 20px;
      background: green;
  }

  .below-abs {
    height: 20px;
    background: red;
  }
