
.multicol {
  writing-mode: vertical-rl;
  block-size: 100px;
  inline-size: 100px;
  column-count: 2;
  column-fill: auto;
  column-gap: 0;
  background: red;
}
.container {
  position: relative;
  border-block: 20px solid green;
  block-size: 160px;
}

.abspos {
  position: absolute;
  inline-size: 100%;
  block-size: 160px;
  background: green;
}
