
  .multicol {
    columns: 2;
    column-fill: auto;
    height: 100px;
    width: 100px;
    column-gap: 0px;
    color: red;
    font: 20px/1 Ahem;
    margin-left: -5px;
  }
  .abs {
    position: absolute;
    width: 50px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: green;
  }
