
  .multicol {
    writing-mode: vertical-rl;
    columns: 2;
    column-fill: auto;
    height: 100px;
    width: 100px;
    column-gap: 0px;
    color: red;
    font: 20px/1 Ahem;
  }
  .abs {
    position: absolute;
    inline-size: 50px;
    inset-block-end: 0;
    inset-block-start: 0;
    inset-inline-start: 0;
    background: green;
  }
