
  .multicol {
    column-count: 2;
    column-gap: 0px;
  }
  #outer {
    width: 100px;
  }
  #inner {
    width: 50px;
    column-fill: auto;
  }
  .abs {
    position: absolute;
    background-color: green;
    height: 400px;
    width: 25px;
  }
  #target {
    background-color: red;
    position: relative;
    height: 100px;
    width: 100px;
    top: -100px;
    z-index: -1;
  }
