
@page { size: 5in 3in; margin: 0.5in; }
body { margin: 0; }

.content {
  position: absolute;
  font: 0.5in/1 Ahem;
  color: white;
  word-break: break-all;
  border: 0.5in solid purple;
  margin-right: 2in;
}
