
div p { margin: 0; }

div {
  columns: 4;
  column-gap: 0;
  position: absolute; /* shrinkwrap. Using an explicit width in 'ch' with a monospace font would be fine as well if all UAs supported 'ch', but some don't. */
  column-fill: balance-all; /* to make sure it balances as well on paged media */
}
div p {
  widows: 1; /* to avoid interference */
  orphans: 2;
}

/* The lines of each paragraphs should be kept together if the orphans property applies,
   or spread over the 4 columns if it fails to,
   or all above one-another in a single column if multicol doesn't work. */

