
  .a {
    color: rgb(2, 2, 2);
    color:var(--x); /* Valid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color:{var(--x)}; /* Valid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color: { var(--x) }; /* Valid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color:var(--x) { }; /* Invalid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color:{ } var(--x); /* Invalid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color:{ var(--x) } A; /* Invalid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    color: rgb(2, 2, 2);
    color:A { var(--x) }; /* Invalid */
    background-color:rgb(1, 1, 1);
  }


  .a {
    --y:var(--x); /* Valid */
  }


  .a {
    --y:{var(--x)}; /* Valid */
  }


  .a {
    --y: { var(--x) }; /* Valid */
  }


  .a {
    --y:var(--x) { }; /* Valid */
  }


  .a {
    --y:{ } var(--x); /* Valid */
  }


  .a {
    --y:{ var(--x) } A; /* Valid */
  }


  .a {
    --y:A { var(--x) }; /* Valid */
  }
