
  #ref
    {
      font-size: 60px;
      position: relative;
      color: transparent;
    }

  #ref > div
    {
      position: absolute;
    }

  #grammar-error > span
    {
      background-color: yellow;
    }

  #selection > span
    {
      background-color: rgba(0%, 50%, 100%, 0.5);
      /*
      a very lite blue color
      according to
      https://www.colorhexa.com/7fbfff
      */
      color: yellow;
    }
  