
@font-palette-values {
}

@font-palette-values A {
}

@font-palette-values --A --B {
}

/* 0 */
@font-palette-values --A {
    font-family: a, serif;  /* multiple families are allowed, but not generics */
}

/* 1 */
@font-palette-values --A {
    font-family: 1;
}

/* 2 */
@font-palette-values --A {
    font: 12px a;
}

/* 3 */
@font-palette-values --A {
    base-palette: 1 2;
}

/* 4 */
@font-palette-values --A {
    base-palette: ident;
}

/* 5 */
@font-palette-values --A {
    base-palette: "a" "b";
}

/* 6 */
@font-palette-values --A {
    base-palette: ;
}

/* 7 */
@font-palette-values --A {
    override-colors: ident #123;
}

/* 8 */
@font-palette-values --A {
    override-colors: 0 "red";
}

/* 9 */
@font-palette-values --A {
    override-colors: 0 #123, 1;
}

/* 10 */
@font-palette-values --A {
    override-colors: ;
}

/* 11 */
@font-palette-values --A {
    override-colors: 0 #123 1;
}

/* 12 */
@font-palette-values --A {
    override-colors: 0;
}

/* 13 */
@font-palette-values --A {
    font-family: "";
}

/* 14 */
@font-palette-values --A {
    base-palette: initial;
    override-colors: initial;
}

/* 15 */
@font-palette-values --A {
    base-palette: inherit;
    override-colors: inherit;
}

/* 16 */
@font-palette-values --A {
    base-palette: unset;
    override-colors: unset;
}

/* 17 */
@font-palette-values --A {
    base-palette: -1;
    override-color: -1 #123;
}

/* 18 */
@font-palette-values --A {
    override-colors: 0 canvas;
}

/* 19 */
@font-palette-values --A {
    override-colors: 0 currentcolor;
}

/* 20 */
@font-palette-values --A {
    override-colors: 0 light-dark(white, black);
}

/* 21 */
@font-palette-values --A {
    override-colors: 0 color-mix(in lch, red, canvas);
}

/* 22 */
@font-palette-values --A {
    override-colors: 0 light-dark(white, currentcolor);
}

/* 23 */
@font-palette-values --A {
    override-colors: 0 color-mix(in lch, red, color-mix(in lch, currentcolor, black));
}

/* 24 */
@font-palette-values --A {
    base-palette: sibling-index();
}
