
div {
    line-height: 1em;
    font-size: 30px;
}
.container {
    position: relative;
    margin: .5em;
}
.ref {
    background-color: white;
    padding: .25em;
}
.test {
    color: transparent;
    background-color: red;
    position: absolute;
    width: .5em;
    left: 0;
    top: 0;
    padding: .25em;
    z-index: -1;
}
