
.container {
    position: relative;
    color:green;
    line-height: 1em;
    font-family: Ahem;
    font-size: 20px;
}

.wrapper {
    white-space: nowrap;
}

span {
    float: left;
}

.fail {
    color: red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
