
div {
  font: 25px/1 Ahem;
  color: transparent; /* No interested in the rendering of the characters with BK an ML line breaking classes themselves, merely in their effects on line breaking. */
}
span { color: green; }
.red {
  z-index: -1;
  position: absolute;
  width: 1em;
  height: 6em;
  background: red;
}
