
.red {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  z-index: -1;
}

.test {
  font: 50px/1 Ahem;
  color: green;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}
span {
  display: inline-block;
}
