
@view-transition {
  navigation: auto;
}
html {
  background-color: red;
}
html.outgoing {
  background-color: cornflowerblue;
}
html.incoming {
  background-color: hotpink;
}
::view-transition {
  background-color: limegreen;
}
::view-transition-new(root) {
  transform: translateY(55vh);
  animation: none;
  opacity: 1;
}
::view-transition-old(root) {
  transform: translateY(-55vh);
  animation: none;
  opacity: 1;
}
::view-transition-group(root) {
  animation-duration: 300s;
}
