
  #container {
    display: inline-block;
    font-size: 20px;
  }
  #target {
    display: inline-block;
    height: 123px;
    border-style: solid;
    border-width: 20px 1px 20px 3px;
    padding: 20px 3px 20px 5px;
    margin: 20px 2px 20px 1px;
  }
  #child {
    height: 20px;
    width: 7px;
  }
