
body {
    margin: 0;
    zoom: 2;
}
.parent {
    margin-top: 50px;
    margin-left: 25%;
    height: 100px;
    outline: 2px solid black;
}

.abspos {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
}
