
  .container {
    container-type: inline-size;
    width: 100px;
    height: 100px;
  }
  .child {
    background-color: green;
    height: 50px;
    width: 50px;
    @container (width > 120px) {
      background-color: red;
    }
  }
