
.marker {
  list-style-image: url('#marker');
}
ul {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.zoom {
  zoom: 2;
}
