
  :root {
    font: 10px/1 Ahem;
    zoom: 2;
  }
  body { margin: 0 }
  .container {
    font-size: 20px;
  }
  .child {
    zoom: 2;
  }
  line {
    stroke-width: 2px;
    stroke: lime;
  }
  svg {
    background-color: black;
  }
