
    @keyframes anim {
      from {
        clip-path: shape(nonzero from 20px 20px,
          hline by 60px, vline by 60px, hline by -60%, close,
          move to 30% 30px, hline by 40px, vline by 40px, hline by -40px, close);
      }
      to {
        clip-path: shape(nonzero from 50px 50px,
          hline by 50px, vline by 50px, hline by -50%, close,
          move to 20px 20%, hline by 50px, vline by 50px, hline by -50px, close);
      }
    }
    #rect {
      width: 100px;
      height: 100px;
      background-color: green;
      animation: anim 10s -5s paused linear;
    }
  