
    @keyframes anim {
      from {
        clip-path: xywh(0px 0px 100px 100% round 10px);
      }
      to {
        clip-path: xywh(20px 20px 60px 60% round 20px);
      }
    }
    #rect {
      width: 100px;
      height: 100px;
      background-color: green;
      animation: anim 10s -5s paused linear;
    }
  