
  .container {
    width: 100px;
    height: 100px;
    background-color: green;
    animation: clippath 20s steps(1) -9.999s;
  }

  @keyframes clippath {
    0% {
      clip-path: circle(50% at 50% 50%);
    }

    50% {
      clip-path: circle(35% at 35% 35%);
    }

    100% {
      clip-path: circle(20% at 20% 20%);
    }
  }
