
.container {
  width: 100px;
  height: 100px;
  background-color: green;
  animation: clippath 20s steps(2, jump-end) -9.95s;
}
@keyframes clippath {
  0%   { clip-path: circle(0% at 50% 50%); }
  100% { clip-path: circle(50% at 50% 50%); }
}
