
  #test {
    background-image: image-set(
      url("/images/red.png") 1x type('image/unsupported'),
      url("/images/green.png") 1x type('image/png')
    );
    width: 100px;
    height: 100px;
  }
