
  body { margin: 0 }
  ul, li { margin: 0; padding: 0 }
  li {
    list-style-position: inside;
    /* green.png is 100x50, should be 200x100 instead */
    list-style-image: -webkit-image-set(url('/images/green.png') 0.5x);
    list-style-image: image-set(url('/images/green.png') 0.5x);
  }
