
  #test {
    background-image: url("/images/green.png");
    background-image: image-set(
      url("/images/red.png") -1x,
      url("/images/red.png") 2x
    );
    width: 100px;
    height: 100px;
  }
