
.red {
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  background: red;
}
.container {
  margin-left: -100px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
.container div {
  width: 100px;
  height: 100px;
  background: green;
}
