
.grid {
    grid-auto-flow: row dense;
    grid-auto-rows: 5px;
    grid-auto-columns: 5px;
}
#firstGridItem {
    grid-row: auto;
    grid-column: 1;
}

#secondGridItem {
    grid-row: 1;
    grid-column: auto;
}

#thirdGridItem {
    grid-row: auto;
    grid-column: auto;
}
