
#back {
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 60px solid green;
  background: blue;
}
#front {
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 40px solid blue;
  background: green;
  mask-image: url(1x1-black-30-alpha.png); /* 1x1 black with 30% transparency */
}
