
::part(inner-part) {
  color: red;
  background: blue;
  width: 100px;
  height: 100px;
}
::part(inner-part-alias) {
  color: green;
}
.change-1::part(inner-part) {
  background: green;
}

.change-2::part(inner-part-alias) {
  color: blue;
}
