
  my-element::part(button) {
    font-family: fantasy;
    background-color: #ff0000;
  }
  #grouped {
    color: #ff0000;
  }
  my-element::part(button):disabled {
    background-color: #00ff00;
  }
  my-element::part(button):disabled,
  #grouped {
    color: #00ff00;
  }
  my-element::part(not-a-part):disabled,
  #grouped {
    font-family: monospace;
  }
