
  my-element::part(checkbox) {
    font-family: fantasy;
    background-color: #ff0000;
  }
  #grouped {
    color: #ff0000;
  }
  my-element::part(checkbox):checked {
    background-color: #00ff00;
  }
  my-element::part(checkbox):checked,
  #grouped {
    color: #00ff00;
  }
  my-element::part(not-a-part):checked,
  #grouped {
    font-family: monospace;
  }
