
    body {
        overflow: hidden;
        image-orientation: from-image;
    }
    img {
        position: absolute;
        vertical-align: top;
    }
    .cover {
        object-fit: cover;
        top: 10px;
    }
    .contain {
        object-fit: contain;
        top: 150px;
    }
    .wide {
        width: 100px;
        height: 50px;
        left: 10px;
    }
    .tall {
        width: 50px;
        height: 100px;
        left: 150px;
    }
