
:root {
  interpolate-size: allow-keywords;
}
.parent {
  height: 200px;
  max-height: 300px;
}
.target {
  width: 100px;
  height: 50px;
  max-height: 100px;
}
.target::before {
  display: block;
  content: "";
  width: 100px;
  height: 50px;
}

