
:root {
  interpolate-size: allow-keywords;
}
.parent {
  max-width: 200px;
}
.target {
  width: 175px;
  height: 10px;
  max-width: 150px;
}
.target::before {
  display: block;
  content: "";
  width: 100px;
  height: 50px;
}
