
body {
  margin: 0;
  padding: 0;
}
#outer {
  width: 100px;
  height: 100px;
  background: lightblue;

  content-visibility: hidden;
}
#inner {
  margin: 25px;
  width: 50px;
  height: 50px;
  background lightgreen;
  will-change: transform;
}
