
#anchor, #positioned {
  width: 200px;
  height: 200px;
}

#lock {
  height: 400px;
  width: 400px;
  content-visibility: auto;
  border: 1px solid black;
}

pre {
  position: relative;
  top: 200px;
}

#container {
  position:relative;
  height: 10000px;
}

#anchor {
  anchor-name: --anchor;
  background-color: lightblue;
}

#anchor2 {
  anchor-name: --anchor2;
}

#positioned {
  position: absolute;
  background-color: lightgreen;
  left: anchor(right);
  top: anchor( --anchor2 top);
}
