
#container {
  width: 150px;
  height: 150px;
  border: 1px solid blue;
}
#spacer {
  width: 100px;
  height: 100px;
  background: orange;
}
#checker {
  width: 100px;
  height: 50px;
  background: blue;
}
