
.spacer {
  width: 150px;
  height: 3000px;
  background: lightblue;
}
#container {
  width: 150px;
  height: 150px;
  background: lightgreen;
  content-visibility: auto;
}
#target {
  width: 100px;
  height: 100px;
  background: green;
}
