
body, html {
  padding: 0;
  margin: 0;
}

.spacer {
  height: 3000px;
}
.container {
  width: 10px;
  contain-intrinsic-size: 10px 20px;
  content-visibility: auto;
}
.child {
  width: 10px;
  height: 10px;
}
