
        body {
            content-visibility: hidden;
            background-clip: text;
            position: absolute;
            border-right-style: dashed;
            border-top-style: ridge;
            background-color: green;
        }
    