
    .auto {
        content-visibility: auto;
        contain-intrinsic-size: auto 1px auto 10000px;
    }

    .child {
        height: 40000px;
        position: relative;
    }

    #target {
        position: absolute;
        bottom: 0;
        font: 25px/1 Ahem;
    }

    .before_target {
        height: 40000px;
    }
