
#container {
  width: 150px;
  height: 150px;
  background: lightblue;
}
#container::before {
  content: "FAIL! ";
  color: red;
}
.hasAfter::after {
  content: "FAIL!";
  background: red;
  color: white;
}
.hidden {
  content-visibility: hidden;
}
