
#container {
  content-visibility: hidden;
}
@keyframes fade {
  from { opacity: 0; transform: none; }
  to { opacity: 1; transform: translate(100px); }
}
#target {
  background: green;
  height: 100px;
  width: 100px;
}
.animate {
  animation: fade 1s linear 1 alternate;
  animation-fill-mode: forwards;
}
