
body {
  margin: 0;
  width: 150vw;
  height: 150vh;
}
#container {
  width: 500px;
  height: 300px;
  border: 2px solid orange;
  border-radius: 5px;
  overflow: scroll;
}
#content {
  background: repeating-linear-gradient(to bottom right, blue 15%, white 30%);
  width: 400px;
  height: 200px;
}
