
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}

.grid {
  display: inline-grid;
  max-width: 260px;
  padding: 1px 5px;
  border: 1px solid;
  grid-template-columns: 100px;
}
.subgrid {
  display: grid;
  grid-template-columns: 100%;
  margin: 0px 10px 0px 10px;
  background: grey;
}

  