

html,body {
  font:16px/1 monospace; padding:0; margin:0; line-height: 0;
}

.grid {
  display: inline-block;
  background-color: green;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}

  