
.grid {
  background: red;
  display: grid;
  grid-template: 100px 100px / 100px;
  height: 100px;
  width: 100px;
}
.subgrid {
  display: grid;
  grid-template-areas: "item item"
                       "item item";
  grid-template-rows: subgrid;
}
.item {
  background: green;
  grid-area: item;
}
