
.grid {
  display: grid;
  background: red;
  width: max-content;
  grid-template-columns: minmax(min-content, max-content);
}
.subgrid {
  display: grid;
  background: green;
  width: min-content;
  grid-template-rows: subgrid;
}
.w100 {
  display: inline-block;
  height: 50px;
  width: 100px;
}
