
.grid {
  display: inline-grid;
  background: red;
}
.subgrid {
  display: grid;
  grid-template-rows: subgrid;
  writing-mode: vertical-rl;
}
.item {
  align-self: baseline;
  background: green;
  height: 100px;
  width: 100px;
}
