
.test { text-align: justify; text-justify: distribute; }
/* the CSS below is not part of the test */
.test { border: 1px solid blue;  margin: 20px; width: 290px; color: blue; font: 24px/24px Ahem; }
