
        .justified {
            font: 10px/1 Ahem;
            text-align: justify;
            text-justify: inter-word;
            width: 120px;
            border: solid 1px black;
        }
        /* Hide the word separators, in case the system doesn't
           have an appropriate font installed and shows tofu.
           Justification should still work in this case. */
        .hidden {
            color: transparent;
        }
    