
div {
  font: 20px/1 Ahem;
  width: 11ch;
}
#ref {
  white-space: pre;
  color: orange;
}
#test {
  text-align: justify;
  color: blue;
}
span {
  text-justify: none;
}

/* this is just filler content to have an invisible last line, as jutification does not affect the last line */
a { color: white; }
