
.test { text-align: justify; text-justify: none; }
/* the CSS below is not part of the test */
.test, .ref { border: 1px solid orange;  margin: 20px; width: 290px; color: orange; font: 24px/24px Ahem; }
.ref { position: relative;  height: 72px; }
#rb1 { position: absolute; top: 0; left: 0; background-color: orange; width: 72px;  height: 72px; }
#rb2 { position: absolute; top: 0; left: 96px; background-color: orange; width: 72px;  height: 72px; }
#rb3 { position: absolute; top: 0; left: 192px; background-color: orange; width: 72px;  height: 48px; }
