
p {
  font-size: 2em;
  border: 1px solid black;
  padding: 10px 0px;
}
.test {
  text-align-last: justify;
  text-justify: inter-character;
}
.test img {
  width: 20px;
  height: 20px;
  vertical-align: top;
}
