
  p, span { margin: 0; padding: 0; line-height: 150%; }
  #wrapper { width: 10em; }
  span {
    display: inline-block;
    width: 3em;
    text-align: end;
    box-sizing: border-box;
    font-variant-numeric: tabular-nums;
  }
