
    div { width:80px; font: 10px Ahem; background-color:lightgray; }
    .normal { text-indent: 4em; }
    .eachline { text-indent: 4em each-line; }
    .hanging { text-indent: 4em hanging; }
    .eachlinehanging { text-indent: 4em each-line hanging; }
    .indent { color: blue; }
    