
  body { writing-mode: vertical-lr; }
  .container {
    position: relative;
    background: green;
    font: 20px/1 Ahem;
    inline-size: 80px;
    block-size: 120px;
    color: green;
  }
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0;
    block-size: 60px;
    inline-size: 160px;
  }
  .red { color: red; }
  .cb { position: relative; }
  .rtl { direction: rtl; }
  .ltr { direction: ltr; }
  .inline { display: inline; }
  .abs { position: absolute; }
  .inset-start { inset-block-start: 0; inset-inline-start: 0; }
  .inset-end { inset-block-end: 0; inset-inline-end: 0; }
