
  body { writing-mode: vertical-rl; }
  .container {
    background: green;
    inline-size: 80px;
    block-size: 120px;
  }
  .multicol {
    column-count: 2;
    column-fill: auto;
    column-gap: 0;
    block-size: 60px;
    inline-size: 160px;
  }
