
  html {
    margin: 8px;
  }
  body {
    background-image: linear-gradient(green, green), linear-gradient(red, red);
    background-size: 100px 100px, 100px 100px;
    background-position: right 100% top 0%, left 0% top 0%;
    background-repeat: no-repeat;
  }
