
div {
  border: solid 5px;
  margin: 5px;
  font-family: monospace;
  width: 6.1ch;
  padding: 1px;
}
.test { word-break: break-all; }
.blue { border-color: blue; }
.orange { border-color: orange; }
