
@keyframes anim {
  from { background-color: red }
  to { background-color: red }
}
.test {
  display: flex;
}
.test::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-color: green;
}
.tweak::before {
  animation: anim 2s linear infinite;
}
