
  div {
    animation-name: sample;
    animation-duration: 10s;
    animation-timing-function: ease-out;

    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
  }

  @keyframes sample {
    from {
      left: 150px;
    }
    to {
      left: 0px;
    }
  }
