
div:after {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  animation: doesntmatter 50s linear infinite,
             bg 100s step-end infinite;
  animation-play-state: paused;
  animation-delay: inherit;
}

@keyframes bg {
  50% { background: green; }
}
