
  body {
    margin: 0;
  }

  #box {
    position: absolute;
    left: 0px;
    top: 100px;
    height: 100px;
    width: 100px;
    margin: 0;
    background-color: green;
    transform: translate(100px, 0px);
  }
