
  div {
    height: 100px;
    width: 100px;
    position: absolute;
  }

  #test {
    animation-name: sample;
    animation-duration: 0s;
    animation-fill-mode: forwards;

    background-color: blue;
  }

  #ref {
    background-color: red;
    left: 150px;
  }

  @keyframes sample {
    from {
      left: 0px;
    }
    to {
      left: 150px;
    }
  }
