
  @keyframes color_and_bg_animation {
    from { background-color: rgb(0, 100, 0); color: rgb(100, 0, 0); }
    to { background-color: rgb(0, 200, 0); color: rgb(200, 0, 0); }
  }
  a {
    animation-name: color_and_bg_animation;
    animation-duration: 1000s;
    animation-delay: -500s;
    animation-timing-function: steps(2, end);
  }
  a:visited {
    color: white !important;
  }
