
  div {
    height: 100px;
    width: 100px;
    position: absolute;
  }

  #test-step-start {
    animation-name: sample;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;

    background-color: blue;
  }

  #ref-no-animation {
    background-color: red;
    left: 150px;
  }

  @keyframes sample {
    from {
      left: 0px;
    }
    to {
      left: 150px;
    }
  }
