
@property --c {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}
@keyframes color-shift {
    0% {
        --c: black;
    }
    100% {
        --c: white;
    }
}
#target {
    color: var(--c);
    animation: color-shift 1s linear 1 forwards paused
}
