
@keyframes bg-color-oklch {
  to {
    background-color: oklch(45% 0.2 264); /*  blue */
  }
}
#box {
  block-size: 200px;
  inline-size: 200px;
  background-color: #ff0000;
  animation: linear 1s forwards bg-color-oklch;
}
