

@keyframes display-animation {
  from { margin-left: 100px; display: block }
  to   { margin-left: 200px; display: none }
}

.target::after {
  content: "";
  margin-left: 50px;
}

.target.animated::after {
  animation: display-animation 1s forwards;
}

