
@keyframes display-animation {
  0% { display: none; }
  100% { display: block; }
}
#target {
  display: none;
  width: 100px;
  height: 100px;
  background-color: green;
}
#target.animate {
  animation: display-animation 1s;
  display: block;
}
