
#container {
  display: inline-block;
  margin-left:  150px;
  padding:  0;
  transform:  scaleX(-1) rotate(90deg);
}
#block-1 {
  background: blue;
  height: 200px;
  width:  100px;
}
#block-2 {
  background: green;
  height: 100px;
  width: 100px;
}
