
    @property --x {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }
    #test {
        animation: anim 1s;
    }

    @keyframes anim {
        to {
            --x: var(--x);
        }
    }
