
  * {
    padding: 0;
    margin: 0;
  }

  .test {
    counter-increment: section;
    counter-reset: multilevel;
  }

  ol[multilevel] > li::before {
    content: counter(section) "." counters(multilevel, ".") ".";
    counter-increment: multilevel;
  }

  ol[multilevel] {
    list-style: none !important;
    clear: both;
  }
