
:root {
  color:black; background-color:white; font:10px/1 monospace;
}
::marker {
  content: counter(foo) ". ";
}
ol::before, li::before {
  content: counters(foo,".");
}
div, span {
  counter-increment: foo 0;
}
ol[reversed] {
  counter-reset: reversed(list-item) 999 reversed(foo);
}
li {
  counter-increment: list-item 999 foo -1;
}
