
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}
body { margin-left: 10em; }
li { counter-increment: list-item 0; }
.dec { counter-increment:list-item -1; }
.zero { counter-increment:list-item 1 list-item -1; }
.two { counter-increment:list-item 3 list-item -1; }
  