
    .list {
      list-style: none;
      direction: rtl;
    }
    .list > ::before {
      content: "";
      display: inline-block;
      width: 0px;
      direction: ltr;
      white-space: pre;
    }
    .list > :nth-child(2)::before { content: "foo" }
    .list > :nth-child(3)::before { content: "foobar"; }
    .list > :nth-child(4)::before { content: "some very long text that is not going to fit and will overflow"; }
  