
html { writing-mode: vertical-rl; }
ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
.content::marker { content: "1. "; }
.sz1 { font-size: 40px; }
.sz1::marker { font-size: 20px; }
.sz2 { font-size: 20px; }
.sz2::marker { font-size: 40px; }
