
    main {
      width: 300px;
      overflow: auto;
      padding: 10px 0;
    }
    .list {
      font: 10px/1 Ahem;
      padding-inline-start: 100px;
      margin: 0;
      width: 50px;
      float: left;
    }
    .rtl { direction: rtl; }
    .list > :nth-child(1) { list-style-type: ""; }
    .list > :nth-child(2) { list-style-type: "XXX"; }
    .list > :nth-child(3) { list-style-type: "XXXppp"; }
    .list > :nth-child(4) { list-style-type: " XXX ppp "; }
    .list > :nth-child(5) { list-style-type: "XXX   ppp"; }
    .list > :nth-child(6) { list-style-type: "  XX Xp pp  "; }
    .list > :nth-child(7) { list-style-type: "X X Xp p p"; }
    .list > :nth-child(8) { list-style-type: "XXXXpXX XXXpXXX"; }
    .list > :nth-child(9) { list-style-type: " XXXXpXX XXXpXXX "; }
  