
container {
    display: block;
    inline-size: min-content;
    margin-trim: block-end;
}
item {
    display: block;
    background-color: green;
    inline-size: 50px;
    block-size: 50px;
    margin-block-end: 10px;
}
