
         @font-face {
             font-family: mplus;
             src: url(/fonts/mplus-1p-regular.woff) format("woff");
         }
         div{
             font: 50px mplus, sans-serif;
             color: #00008080;
             letter-spacing: 10px;
             /* make sure the underline clashes badly with the glyphs! */
             text-decoration: green underline;
             text-underline-offset: -3px;
             text-decoration-thickness: 3px;
             text-decoration-skip-ink: all;
         }
        