
body {
  background: white;
  color: black;
}
div {
  position: relative;
}
h1 {
  position: absolute;
}
u {
  text-decoration-color: black;
  text-decoration-inset: 0.25em;
}
u.green {
  text-decoration-color: green;
  text-underline-offset: 10px;
  text-decoration-inset: -0.5em;
}
