
        div{
            overflow: hidden;
            height: 1em;
            width: 4em;
            background-color: red;
            font: 20px/1 Ahem;
            color: transparent;
            text-decoration: green line-through;
            text-decoration-skip-ink: none;
            /* We make the text decoration just a bit thicker than the div's height, so that
             * it will entirely cover the div's content-box (making it fully green) as long
             * as the line-through is approximately centered, vertically.
             */
            text-decoration-thickness: 1.1em;
        }
    