
        #main {
            border-bottom: 2px solid purple;
            display: flex;
        }
        #text, #norm {
            text-decoration-color: green;
            text-decoration-line: underline;
            text-decoration-thickness: 15px;
            font: 20px/2 Arial;
            color: transparent;
            position: relative;
            margin-right: 10px;
        }
        #text {
            text-underline-offset: 25%;
        }
        #norm {
            text-underline-offset: 25%;
        }
    