
#htmlsrc { margin: 2em; }
#htmlsrc p {
	font-size: 28px;
	border-radius: 5px;
	line-height: 1.5;
	}
.hint { color: brown; font-family: sans-serif; font-size: 90%; }
.hint:before { content: '❗ '; }
:lang(mn) { font-family: "Mongolian Baiti", "Noto sans Mongolian", serif; }


div span {
text-decoration-line:overline;
}