
            table {
                border: 3px solid gray;
                border-collapse: collapse;
            }

            th,
            td{
                border: 2px solid gray;
                padding: 10px;
                text-align: center;
            }

            .two_point3_px {
                text-decoration-thickness: 2.3px;
            }

            .solid {
                text-decoration-style: solid;
            }

            .double {
                text-decoration-style: double;
            }

            .dotted {
                text-decoration-style: dotted;
            }

            .dashed {
                text-decoration-style: dashed;
            }

            .wavy {
                text-decoration-style: wavy;
            }

            .underline {
                text-decoration-line: underline;
            }

            .line_through {
                text-decoration-line: line-through;
            }

            .overline {
                text-decoration-line: overline;
            }
        