
      div.wrapper {
        font-size: 2em;
        position: relative;
      }
      div.test {
        text-decoration: underline;
        position: absolute;
        white-space: nowrap;
      }
    