
@font-face {
font-family: underline-variable;
src: url(resources/UnderlineTest-VF.ttf);
}

.test {
text-underline-position: from-font;
font-size: 64px;
line-height: 1.8;
}

.thin_underline {
font-family: underline-variable;
text-decoration: underline;
text-decoration-thickness: 0.2px;
}

.thick_underline {
font-family: underline-variable;
text-decoration: underline;
text-decoration-thickness: 6.4px;
}

.thin_underline_percent {
font-family: underline-variable;
text-decoration: underline;
text-decoration-thickness: 0.3152%;
}

.thick_underline_percent {
font-family: underline-variable;
text-decoration: underline;
text-decoration-thickness: 10%;
}
