
        div{
            font: 20px/1 Ahem;
            margin-left: 5em;
        }
        #text{
            color: transparent;
            writing-mode: sideways-lr;
            text-decoration: green underline;
            text-decoration-skip-ink: none;
            text-underline-offset: 5em;
        }
    