
@font-face {
font-family: underline-variable;
src: url(resources/UnderlineTest-VF.ttf);
}

.test_red {
font-family: underline-variable;
font-size: 64px;
}

.underline {
text-decoration: underline;
text-underline-position: from-font;
text-decoration-thickness: 13px;
text-decoration-color: red;
}

.test_green {
text-decoration: underline;
font-family: underline-variable;
text-underline-position: from-font;
text-decoration-thickness: 25px;;
font-size: 64px;
text-decoration-color: green;
}

.overlap {
position: absolute;
left: 20px;
top: 25px;
}
