
  body {
    overflow: hidden;
  }
  #wrapper {
    position: absolute;
    margin: 100px;
    padding-top: 200px;
  }
  #decoration {
    font: 400px/1 Ahem;
    color: transparent;
    text-decoration-line: overline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
  }
  #abspos {
    position: absolute;
    left: -100px;
    top: -100px;
    width: 480px;
    height: 1000px;
    background: white;
  }
