
        div span {
            font: 20px/1 Ahem;
            padding-right: 1em;

            text-decoration: underline;
            text-decoration-thickness: 10px;
            text-underline-offset: .5em;
        }
    