
            .first-underline {
                text-decoration: underline;
                text-decoration-color: blue;
            }
            .second-underline {
                text-decoration: underline;
                text-decoration-color: gold;
            }
            .third-underline {
                text-decoration: underline;
                text-decoration-color: green;
            }
            .first-underline::selection {
                text-decoration: underline;
                text-decoration-color: pink;
            }
            .second-underline::selection {
                text-decoration: underline;
                text-decoration-color: violet;
            }
            .third-underline::selection {
                text-decoration: underline;
                text-decoration-color: skyblue;
            }

            .blue-underline {
                text-decoration: underline;
                text-decoration-color: blue;
            }
            .gold-overline {
                text-decoration: overline;
                text-decoration-color: gold;
            }
            .green-line-through {
                text-decoration: line-through;
                text-decoration-color: green;
            }
            .blue-underline::selection {
                text-decoration: underline;
                text-decoration-color: pink;
            }
            .gold-overline::selection {
                text-decoration: overline;
                text-decoration-color: violet;
            }
            .green-line-through::selection {
                text-decoration: line-through;
                text-decoration-color: skyblue;
            }
        