
.grid {
  margin: 40px;
  display: grid;
  grid: auto / repeat(3,100px);
  grid-gap: 20px;
}
span, even {
  position: relative;
  min-height: 20px;
  background: grey;
  left: 0px;
}
.offset even {
  left: 50%;
}

