
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  .test-inline-grid-overlapping-green {
    display: inline-grid;
    font: 25px/1 Ahem;
    color: green;
  }
