
.container {
    font: 25px/1 Ahem;
    width: 100px;
}
.child {
    margin: 0px 50px;
    color: red;
}
.ref {
    position: absolute;
    z-index: -1;
    background: green;
    height: 100px;
}
.grid {
    background: none;
    grid-template-rows: 100px;
}
#item {
    margin: 0px 50%;
    color: green;
}
