
.container {
    font: 80px/1 Ahem;
    width: 100px;
}
.child {
    padding: 0px 10px;
    color: red;
}
.ref {
    position: absolute;
    z-index: -1;
    background: red;
    height: 100px;
}
.grid {
    background: green;
    grid-template-rows: 100px;
}
#item {
    padding: 0px 10%;
    color: green;
}
