
.container {
    width: 100px;
}
.child {
    width: 25px;
    height: 25px;
    margin: 50px;
    background: red;
}
.ref {
    position: absolute;
    z-index: -1;
    background: green;
    height: 100px;
}
.grid {
    background: none;
}
#item {
    margin: 50%;
    background: green;
}
