
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  #constrained-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 10px;
    height: 10px;
  }

  .test-grid-item-overlapping-green {
    width: 50px;
    justify-self: stretch;
    align-self: stretch;
  }
