
.grid {
  width: 100px;
  border: solid thick;
  grid: 10px 10px / minmax(auto, 0px);
}

.grid > div:nth-child(1) { background: cyan; writing-mode: vertical-lr; }
.grid > div:nth-child(2) { background: magenta; }

.width60 { width: 60px; }
.minWidth60 { min-width: 60px; }

.marginLeft5 { margin-left: 5px; }
.marginRight10 { margin-right: 10px; }
.marginTopAuto { margin-top: auto }

.paddingLeft6 { padding-left: 6px; }
.paddingRight3 { padding-right: 3px; }

.borderLeft2, .borderRight4 { border: solid yellow 0px; }
.borderLeft2 { border-left-width: 2px; }
.borderRight4 { border-right-width: 4px; }
