
  .grid {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    font: 25px/1 Ahem;
  }

  .grid2rows {
    grid-template-rows: auto auto;
  }

  .constrainedGrid {
    width: 10px;
    height: 10px;
  }

  .item {
    background: black;
    width: 100px;
    height: 25px;
  }

  .justifyContentStart {
    justify-content: start;
  }

  .width200px {
    width: 200px;
  }

  .width100percent {
    width: 100%;
  }
