
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}

.webconsole-app {
  display: grid;
  height: 200px;
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  background: blue;
}

.controlled {
  display: flex;
  overflow: auto;
}

.sidebar-wrapper {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 50px 1fr;
  overflow: hidden;
}

.sidebar-contents {
  grid-row: 2 / 3;
  overflow: auto;
  max-height: 100%;
}

  