
.container {
    width: 100px;
}
.child {
    min-width: 80px;
    min-height: 80px;
    padding: 10px;
    background: red;
}
.ref {
    position: absolute;
    z-index: -1;
    height: 100px;
}
.grid {
    background: none;
}
#item {
    padding: 10%;
    background: green;
}
