
#reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
}

#constrained-grid {
    display: grid;
    width: 10px;
    height: 10px;
    grid: minmax(auto, 500px) / minmax(auto, 500px);
}

#test-grid-item-overlapping-green {
    background-color: green;
}

#content-100x100 {
    width: 100px;
    height: 100px;
}
