
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  .test-grid-overlapping-green {
    display: grid;
    font: 25px/1 Ahem;
    color: green;
    justify-content: start;
    align-content: start;
  }

  .two-columns {
    grid-template-columns: auto auto;
  }
