
.grid {
    grid-template-columns: 80px;
}

.block {
    background-color: grey;
    width: 80px;
    height: 80px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid;
}

.item {
    font: 15px/1 Ahem;
    background-color: green;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40px;
    height: 20px;
    margin: 4px 8px 12px 16px;
}
