
#reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
}

#constrained-grid {
    display: grid;
    width: 500px;
    height: 200px;
    grid: 50% / 20%;
}

#test-grid-item-overlapping-green {
    background-color: green;
}

#content-200x200 {
    width: 200px;
    height: 200px;
}
