
  #target-1, #target-2, #target-3, #target-4, #target-5, #target-6 {
    color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    transition: background-color 1s linear;
  }
  #target-1,
  #target-2.update-2,
  #target-3,
  #target-4.update-4 {
    background-color: color-mix(in srgb, white 50%,
                                currentcolor);
  }
  #target-1.update-1,
  #target-2 {
    background-color: rgb(0, 255, 0);
  }

  #target-3.update-3,
  #target-4 {
    background-color: color(srgb 0.0 1.0 0.0);
  }

  #target-5, #target-6.update-6 {
    background-color: color-mix(in srgb, transparent 50%,
                                currentcolor);
  }

  #target-6, #target-5.update-5 {
    background-color: rgba(255, 255, 255, 0.75);
  }

