
    #box {
      position: absolute;
      height: 100px;
      width: 100px;
      left: 0px;
      background-color: blue;
      transition-duration: 1s;
      transition-delay: -0.75s;
      transition-timing-function: linear;
      transition-property: left;
    }
  