
  div {
    height: 100px;
    width: 100px;
  }
  #ref {
    background-color: red;
    z-index: 1;
  }
  #test {
    background-color: green;
    position: relative;
    top: -100px;
    transition-duration: 2s;
    transition-property: z-index;
    transition-timing-function: linear;
    z-index: -100;
  }
