
  #test {
    border: 1px solid;
    background-image: url("support/cat.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 200px;
    transition-duration: 8s;
    transition-property: background-position;
    transition-timing-function: linear;
  }
