
  #test {
    background-color: blue;
    height: 100px;
    transition-duration: 2s;
    transition-property: visibility;
    transition-timing-function: linear;
    visibility: display;
    width: 100px;
  }
