
  #test {
    background-color: blue;
    height: 100px;
    margin-left: 1px;
    transition-duration: 4s;
    transition-property: margin-left;
    transition-timing-function: linear;
    width: 100px;
  }
