
  #test {
    background-color: blue;
    height: 100px;
    padding-bottom: 0px;
    transition-duration: 2s;
    transition-property: padding-bottom;
    transition-timing-function: linear;
    width: 100px;
  }
