
  #ref {
    background-color: blue;
    height: 100px;
    width: 100px;
  }
  #test {
    margin-bottom: 1px;
    transition-duration: 4s;
    transition-property: margin-bottom;
    transition-timing-function: linear;
  }
