
  #test {
    background-color: blue;
    height: 200px;
    max-height: 200px;
    transition-duration: 4s;
    transition-property: max-height;
    transition-timing-function: linear;
    width: 100px;
  }
