
  div {
    height: 100px;
    transition: width 2s;
    width: 100px;
  }
  #test1 {
    background-color: blue;
    transition-timing-function: ease;
  }
  #test2 {
    background-color: yellow;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }
