
  #test {
    padding-left: 1px;
    transition-duration: 2s;
    transition-property: padding-left;
    transition-timing-function: linear;
  }
  #ref {
    background-color: blue;
    height: 100px;
    width: 100px;
  }
