
  #test {
    background-color: blue;
    height: 100px;
    position: relative;
    transition-duration: 2s;
    transition-property: top;
    transition-timing-function: linear;
    width: 100px;
  }
