
table {
  display: inline-table;
  border-collapse: collapse;
}

td {
  border: 10px solid black;
  line-height: 0;
  padding: 0;
}

span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: grey;
}

.spacer-1 {
  height: 2px;
}

.spacer-2 {
  height: 5px;
}

.spacer-3 {
  height: 10px;
}
