
#grid-lanes {
    display: grid-lanes;
    grid-template-rows: 1fr 30px;
    border: 10px solid fuchsia;
    height: min-content;
}
#item {
    grid-row: 1 / span 2;
}
#filler {
    height: 300px;
    width: 50px;
    background: aqua;
}
