
    html,body {
      margin: 0;
    }

    table {
      border: 2px solid black;
    }

    td {
      border: 2px solid lime;
    }

    .item {
      height: 50px;
      width: 50px;
      border: 1px solid blue;
    }

    .container {
      writing-mode: vertical-lr;
    }

    .small-h { height: 1px; }
    .big-h { height: 150px; }
    .small-w { width: 1px; }
    .big-w { width: 150px; }
  