
    html,body {
      margin: 0;
    }
    table {
      border: 2px solid black;
    }

    td {
      border: 2px solid lime;
    }

    .item {
      height: 50px;
      width: 50px;
      border: 1px solid blue;
    }

    .container {
      writing-mode: vertical-lr;
    }

    .small { block-size: 1px; }
    .big { block-size: 150px; }
  