
    html,body {
      margin: 0;
    }
    .container {
      width: max-content;
      height: 50px;
      border: 1px solid black;

      font-family: Ahem;
      font-size: 15px;
      line-height: 21px;
    }
    .container > * {
      display: inline-block;
      border: 1px solid blue;
    }

    .container-vertical {
      width: 50px;
      border: 1px solid black;

      font-family: Ahem;
      font-size: 15px;
      line-height: 21px;
    }
    .container-vertical > * {
      writing-mode: vertical-lr;
      border: 1px solid blue;
    }
  