
.abs {
  position: absolute;
  background: green;
  inline-size: 100px;
  padding-top: 100px;
}
.layout {
  font: 50px/1 Ahem;
  color: red;
  background-color: red;
  width: 100px;
  padding-top: 25%; /* This resolves against body's inline-size. */
}
