
.outer {
  display: table;
  width: min-content;
  height: 100px;
  background: red;
  border-right: 10px solid red;
}
.inner {
  display: table-cell;
  height: 100%;
}
canvas {
  vertical-align: top;
  background: green;
}
