
fieldset {
  margin: 0;
  padding: 10px;
  border: 0;
  height: 80px;
  width: fit-content;
  /* create a red dot that should be covered by the <img> */
  background: radial-gradient(red, red 50%, green 50%, green 100%);
}
img {
  height: 100%;
}
