
      .disappearing-border {
        height:0.25px;
        width:100%;
        border-top: 0.25px solid black;
      }

      .disappearing-box {
        height:0.25px;
        width:100%;
        background-color: black;
      }

      body {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
    