
        .disappearing-border {
            height:1px;
            width:100%;
            border-top:1px solid black;
        }

        .disappearing-box {
          height:1px;
          width:100%;
          background-color: black;
        }

        body {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    