
    html,body {
      margin: 0;
    }

    .container {
      width: 200px;
      height: 120px;
      border-color: blue;
      border: 2px solid blue;
      writing-mode: vertical-lr;
    }

    .container > * {
      border: 2px solid lime;
      font-size: 15px;

      font-family: Ahem;
      font-size: 10px;
      line-height: 15px;
    }
  