
.grid {
    display: grid;
    grid-template-rows: 100px auto 100px;
    align-items: start;
    background: gray;
    width: 300px;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    overflow: visible;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.square-100x100 {
    width: 100px;
    height: 100px;
}
