
html,body {
  color:black; font:15px/1 monospace; padding:0; margin:0;
}

.grid {
    display: grid;
    grid-template-rows: 15px auto auto;
    width: max-content;
    background: gray;
    align-items: start;
    padding: 10px;
}
