
                    [name] {
                        display: block;
                        width: 100px;
                        height: 100px;
                        background-color: red;
                    }
                    :has-slotted(div) + :has-slotted(div) {
                        background-color: green;
                    }
                