
        [name] {
          display: block;
          width: 100px;
          height: 100px;
          background-color: red;
        }
        :has-slotted(div + div) {
          background-color: green;
        }
      