
@counter-style from-counter-style {
  system: cyclic;
  symbols: 'X';
}

@counter-style to-counter-style {
  system: cyclic;
  symbols: 'O';
}

#target1 {
  list-style-type: from-counter-style;
}

#target2 {
  list-style-type: to-counter-style;
}
