
        slot {
          display: block;
          width: 100px;
          height: 100px;
          background-color: red;
        }
        ::slotted(:not(:has(:first-child:last-child))) {
          display: block;
          width: 100px;
          height: 100px;
          background-color: green;
        }
      