
.test {
  background: green;
  position: absolute;
}

.container-1 {
  border: solid 2px;
  position: relative;
  height: 200px;
  width: 300px;
}

.container-2 {
  border: solid 2px;
  position: relative;
  height: 25px;
  width: 25px;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}

