
.test {
  background: red;
  height: 100px;
  width: max-content;
}

.child {
  max-width: 75px;
}

@supports (display: layout(parent)) {
  .test {
    display: layout(parent);
    background: green;
  }

  .child {
    display: layout(child);
  }
}
