
.test {
  background: green;
  border: solid 2px;
}

.container-1 {
  height: 100px;
  width: 300px;
}

.container-2 {
  height: 50px;
  width: 50px;
}

.container-3 {
  height: 80px;
  width: 80px;
}

.left {
  float: left;
  writing-mode: horizontal-tb;
}

.right {
  float: right;
  writing-mode: vertical-rl;
}
