
      .test_content div {
        width: 64px;
        height: 64px;
        background-color: blue
      }
      .test_content div.x4_zoom {
        zoom: 4.0;
        background-color: blueviolet;
      }
      .test_content div.x2_zoom {
        background-color: chartreuse;
        zoom: 2.0;
      }

      .test_content div.transform {
        transform: scale(2);
        transform-origin: top left;
      }


