
.square {
  width: 10px;
  height: 10px;
  background-color: red;
}
#one {
  position: absolute;
  top: 10px;
  left: 10px;
}
#two {
  position: absolute;
  top: 50px;
  left: 50px;
}
span.square {
  display: inline-block;
}
