
  #target {
    width: 20px;
    flex-direction: column;
  }
  #target > div {
    background-color: green;
    margin: -5px -7px;
  }

  #target > div > div {
    height: 20px;
    width: 20px;
  }
