
    html, .contents { display: contents }

    #t2 .contents { background-color: green }
    #t2 span { background-color: inherit }

    #t3 .contents { color: green }

    #t4 {
        width: auto;
        height: 50%;
        margin-left: 25%;
        padding-top: 10%;
    }
