
    /* Disable kerning because kerning may differ for different node tree. */
    html { font-kerning: none; font-feature-settings: "kern" off; }
    .flex { display: inline-flex; flex-direction: column }
    .flex::before { display: contents; content: "A" }
    .flex::after { display: contents; content: "S" }
