
  .float {
    background-color: blue;
    width: 250px;
    height: 100px;
  }
  .left { float: left; }
  .right { float: right; }

  #outer { width: 400px; }

  #zerowidth {
    display: flow-root;
    width: 0;
    outline: 1px solid black;
    height: 200px;
  }
