
  html { font-kerning: none; font-feature-settings: "kern" off; }
  details, summary {
    all: initial;
    border: 10px solid red;
    display: contents;
  }
  details::details-content {
    display: contents;
  }
