
  /* Disable kerning because kerning may differ for different node tree. */
  html { font-kerning: none; font-feature-settings: "kern" off; }
  button {
    all: initial;
    font-kerning: none; font-feature-settings: "kern" off;
    border: 10px solid red;
    display: contents;
  }
