
  #t1::first-line { float: left; display: flex; font-size: 30px }
  #t2::first-line { float: left; font-size: 30px }
  #t3::first-line { display: flex; font-size: 30px }
  #t4::first-line { font-size: 30px }
