
    div {
      writing-mode: horizontal-tb;
      direction: ltr;
      background-color: blue;
    }
    .horizontal {
      width: 100px;
      height: 10px;
    }
    #horizontal {
      width: 100px;
      height: 10px;
    }
    .vertical {
      width: 10px;
      height: 100px;
    }
    #vertical {
      width: 10px;
      height: 100px;
    }
  