
.tests {
  width: 600px;
}

.block {
  border: 1px solid #000;
}
#block1 {
  block-size: 40px;
  min-block-size: 50px;
  max-block-size: 100px;
}
#block2 {
  block-size: 100px;
  min-block-size: 50px;
  max-block-size: 100px;
}
#block3 {
  block-size: 120px;
  min-block-size: 50px;
  max-block-size: 100px;
}

.override {
  border: 1px solid #000;
}
#override1 {
  block-size: 100px;
  height: 50px;
}
#override2 {
  height: 50px;
  block-size: 100px;
}

.table {
  border: 1px solid #000;
  display: table;
}
.tablecell {
  display: table-cell;
}
#table1_cell {
  block-size: 40px;
  min-block-size: 50px;
  max-block-size: 100px;
  inline-size: 100px;
  background-color: red;
}
#table2_cell {
  block-size: 100px;
  min-block-size: 50px;
  max-block-size: 100px;
  inline-size: 100px;
  background-color: blue;
}
#table3_cell {
  block-size: 120px;
  min-block-size: 50px;
  max-block-size: 100px;
  inline-size: 100px;
  background-color: green;
}
