
body {
  margin: 0;
}

div {
  width: 100px;
  height: 100px;
}

#scroller1 {
  width: 200px;
  height: 200px;
  position: relative;
}

#scroller1,#scroller2,#scroller3 {
  overflow: scroll;
}

#anchor1 {
  height: 20px;
  background: orange;
}

#anchor2 {
  height: 20px;
  background: cyan;
}

#anchored1 {
  position: absolute;
  top: 70px;
  background: green;
}

#anchored2 {
  position: absolute;
  top: 120px;
  background: lime;
}
