
  @property --x {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
  }
  #outside {
    --x: calc(1px + 1px);
    --y: calc(1px + 1px);
  }


    /* This rule should be globally registered */
    @property --y {
      syntax: "<length>";
      inherits: false;
      initial-value: 0px;
    }
    #inside {
      --x: calc(1px + 1px);
      --y: calc(1px + 1px);
    }
  