
@property --x {
  inherits: true;
  initial-value: black;
  syntax: "<color>";
}
div {
  --x: color(srgb 0 calc(0.5 * sibling-index()) 0);
  background-color: var(--x);
  width: 100px;
  height: 100px;
}
