
            * {
                margin: 0px;
                padding: 0px;
            }
            .exclusion {
                wrap-flow: maximum;
                position: absolute;
                top: 40px;
                left: 40px;
                width: 60px;
                height: 25px;
                background: blue;
            }
            #content {
                width: 400px;
                line-height: 12px;
                font: 12px Ahem;
            }
        