
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 400px;
  height: 400px;
}
#box {
  background-color: green;
  transform: translate(306px, 94px) rotate(45deg);
  transform-origin: 0 0;
  border-radius: 50% 50% 0 0;
  width: 100px;
  height: 100px;
}
