
  body {
    margin: 0;
  }
  #blue {
    background: radial-gradient(lightblue, blue);
    width: 60px;
    height: 60px;
    offset-path: circle(100px at 150px 150px);
    position: relative;
    left: 100px;
  }
  #purple {
    background: radial-gradient(fuchsia, purple);
    width: 60px;
    height: 60px;
    offset-path: border-box;
    position: relative;
    left: 100px;
  }
