
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 600px;
  height: 400px;
}

#box {
  width: 100px;
  height: 100px;
  background-color: green;
  offset-path: shape(from 0px 0%,
                     hline by 100%,
                     vline to 400px,
                     hline by -100%,
                     close);
  offset-distance: 40%;
  border-radius: 50% 50% 0 0;
}
