
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 400px;
  height: 400px;
}
#box {
  background-color: green;
  position: relative;
  transform: translate(200px, 160px);
  border-radius: 50% 50% 0 0;
  width: 100px;
  height: 100px;
}
