
  #outer {
    top: 100px;
    left: 100px;
    position: relative;
    width: 600px;
    height: 400px;
  }
  #box {
    background-color: green;
    position: relative;
    top: 100px;
    left: 100px;
    offset-path: ray(0deg closest-side at 100px 30%);
    offset-distance: 100%;
    offset-position: 10px 90%;
    width: 100px;
    height: 100px;
  }
