
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 400px;
  height: 200px;
}
#box {
  background-color: green;
  position: relative;
  offset-path: xywh(10% 10% 100% 100% round 50px / 50px);
  /* Stop at the mid-point of the top-right corner */
  offset-distance: calc(12.5% + 200px);
  border-radius: 50% 50% 0 0;
  width: 100px;
  height: 100px;
}
