
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  border-radius: 50%;
  border: 10px solid black;
  width: 400px;
  height: 400px;
}
#box {
  background-color: green;
  position: relative;
  top: 100px;
  left: 100px;
  transform: translate(260px, 50px);
  width: 100px;
  height: 100px;
}
