
      #container {
        width: 300px;
        height: 300px;
      }
      #target {
        position: relative;
        left: 150px;
        top: 150px;
        width: 100px;
        height: 100px;
        background-color: lime;
        offset-path: ray(45deg closest-side contain);
        offset-rotate: auto;
        offset-distance: 100%;
        offset-position: auto;
      }
    