
      #container {
        display: grid;
        width: 400px;
        height: 300px;
      }
      #target {
        position: relative;
        left: 200px;
        top: 100px;
        width: 100px;
        height: 50px;
        background-color: lime;
        transform-origin: 0px 0px;
        offset-path: ray(180deg sides);
        offset-distance: 100%;
        offset-position: auto;
      }
    