
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 600px;
  height: 400px;
}
#box {
  background-color: green;
  position: relative;
  transform: translate(300px, 200px) translate(50px, -50px);
  width: 100px;
  height: 100px;
}
