
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 600px;
  height: 400px;
}
#box {
  background-color: green;
  position: relative;
  offset-path: polygon(0% 0%, 300px 200px, 100% 0px, 100% 100%, 0px 100%);
  offset-distance: 30%;
  offset-anchor: 10px 5%;
  width: 100px;
  height: 100px;
}
