
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  border: 10px solid black;
  width: 600px;
  height: 400px;
}
#box {
  background-color: green;
  position: relative;
  top: 100px;
  left: 100px;
  offset-path: padding-box;
  offset-distance: 15%;
  width: 100px;
  height: 100px;
}
