
#outer {
  top: 100px;
  left: 100px;
  position: relative;
  width: 600px;
  height: 400px;
}
#box {
  background-color: green;
  transform: translate(520px, 142px) rotate(90deg) translate(40px, 40px);
  border-radius: 50% 50% 0 0;
  width: 100px;
  height: 100px;
}
