
      * {
        color: black;
      }
      .b {
        color: yellow;
      }
      /*Simple selector arguments */
      :where(.b, .c) {
        color: red;
      }
      /*Compound selector arguments */
      .a~:where(.c#d, .e) {
        color: green;
      }
      /* Complex selector arguments */
      .h {
        color: red;
      }
      :where(.a~.h, .a~.h+.f) {
        color: yellow;
      }
      /* Nested */
      :where(.a>:where(.g+.h, .b)~.i) {
        color: blue;
      }
      :where(:is(.a~.h)) {
        color: yellow;
      }
    