
.inner-grid {
  display: grid;
  flex: 1 1 0%;
  width: 100%;
  background: red;
}

.inner-grid-item {
  font: 50px/1 Ahem;
  /* Disable automatic minimum size in inline axis. This is essential to
     reproduce this bug. 'min-width:auto' doesn't reproduce. */
  min-width: 0;
  width: 100%;
  color: transparent;
  background: green;
}
