
html,body {
  color:black; background-color:white; font:16px/1 monospace; padding:0; margin:0;
}

div {
  display: grid;
  height: 100px;
  background-color: lime;
}

table {
  padding-top: 100px;
  height: 100%;
  box-sizing: content-box;
  background-color: yellow;
}
