
  ::target-text {
    text-decoration: wavy underline overline green 5px;
    text-underline-offset: 20px;
    background-color: transparent;
  }
  div {
    border: solid 1px black;
    padding: 50px;
  }
