
  div {
    float: left;
    margin: 0.5em;
    /* Setting transparent color is a workaround to avoid hitting the following Chromium bug: https://crbug.com/1179938.
       This could be removed once that bug is fixed. */
    color: transparent;
  }
