
    div {
      margin: 50px;
      font-size: 40px;
      text-underline-offset: 0.5em;
      text-decoration-line: underline;
      text-decoration-color: green;
      text-decoration-thickness: 0.25rem;
    }
    #h2 {
      font-size: 20px;
    }
  