
    .wrapper {
      width: 200px;
      height: 100px;
      text-underline-offset: 4px;
      text-decoration-line: underline;
      text-decoration-color: green;
      text-decoration-thickness: 4px;
    }
  