
    div {
      margin: 40px;
      font-size: 20px;
      text-underline-offset: 10px;
      text-decoration-line: underline overline;
      text-decoration-color: green;
      text-decoration-thickness: 4px;
    }
  