
    :root {
      font-size: 8px;
    }
    div {
      margin: 50px;
      font-size: 10px;
    }
    ::highlight(highlight1) {
      text-underline-offset: 0.5em;
      text-decoration-line: underline;
      text-decoration-color: green;
      text-decoration-thickness: 0.25rem;
    }
  