
    .wrapper {
      container: wrapper / size;
      width: 200px;
      height: 100px;
    }
    @container (width > 100px) {
      ::highlight(highlight1) {
        text-underline-offset: 2cqw;
        text-decoration-line: underline;
        text-decoration-color: green;
        text-decoration-thickness: 4cqh;
      }
    }
  