
    .wrapper {
      container: wrapper / size;
      width: 200px;
      height: 100px;
    }
    .resize {
      width: 400px;
      height: 200px;
    }
    @container (width < 300px) {
      .wrapper::highlight(highlight1) {
        text-underline-offset: 2cqw;
        text-decoration-line: underline;
        text-decoration-color: green;
        text-decoration-thickness: 4cqh;
      }
    }
  