
  .target {
    display: inline;
    clip-path: border-box;
    corner-shape: bevel square scoop;
    zoom: 10%;
    border-radius: 100%;
    border: 5px solid purple;
    bottom: -1e100px;
    position: relative;
    background: green;
  }
