
      .svg {
        background-color: #888;
        width: 500px;
        display: block;
        height: 60px;
        margin: 10px auto;
      }
      .svg text {
        font-size: 25px;
        line-height: 50px;
        mix-blend-mode: normal;
      }
    
