
body {
  font: 36px sans-serif;
}
div {
  text-align: center;
}
.a {
  padding-right: 10px;
}
.b {
  margin-left: 10px;
}
.c {
  color: red;
  padding-left: 10px;
}
.d {
  color: red;
  margin-right: 10px;
}
