
section {
  margin-bottom: 1px;
}
.outer {
  display: inline-block;
  background: orange;
  padding-bottom: 20px;
}
.inner {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: blue;
}
.inline-block {
  display: inline-block;
}
.margin-bottom {
  margin-bottom: 30px;
}
