
#container {
  font-family: Ahem;
  font-size: 10px;
  line-height: 1;
  margin-left: 10ch;
}
inline-block {
  display: inline-block;
}
.w1 { width: 1ch; }
.w2 { width: 2ch; }
.w3 { width: 3ch; }
.w4 { width: 4ch; }
.w5 { width: 5ch; }
span {
  color: orange;
}
img {
  height: .6em;
  background: orange;
}
