
.container {
  margin: 30px 0;
  color: orange;
  background-color: blue;
  line-height: 10px;
  font-size: 30px;
  font-family: Ahem;
}
.lh20 { line-height: 20px; }
.lh30 { line-height: 30px; }
.up5 { position: relative; top: -5px; }
.up10 { position: relative; top: -10px; }
.down5 { position: relative; top: 5px; }
.down10 { position: relative; top: 10px; }
