
      div {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100px;
        height: 100px;
        top: 10px;
      }

      div.add {
        left: 10px;
        background-image: url(support/blue-100x50-transparent-100x50.svg);
      }

      div.intersect {
        left: 230px;
        background-image: url(support/blue-100x50-transparent-100x50.svg);
      }
    