
      div {
        background-color: blue;
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 100px;
        height: 100px;
        top: 10px;
      }

      div.match-luminance {
        left: 10px;
        mask-mode: match-source;
        mask-image: url("#svg-luminance");
      }

      div.match-alpha {
        left: 120px;
        mask-mode: match-source;
        mask-image: url("#svg-alpha");
      }

      div.luminance-luminance {
        top: 120px;
        left: 10px;
        mask-mode: luminance;
        mask-image: url("#svg-luminance");
      }

      div.luminance-alpha {
        top: 120px;
        left: 120px;
        mask-mode: luminance;
        mask-image: url("#svg-alpha");
      }

      div.alpha-luminance {
        top: 230px;
        left: 10px;
        mask-mode: alpha;
        mask-image: url("#svg-luminance");
      }

      div.alpha-alpha {
        top: 230px;
        left: 120px;
        mask-mode: alpha;
        mask-image: url("#svg-alpha");
      }

      #svg-luminance {
        mask-type: luminance;
      }

      #svg-alpha {
        mask-type: alpha;
      }
    