
      div {
        background-color: purple;
        mask-image: url(support/50x50-opaque-blue.svg), url(#mask1);
        mask-repeat: no-repeat, repeat;
        mask-position: 0 0, 0 0;
        width: 100px;
        height: 100px;
      }
    