
      div {
        background-color: purple;
        width: 100px;
        height: 100px;
      }

      div.mask-by-svg-mask {
        mask-image: url(support/mask-half-transparent-100x100.svg#mask);
      }
    