
      div {
        width: 100px;
        height: 100px;
      }
      span {
        font-size: 100px;
        line-height: 100px;
        mask-image: url(support/transparent-100x50-blue-100x50.png);
        mask-position: center;
        mask-repeat: repeat;
      }

    