
  rect.frame {
    x: -0.5px;
    y: -0.5px;
    width: 129px;
    height: 129px;
    stroke: black;
    fill: none;
  }

  rect.masked {
    width: 128px;
    height: 128px;
    fill: purple;
    mask-image: url(support/50x50-opaque-blue.svg);
    mask-position: left top;
  }

  #space {
    mask-repeat: space;
  }
  #space-x {
    mask-repeat: space no-repeat;
  }
  #space-y {
    mask-repeat: no-repeat space;
  }
