
      div {
        width: 100px;
        height: 100px;
      }

      div.outer {
        border: 1px solid black;
      }

      div.inner {
        background-color: purple;
        mask-image: url(support/50x50-opaque-blue.svg);
        mask-repeat: no-repeat;
      }

      #inner1 { mask-position: right 20% bottom 70%; }
      #inner2 { mask-position: bottom 70% right 20%; }
      #inner3 { mask-position: right 30px bottom 25px; }
      #inner4 { mask-position: bottom 25px right 30px; }
    