
      #outer {
        border: 1px solid black;
        width: 64px;
        height: 128px;
      }

      #inner {
        border: 20px solid transparent;
        width: 24px;
        height: 88px;
        background-color: purple;
        mask-image: url(support/50x50-opaque-blue.svg);
        mask-repeat: no-repeat;
        mask-position: left top;
        mask-clip: border-box;
        mask-origin: border-box;
        mask-size: contain;
      }
    