
      div {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: rgb(255,255,0);
        width: 100px;
        height: 100px;
        filter: invert(100%);
        mask-image: url(support/blue-100x50-transparent-100x50.png);
        opacity: 0.5;
      }
    