
      div {
        background-color: purple;
        mask-image: url(#mask1), url(support/50x50-opaque-blue.svg);
        mask-repeat: repeat-x, no-repeat;
        mask-position: 0 0, 0 0;
        width: 100px;
        height: 100px;
      }
    