
      #outer {
        border: 1px solid black;
        width: 64px;
        height: 128px;
      }

      #inner {
        width: 20px;
        height: 20px;
        background-color: purple;
      }
    