
.grid {
    display: grid;
    background: gray;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px 100px;
    width: 500px;
    height: 300px;
}

.grid > div {
    width: 300px;
    height: 100px;
    grid-column: span 2;
}
