
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: [line-1] repeat(auto-fill, 100px auto) [line-2];
    width: 500px;
    height: 300px;
}

.grid-lanes > div {
    width: 300px;
    height: 100px;
    grid-column: line-1 / line-2;
}
