
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: repeat(auto-fit, fit-content(100px));
    height: 300px;
    width: 300px;
    font: 15px/1 Ahem;
}

.grid-lanes > div {
    height: 100px;
}
