
.grid {
    display: grid;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: repeat(3, 135px 90px);
    grid-template-rows: 100px 100px 100px;
    width: 675px;
    height: 300px;
    font: 15px/1 Ahem;
}

.grid > div {
    height: 100px;
}
