
.grid {
    display: grid;
    background: gray;
    grid-template-columns: repeat(2, 50px) repeat(2, auto);
    grid-template-rows: 100px 100px;
    width: 505px;
    height: 300px;
    font: 15px/1 Ahem;
}

.grid > div {
    height: 100px;
}
