
.grid {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: 265px 50px 265px;
    grid-template-rows: 100px 100px 100px;
    width: 580px;
    height: 300px;
    font: 15px/1 Ahem;
}

.grid > div {
    height: 100px;
}
