
.grid {
    display: grid;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: repeat(2, 50px auto);
    grid-template-rows: 100px 100px 100px;
    width: 400px;
    height: 300px;
    font: 15px/1 Ahem;
}

.grid > div {
    height: 100px;
}
