
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 20px;
    background: gray;
    width: 400px;
    height: 260px;
}
