
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: repeat(auto-fill, auto 50px);
    width: 900px;
    height: 400px;
}

.grid-lanes > div {
    height: 100px;
}
