
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-columns: repeat(auto-fit, auto);
    height: 300px;
    width: 300px;
}

.grid-lanes > div {
    width: 100px;
    height: 100px;
}
