
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fill, auto 50px);
    height: 900px;
    width: 400px;
}

.grid-lanes > div {
    width: 100px;
}
