
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    height: 400px;
    width: 150px;
    gap: 10px;
}

img {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  display: block;
}
