
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fill, minmax(auto, min-content) minmax(auto, max-content) fit-content(100px) minmax(min-content, auto));
    height: 500px;
    width: 300px;
    font: 15px/1 Ahem;
}

.grid-lanes > div {
    width: 100px;
}
