
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fill, min-content max-content fit-content(100px) auto);
    height: 500px;
    width: 300px;
    font: 15px/1 Ahem;
}

.grid-lanes > div {
    width: 100px;
}
