
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    /*
      This is not currently a valid track definition and will fall back to
      none.
    */
    grid-template-rows: min-content repeat(auto-fill, min-content) min-content;
    grid-lanes-direction: row;
    width: 300px;
    height: 300px;
    font: 15px/1 Ahem;
}

.grid-lanes > div {
    width: 100px;
}
