
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: [line-1] repeat(auto-fill, 100px auto) [line-2];
    height: 500px;
    width: 300px;
}

.grid-lanes > div {
    height: 300px;
    width: 100px;
    grid-row: line-1 / line-2;
}
