
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fill, auto);
    width: auto;
    height: auto;
}

.grid-lanes > div {
    height: 100%;
    width: 100px;
}
