
.grid-lanes {
    display: grid-lanes;
    background: gray;
    flow-tolerance: 0;
    grid-template-rows: repeat(auto-fill, 100px auto);
    height: 500px;
    width: 300px;
}

.grid-lanes > div {
    height: 300px;
    width: 100px;
    grid-row: span 2;
}
