
.inline {
  all: inherit;/* inherit display:inline from span */
}
.half-red-sq {
  /* half of a red square */
  display: inline-block;
  width: 50px;
  height: 100px;
  background-color: red;
}
#positioned {
  position: relative;
}
#green-sq {
  position: absolute;/* put higher on Z axis */
  width: 100px;
  height: 100px;
  background-color: green;
}
  