
  #h1_physical {
    margin: 0px;
    margin: revert;
  }
  #h1_logical {
    margin: 0px;
    margin-inline-start: revert;
    margin-inline-end: revert;
    margin-block-start: revert;
    margin-block-end: revert;
  }
