
  #test1 {
    color: green;
  }
  #test1 {
    color: red;
    color: revert-rule;
  }


  #test2 { /* Specificity: (0, 0, 1) */
    color: red;
  }
  #test2#test2#test2 { /* Specificity: (0, 0, 3) */
    color: red;
    color: revert-rule;
  }
  #test2#test2 { /* Specificity: (0, 0, 2) */
    color: green;
  }


  #test3 {
    color: red;
  }
  #test3 {
    color: green;
  }


  #test4 {              z-index: 1; }
  #test4 {              z-index: 2; }
  #test4 { z-index: -1; z-index: revert-rule; }
  #test4 { z-index: -1; z-index: revert-rule; }
  #test4 { z-index: -1; z-index: revert-rule; }
