
  .container {
    position: relative;
    text-box-trim: trim-both;
    font-family: Ahem;
    font-size: 20px;
    line-height: 40px;
    color: green;
    background: red;
  }
  .filler {
    position: absolute;
    width: 100px;
    height: 20px;
    background: green;
  }
