
.spacer {
  background: lightgray;
  block-size: 100px;
}
.target {
  font: 50px/2 Ahem;
  text-box-trim: trim-end;
  text-box-edge: text;

  /* 385px will fit 4 lines if the last line has its end trimmed
   * (4*100 - 25 = 375px), but it will fit 5 lines if all have their end trimmed
   * (5*(100 - 25) = 375px). This tests that only the last line gets trimmed. */
  line-clamp: auto;
  max-height: 385px;
}
