
.spacer {
  background: lightgray;
  block-size: 100px;
}
.target {
  font: 50px/2 Ahem;
  text-box-trim: trim-both;
  text-box-edge: ex alphabetic;
}
.inner {
  text-box-edge: auto;
  /* auto keyword uses the value of line-fit-edge on the root inline box of the affected line box,
  interpreting leading (the initial value) as text. */
}
