
  .multicol {
    columns: 3;
    column-fill: auto;
    width: 640px;
    height: 350px;
    gap: 20px;
    font-family: Ahem;
    font-size: 50px;
    line-height: 100px;
    orphans: 1;
    widows: 1;
    background: yellow;
  }
  .up-half {
    position: relative;
    top: -25px;
  }
