
.spacer {
  background: lightgray;
  block-size: 100px;
  margin-block-start: 20px;
}
.multicol {
  column-count: 3;
  column-fill: auto;
  border: 1px solid;
  height: 290px;
  width: 20ch;
  font-family: Ahem;
  font-size: 40px;
  line-height: 1;
}
