
.spacer {
  height: 40px;
  background: lightgray;
}
.target {
  font: 40px/1 Ahem;
  ruby-position: under;
  text-box-trim: trim-end;
  text-box-edge: text;
}
rt {
  /* The Ruby annotation positioning is UA-dependent. In order to ref-test the
     trimming of parts above the ascent, hide the Ruby annotation. */
  color: transparent;
}
