
  .flexBaselineCheck {
    display: flex;
    border: 1px solid black;
  }
  .flexBaselineCheck > * {
    border: 2px solid teal;
    /* In the testcase, the (baseline-aligned) items should all have their
       bottom borders aligned with the 50px-tall canvas.  In other words, their
       bottom borders should all be aligned at the bottom of their flex
       container, separated from the bottom by only by their margin-end
       distance.  Here in the reference case, we just use "flex-end" alignment
       (plus the same amount of margin) to produce a precise reference for what
       that should look like. */
    align-self: flex-end;
    margin: 2px;
  }
  canvas {
    background: purple;
    width: 20px;
    height: 50px;
    box-sizing: border-box;
  }
  