
#wrapper {
  position: relative;
  background: red;
  width: 100px;
  height: 100px;
  padding: 25px;
  box-sizing: border-box;
}
#table-footer-group {
  display: table-footer-group;
  contain: layout;
}
#abspos {
  position: absolute;
  font: 100px/1 Ahem;
  color: green;
  top: 0;
  left: 0;
}
