
  .contain {
    contain: layout;
  }
  .outer {
    height: 100px;
    width: 100px;
  }
  .auto {
    overflow: auto;
  }
  .inner-sm {
    height: 50px;
    width: 50px;
    background: lightblue;
  }
  .inner-lg {
    height: 200px;
    width: 200px;
    background: lightblue;
  }
  .pass {
    background: green;
  }
  .fail {
    background: red;
  }
  .border {
    border: 5px solid green;
  }
  