
  div
    {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

  div#red-container-circle
    {
      background-color: red;
      contain: paint;
      padding: 25px;
    }

  img
    {
      vertical-align: bottom;
    }

  div#green-overlapping-reference
    {
      background-color: green;
      bottom: 100px;
      height: 100px;
      position: relative;
      width: 100px;
    }
  