
div {
  position: absolute;
}
#red {
  background: red;
  width: 100px;
  height: 100px;
}
#test {
  background: green;

  contain: size;
  columns: 2 40px;
  column-gap: 20px;
  min-height: 100px;

  color: transparent;
}
