
  .outer {
    height: 100px;
    width: 100px;
  }
  .auto {
    overflow: auto;
  }
  .inner-sm {
    height: 50px;
    width: 50px;
    background: lightblue;
  }
  .inner-lg-1 {
    height: 95px;
    width: 95px;
    background: lightblue;
  }
  .inner-lg-2 {
    height: 200px;
    width: 200px;
  }
  .pass {
    background: green;
  }
  .border {
    border: 5px solid green;
  }

  