
  .basic {
    display: inline-block;
    border: 1em solid green;
  }
  .height-ref {
    height: 50px;
  }
  .width-ref {
    width: 50px;
  }
  .innerContents {
    color: transparent;
    width: 0;
    height: 0;
  }
  