
  div#red-overlapped-test
    {
      background-color: red;
      contain: paint;
      padding: 0px 25px;
      width: 50px;
    }

  img
    {
      vertical-align: bottom;
    }

  div#green-overlapping-reference
    {
      background-color: green;
      bottom: 100px;
      height: 100px;
      position: relative;
      width: 100px;
    }
  