
  video, audio, canvas, svg, img, embed, object, iframe {
    border: 3px solid teal;
    contain: size;
    margin: 15px;
    width: max-content; /* This means 0, given 'contain:size'. */
    height: auto;
  }
