
  div
    {
      width: 100px;
    }

  div#contain-content
    {
      background-color: red;
      contain: content;
      height: 100px;
    }

  div.abspos
    {
      background-color: green;
      height: 50px;
      position: absolute;
      right: 0;
    }

  div#first-abspos
    {
      top: 0px;
    }

  div#second-abspos
    {
      bottom: 0px;
    }
  