
  div.inline-block
    {
      display: inline-block;
    }

  div#blue-test
    {
      background-color: blue;
      contain: size;
      padding: 50px;
    }

  span.block-descendant, img
    {
      display: block;
    }

  div#orange-reference
    {
      background-color: orange;
      height: 100px;
      width: 100px;
    }
  