
    .contain {
      contain:size;
    }
    .cols {
      column-count: 3;
      column-rule: 1px dotted blue;
      column-fill: auto;
      border: 2px solid blue;
      height: 50px;
      width: 300px;
    }
    .innerObject {
      height: 200px;
      width: 100px;
      background: orange;
    }
  