
  .flexBaselineCheck {
    display: flex;
    border: 1px solid black;
  }
  .flexBaselineCheck > * {
    contain: layout;
    border: 2px solid teal;
    align-self: baseline;
    margin: 2px;
  }
  canvas {
    background: purple;
    width: 20px;
    height: 50px;
    box-sizing: border-box;
  }
  