
.red {
    background: red;
}
.abs {
    position: absolute;
}
.float {
    float: left;
}
.zero {
    width: 0;
}
.contained {
    contain: size;
    color: transparent;
}
.grid {
    display: grid;
    grid: max-content auto / min-content auto;
}
table {
    border-collapse: collapse;
}
td {
    padding: 0;
}
