
rb {
  contain: paint;
  display: ruby-base;
  width: 0; /* Because if the test fails, this may get blockified, and which could make wide enough to hold the PASS */
}
rb::after {
  content: "PASS";
  position: absolute;
}
