
  table
    {
      table-layout: fixed;
      width: 206px;
    }

  caption
    {
      background-color: red;
      border: green solid 1em;
      color: red;
      contain: strict;
      font-size: 20px;
    }
  