
  img#blue-test
    {
      background-color: blue;
      contain: size;
      padding: 50px;
    }

  div#orange-reference
    {
      background-color: orange;
      height: 100px;
      width: 100px;
    }
  