
#containing-block {
  position: relative;
  background: red;
  width: 100px;
  height: 100px;
}

#contain-paint {
  contain: paint;
}

#abspos {
  position: absolute;
  bottom: 0;
  right: 0;
  background: green;
  width: 100%;
  height: 100%;
}
