
  body > div, video, audio, img, canvas, svg, iframe {
    border: 3px solid orange;
    contain: size;
    margin-bottom: 15px;
    width: min-content;
    height: min-content;
    float: left;
    clear: both;
  }
