
  div
    {
      background-color: green;
      border-radius: 100px;
      contain: paint;
      height: 50px;
      padding: 25px;
      width: 50px;
    }

  div::before
    {
      background-color: red;
      content: "";
      display: block;
      height: 18px;
      margin-left: 61px;
      margin-top: -28px;
      width: 18px;
    }
  