
  .contain {
    contain: size;
    visibility: hidden;
    border: none;
    color: transparent;
  }
  .container {
    border: 10px solid green;
    display: inline-block;
    vertical-align: top;
  }
  .innerContents {
    height: 50px;
    width: 50px;
  }
  .minHeight {
    min-height: 30px;
  }
  .height {
    height: 30px;
  }
  .minWidth {
    min-width: 30px;
  }
  .width {
    width: 30px;
  }
  