
  .basic {
    border: 1em solid green;
    column-count: 3;
  }
  .height-ref {
    height: 20px;
    background: lightblue;
  }
  .width-ref {
    width: 20px;
  }
  .floatLBasic-ref {
    float: left;
  }
  .floatLWidth-ref {
    float: left;
    width: 20px;
  }
  