
  #container {
    contain: paint;
    width: 100px;
    height: 100px;
  }
  #green {
    background-color: green;
    width: 100px;
    height: 100px;
  }
  #red {
    background-color: red;
    width: 100px;
    height: 10000px;
  }
