
  div
    {
      height: 100px;
      width: 100px;
    }

  div#red-overlapped-test
    {
      background-color: red;
      contain: paint;
    }

  img
    {
      vertical-align: bottom;
    }

  div#green-overlapping-reference
    {
      background-color: green;
      bottom: 100px;
      position: relative;
    }
  