
  div#correct-containing-block
    {
      background-color: red;
      height: 100px;
      position: relative;
      width: 100px;
    }

  div#incorrect-containing-block
    {
      contain: paint;
      display: inline;
    }

  div#abspos
    {
      background-color: green;
      bottom: 0;
      height: 100%;
      position: absolute;
      right: 0;
      width: 100%;
    }
  