
  div
    {
      contain: paint;
      margin: 30px 0px;
    }

  div#grand-grand-parent-orange
    {
      background-color: orange;
    }

  div#grand-parent-blue
    {
      background-color: blue;
    }

  div#parent-lime
    {
      background-color: lime;
    }

  div#collapse-through-child  /* margin collapsing through element */
    {
      contain: none;
    }
  