
div {
  border: 50px solid green;
  background: red;
  position: absolute; /* for shrinkwrap */
  contain: strict;

  animation-duration: 1s;
  animation-name: bad;
  animation-play-state: paused;

  font-size: 100px;
}

@keyframes bad {
  from {
    contain: none;
  }
}
