
      div {
        position: relative;
      }
      rbc {
        display: ruby-base-container;
      }
      .contained {
        z-index: 5;
        width: 70px;
        height: 10px;
        background-color: blue;
        margin-left: -25px;
      }
      .background {
        display: inline-block;
        background-color: yellow;
        height: 50px;
        width: 50px;
        position: fixed;
        z-index: 2;
      }
      .group {
        display: inline-block;
      }
    