
.container {
  width: 100px;
}
.grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  contain: inline-size;
}
.grid-item {
  background-color: green;
}
