
html::before {
    content: "";
    width: 100px;
    height: 100px;
    background: orange;
    display: block;
}
p { writing-mode: horizontal-tb; margin: 0;}
body {
    margin: 0;
    width: 200px;
    height: 200px;
    writing-mode: vertical-rl;
    contain: size;
}
