
      #outer {
         position: relative;
      }
      #inner1, #inner2 {
         position: absolute;
         top: 0px;
         left: 0px;
         font-family: "Ahem";
         font-size: 96px;
         font-style: italic;
         font-variant: small-caps;
         font-weight: bold;
      }
      #inner1 {
         color: red;
      }
      #inner2 {
         color: black;
      }
   