
  @keyframes step-anim {
    0% {
      width: 0px;
    }
    100% {
      width: 90px;
    }
  }

  .test {
    width: 10px;
    height: 20px;
    background: green;
    margin-bottom: 5px;
    animation: step-anim 3s steps(3, jump-start) paused;
    animation-delay: calc(var(--at) * -1s);
  }
