
    body {
        margin: 0px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        width: 430px;
        height: 430px;
    }

    .grid-container>div {
        z-index: 2
    }

    .grid-item {
        background-color: gray;
        opacity: 0.5;
        border: 1px solid #000;
    }

    .row-gap1 {
        position: absolute;
        height: 0px;
        top: 102.5px;
        left: 0px;
        width: 430px;
        border-bottom: solid 5px red;
    }

    .row-gap2 {
        position: absolute;
        height: 0px;

        top: 212.5px;
        left: 0px;
        width: 430px;
        border-bottom: solid 5px red;
    }

    .row-gap3 {
        position: absolute;
        height: 0px;
        display: flex;
        top: 322.5px;
        left: 0px;
        border-bottom: solid 5px red;
        width: 430px;
    }

    .col-gap1 {
        position: absolute;
        width: 0;
        height: 430px;
        border-left: solid 5px blue;
        top: 0px;
        left: 102.5px;
    }

    .col-gap2 {
        position: absolute;
        width: 0;
        height: 430px;
        top: 0px;
        left: 212.5px;
        border-left: solid 5px blue;
    }

    .col-gap3 {
        position: absolute;
        width: 0;
        height: 430px;
        top: 0px;
        left: 322.5px;
        border-left: solid 5px blue;

    }
