
  .multi-col {
    columns: 3;
    column-fill: auto;
    height: 150px;
  }
  .grid-container {
    display: grid;
    height: 200px;
    grid-template-rows: repeat(auto-fit, 20px);
    align-content: space-evenly;
    row-rule: 4px solid green;
  }
