
  body {
    margin: 0px;
  }

  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width: 120px;
    height: 120px;

    column-rule-color: blue;
    column-rule-style: solid;
    column-rule-width: 5px;

    row-rule-color: red;
    row-rule-style: solid;
    row-rule-width: 5px;
  }

  .item {
    background: gray;
    opacity: 0.5;
  }
