
  body {
    margin: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(auto-fit, 20px);
    row-gap: 10px;
    height: 260px;
    width: 100px;

    row-rule-color: red, blue, green, purple, pink, gold, cornflowerblue, orange;
    row-rule-style: solid;
    row-rule-width: 4px;
  }

  .item {
    background: gray;
    opacity: 0.5;
  }
