
    body {
        margin: 0px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        width: 400px;
        height: 400px;

        column-rule: 5px solid blue;
        row-rule: 5px solid red;
    }
    .grid-item {
        background-color: gray;
        opacity: 0.5;
        border: 1px solid #000;
    }
