
  body {
    margin: 0px;
  }
  .container {
    display: grid;
    grid-template: repeat(3, 50px) / repeat(3, 50px);
    gap: 20px;
    rule-visibility-items: around;
    rule-break: normal;
    rule: 10px solid;
    column-rule-color: rgba(0, 0, 255, 0.5);
    row-rule-color: rgba(255, 0, 0, 0.5);
    padding: 0px;
    rule-inset: overlap-join;
  }
  .item {
    background: lightgray;
  }
