
    body {
        margin: 0px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 430px;
        height: 430px;
        column-rule-color: blue;
        column-rule-style: solid;
        column-rule-width: 5px;
        row-rule-color: red;
        row-rule-style: solid;
        row-rule-width: 5px;
        column-rule-break: none;
        row-rule-break: none;
        rule-overlap: column-over-row;
    }
    .grid-item {
        background-color: gray;
        opacity: 0.5;
        border: 1px solid #000;
    }
