
  body {
    margin: 0px;
  }
  .grid {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 20px;
    row-rule: 6px solid red;
    column-rule: 6px solid blue;
    rule-inset: 0px;

    column-rule-visibility-items: between;
    row-rule-visibility-items: between;

    column-rule-break: intersection;
    row-rule-break: intersection;
  }
  .item {
    width: 100%;
    height: 100%;
    background: lightgray;
    opacity: 0.8;
  }
