
  body {
    margin: 0px;
  }

  .grid-container {
    height: 110px;
    width: 110px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 10px;
    row-gap: 10px;

    column-rule-color: pink;
    column-rule-style: solid;
    column-rule-width: 10px;

    row-rule-color: green;
    row-rule-style: solid;
    row-rule-width: 10px;
  }

  .grid-item {
    background: skyblue;
  }
