
  body {
    margin: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 430px;
    height: 430px;
  }

  .grid-item {
    background-color: gray;
    opacity: 0.5;
    border: 1px solid #000;
  }

  .col-gap {
    width: 0;
    border-left: solid 5px blue;
  }

  .col-gap1 {

    position: absolute;
    top: 110px;
    left: 102.5px;
    height: 210px;
  }

  .col-gap2 {
    position: absolute;
    top: 0px;
    left: 212.5px;
    height: 210px;
  }

  .col-gap3 {
    position: absolute;
    top: 0px;
    left: 322.5px;
    height: 430px;
  }

  .row-gap {
    height: 0px;
    border-bottom: solid 5px red;
  }

  .row-gap1 {
    position: absolute;
    top: 102.5px;
    left: 0px;
    width: 210px;
  }

  .row-gap2 {
    position: absolute;
    top: 212.5px;
    left: 110px;
    width: 210px;
  }

  .row-gap3 {
    position: absolute;
    top: 322.5px;
    left: 0px;
    width: 430px;
  }
