
  body {
    margin: 0px;
  }
  .container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 20px;
    rule: 6px solid;
    column-rule-color: rgba(128 0 0 / 0.5);
    row-rule-color: rgba(0 0 128 / 0.5);
    rule-break: intersection;
    rule-visibility-items: between;
    rule-inset: overlap-join;
  }
  .item {
    background: rgba(192 192 192 / 0.75);
  }
