
@page { size:5in 3in; margin:0.5in; }
        html,body {
            color:black; background-color:white; font-size:16px; padding:0; margin:0;
        }
p { height: 0.5in; width: 1in; margin:0; background-color:blue; float:left; }
.test { float:left; clear:left; width:3.3in; }
