
  #green, #red {
    /* Force display:block both popover open or closed to not rely on
       @starting-style or display transitions. */
    display: block;
    border: none;
    width: 100vw;
    height: 100vh;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #green.transition-enabled {
    transition: overlay 60s step-end;
    transition-behavior: allow-discrete;
  }
