
  @keyframes --anim {
    from {
      z-index: sibling-index();
    }
    to {
      z-index: 1;
    }
  }
  #target {
    animation: --anim 1000s step-end;
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
  }
  #abs {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    background: green;
  }
