
  #t1 {
    background-image: linear-gradient(white, rgb(0 0 calc(sibling-index() * 200)));
  }
  #t2 {
    background-image: cross-fade(linear-gradient(white, rgb(0 0 calc(sibling-index() * 200))) 40%, rgb(0 0 calc(sibling-index() * 200)) 60%);
  }
  #t3 {
    background-image: image-set(linear-gradient(white, rgb(0 0 calc(sibling-index() * 200))) 1x);
  }
