
  div {
    /* Use sans-serif fonts to ensure the width of `&nbsp` is larger than `i`. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    width: min-content;
    overflow-wrap: anywhere;
    border: 5px solid blue;
    margin-bottom: 5px; /* To separate <div>s visually. */
  }
  