
div, span {
    font: 25px / 1 Ahem;
    color: green;
}
.fail {
    position: absolute;
    background: green;
    color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
}
.testdiv {
    width: 2ch;
}
.test {
    overflow-wrap: anywhere;
}
