
.container {
  font-family: sans-serif;
  font-size: 14px;
  width: 680px;
  word-wrap: break-word;
}

spacer {
  display: inline-block;
  width: 620px;
}

pre-wrap {
  white-space: pre-wrap;
}

nowrap {
  white-space: nowrap;
}

inline-block {
  display: inline-block;
}
