
table {
  font: 20px/1 Ahem;
  overflow-wrap: anywhere;
  max-width: 0;
  border: 0;
  border-collapse: collapse;
}
td {
  padding: 0;
  background: green;
  color: transparent;
}
#red {
  font: 20px/1 Ahem;
  position: absolute;
  z-index: -1;
  background: red;
  color: transparent;
}
