
@font-face {
  font-family: 'B';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/AD.woff) format('woff');
}

div {
  width: 1ex;
  height: 1ex;

  font-size: 200px;
  background: blue;
  font-family: 'B';
}
