
@font-face {
  font-family: ligsym;
  src: url(support/fonts/LigatureSymbolsWithSpaces.woff);
  font-feature-settings: "liga" 0;
}

td {
  padding: 10px 5px;
}

.test {
  font-family: ligsym;
  font-size: 150%;
  font-variant-ligatures: none;
  font-feature-settings: "liga" on;
}
