
  @font-face {
    font-family: test;
    src: url(/fonts/noto/noto-sans-v8-latin-regular.woff);
         /* this font has a cap-height of 1462/2048 units */
  }
  div {
    clear: left;
    float: left;
    font: 56px/112px test;
    color: orange;
    background: orange;
  }
  #test1 {
    color: green;
    background: green;
    font-size-adjust: cap-height calc(1462 / 2048);  /* should cause no change */
  }
  #test2 {
    color: blue;
    background: blue;
    font-size-adjust: cap-height calc(1.5 * 1462 / 2048);  /* should be 1.5 times larger */
  }
  #test3 {
    color: magenta;
    background: magenta;
    font-size-adjust: cap-height calc(0.75 * 1462 / 2048);  /* should be 0.75 times larger */
  }
