
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  .tests {
	  font-family: fwf;
	  font-size: 4em;
	  line-height: 1.1;
  }
  .test {
    font-variant: normal;
  }
