
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  .test {
	  font-family: fwf;
	  font-size: 3em;
	  line-height: 1.1;
  }
  .high {
	 font-variant-east-asian: full-width;
  }
  .low {
   font-feature-settings: "jp78" off, "jp83" off, "jp90" off, "jp04" off, "smpl" off,  "trad" off, "fwid" on, "pwid" off, "ruby" off ;
  }
