
@font-face {
  font-family: NotoSansCJK;
  src: url(/fonts/noto/cjk/NotoSansCJKjp-Regular-subset-chws.otf);
}
div {
  color: green;
  background: green;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.adjustedRef {
  font-family: NotoSansCJK;
  font-size: 200px;
}
.fallbackRef {
  font-family: Ahem;
  font-size: 50px;
}
