
@font-face {
    font-family: "COLR-test-font";
    src: url("resources/COLR-palettes-test-font-no-light-dark.ttf") format("truetype");
}

@font-palette-values --MyPalette {
    font-family: "COLR-test-font";
    base-palette: light;
}
