
@font-face {
    font-family: "COLR-test-font";
    src: url("resources/COLR-palettes-test-font.ttf") format("truetype");
}

@font-palette-values --MyPalette {
    font-family: "COLR-test-font";
    override-colors: calc(99999) #FF0000, calc(2 + sign(100em - 1px)) #FF00FF;
}
