
    @font-face {
				font-family: "test";
				src: url(/fonts/Lato-Medium.ttf);
			}
    @supports not (font-synthesis: weight style) {
        .test p {color: red;}
    }
    .test {
				font-family: "test";
				font-size: 3em;
                font-synthesis: weight style;
                color: green;
			}
