
    @font-face {
				font-family: "test";
				src: url(support/fonts/fail.woff) format("woff");
                font-stretch: ultra-expanded;
			}
    @font-face {
				font-family: "test";
				src: url(support/fonts/pass.woff) format("woff");
                font-stretch: normal;
			}
    .test {
				font-family: "test";
				font-size: 6em;
			}

