
  @font-face {
    font-family: test;
    src: url(/fonts/noto/noto-sans-v8-latin-regular.woff);
         /* this font has a cap-height of 1462/2048 units */
  }
  div {
    clear: left;
    float: left;
    font: 56px/112px test;
    color: orange;
    background: orange;
  }
  #test1 {
    color: green;
    background: green;
  }
  #test2 {
    color: blue;
    background: blue;
    font-size: 84px;
  }
  #test3 {
    color: magenta;
    background: magenta;
    font-size: 42px;
  }
