
    div {
      height: 2em;
      font: 24px/1.5 serif;
    }

    .color-first span {
      font-family: ColorEmojiFont, MonoEmojiFont;
    }

    .mono-first span {
      font-family: MonoEmojiFont, ColorEmojiFont;
    }

    .emoji {
      font-variant-emoji: emoji;
    }

    .text {
      font-variant-emoji: text;
    }

    .unicode {
      font-variant-emoji: unicode;
    }
