
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  .tests {
	  font-family: fwf;
	  font-size: 4em;
	  line-height: 1.1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: green;
  }
  .default {
    color: purple;
  }
  .test1 {
    font-feature-settings: "vert" on;
  }
  .test2 {
    font-feature-settings: "vert" 2;
  }
