
    @font-face {
        font-family: "exo";
        src: url(support/fonts/Exo-DemiBold.otf);
    }
    @supports not (font-synthesis-small-caps: none) {
        .test {color: red;}
    }
    .test {
        font-family: "exo";
        font-size: 3em;
        font-variant: small-caps;
    }
    .nosynth {
        font-synthesis-small-caps: none;
    }
