
    @font-face {
        font-family: "Lato-Medium";
        src: url(/fonts/Lato-Medium.ttf);
    }
    .test {
        font-family: "Lato-Medium";
        font-size: 3em;
        font-kerning: none;
    }
