
  @font-face {
    font-family: lato-ffs-;
    src: url(/fonts/Lato-Medium-Liga.ttf);
  }
 .test, .ref {
    font-family: lato-ffs-;
    font-size: 2em;
    position: absolute;
  }
  .test { color: green; }
  .ref { color: red; }

  .align { width: 1em; }

  .ls-0 { letter-spacing: 0em; }
  .ls-1 { letter-spacing: 0.1em; }
