
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  @font-feature-values fwf {
    @stylistic {
      foo: 1;
      bar: 2;
      baz: 3;
    }
  }
  .test {
	  font-family: fwf;
	  font-size: 2em;
	  line-height: 1.1;
  }
