
  @font-face {
    font-family: test;
    src: url(/fonts/noto/noto-sans-v8-latin-regular.woff);
         /* this font does not support U+6C34, so 'ic' should be treated as 1em */
  }
  div {
    clear: left;
    float: left;
    font: 56px/112px test;
    color: orange;
    background: orange;
  }
  #test1 {
    color: green;
    background: green;
    font-size-adjust: ic-width 1.0;  /* should cause no change */
  }
  #test2 {
    color: blue;
    background: blue;
    font-size-adjust: ic-width 1.5;  /* should be 1.5 times larger */
  }
  #test3 {
    color: magenta;
    background: magenta;
    font-size-adjust: ic-width 0.75;  /* should be 0.75 times larger */
  }
