
        @font-face {
            font-family: "lato";
            src: url(/fonts/Lato-Bold.ttf)
        }
        .test {
            font-family: "lato";
            font-size: 3em;
        }
        .synth {
            font-weight: bold;
        }
    