
body { background: white; }
p { font: 16px/3 serif; }
/* A color-emoji glyph in the span will be visible despite the white color;
 * if color-emoji presentation is not used, the span will be invisible.
 */
span { color: white; font: 25px Ahem; }
