
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  .test {
	  font-family: fwf;
	  font-size: 3em;
	  line-height: 1.1;
  }
  .high {
	 font-variant-numeric: tabular-nums;
  }
  .low {
   font-feature-settings: "lnum" off, "onum" off, "pnum" off, "tnum" on, "frac" off, "afrc" off, "ordn" off, "zero" off;
  }
