
    @font-face {
        font-family: "Roboto";
        src: url('support/fonts/RobotoExtremo-VF.subset.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
        font-stretch: auto;
    }
    .stretch50 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 50%;
    }
    .stretch75 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 75%;
    }
    .stretch87 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 87.5%;
    }
    .stretch100 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 100%;
    }
    .stretch112 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 112.5%;
    }
    .stretch125 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 125%;
    }
    .stretch200 {
        font-family: "Roboto";
        font-size: 3em;
        font-stretch: 200%;
    }
