
@font-face {
    font-family: "COLR-test-font";
    src: url("resources/COLR-palettes-test-font.ttf") format("truetype");
}

@font-palette-values --MyPalette {
    font-family: "COLR-test-font";
    base-palette: 1;
}

@font-palette-values --MyPalette2 {
    font-family: "COLR-test-font";
    base-palette: 0;
    /* Glyph 'A' uses palette indices 3 and 7. */
    override-colors: 3 #00FF00;
}
