
    @font-face {
        font-family: "Inter";
        src: url('support/fonts/Inter-VF.subset.ttf') format('truetype');
        font-display: swap;
        font-style: oblique 10deg 0deg;
    }
    .style10 {
        font-family: "Inter";
        font-size: 3em;
        font-variation-settings: 'slnt' -10;
    }
    .style5 {
        font-family: "Inter";
        font-size: 3em;
        font-variation-settings: 'slnt' -5;
    }
    .style0 {
        font-family: "Inter";
        font-size: 3em;
        font-variation-settings: 'slnt' 0;
    }
