
  @font-face {
    font-family: fwf;
    src: url(support/fonts/FontWithFancyFeatures.otf);
  }
  @font-feature-values fwf {
    @swash {
      foo: 1;
      bar: 2;
      baz: 3;
    }
  }
  .test {
	  font-family: fwf;
	  font-size: 2em;
	  line-height: 1.1;
	  font-variant-alternates: swash(doesnt-exist);
  }
  .high {
	 font-variant-alternates: swash(foo);
  }
  .low {
   font-feature-settings: "hist" off, "salt" 00, "ss01" off, "ss02" off, "ss03" off,
    "cv01" off, "cv02" off, "cv03" off,  "swsh" 01, "cswh" 01, "ornm" 00, "nalt" 00;
  }
