
@font-face {
    font-family: "COLR-test-font1";
    src: url("resources/COLR-palettes-test-font.ttf") format("truetype");
}

@font-face {
    font-family: "COLR-test-font2";
    src: url("resources/COLR-palettes-test-font.ttf") format("truetype");
}

@font-palette-values --MyPalette1 {
    font-family: "COLR-test-font1";
    base-palette: 3;
}

@font-palette-values --MyPalette2 {
    font-family: "COLR-test-font2";
    base-palette: 2;
}
