
        .outer {
            font: 50px/1 monospace;
            height: 100px;
        }
        .ref {
            font-family: serif;
            font-size-adjust: 0.5;
        }
        .tall-inline-block {
            display: inline-block;
            height: 100px;
        }
        .description {
            font-family: serif;
            font-size: 16px;
            font-size-adjust: from-font;
        }
    