
body { font-size: 36px; }
span#verify { font-family: CSSTest Verify; }
p.test {
  /* Verdana-Bold is a standard supplied font on Windows, Mac, and Linux
     allowing this test to actually work on most systems without the CSS
     test fonts. */
  font-family: CSSTestBasic-Bold, Verdana-Bold, ahem, monospace;
}
p {
  font-family: ahem, monospace;
}
