
  @font-face {
    font-family: "Roboto";
    src: url('support/fonts/RobotoExtremo-VF.subset.ttf') format('truetype');
  }
  .weight100 {
     font-family: "Roboto";
     font-variation-settings: 'wdth' 125, 'opsz' 144, 'wght' 100;
  }
  .weight400 {
     font-family: "Roboto";
     font-variation-settings: 'wdth' 125, 'opsz' 144, 'wght' 400;
  }
  .weight900 {
     font-family: "Roboto";
     font-variation-settings: 'wdth' 125, 'opsz' 144, 'wght' 900;
  }
