
    @font-face {
        font-family: "Lato-Medium";
        src: url(/fonts/Lato-Medium.ttf);
    }
    @supports not (font-synthesis-small-caps: none) {
        .test {color: red;}
    }
    .test {
        font-family: "Lato-Medium";
        font-size: 3em;
    }
    p.nosynth::first-line {
        font-variant: small-caps;
        font-synthesis-small-caps: none;
    }
