
@font-face {
  font-family: Ahem;
  src: local(Ahem), url(/fonts/Ahem.ttf);
  line-gap-override: 100%;
}

.target {
  font: 20px Ahem;
  color: green;
  position: absolute;
  top: 10px;
  left: 10px;
}
