
@font-face {
  font-family: reference-font;
  src: local(Ahem), url(/fonts/Ahem.ttf);
}

div {
  line-height: 100px;
}

.font-size-adjust-override {
  font-family: reference-font, sans-serif;
  font-size: 40px;
}

.descriptor-size-adjust-active {
  font-family: reference-font, sans-serif;
  font-size: 60px;
}
