
@font-face {
  font-family: large-font;
  src: local(Ahem), url(/fonts/Ahem.ttf);
}

.space {
  font-family: large-font;
  font-size: 1000%;
}

.ref {
  font-family: sans-serif;
  position: relative;
  left: -10em;
}
