
		div {
			background: red;
			color: green;
			font: 100px/1 Blockify, sans-serif;
			width: 100px;
		}

		@media all {
			@font-face {
				font-family: 'Blockify';
				src: url('/fonts/Ahem.ttf');
			}
		}
		@media not all {
			@font-face {
				font-family: 'Blockify';
				src: local('Arial'), url('/fonts/fail.woff');
			}
		}
	