
		div {
			background: green;
			height: 25px;
			width: 100px;
		}
		@media not all {
			.test1 { background: red; }
		}
		@media unknown {
			.test2 { background: red; }
		}
		@media (unknown) {
			.test3 { background: red; }
		}
		@media not (unknown) {
			.test4 { background: red; }
		}
	