
			div {
				background-color:red;
				height:100px;
				width:100px;
			}
			@supports (margin:0) { div { background-color:green; } }
			@media not all {
				@supports (margin: 0) {
					div { background-color:red; }
				}
			}
		