
  div.invalid {
    background-color: green;
    height: 100px;
    width: 100px;
  }
  div.valid {
    background-color: red;
    height: 100px;
    width: 100px;
  }
  @supports selector(:is(.a)) {
    div.is.valid { background: green };
  }
  @supports selector(:where(.a)) {
    div.where.valid { background: green };
  }
  @supports selector(:has(.a)) {
    div.has.valid { background: green };
  }
  @supports selector(:not(.a)) {
    div.not.valid { background: green };
  }
  @supports selector(:is(:foo, .a)) {
    div.is.invalid { background: red };
  }
  @supports selector(:where(:foo, .a)) {
    div.where.invalid { background: red };
  }
  @supports selector(:has(:foo, .a)) {
    div.has.invalid { background: red };
  }
  @supports selector(:not(:foo, .a)) {
    div.not.invalid { background: red };
  }
