
			div{
				background-color:red;
				height:100px;
				width:100px;
			}
			@supports (margin:0) { div { background-color:green; } }
			@supports ((margin: 0) and (display: inline) or (width:1em)) {
				div { background-color:red; }
			}
		