
			div {
				background-color:red;
				height:100px;
				width:100px;
			}
			@supports ((yada: 2kg !trivial) or ((not (foo:bar)) and (((visibility:hidden))))) {
				div { background-color:green; }
			}
		