
      div {
        background-color: green;
        border: 20px solid black;
        height: 120px;
        left: 60px;
        position: absolute;
        top: 60px;
        width: 120px;
      }
    