
        .container {
            position: absolute;
        }
        .greenSquare {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color:green;
        }
    