
      div {
        position: absolute;
      }
      div.container {
        height: 100px;
        top: 60px;
        width: 400px;
      }
      div.blue {
        background-color: blue;
        height: 100px;
        left: 200px;
        width: 100px;
      }
      div.green {
        background-color: green;
        height: 100px;
        left: 100px;
        width: 100px;
      }
    