
        .container {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 100px;
            left: 100px;
        }
        .greenSquare {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 150px;
            height: 150px;
            background: green;
         }
    