
        .greenSquare {
            position: absolute;
            top: 50px;
            left: 50px;
            width: 100px;
            height: 100px;
            background: green;
        }
        .container {
            position: relative;
            width: 200px;
            height: 200px;
        }

    