
        #greenBottomDiv {
            position: absolute;
            background: green;
            border-left: black;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            border-width: 5px;
            border-style: solid;
            height: 100px;
            width: 100px;
         }

    