
      .triangle-bottomleft {
        position: absolute;
        top: 50px;
        left: 100px;
        width: 0;
        height: 0;
        border-bottom: 100px solid green;
        border-right: 100px solid transparent;
      }
      .triangle-topright {
        position: absolute;
        top: 150px;
        left: 100px;
        width: 0;
        height: 0;
        border-top: 100px solid green;
        border-left: 100px solid transparent;
      }
    