
.parent {
  outline: solid transparent;
  outline-width: 30px;
}
.target {
  width: 50px;
  height: 50px;
  background-color: black;
  display: inline-block;
  margin: 18px;
  outline: solid orange;
  outline-width: 10px;
  opacity: 0.5;
}
.expected {
  background-color: green;
}
