
    div {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        will-change: transform;
    }
    .underline {
        text-decoration-line: underline;
        text-decoration-color: green;
        text-decoration-style: solid;
        text-decoration-thickness: 5px;
    }
    .overline {
        text-decoration-line: overline;
        text-decoration-color: green;
        text-decoration-style: solid;
        text-decoration-thickness: 5px;
    }
    .throughline {
        text-decoration-line: line-through;
        text-decoration-color: green;
        text-decoration-style: solid;
        text-decoration-thickness: 5px;
    }
