
x-table {
  display: table;
  width: 300px;
  height: 200px;
  writing-mode: vertical-lr;
  outline: 2px dashed blue;
}
x-caption {
  display: table-caption;
  height: 50px;
  width: 120px;
  writing-mode: horizontal-tb;
  outline: 1px solid black;
}
