
.ltr { direction:ltr; }
.rtl { direction:rtl; }
table, td {
  border: 3px solid;
}
.bc table {
  border-collapse: collapse;
}

tbody.inherited {
  border: 3px dashed;
  padding: 5px;
  margin: 7px;
}
.inherited * {
  border:inherit;
  padding:inherit;
  margin:inherit;
}
