
  div {
    font-size: 0; /* so I can leave spaces between the child divs */
    height: 20px;
  }
  div > div {
    display: inline-block;
  }
  div > div:first-child {
    background: blue;
  }
  div > div:nth-child(2) {
    background: lime;
  }
