
.outer {
  width: min-content;
  background: green;
}
.table {
  writing-mode: vertical-rl;
  display: table;
  inline-size: 30px; /* Smaller than .content's inline size */
  block-size: 100px;
  border-inline: 10px solid green;
}
.content {
  inline-size: 80px;
  block-size: 100px;
}
