
.outer {
  width: min-content;
  background: green;
}
.table {
  display: table;
  max-inline-size: 30px; /* Smaller than .content's inline size */
  block-size: 100px;
  border-inline: 10px solid green;
  margin-inline: 10px;
}
.content {
  inline-size: 60px;
  block-size: 100px;
}
