
    x-table {
      border: 5px solid black;
    }
    x-table span {
        display: inline-block;
        vertical-align: top;
        background: pink;
        margin: 3px;
        height: 100px;
        width: 100px;
    }
