
.outer {
  display: block;
  width: 500px;
  background: purple;
  border: 1px solid green;
}
.half {
  display: inline-block;
  width: 50%;
  background: blue;
}
.half + .half {
  background: yellow;
}
