
  .vert-cb {
    position: relative;
    width: 250px;
    writing-mode: vertical-rl;
  }
  .horiz-parent {
    width: 150px;
    writing-mode: horizontal-tb;
  }
  audio, video, canvas, iframe, svg {
    position: absolute;
    border: 1px solid blue;
  }
