
div {
  writing-mode: vertical-rl;
  font-family: monospace;
  font-size: 20px;
  position: relative; /* to be a container for #red*/
}
:root { overflow: hidden; }
.spacer { /* using 5 spacers of 20vh each instead of a single large one, so
             that the line would wrap between spacers if it ends up being
             shorter thatn 100vh*/
  display: inline-block;
  height: calc(20vh - 0.1px); /*Using this instead of 20vh, to account for accumulation of rounding errors, that might make 5*20 taller than 100vh in some browsers*/
}

span {
  background: green;
  display: inline-block; /* This should not change it's size or position, but makes the size of the background predictable*/
  color: transparent;
}

#red { /* Not necessary when when comparing to the reference, but makes human judgement easier */
  position: absolute;
  background: red;
  writing-mode: vertical-rl;
  z-index: -1;
  font-family: monospace;
  font-size: 20px;
  left: 0; top: 0;
}

