
        .container {
            display: flex;
            width: 250px;
        }
        .vertical-rl {
            writing-mode: vertical-rl;
        }
        .vertical-lr {
            writing-mode: vertical-lr;
        }
        .item {
            background-color: green;
        }
        .square {
            height: 50px;
            width: 50px;
        }
        .error {
            position: absolute;
            background-color: red;
            height: 100px;
            width: 250px;
            z-index: -1;
        }
    