
  div
    {
      font-size: 64px;
      writing-mode: vertical-rl;
    }

  div > p
    {
      border: black solid 1px;
    }

  span.tcu-all
    {
      text-combine-upright: all;
    }

  span.full-width
    {
      text-transform: full-width;
    }
