
table { border-collapse: collapse; }
td {
  padding: 0;
  height: 100px;
  width: 100px;
}
tbody {
  writing-mode: vertical-rl;
  border-inline-start: 5px green solid;
}

.red {
  position: absolute;
  width: 100px;
  height: 5px;
  background: red;
  z-index: -1;
}

