
.container {
  background: cyan;
  border: solid thick;
  height: 500px;
  width: 200px;
}
.element {
  background: magenta;
  font: 50px/1 Ahem;
  margin: 20px;
  height: 460px;
  writing-mode: vertical-lr;
}
