
  html {
    writing-mode: vertical-lr;
  }

  div {
    block-size: 100px;
  }

  div#first-olive-float {
    background-color: olive;
    float: left;
    inline-size: 50%;
  }

  div#second-blue-float-with-clear {
    background-color: blue;
    clear: left;
    float: left;
    inline-size: 25%;
  }

  div#orange-bfc {
    background-color: orange;
    inline-size: 75%;
    display: flow-root; /* Establishes a block formatting context */
  }
  