
  [dir=rtl] {
    direction: rtl;
  }

  table {
    border-spacing: 0;
    margin: 1em;
    float: left;
  }
  td {
    width: 1em;
    height: 1em;
    border: solid gray;
  }

  .navy { background: navy}
  .blue { background: blue }
  .aqua { background: aqua }
  .teal { background: teal }
  .purp { background: purple }
  .pink { background: fuchsia }
  .yllw { background: yellow }
  .orng { background: orange }

  /* These rules must have no effect. */
  .test thead,
  .test tfoot,
  .test tbody,
  .test tr,
  .test td {
    writing-mode: vertical-rl;
    direction: rtl;
  }
  .test[dir=rtl] thead,
  .test[dir=rtl] tfoot,
  .test[dir=rtl] tbody,
  .test[dir=rtl] tr,
  .test[dir=rtl] td {
    writing-mode: vertical-lr;
    direction: ltr;
  }
