
.v-rl {
  writing-mode: vertical-rl;
  width: 200px;
}
span {
  -webkit-text-combine: horizontal; /*testing the layout text-combine, not it's support in general*/
  text-combine-upright: all;
  white-space: normal;
}
#test { color: blue; }
#ref { color: orange; }
