
#valid_digits_calc_1_plus_1 {
  text-combine-upright: digits calc(1 + 1);
}

#valid_digits_calc_1_plus_1_plus_1 {
  text-combine-upright: digits calc(1 + 1 + 1);
}

#valid_digits_calc_2_plus_2 {
  text-combine-upright: digits calc(2 + 2);
}

#valid_digits_calc_4_minus_2 {
  text-combine-upright: digits calc(4 - 2);
}

#valid_digits_calc_6_minus_3 {
  text-combine-upright: digits calc(6 - 3);
}

#valid_digits_calc_7_minus_1_minus_2 {
  text-combine-upright: digits calc(7 - 1 - 2);
}

#valid_digits_calc_2_times_1 {
  text-combine-upright: digits calc(2 * 1);
}

#valid_digits_calc_3_times_1 {
  text-combine-upright: digits calc(3 * 1);
}

#valid_digits_calc_2_times_2_times_1 {
  text-combine-upright: digits calc(2 * 2 * 1);
}

#valid_digits_calc_4_dividedby_2 {
  text-combine-upright: digits calc(4 / 2);
}

#valid_digits_calc_4_dividedby_2 {
  text-combine-upright: digits calc(6 / 2);
}

#valid_digits_calc_24_dividedby_3_dividedby_2 {
  text-combine-upright: digits calc(24 / 3 / 2);
}

