
#container {
    font: 50px/1 Ahem;
    text-decoration-skip-ink: none;
}
.vlr {
    writing-mode:vertical-lr;
}
.vrl {
    writing-mode:vertical-rl;
}
.test, .ref {
    border:solid thin;
    margin:.2em;
}
p {
    margin:0 .5em;
}
.tcy {
    text-combine-upright:all;
}
.underline {
    text-decoration:underline;
}
.overline {
    text-decoration:overline;
}
.emphasis {
    text-emphasis:filled;
}
