
@font-face {
    font-family: "orientation";
    src: url("/fonts/adobe-fonts/CSSHWOrientationTest.otf");
}
html {
    writing-mode: vertical-lr;
}
.test {
    font: 20px/1 "orientation";
    height: 17em;
    text-orientation: sideways;
    text-autospace: no-autospace;
}
.line {
    white-space: pre;
}
