
  html::before
    {
      background-color: orange;
      content: "";
      display: block;
      height: 100px;
      margin-left: 8px;
      margin-top: 8px;
      margin-right: 1em;
      width: 100px;
    }

  body
    {
      writing-mode: vertical-lr;
    }
  