
  html
    {
      writing-mode: sideways-rl;
    }

  body
    {
      writing-mode: vertical-lr;
    }

  div
    {
      background-color: orange;
      height: 100px;
      width: 100px;
    }
  