
  #new-body {
    /* This writing-mode should propagate to the root element. */
    writing-mode: vertical-rl;
    margin: 0;
  }

  #old-body {
    writing-mode: horizontal-tb;
    inline-size: 100px;
  }

  div {
    background-color: blue;
    height: 100px;
    width: 100px;
  }
  