
  html
    {
      writing-mode: vertical-rl;
    }

  html::after
    {
      content: "This text must be written sideways: vertically, with letters rotated 90 degrees.";
      text-orientation: upright;
      /* 'text-orientation: upright' has no effect with 'sideways-rl', but does with 'vertical-rl' */
    }

  body
    {
      writing-mode: sideways-rl;
    }

  div
    {
      background-color: blue;
      height: 100px;
      width: 100px;
    }
  