
  html
    {
      writing-mode: sideways-lr;
    }

  body
    {
      writing-mode: horizontal-tb;
    }

  img#orange-square
    {
      height: 100px;
      padding-right: 1em;
      vertical-align: top;
      width: 100px;
    }
  