
@font-face {
    font-family: "webfont";
    src: url("/fonts/mplus-1p-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
input { font-family: webfont; font-size: 34px; }


.test { writing-mode: vertical-rl; }
