
@font-face {
    font-family: 'webfont';
    src: 	url('/fonts/noto/NotoSansMongolian-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
.test { font-family: webfont, serif; font-size: 24px; float: left; margin-right: 30px; height: 150px;  color: #ccc; }
span[lang=ar] { color: black; }


.test { writing-mode: vertical-lr; }
