
#container {
  position: relative;
  display: inline-grid;
  grid: 100px / 50px 50px 50px;
  background: grey;
  align-items: baseline;
  font-family: Ahem;
  line-height: 1;
}
#item1 {
  font-size: 20px;
  background: blue;
}
#item2 {
  font-size: 40px;
  background: green;
}
#item3 {
  font-size: 30px;
  background: red;
}
