
.wrapper {
  position: relative;
  margin: 10px;
  line-height: 0;
}

.grid {
  display: inline-grid;
  grid-auto-flow: column;
  background: grey;
}

.i1 {
  width: 150px;
  height: 100px;
  background: magenta;
}

.i2 {
  align-self: baseline;
  width: 75px;
  height: 50px;
  background: cyan;
}

.i3 {
  width: 100px;
  height: 75px;
  background: yellow;
}
