
  #grid {
      display: grid;
      position: relative;
      background: grey;
      grid-template-columns: 40% 60%;
      height: 30vh;
      width: 500px;
  }
  #grid div {
    margin: 0px auto 0px auto;
  }
  #item1 {
      background: green;
      width: 50px;
      height: 25px;
  }
  #item2 {
      background: blue;
      width: 100px;
      height: 25px;
  }
