
  #grid {
      display: grid;
      position: relative;
      background: grey;
      grid-template-columns: auto;
      grid-template-rows: 40% 60%;
      height: 50vh;
      width: auto;
  }
  #grid div {
    margin: auto 0px auto 0px;
  }
  #item1 {
      font: 20px/1 Ahem;
      color: green;
  }
  #item2 {
      font: 40px/1 Ahem;
      color: blue;
  }
