
.block {
  position: absolute;
  z-index: -1;
  background: green;
  width: 200px;
  height: 200px;
}
.block > div {
  position: absolute;
  background: red;
  width: 25px;
  height: 25px;
}
.grid {
  z-index: 1;
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: repeat(auto-fit, 25px);
  grid-template-rows: repeat(auto-fit, 25px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-content: space-around;
  justify-content: space-around;
}
.grid > div { background: green; }
