
.target {
  display: grid;
  grid-auto-flow: column;
  inline-size: 100px;
  position: relative;
  line-height: 0;
  padding: 10px;
}
.target > div {
  background: hotpink;
  font-size: 20px;
}
.multicol {
  columns: 3;
  column-fill: auto;
  padding: 10px;
  border: solid 10px;
}
.multicol > div {
  break-inside: avoid;
  break-before: column;
  break-after: column;
}
span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}
