
  #grid {
      display: grid;
      position: relative;
      background: grey;
      font: 10px/1 Ahem;
      grid-template-columns: 100px;
      grid-template-rows: 40% 60%;
      height: 500px;
      width: 300px;
  }
  #grid div {
    margin: auto 0px auto 0px;
  }
  #item1 {
      color: green;
  }
  #item2 {
      color: blue;
  }
