

.grid {
    grid-template-columns: 100px 100px;
    grid-template-rows: 200px 200px;
    margin-bottom: 20px;
}

.cell {
    width: 20px;
    height: 40px;
}

.item {
    width: 8px;
    height: 16px;
    background: black;
}
