
.container {
  border: solid 1px;
  overflow: auto;
  width: 500px;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px 300px;
  grid-template-rows: 75px 75px 75px 75px;
  background: grey;
  width: 400px;
  margin-bottom: 20px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 20px;
  height: 20px;
  background-color: #cae8ca;
}
.item1 {
  left: 40px;
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  left: 100px;
  grid-column: 2;
  grid-row: 2;
}
.item3 {
  left: 290px;
  grid-column: 3;
  grid-row: 3;
}
.item4 {
  grid-column: 4;
  grid-row: 4;
  background: lightgrey;
}
.scroll { overflow: auto; }
