

.grid {
    grid-auto-columns: 20px;
    grid-auto-rows: 40px;
    position: relative;
    width: 400px;
    height: 300px;
}

.stretchedGrid {
    grid-auto-rows: auto;
}

.width300height400 {
    width: 300px;
    height: 400px;
}

.fourthRowFirstColumn {
    background-color: deepskyblue;
    grid-column: 1;
    grid-row: 4;
}

.fourthRowSecondColumn {
    background-color: maroon;
    grid-column: 2;
  	grid-row: 4;
}

