
body {
  margin: 0;
}

.container {
  position: relative;
  float: left;
}

.grid {
  grid-template-columns: 50px 50px;
  grid-template-rows: 100px 100px;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.contentSizedTracks {
  grid-template:  max-content 100px / max-content 50px;
}

.overflowWidth {
  width: 60px;
  height: 300px;
}

.overflowHeight {
  width: 200px;
  height: 150px;
}

.item1 {
  width: 50px;
  height: 150px;
}

.item2 {
  width: 150px;
  height: 100px;
}

.minSize {
  min-width: 300px;
  min-height: 400px;
}

.maxSize {
  max-width: 100px;
  max-height: 100px;
}
