
  #grid {
      display: grid;
      position: relative;
      background: grey;
      grid-template-columns: 300px;
      grid-template-rows: 40% 60%;
      height: 500px;
      width: 300px;
  }
  #grid div {
    margin: auto 0px auto 0px;
  }
  #item1 {
      background: green;
      width: 25px;
      height: 50px;
  }
  #item2 {
      background: blue;
      width: 25px;
      height: 100px;
  }
