
.grid {
  position: relative;
  display: inline-grid;
  grid-template-columns: 80px;
  grid-template-rows: 100px;
  font: 20px/1 Ahem;
  background: grey;
  justify-items: stretch;
}
#item {
  background: blue;
  justify-self: auto;
}
