
#container {
  position: relative;
  display: inline-grid;
  grid: 50px 50px 50px / 100px;
  background: grey;
  justify-items: baseline;
}
#container > div { writing-mode: vertical-rl; }
#item1 {
  width: 20px;
  background: blue;
}
#item2 {
  width: 50px;
  margin: 0 10px;
  background: green;
}
#item3 {
  width: 30px;
  background: red;
}
