
    #grid {
        display: grid;
        width: 200px;
        height: 220px;
        gap: calc(15% + 7px) calc(10px + 5%);
        grid-template-columns: 90px 90px;
        grid-template-rows: 90px 90px;
        background-color: green;
    }

    #grid > div {
        background-color: silver;
    }
