
.target {
  display: grid;
  grid-auto-flow: column;
  width: min-content;
  position: relative;
  line-height: 0;
  writing-mode: vertical-rl;
}
.target > div {
  background: hotpink;
  font-size: 30px;
}
fieldset {
  padding: 10px;
  border: solid 10px;
  margin: 0;
  font-size: 20px;
}
span {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: solid cyan 3px;
  outline-offset: -3px;
}
