
    .grid-lanes {
      display: grid-lanes;
      width: 200px;
      margin-bottom: 20px;
      align-items: baseline;
      background: lightgray;
      font-family: Ahem;
      line-height: 1;
    }
  