
    .grid-lanes {
      display: grid-lanes;
      grid-template-rows: min-content;
      width: 200px;
      margin-bottom: 20px;
      align-items: baseline;
      background: lightgray;
      font-family: Ahem;
      line-height: 1;
      text-orientation: sideways;
    }

    .item-htb {
      writing-mode: horizontal-tb;
      font-size: 20px;
      padding-top: 15px;
      width: 50px;
      background: lightsalmon;
    }

    .item-vrl {
      writing-mode: vertical-rl;
      font-size: 20px;
      padding-right: 15px;
      height: 50px;
      background: palegreen;
    }

    .item-vlr {
      writing-mode: vertical-lr;
      font-size: 20px;
      padding-left: 15px;
      height: 50px;
      background: powderblue;
    }
  