
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 50px);
      width: 200px;
      margin-bottom: 20px;
      align-items: baseline;
      background: lightgray;
      font-family: Ahem;
      line-height: 1;
    }
  