
    body {
      margin-top: 100px;
      padding: 0;
    }

    .grid {
      display: grid;
      grid-template-columns: min-content;
      width: 300px;
      align-items: baseline;
      background: lightgray;
      font-family: Ahem;
      line-height: 1;
    }
