
.parent {
  stroke-color: #eee;
}
.target {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 2px solid black;
  margin-right: 2px;
  color: rgba(0, 0, 255, 0.5);
  stroke-color: black;
}
.expected {
  margin-right: 15px;
}
