
  .test {
    background-color: red;
    width: 30px;
    height: 30px;
    display: grid;
  }

  .test-5 {
    @media (min-width: 10px) {
      & {
        background-color: green;
      }
    }
  }

  .test-6 {
    @media (min-width: 10px) {
      background-color: green;
    }
  }

  .test-10 {
    @supports (display: grid) {
      & {
        background-color: green;
      }
    }
  }

  .test-11 {
    @layer {
      & {
        background-color: green !important;
      }
    }
  }

  .test-12 {
    @scope (&) {
      :scope {
        background-color: green;
      }
    }
  }

  div {
    container-type: inline-size;
  }
  .test-13 {
    @container (width >= 0px) {
      & {
        background-color: green;
      }
    }
  }

  body * + * {
    margin-top: 8px;
  }
