
    div {
        color: green;
        background-color: currentColor;
        width: 100px;
        height: 100px;
    }

    p {
        color: initial;
    }

    div::before {
        & { /* `&` must not match the originating element */
            color: red;
        }
    }
