
  #target {
    position: relative;
    background-color: blue;
    height: 100px;
    width: 100px;
    view-transition-scope: all;
    view-transition-name: none;
  }
  #child {
    view-transition-scope: all;
    position: relative;
  }
