
#container {
  width: 200px;
  height: 200px;
  background: blue;
  border: 5px solid black;
  position: relative;
  view-transition-group: normal;
}
#container.after {
  overflow: clip;
}

#target {
  margin-top: 150px;
  width: 100px;
  height: 100px;
  background: green;
}

::view-transition-group(*),
::view-transition-image-pair(*),
::view-transition-old(*),
::view-transition-new(*) {
  /* freeze all animations at mid-point */
  animation-duration: 100000s;
  animation-delay: -50000s;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

