
  #target {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    view-transition-name: target;
    z-index: 1;
  }
  .collapsed {
    transform: scale(0);
  }

  ::view-transition-old(target) {
    animation: -ua-view-transition-fade-out 1s -0.5s linear paused;
  }

  ::view-transition-new(target) {
    animation: -ua-view-transition-fade-in 1s -0.5s linear paused;
  }
