
    .grid-lanes {
        display: grid-lanes;
        grid-template-rows: 75px 25px;
        position: relative;
        width: 100px;
    }

    .absolute {
        background: green;
        position: absolute;
        grid-row: 1 / 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
  