
.container {
  width: 100px;
  font: 10px/1 Ahem;
  background-color: red;
  color: rgb(0, 100, 0);
  overflow: hidden;
}
#f {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(support/left-half-rectangle.png);
  shape-outside: url(support/left-half-rectangle.png);
  float: left;
  margin-left: -10px;
  writing-mode: vertical-lr;
}
