
    @font-face {
    font-family: variable_axes;
    src: url("resources/variabletest_matching.ttf");
    font-stretch: 100%;
    font-style: oblique -67.5deg -45deg;
    font-weight: 700 800;
    }

    @font-face {
    font-family: variable_axes;
    src: url("resources/variabletest_matching.ttf");
    font-stretch: 100%;
    font-style: oblique 45deg 67.5deg;
    font-weight: 200 300;
    }
