
#target {
    font-family: serif, sans-serif, cursive, fantasy, monospace, system-ui, emoji, math, fangsong, ui-serif, ui-sans-serif, ui-monospace, ui-rounded, 'Ahem';
}
p {
    font-size: 22px;
}
#ahem {
    font-family: 'Ahem';
}
.box {
    display: inline-block;
}
