
    #target {
      display: grid-lanes;
      font-size: 40px;
      min-width: 200px;
      width: 300px;
      max-width: 400px;
      min-height: 500px;
      height: 600px;
      max-height: 700px;
    }
    #child {
      min-width: 20px;
      width: 30px;
      max-width: 40px;
      min-height: 50px;
      height: 60px;
      max-height: 70px;
    }
  