
html,body {
  color:black; background-color:white; font:15px/1 monospace; padding:0; margin:0;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: start;
    background: gray;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    overflow: visible;
    flex-wrap: nowrap;
}

.invisible {
  visibility: hidden;
}
