
.clamp {
  line-clamp: 1;
  border: 1px solid black;
  font-family: monospace;
  margin-bottom: 1em;
  /* The non-hanging text in the first line is 22 to 26ch, plus 1ch for the ellipsis. The hanging whitespace is extra 8ch */
  width: 29ch;
}
.right {
    text-align: right;
}
.justified {
    text-align: justify;
}
.green {
    color: green;
    font-weight: bold;
}
.hangs {
    white-space: pre-wrap;
    background-color: red;
}
