
.relative {
  position: relative;
  font: 25px/25px Ahem;
}
.bg, .clamp {
  position: absolute;
  top: 0;
  left: 0;
}
.bg {
  height: 100px;
  width: 100px;
  color: red;
  background-color: green;
}
.clamp {
  line-clamp: 3;
  color: green;
  max-width: 100px;
}
.child::first-letter, .red {
  color: red;
}
