
.clamp {
  line-clamp: 3;
  font-size: 16px / 16px serif;
  white-space: pre-wrap;
  background-color: yellow;
  padding-bottom: 1em;
}
ruby.under {
  ruby-position: under;
}
.large {
  font-size: 3em;
}
