
.clamp {
  line-clamp: auto;
  max-height: calc(4lh + 2 * 5px);
  font: 16px / 32px serif;
  background-color: orange;
}
.inner {
  white-space: pre;
  margin: 5px;
  background-color: yellow;
}
.collapse-through {
  margin: 5px;
}
.abspos {
  position: absolute;
  right: 0;
  height: 100px;
  width: 100px;
  background-color: skyblue;
}
