
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  font: 16px / 32px monospace;
  white-space: pre;
  background-color: yellow;
  padding: 0 4px;
  width: 35.1ch;
  text-overflow: "-";
  overflow: hidden;
}
