
.clamp {
  font-family: monospace;
  line-clamp: auto;
  max-height: 5lh;
  line-height: 1;
  width: 25.2ch; /* the extra .2 is in case things aren't perfectly monospaced */
}
span {
  font-size: 4em;
}
