
.clamp {
  line-clamp: 4;
  font: 16px / 32px serif;
  padding: 4px;
  white-space: pre;
  background-color: yellow;
}
.float {
  float: left;
  margin: 4px;
  white-space: pre;
  background-color: skyblue;
  line-height: 1em;
}
