
.clamp {
  line-clamp: auto;
  max-height: 5lh;
  font: 16px / 32px serif;
  white-space: pre;
  background-color: yellow;
}
.clamp > div {
  /* The total block-size bp across the top and bottom is 2*(14+2) = 32px, same as the line-height */
  padding: 14px;
  border: 2px solid black;
}
