
.clamp {
  line-clamp: 4;
  font: 16px / 32px serif;
  padding: 0 4px;
  white-space: pre;
  background-color: yellow;
}
.rel {
  position: relative;
}
.abspos {
  position: absolute;
  right: 0;
  width: 100px;
  /* No height! */
  margin: 4px;
  white-space: normal;
  background-color: red;
}
