
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
}
.abspos {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background: green;
}
