
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 15.1ch;
  font: 16px / 32px monospace;
  background-color: yellow;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
