
#clamp {
  visibility: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; /* can be removed once implementations update their old -webkit-line-clamp implementations */
}
