
  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 10px;
    border: solid 3px;
    width: 100px;
  }
  .clamp div {
    border: medium solid green;
    padding: 15px;
  }
