
.clamp {
  display: -webkit-box;
  /* no -webkit-box-orient: vertical; */
  -webkit-line-clamp: 4;
  font: 16px / 32px serif;
  white-space: pre;
  background-color: yellow;
  padding: 0 4px;

  /* If display: -webkit-box behaves the same as without -webkit-line-clamp,
   * these properties will cause the anonymous inline box to be centered. */
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  justify-content: center;
}
