
  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    width: 8ch;
    border: 2px solid black;
    text-align: justify;

    font-family: monospace;
  }
