
.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden; /* can be removed once implementations update their old -webkit-line-clamp implementations */
  font: 16px / 32px serif;
  white-space: pre;
  background-color: yellow;
}
