
  #reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }

  .item {
    /* Remove min-height so we don't have to think about it. */
    min-height: 0px;
    width: 50px;
    flex: 0 0 auto;
  }

