
            div {
                width: 200px;
                height: 200px;
            }
            .green {
                background: rgba(0,160,0,0.5);
                mix-blend-mode: soft-light;
            }
            .blue {
                position: absolute;
                top: 75px;
                left: 75px;
                background: rgba(0,0,160,0.5)
            }
            .wrapper {
                isolation: isolate;
            }
        