
            div {
                width: 100px;
                height: 100px;
                background: #FF0;
            }

            #blender {
                mix-blend-mode: difference;
                color: #F00;
            }
        