
            div {
                width: 100px;
                height: 100px;
                background-image: url('support/yellow_square.svg');
            }

            #blender {
                mix-blend-mode: difference;
                color: #F00;
            }
        