
            .simple{
                background: aqua;/*rgb(0,255,255);*/
                width: 140px;
                height: 140px;
                display:inline-block;
            }
            .mixed {
                opacity: 0.9;
                background: red;/*rgb(255,0,0);*/
                margin-top: 20px;
                margin-left: 20px;
                width: 100px;
                height: 100px;
                mix-blend-mode: multiply;
                }
        