
            div {
                height: 150px;
                width: 150px;
            }
            .container {
                position: relative;
                z-index: 1;
                background-color: lime;/*rgb(0,255,0);*/
            }
            .transformed {
                transform: perspective(600px) translateZ(-200px);
                background-color: red;/*rgb(255,0,0);*/
                mix-blend-mode: difference;
            }
        