
  div
  {
  background-image: url("support/percent-width-percent-height-viewbox.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  border: black solid 8px;
  height: 384px;
  width: 128px;
  }
  