
  div
  {
  background-image: url("support/omitted-width-nonpercent-height.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: black solid 1px;
  height: 768px;
  width: 256px;
  }
  