
  div
  {
  background-image: url("support/intrinsic-ratio-zero-width.svg");
  background-repeat: no-repeat;
  background-size: 5px auto;
  border: black solid 1px;
  height: 768px;
  width: 256px;
  }
  