
  div
  {
  background-image: url("support/intrinsic-ratio-no-dimensions.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: black solid 1px;
  height: 768px;
  width: 256px;
  }
  