
    body {
        margin: 0px;
    }

    #outer {
        width: 620px;
        height: 200px;
        background: yellow;
    }

    .inner1 {
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        background: cyan;
        height: 198px;
        width: 296px;
    }

    .inner2 {
        border-bottom: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        position: absolute;
        left: 320px;
        top: 0px;
        height: 130px;
        width: 296px;
        background: cyan
    }

    .inner-flex {
        display: flex;
        column-gap: 20px;
    }

    .inner-items {
        background: hotpink;
        width: 85.333px;
    }

    .column-gap1 {
        width: 10px;
        background: blue;
        position: absolute;
        top: 2px;
    }

    .column-gap2 {
        width: 10px;
        background: blue;
        position: absolute;
        top: 40px;
    }

    .spanner {
        background: grey;
        opacity: 0.5;
        height: 18px;
        width: 296px;
    }

    .row-gap1 {
        height: 10px;
        background: green;
        position: relative;
        width: 296px;
        top: 105px;
    }

    .row-gap2 {
        height: 10px;
        background: green;
        position: absolute;
        width: 296px;
        top: 105px;
    }

    .column-gap3 {
        background: blue;
        height: 100px;
        position: absolute;
        width: 10px;
        top: 0px;
    }
