
    body {
        margin: 0px;
    }

    .outer {
        columns: 4;
        column-rule: solid 1px black;
        orphans: 1;
        widows: 1;
        border: dotted 2px black;
        width: 500px;
        rule-visibility-items: between;
    }

    .col-box {
        background: cyan;
        height: 20px;
        /* keep each box whole */
        break-inside: avoid;
    }

    .spanner {
        column-span: all;
        background: grey;
        opacity: 0.5;
        height: 20px;
    }

    .pink-box {
        column-span: all;
        background: hotpink;
        height: 20px;
        width: 100px;
    }
