
    body {
        margin: 0px;
    }

    .container {
        width: 200px;
        height: 150px;
        column-count: 3;
        column-width: 60px;
        column-height: 70px;
        column-gap: 10px;
        row-gap: 10px;
        column-rule: 10px solid blue;
        row-rule: 10px solid gold;
        column-wrap: wrap;
    }

    .items {
        background: rgb(96 139 168 / 0.2);
        height: 70px;
        width: 60px;
        margin: 0px;
        writing-mode: vertical-rl;
    }
