
      /**
        large-space divs are added to simplify scrolling calculations
        (i.e. expected offsets are just distances from scroller border top to
        scrollee border top).
      */
      .large-space {
        position: absolute;
        height: 500vh;
        width: 500vw;
      }
      #space-filler {
        width: 500px;
        height: 500px;
        background-color: green;
      }
      #outer-container {
        width: 400px;
        height: 400px;
        overflow: scroll;
        position: relative;
        background-color: yellow;
      }
      #inner-container {
        top: 20px;
        left: 20px;
        width: 400px;
        height: 400px;
        overflow: visible;
        position: relative;
        background-color: blue;
      }
      #target {
        width: 100px;
        height: 100px;
        background-color: pink;
        scroll-initial-target: nearest;
      }
    