
    #scroller {
      height: 500px;
      width: 500px;
      display: block;
      overflow: scroll;
      writing-mode: vertical-rl;
    }

    .box {
      position: relative;
      width: 60%;
      height: 60%;
    }

    .top_right {
      top: 0px;
      left: 0px;
      background-color: red;
    }

    .center {
      top: 60%;
      background-color: purple;
      scroll-initial-target: nearest;
    }

    .bottom_left {
      top: 120%;
      background-color: yellow;
    }
  