
div {
  font: 20px/1 Ahem;
  margin: 1em 0;
}
.pre {
  white-space: pre;
}
#test, #ref {
  width: 2em;
  text-align: right;
}
span {
  text-transform: full-width;
}
#test2, #ref2 {
  width: min-content;
  margin-left: 1em;
  background: black;
}
