
@font-face {
	font-family: 'webfont';
	src: url('/fonts/noto/NotoSansDeseret-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
.test, .ref { font-size: 125%; line-height: 1.5em; font-family: webfont, serif; }
.test span, .ref span { margin-right: 1em; white-space: nowrap; }
/* the CSS above is not part of the test */
.test { text-transform: capitalize; }
