
.test, .ref { font-size: 36px; font-family: 'Doulos SIL', 'Noto Serif', 'Noto Sans', sans-serif; border: 1px solid orange; margin: 10px;  padding: 5px; }
/* the CSS above is not part of the test */
.test { text-transform: capitalize	; }
