
div {
  font: 10px/1 Ahem;
  margin: 1em 0;
}
.pre {
  white-space: pre;
}
#test, #ref,
#test3, #ref3 {
  width: 2em;
  text-align: right;
  white-space: pre-wrap;
}
#test3, #ref3 {
  margin-left: 1em;
}
span {
  text-transform: full-width;
}
#test2, #ref2,
#test4, #ref4 {
  width: min-content;
  margin-left: 1em;
  white-space: pre-wrap;
  background: black;
}
