

.scroller {
  width: 100px;
  height: 100px;
  overflow: auto;
  scroll-snap-type: block mandatory;
}
.item {
  background: gray;
  height: 100px;
  scroll-snap-type: block mandatory;
}
.item.snapped {
  background: green;
  scroll-snap-align: center;
}
.subitem {
  background: red;
  height: 100px;
  scroll-snap-align: center;
}

