
      #scroller {
        width: 200px;
        height: 400px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        background-color: blue;
      }
      #snap_target {
        width: 100px;
        height: 1942.5px;
        scroll-snap-align: start;
        background-color: pink;
      }
    