
body { margin: 0 }
#scroller {
  height: 500px;
  width: 500px;
  scroll-padding: 10px;
  scrollbar-width: none;
  overflow: hidden;
}
#target {
  width: 100px;
  height: 100px;
  background-color: blue;
  scroll-margin: 10px;
  margin-left: 1000px;
}
