
  .container {
    border: solid blue 4px;
    height: 4em;
    overflow: auto;

    /* to make failing more obvious */
    background: 0 1em / 100% 1em linear-gradient(red, red) repeat-x;
    /* avoid anti-aliasing issues */
    font: 20px/1 sans-serif;
    scrollbar-width: none;
  }
  .container > div, a {
    height: 1em;
    display: block;
    outline: none;
  }
  .container { scroll-padding:  .5em 0 0; } /* set up a snap position      */
  #target    { scroll-margin:   .5em 0 0;
               scroll-snap-align: center; }
  #stripe    { background: green;         } /* color part of the snap area  */
  .fail      { color: red;                } /* make failing more obvious    */

  /* emulate `scrollbar-width: none` for browsers that don't support it yet */
  ::-webkit-scrollbar { display: none; }
