
      div {
        scroll-behavior: smooth;
      }
      .scroller {
        height: 200px;
        width: 200px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border: solid 1px black;
        background-color: yellow;
        position: relative;
      }
      .snaparea {
        height: 50px;
        width: 50px;
        scroll-snap-align: start;
        background-color: green;
      }
      #target {
        height: 50px;
        width: 50px;
        background-color: green;
      }
      .space {
        height: 200vh;
        width: 200vw;
      }
    