
div {
  position: absolute;
}
#scroller {
  overflow: hidden; /* TODO: Use scrollbar-width: none */
  scroll-snap-type: x mandatory;
  width: 500px;
  height: 500px;
}
.space {
  width: 2000px;
  height: 2000px;
}
#target {
  height: 200px;
  width: 200px;
  left: 50px;
  background-color: blue;
}
