
  :root {
    font-size: 16px;
  }
  div {
    width: 100px;
    height: 100px;
    background-color: red;
  }

  @media (width > calc(1px * (1 + sign(16px - 1rem)))) {
    div {
      background-color: green;
    }
  }
