
div {
    width: 100px;
    height: 100px;
    background-color: green;
}

@media
    tty,
    tv,
    projection,
    handheld,
    braille,
    embossed,
    aural,
    speech
{
    div { background-color: red; }
}
