
  body {
    margin: 0px;
  }

  .flex-container {
    height: 110px;
    width: 110px;

    display: flex;

    column-gap: 10px;
    row-gap: 10px;

    column-rule-color: pink;
    column-rule-style: solid;
    column-rule-width: 10px;

    row-rule-color: green;
    row-rule-style: solid;
    row-rule-width: 10px;

    flex-wrap: wrap;
  }

  .flex-item {
    background: skyblue;
    width: 50px;
  }
