
    body {
        margin: 0px;
    }

    #flexbox {
        border: 2px solid rgb(96 139 168);
        display: flex;
        column-gap: 10px;
        row-gap: 10px;
        width: 170px;
        flex-wrap: wrap;
    }

    .items {
        background-color: rgb(96 139 168 / 0.2);
        flex-shrink: 1;
        width: 50px;
        height: 50px;
    }

    #four {
        width: 100px;
    }

    .row-gap {
        display: flex;
        margin: 0px;
        padding: 0px;
        height: 10px;
        width: 170px;
        position: absolute;
      column-gap: 10px
    }

  .row {
    background: blue;
    width: 50px;
    height: 10px;
  }

    .column-gap {
        display: flex;
        flex-direction: column;
        row-gap: 70px;
        height: 170px;
        top: 2px;
        width: 10px;
        position: absolute;
    }

    .column {
        background: red;
        width: 10px;
        height: 50px;
    }
