
    body {
        margin: 0px;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        gap: 90px;
    }

    .item {
        height: 100px;
        background: lightgray;
    }

    .a { width: 250px; }
    .b { width: 260px; }
    .c { width: 280px; }
    .d { width: 230px; }
    .e { width: 220px; }
    .f { width: 290px; }

    .col-rule {
        position: absolute;
        width: 5px;
        background: rgba(0, 0, 255, 0.5);
        z-index: -1;
    }

    .row-rule {
        position: absolute;
        height: 5px;
        background: rgba(255, 0, 0, 0.5);
        z-index: -1;
    }
