
  body {
    margin: 0px;
  }

  .flex-container {
    height: 110px;
    width: 120px;

    display: flex;

    column-gap: 20px;
    row-gap: 10px;

    column-rule-color: blue;
    column-rule-style: solid;
    column-rule-width: 20px;

    row-rule-color: gold;
    row-rule-style: solid;
    row-rule-width: 10px;

    row-rule-break: intersection;
    row-rule-inset: 0;

    flex-wrap: wrap;
  }

  .flex-item {
    background: skyblue;
    width: 50px;
  }
