
    body {
        margin: 0px;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 340px;
        column-rule: 6px solid blue;
        row-rule: 6px solid red;
        column-rule-break: intersection;
        row-rule-break: intersection;
        row-rule-inset-start: 10px;
        row-rule-inset-end: 0px;
        column-rule-inset-start: 10px;
        column-rule-inset-end: 0px;
        margin-bottom: 20px;
    }
    .flex > * {
        background: lightgray;
        width: 100px;
        height: 100px;
    }
    .flex > :first-child {
        background: salmon;
    }
