
  :root:first-child #a {
    color: green;
  }
  :root:nth-child(n) #b {
    color: green;
  }
  :root:first-of-type #c {
    color: green;
  }
  :root:nth-of-type(1) #d {
    color: green;
  }
  :root:last-of-type #e {
    color: green;
  }
  :root:last-child #f {
    color: green;
  }
  :root:nth-last-child(1) #g {
    color: green;
  }
  :root:nth-last-of-type(n) #h {
    color: green;
  }

  #i {
    color: green;
  }

  /* NB: not matching intentionally */
  :root:nth-last-child(2) #i {
    color: red;
  }
