
/* Suppress things that cannot be reproduced in the reference file */
:focus {
  outline: none;
}

/* Use blue to indicate that the user needs to pay attention.
   This element needs to be focused for the test to make sense. */
#focusme:not(:focus) {
  border: solid 15px blue;
}

/* Make the link look like the div in the reference file */
#focusme {
	display: block;
	text-decoration: none;
	color: currentColor;
}

:focus {
  border: solid 5px red;
}
div:focus-within, #focusme:focus-within {
  border: solid 5px green;
}
