
    @supports not selector(:focus-visible) {
      #el:focus {
        outline: red solid 5px;
        background-color: red;
      }
    }

    :focus-visible {
      outline: green solid 5px;
    }

    #el:focus:not(:focus-visible) {
      background-color: red;
      outline: 0;
    }
  