
  @supports not selector(:focus-visible) {
    :focus {
      outline: red solid 5px;
    }
  }

  #initial:focus-visible {
    outline: green solid 5px;
  }

  #initial:focus:not(:focus-visible) {
    outline: red solid 5px;
  }

  #target:focus-visible {
    outline: red solid 5px;
  }

  #target:focus:not(:focus-visible) {
    outline: green solid 5px;
  }
