
  @supports not selector(:focus-visible) {
    :focus {
      outline: red solid 5px;
      background-color: red;
    }
  }

  :focus-visible {
    background: red;
  }

  :focus:not(:focus-visible) {
    background-color: lime;
  }
