
    [data-hadkeydown] :focus-visible {
      outline: green solid 5px;
    }

    [data-hadmousedown] :focus-visible {
      outline: red solid 5px;
    }

    [data-hadkeydown] :focus:not(:focus-visible) {
      outline: 0;
      background-color: red;
    }

    [data-hadmousedown] :focus:not(:focus-visible) {
      outline: 0;
      background-color: lime;
    }

  