
      /* These strings all collide in Blink's AtomicString hash function. */
      .abetfx { --a: a; }
      .adqcne { --b: b; }
      .anztgy { --c: c; }
      .jkeyea { --d: d; }
      .ltjjvc { --e: e; }
      .osniry { --f: f; }
      .otgvil { --g: g; }
      .ppvdzg { --h: h; }
      .pwkbxn { --i: i; }
      .rkefup { --j: j; }
      .wsqwrf { --k: k; }
      .zzpnvg { --l: l; }
    