
    target {
        color: red;
    }

    :nth-child(3 of/* my comment */target) {
        color: green;
    }

    .target {
        color: red;
    }

    :nth-child(3 of.target) {
        color: green;
    }

    [target] {
        color: red;
    }

    :nth-child(3 of[target]) {
        color: green;
    }
