
    div {
        display: block;
        width: 100px;
        height: 10px;
        background-color: red;
    }
    .container {
        height: 100px;
    }
    .reference, .fallback {
        background-color: green;
    }
    div:nth-child(even of :not(.reference)) { /* selects even divs with class test */
        background-color: green;
    }
  