
    target {
        color: red;
    }

    :nth-last-child(1 of/* my comment */target) {
        color: green;
    }

    .target {
        color: red;
    }

    :nth-last-child(1 of.target) {
        color: green;
    }

    [target] {
        color: red;
    }

    :nth-last-child(1 of[target]) {
        color: green;
    }
