
@font-face {
    font-family: ArabicTest;
    src: url('/fonts/noto/NotoNaskhArabic-regular.woff2') format('woff2');
}
.test {
    font: 120px/2 ArabicTest, sans-serif;
}
.test span {
    padding: .1em .05em 0;
    background: black;
}
