
#container {
  position: relative;
  background: red;

  box-sizing: border-box;
  border: solid green 10px;
  width: 100px;
  height: 100px;
}

#target {
  position: absolute;
  background: green;

  width: 80px;
  height: 80px;
  top: -10px;
  left: -10px;
}
