
.container {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.target {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 0;
  border-width: 3px 7px 9px 11px;
  border-color: yellow;
  border-style: solid;
  margin: 1px 3px 7px 9px;
}
