
#container {
  position: relative;
  width: 400px;
  height: 400px;
}
#target-both {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}
#target-inline {
  position: absolute;
  inset: 0;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
