
#outer-horizontal-padding {
    position: relative;
    padding: 10px;
    width: 30px;
    height: 80px;
    background: green;
}
#inner-horizontal-padding {
    position: absolute;
    left: 50px;
    height: 100px;
    top: 0px;
    padding-left: 50%;
    padding-right: 50%;
    background: green;
}
#outer-vertical-padding {
    position: relative;
    padding: 10px;
    width: 30px;
    height: 80px;
    background: green;
}
#inner-vertical-padding {
    position: absolute;
    left: 50px;
    width: 50px;
    top: 0px;
    padding-top: 100%;
    padding-bottom: 100%;
    background: green;
}
