
  .wrapper {
    display: flow-root;
    margin-top: -100px;
  }

  .abspos {
    position: absolute;
    background: green;
    width: 100px;
    height: 100px;
  }

  .red {
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    z-index: -1;
  }
