
#target {
  display: flex;
  flex-direction: column;
  width: 200px;
  writing-mode: vertical-rl;
  align-items: baseline;
  border: 3px solid black;
  font-family: monospace;
  font-size: 10px;
  line-height: 10px;
}
#target > :nth-child(1) {
  background: hotpink;
  writing-mode: horizontal-tb;
  padding-left: 30px;
  margin-left: 10px;
}
#target > :nth-child(2) {
  background: papayawhip;
  writing-mode: horizontal-tb;
}
