
  #test {
    align-items: flex-start;
    align-self: flex-end;
    background-color: red;
    display: flex;
    height: 100px;
    width: 100px;
  }
  #test div {
    background-color: green;
    height: 50px;
    width: 25px;
  }
  #cover {
    background-color: green;
    height: 50px;
    margin-top: -50px;
    width: 100px;
  }
