
#container {
  display: flex;
  flex-flow: column wrap;
  width: 100px;
  border-right: 100px solid red;
}
#item{
  align-self: start;
  background: linear-gradient(to bottom, red 50%, green 50%);
}
.float {
  float: left;
  width: 100px;
  height: 100px;
  background: green;
}
