

#circles, #circles div {
    display: flex;
    width: -webkit-calc(100% - 4em);
    width: calc(100% - 4em);
    height: -webkit-calc(100% - 4em);
    height: calc(100% - 4em);
    border: 1em solid blue;
    border-radius:50%;
    margin: auto;
}

#circles { width:9em; height:9em; }

