
  .flexbox {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    position: relative;
    background-color: blue;
  }
  .flexbox > * {
    height: 10px;
    background-color: green;
  }
