

       /* ADD STYLE BLOCK HERE (PREFERRABLE TO INLINE STYLES) */
      div.flexbox {
        height: 50px;
        width: 300px;
        border: 2px dotted black;
        display: flex;
      }
      img {
        width: 48px;
        flex-grow: 1;
        background: purple;
        border: 1px solid white;
      }

    