
        .container {
            display: flex;
            flex-flow: row-reverse;
            writing-mode: vertical-rl;
            border: 2px solid black;
            height: 90px;
        }
        .item {
            line-height: 0;

            /* make sure UA that doesn't support writing mode and flexbox fails. */
            float: right;
        }
        .color-block {
          display: inline-block;
          width: 15px;
          height: 45px;
        }
    