
.grid {
  display: grid;
}

.flexbox {
  display: flex;
}

.relpos {
  position: relative;
}

.abspos {
  position: absolute;
  border: 1px solid;
}

/* These are just for making the test look better. */
p {
  margin: 0px;
}
p + div {
  margin-bottom: 40px;
}
