
  #container {
    background-color: red;
    display: flex;
    height: 100px;
    width: 100px;
  }
  #container div{
    height: 100px;
  }
  #test {
    flex-basis: 60px;
    width: 80px;
  }
  #ref {
    background-color: green;
    width: 40px;
  }
  #cover {
    background-color: green;
    height: 100px;
    margin-top: -100px;
    width: 60px;
  }
