
html {
  line-height: 1;
  font-size: 18px;
}

.flex {
  flex: 1;
  min-height: 0;
}

.layout-column, .layout-row {
  display: flex;
}

.layout-column {
  flex-direction: column;
}

#relpos {
  position: relative;
  top: 1px;
}
