
    div.flexbox {
      border: 1px dashed black;
      width: 12px;
      min-height: 100px;
      margin-right: 2px;
      float: left;
    }
    div.smallItem {
      height: 30px;
      border: 1px solid blue;
      background: lightblue;
    }
    div.halfCrossSize {
      width: 4px;
    }
  