
    div.flexbox {
      display: flex;
      flex-wrap: wrap;
      border: 1px dashed black;
      width: 100px;
      height: 12px;
      margin-bottom: 2px;
    }
    div.halfMainSize {
      width: 48px;
      border: 1px solid blue;
      background: lightblue;
    }
    div.hugeMainSize {
      width: 148px;
      border: 1px solid purple;
      background: fuchsia;
    }
  