
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}

.bigger-than-parent {
    height: 100%;
    min-height: 100px;
    background-color: red;
}

#reference-overlapped-green {
    position: absolute;
    background-color: green;
    width: 100px;
    height: 100px;
    z-index: 1;
}

