
div {
  background: blue;
  margin: 1em 0;
  display: flex;
  height: 4em;
  width: 40em;
  flex-direction: row;
  justify-content: left;
}
div#row-reverse {
  flex-direction: row-reverse;
}

span {
  background: white;
  padding: 0 2em;
  width: 4em;
  height: 2em;
}
span:nth-child(1) {background: yellow;}
span:nth-child(2) {background: pink;}
span:nth-child(3) {background: lightblue;}
