
    div.flexbox {
      border: 1px dashed black;
      min-width: 100px;
      height: 12px;
      float: left;
      clear: both;
      margin-bottom: 2px;
    }
    div.smallItem {
      width: 30px;
      border: 1px solid blue;
      background: lightblue;
      float: left;
    }
    div.fullCrossSize {
      height: 10px;
    }
    div.halfCrossSize {
      height: 4px;
    }
  