

       .flex-box {
         position: relative;
         display: flex;
         flex-wrap: wrap;
         margin: 0;
         padding-left: 0;
         width: 200px;
       }
       .flex-item,
       .error {
         list-style-type: none;
         width: 120px;
         height: 100px;
         background-color: green;
       }
       .error {
         position: absolute;
         top: 100px;
         left: 0;
         background-color: red;
         z-index: -1;
       }

    