
.reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 50px;
    z-index: -1;
}
.constrained-flex {
    display: flex;
    height: 50px;
}
br { margin: 50px; }
