
    #container {
      display: flex;
    }
    #lowOrdinal {
      order: 3;
      background: red;
      height: 100px; width: 100px;
    }
    #highOrdinal {
      order: 1;
      background: lime;
      height: 100px; width: 100px;
    }
    #middleOrdinal {
      order: 2;
      background: orange;
      height: 100px; width: 100px;
    }
  