
  .scroll {
    overflow: auto;
    width: 100px;
    height: 100px;
    background: red;
  }
  .flexContainer {
    display: flex;
    padding: 25px;
    background: green;
  }
  .flexItem {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .flexItemOverflow {
    width: 65px;
    height: 65px;
  }
  