
  .horizFlex {
    display: flex;
    margin-bottom: 2px;
  }
  .vertFlex {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 60px;
  }
  .item {
    background: lime;
    height: 100%;
  }
