
    div.flexbox {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: 1px dashed black;
      width: 12px;
      height: 100px;
      margin-right: 2px;
      float: left;
    }
    div.halfMainSize {
      height: 48px;
      border: 1px solid blue;
      background: lightblue;
    }
    div.hugeMainSize {
      height: 148px;
      border: 1px solid purple;
      background: fuchsia;
    }
  