
    div.flexbox {
      border: 1px dashed black;
      width: 20px;
      height: 60px;
      margin: 2px;
      float: left;
    }
    div.item {
      height: 28px;
      border: 1px solid blue;
      background: lightblue;
    }
    div.fullCrossSize {
      width: 18px;
    }
    div.halfCrossSize {
      width: 8px;
    }
    div.shrunkMainSize {
      height: 18px;
    }
  