
  #container {
    background-color: green;
    display: flex;
    height: 100px;
    width: 100px;
  }
  #container div {
    background-color: red;
    height: 100px;
  }
  #test1 {
    flex-grow: -2;
    width: 25px;
  }
  #test2 {
    flex-grow: -3;
    width: 25px;
  }
  #cover {
    background-color: green;
    height: 100px;
    position: relative;
    top: -100px;
    width: 50px;
  }
