
    .flexContainer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 50px;
      width: 300px;
      margin-bottom: 2px;
      background: lightgray;
    }
    .fakeBefore {
      align-self: center;
      content: 'b';
      background: yellow;
    }
    .fakeAfter {
      align-self: center;
      content: 'a';
      background: lightblue;
    }
  