
div {
	background: blue;
	margin: 1em 0;
	border: 1px solid black;

	display: flex;
	flex-direction: column-reverse;
}
span {
	background: white;
	margin: 1em;
	width: 8em;
	display: inline-block;
}
.test {
	background: #ffcc00;
}
