
.flexbox {
    width: 600px;
    display: flex;
    background-color: #aaa;
    position: relative;
    min-height: 10px;
}
.flexbox > * {
    margin: 0;
    border: 0;
    padding: 0;
    min-width: 0;
}
