
  #container {
    background-color: red;
    display: flex;
    height: 100px;
    width: 100px;
  }
  #container div {
    height: 100px;
    width: 100px;
  }
  #test1 {
    background-color: green;
    flex-shrink: 0;
  }
  #test2 {
    background-color: yellow;
    flex-shrink: 0.1;
  }
  #test3 {
    background-color: blue;
    flex-shrink: 2;
  }
  #test2 {
    background-color: black;
    flex-shrink: 3;
  }
