
div {
	background: blue;
	margin: 1em 0;
	border: 1px solid black;
	height: 8em;
	width: 32em;
	position: relative;

	display: flex;
}
span {
	background: white;
	margin: 1em;
	display: inline-block;
}
span:last-child {
	margin-left: auto;
}
