
div {
	background: blue;
	margin: 1em 0;
	border: 1px solid black;
	width: 20em;

	display: flex;
	flex-wrap: wrap-reverse;
}
span {
	background: white;
	margin: 1em;
	width: 8em;
	display: inline-block;
}
