
    .flexContainer {
      display: flex;
      width: 220px;
      height: 200px;
      border: 1px solid black;
      column-gap: 10%;
      row-gap: 10px;
      align-content: flex-start;
      justify-content: flex-end;
      float: left;
      writing-mode: vertical-lr;
    }
    .rowWrap {
      flex-flow: row wrap;
    }
    .columnWrap {
      flex-flow: column wrap;
    }
    .item {
      border: 1px solid blue;
      background: lightblue;
      width: 28px;
      height: 28px;
    }
  