
    body {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }
    .flexContainer {
      display: inline-flex;
      background: lightblue;
      align-items: baseline;
    }
    .hugeAndUnaligned {
      font-size: 35px;
      line-height: 35px;
      /* This one flex item won't be baseline-aligned, so it won't impact
         the flex container's positioning */
      align-self: stretch;
    }
    .smallFont {
      font-size: 10px;
      line-height: 10px;
    }
  