
div {
	background: blue;
	padding-top: 1em;
	margin: 1em 0;
	border: 1px solid black;
	width: 20em;
	height: 7em;
}
span {
	background: white;
	margin: 1em;
	width: 8em;
	height: 1.5em;
	float: left;
}
