

    .test {
      display: flex;
      width: 3em;
      flex-direction :row;
    }

    .test > span {
      width: 1em;
      direction: ltr;
    }

    #row-ltr {
      direction: ltr;
    }

    #row-rtl {
      direction: rtl;
    }
  