
        .flex  {
            display: flex;
            background: red;
            width: 100px;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .flex > div {
            width: 100px;
            height: 50px;
            background: green;
            color: transparent;
            align-self: baseline;
        }
    