
#reference-overlapped-red {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: -1;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
  writing-mode: vertical-lr;
}

img {
  padding-left: 5%;
  min-width: 40px;
  min-height: 0; /* Disable min-size: auto. */
  margin-left: -10px;
}
