
#flex {
  display: flex;
  width: 100px;
  height: 100px;
}
#grid {
  background-color: green;
  display: grid;
  flex: 1;
  contain: layout size;
}
.item {
  height: 50px;
  width: 50px;
}
#reference-overlapped-red {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}
