
div {
	background: blue;
	margin: 1em;
	border: 1px solid black;
	display: flex;
}
div div {
	background: yellow;
}
span {
	background: white;
	margin: 1em;
	width: 8em;
	height: 1.2em;
	display: inline-block;
}
#test {
	order: -1;
}
