
.inline-block {
  float: left;
  height: 50px;
  width: 50px;
  background: blue;
}

.flexbox {
  display: flex;
  width: 75px;
  height: 75px;
  margin-bottom: 50px;
}

.flex-item {
  flex-shrink: 0;
  min-width: 0px;
  min-height: 0px;
  background: green;
}

.ortho-item {
  writing-mode: vertical-rl;
}

