
div {
  background: blue;
  margin: 1em 0;
  height: 4em;
  width: 40em;
}
span {
  display: inline-block;
  background: white;
  padding: 0 2em;
  width: 4em;
  height: 2em;
}
span:nth-child(1) {background: yellow; margin-left: 16em;}
span:nth-child(2) {background: pink;}
span:nth-child(3) {background: lightblue;}
#row-reverse span:nth-child(3) {background: yellow;}
#row-reverse span:nth-child(1) {background: lightblue;}
