
    .flexContainer {
      display: flex;
      background: yellow;
      border: 1px dotted black;
      float: left;
      margin: 5px;
    }
    .flexContainer > * {
      /* All flex items have 20px base size */
      width: 20px;
    }
    .collapse {
      flex-basis: 0;
      height: 20px;
    }
    .flexible {
      flex: 1 auto;
    }
    .heightTall {
      height: 40px;
      background: purple;
    }
    .heightAuto {
      background: teal;
    }
    .heightShort {
      height: 10px;
      background: pink;
    }
  