
  #container {
    background-color: red;
    display: flex;
    height: 100px;
    width: 100px;
  }
  #container div {
    height: 100px;
    width: 100px;
  }
  #test1 {
    flex-shrink: 2;
  }
  #test2 {
    background-color: green;
    flex-shrink: 3;
  }
  #cover {
    background-color: green;
    height: 100px;
    margin-top: -100px;
    width: 60px;
  }
