
  body {
    direction: rtl;
  }

  section {
    background-color: green;
    block-size: 100px;
    display: flex;
    gap: 20px;
  }
  section > div{
    background-color: grey;
    flex: 1 1 auto;
  }
