
.item {
  flex: 0 0 auto;
  line-height: 0px;
}

.inline-block {
  display: inline-block;
  width: 10px;
}

#reference-overlapped-red {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}
