
.button {
  display: flex;
  border: 0;
  padding: 0;

  padding-left: 100px;
  column-gap: 100px;
  width: max-width;
  height: 100px;
  background: green;
}

#reference-overlapped-red {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: -1;
}
