
  body {
    direction: rtl;
  }
  section {
    background-color: green;
    block-size: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  section > div{
    background-color: grey;
  }
  section > div {
    width: calc(50% - 10px);
  }
  section > div:nth-child(1),
  section > div:nth-child(3) {
    margin-inline-end: 20px;
  }
  section > div:nth-child(3),
  section > div:nth-child(4) {
    margin-block-start: 20px;
  }
