
  body {
    writing-mode: vertical-rl;
  }

  section {
    background-color: green;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
  }
  section > div{
    background-color: grey;
    color: white;
  }
