
  section {
    background-color: green;
    block-size: 100px;
    inline-size: 200px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 18px;
  }
  section > div{
    background-color: grey;
    color: white;
  }
