
  body {
    writing-mode: vertical-lr;
  }

  section {
    background-color: green;
    block-size: 100px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  section > div{
    background-color: grey;
    width: calc(50% - 10px);
  }
