
  body {
    direction: rtl;
  }

  section {
    background-color: green;
    block-size: 100px;
    inline-size: 200px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  section > div{
    background-color: grey;
    color: white;
    block-size: 20px;
  }
  #bp {
    inline-size: 120px;
  }
  #ww {
    inline-size: 130px;
  }
  #s, #f {
    inline-size: 40px;
  }
  #bp, #ww {
    margin-inline-end: 20px;
    margin-block-end: 20px;
  }
