
  body {
    writing-mode: vertical-lr;
  }

  section {
    background-color: green;
    block-size: 100px;
    display: inline-flex;
    gap: 20px;
  }
  section > div{
    background-color: grey;
    color: white;
  }
