
#container {
  width: 600px;
  display: flex;
}

#left {
  position: relative;
  width: 300px;
  margin-right: -100px;
  background-color: rgba(0, 128, 0, 0.8);
}

#right {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(200, 200, 200, 0.8);
}

