
      .flexbox {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 0 2px 2px 0; /* (Just for spacing things out, visually) */
        width: 40px;
        height: 40px;

        justify-content: flex-start;
        align-items: stretch;

        float: left; /* For testing in "rows" */
      }
      br { clear: both; }

      .flexbox > * {
        /* Disable "min-width:auto"/"min-height:auto" to focus purely on
           later channels of influence. */
        min-width: 0;
        min-height: 0;
      }
    