
html, body {
  margin: 0;
}

#flexbox {
    display: flex;
    flex-direction: column;
}

#flexitem {
    outline: 1px solid black;
    width: 100%;
    height: 166px;
    position: relative;
    background: green;
}

#abspos {
    position: absolute;
}

#container {
    background: red;
}
