

.set {
  clear: both;
  margin: 1em;
}

.test, .ref {
  display: flex;
  overflow: scroll;
  border: solid blue;
  background: aqua;
  margin: 0.5em;
  float: left;
}
div {
  flex: none;
}

.test {
  padding: 10px;
  width: 60px;
  height: 60px;
}
.test > div {
  margin: 20px;
  border: 5px solid transparent;
  padding: 5px;
  width: 10px;
  height: 10px;
  background: teal;
}

.ref {
  width: 80px;
  height: 80px;
  border-color: orange;
}
.ref > div {
  border: 30px solid aqua;
  width: 30px;
  height: 30px;
  background: teal;
}
