
.flexbox {
    border: 5px solid green;
    position: relative;
    width: 50px;
}

.inline-flexbox {
    border: 5px solid green;
    position: relative;
    height: 50px;
}

.overflow {
    border: 1px solid red;
    overflow: auto;
    min-width: 0;
    min-height: 0;
}

.vertical {
    writing-mode: vertical-rl;
}
