
.flexbox {
    display: flex;
    background-color: #aaa;
    position: relative;
}
.flexbox :nth-child(1) {
    background-color: blue;
}
.flexbox :nth-child(2) {
    background-color: green;
}
.flexbox :nth-child(3) {
    background-color: red;
}

.flexbox > div {
    width: 40%;
    height: 40%;
}
.column {
    flex-flow: column wrap;
    width: 100px;
    height: 100px;
    align-content: flex-start;
}
