
.flexbox {
    display: flex;
}
.column, .column .fixed {
    height: 50px;
}
.row, .row .fixed {
    width: 50px;
}
.container > div {
    outline: 2px solid blue;
}
.row > div > div {
    height: 20px;
}
.flexbox > div {
    flex: 0 0 auto;
}
.column > .flexbox {
    flex-direction: column;
}
.container > div > :nth-child(1) {
    background-color: orange;
}
.container > div > :nth-child(2) {
    background-color: yellow;
}
.container > div > :nth-child(3) {
    background-color: salmon;
}
.container > div > :nth-child(4) {
    background-color: purple;
}
