
.flexbox {
  display: flex;
  font: 10px/1 Ahem;
  outline: 1px solid black;
}
.grid {
  display: grid;
  outline: 1px solid magenta;
}
.flexbox > div {
  width: min-content;
  outline: 1px solid blue;
}
.percent-height {
  min-height: 100%;
}
.fixed-height {
  height: 100px;
}
.align-start {
  align-items: start;
}
