
#outer {
  height: 10em;
  display: inline-flex;
  background: tan;
}

#middle {
  overflow-x: scroll;
}

#inner {
  width: 200px;
  height: 100%;
  background: green;
}

#outer2 {
  height: 10em;
  display: inline-flex;
  flex-direction: column;
  background: tan;
}

#middle2 {
  overflow-x: scroll;
  flex: 1.0;
}

#inner2 {
  width: 200px;
  height: 100%;
  background: green;
}
