
x-flexbox {
  display: flex;
  height: 50px;
  width: 500px;
}

x-item {
  padding-left: 10%;
  background: blue;
  position: relative; /* Just so offsetLeft returns distance between x-item and div */
}

div {
  height: 50px;
  width: 50px;
  background: orange;
}
