
.horizontal {
    height: 50px;
    background-color: purple;
    position: relative;
}
.vertical {
    width: 50px;
    height: 10px;
    background-color: purple;
    position: relative;
    writing-mode: vertical-rl;
}
.flex-one {
    background-color: red;
}
