
#flex {
  display: flex;
  width: 100px;
  justify-content: center;
  background: red;
  /* This gap ensures that we'll see some of the red background,
     if there ends up being more than 1 flex item. */
  gap: 90px;
}
#swatch {
  width: 100px;
  height: 100px;
  background: green;
}
