
  .container {
    height: 0px;
    border: 1px dotted black;
  }
  select {
    /*
      WebKit applies intrinsic (default) margins to control elements in some circumstances,
      let's disable them to avoid mismatch errors caused by those margins.
    */
    margin: 0;
  }
