
  .container {
    display: block;
    width: 200px;
    border: 1px solid black;
  }
  table { width: min-content; }
  td {
    background-color: cyan;
    width: 100%;
    border: 1px solid gray;
  }

