
body,html { color:black; background:white; font-size:15px/1 monospace; padding:0; margin:0; }

.grid {
  display: grid;
  position: relative;
  border: 1px solid;
  grid-gap: 1px;
  grid-auto-flow: dense;
}
.t1 {
  grid-template-columns: 40px 40px 40px 60px 60px 60px 40px 40px 40px 40px 40px 40px;

}
.t2 {
  grid-template-columns: 40px 40px 40px 40px 60px 60px 60px 40px 40px 40px 40px 40px;
}

x {
  background: grey;
  border: 1px solid;
}
y {
  position: absolute;
  border-top: 1px solid blue;
  bottom:0;height:0;left:0;right:0;
}

  