
.test {
  background: red;
  border: solid 2px;
  width: 100px;
}

.test > div {
  height: 100px;
}

@supports (display: layout(bad-request)) {
  .test {
    display: layout(bad-request);
    background: green;
  }
}
