
     body {
         background: linear-gradient(to right, currentcolor, limegreen);
     }

     div {
         width: 100vw;
         height: 100vh;
         color: limegreen;
         background: inherit;
     }
    