
.ref {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  background-image: conic-gradient(from 45deg at 50px 100px, green 25%, transparent 0);
}
.box {
  position: absolute;
  z-index: -1;
  width: 200px;
  font-size: 50px;
  line-height: 2;
  aspect-ratio: 1;
  background-image: conic-gradient(from 45deg at 50px 1lh, red 25%, green 0);
}
