
        .square{
            width: 200px;
            height: 200px;
            color: white;
            background-color: red;
            background-image: image("support/1x1-green.png");
        }
    