
    .test {
        width: 200px;
        height: 100px;
        margin-left: 90px;
    }
    .gradient {
        background-image: linear-gradient(to left, blue 0%, blue 20%, rgba(0,0,255,0));
    }
