
      video {
        border: 1px dashed gray;
        padding: 1px;
        image-rendering: pixelated;
        float: left;
        contain: size;
        object-position: top left;
      }
      br {
        clear: both;
      }
      .big {
        width: 32px;
        height: 48px;
      }
      .small {
        width: 8px;
        height: 8px;
      }

      .cover { object-fit: cover }
      .contain { object-fit: contain }
      .fill { object-fit: fill }
      .none { object-fit: none }
      .scaledown { object-fit: scale-down }

    