
div {
  margin: 5px;
}

video {
  object-fit: fill;
}

.container_view_box_subset {
  width: 50px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  background-color: grey;
}
.view_box_subset {
  position: relative;
  top: -25px;
}

.container_view_box_subset_with_position {
  width: 50px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  background-color: grey;
}
.view_box_subset_with_position {
  position: relative;
  top: -40px;
  left: 10px;
}
