
      .objectOuter {
        border: 1px dashed gray;
        padding: 1px;
        float: left;
      }
      .objectOuter > * {
        background-image: url("support/colors-16x8.png");
        background-repeat: no-repeat;
        image-rendering: pixelated;
        background-position: 0% 0%;
      }
      br {
        clear: both;
      }
      .big {
        width: 32px;
        height: 48px;
      }
      .small {
        width: 8px;
        height: 8px;
      }

      .cover { background-size: cover; }
      .contain { background-size: contain; }
      .fill { background-size: 100% 100%; }
      .none { background-size: auto auto; }
      .scaledown { background-size: auto auto; }
      .small.scaledown { background-size: contain; }

    