
      object {
        background: lightgray;
        margin-right: 2px;
        object-fit: contain;
        float: left;
        width: 20px;
        height: 20px;
      }

      .op_y-7  { object-position: 50%  -7% }
      .op_y13  { object-position: 50%  13% }
      .op_y23  { object-position: 50%  23% }
      .op_y50  { object-position: 50%  50% }
      .op_y75  { object-position: 50%  75% }
      .op_y88  { object-position: 50%  88% }
      .op_y111 { object-position: 50% 111% }

    