
      * {
        padding: 0px;
        margin: 0px;
      }
      .top-left {
        position: absolute;
        left: 0px;
        top: 0px;
      }
      .bottom-left {
        position: absolute;
        left: 0px;
        top: 60px;
      }
    