
            body {
                margin: 0px;
            }
            #gradient {
                position: absolute;
                width: 600px;
                height: 200px;
                left: 0px;
                margin: 0px;
                background-color: aquamarine;
                background-image: radial-gradient(closest-side, red 40%, transparent 40%);
                background-size: 300px 200px;
                background-position: 80px 0px;
            }
        