
@font-face {
  font-family: halt-font;
  src: url('/fonts/noto/cjk/NotoSansCJKjp-Regular-subset-halt-min.otf');
}
#container {
  font-family: halt-font;
  font-size: 20px;
}
.vrl {
  writing-mode: vertical-rl;
}
