
@font-face {
  font-family: halt-font;
  src: url('/fonts/noto/cjk/NotoSansCJKjp-Regular-subset-halt.otf');
}
@font-face {
  font-family: chws-font;
  src: url('/fonts/noto/cjk/NotoSansCJKjp-Regular-subset-chws.otf');
}
#container {
  font-family: halt-font;
  font-size: 20px;
  text-spacing-trim: trim-start;
}
.chws #container {
  font-family: chws-font;
}
.vrl {
  writing-mode: vertical-rl;
}
