
div {
    columns: 3;
    border: solid 1px;
}
div p {
    break-after: column;
}
.spanner {
    column-span: all;
    text-align: center;
}

/* incidental to the example, but needed for a controlled rendering :*/
div p { margin: 0; }
div {
    margin: 1em;
    width: 47ch;
    font-family: monospace;
    gap: 1ch;
}
