
div {
  position:absolute;
  width: 200px;
  height: 200px;
}
#A {
  overflow:hidden;
  top: 110px;
  left: 10px;
}
#B {
  background:green;
}
#F {
  position:fixed;
  background:#f008;
  top:150px;
  left:50px;
}
#T {
  background:#fff8;
  top:90px;
  left:90px;
  backdrop-filter:invert(1);
}
