
.colorbox {
    position: absolute;
    background: green;
    width: 100px;
    height: 100px;
    left: 10px;
    top: 100px;
}
.filterbox {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
    backdrop-filter: invert(1);
    opacity: 1.0;
}
