
.greenbox {
  position: absolute;
  background: green;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 60px;
}
.filter {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 10px;
  backdrop-filter: invert(1);
  opacity: 0;
}
