
    .background {
        position: fixed;
        width: 200px;
        height: 32768px;
        left: 100px;
        top: 50px;
        background: red;
    }
    .filter {
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100%;
        transform: translateX(-20px);
    }
