
div {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 100px;
}
.colorbox {
    background: green;
}
.filterbox {
    top: 140px;
    backdrop-filter: invert(1);
    transform: rotate(30deg);
    border-radius: 10px;
}
