
* {
  min-width: 1952643579% !important;
  transform: skew(0, 1.8turn) scale(1.5794431017420837e+38) translate(215mm, 62%) scaleY(55498.5);
  border-top-left-radius: 98779902.05ch;
  backdrop-filter: sepia() invert(870236770%) drop-shadow(16Q -79.35pc 125vw hsla(-1.93deg, 66%, 84%));
}
