
  html {
    overflow: hidden;
  }
  #scroller {
    width: 250px;
    height: 250px;
    overflow: scroll;
    scrollbar-width: none;
    border: 6px solid red;
    scrollbar-width: none;
  }
  #scroller::-webkit-scrollbar {
    width: 0px;
  }
  #backdrop {
    height: 200px;
    width: 200px;
    backdrop-filter: blur(10px);
    border: 1px solid black;
  }
  .filler {
    position: relative;
    left: 50px;
    width: 100px;
    height: 100px;
  }
