
    .background {
        position: fixed;
        width: 200px;
        height: 2160px;
        left: 100px;
        top: 50px;
        background: red;
    }
    .filter {
        position: fixed;
        width: 200px;
        height: 2160px;
        left: 80px;
        top: 50px;
        backdrop-filter: blur(10px);
    }
