
  #cover, #clip {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
  }

  #cover {
    background: green;
  }

  #clip {
    overflow: hidden;
    background: blue;
    filter: blur(20px);
  }
