
.test { text-align: start; }
/* the CSS below is not part of the test */
.test, .ref1, .ref2 { width: 300px; color: orange; font: 25px/1 Ahem; }
.test { border: 1px solid orange; margin: 20px; }
.ref1, .ref2 { border-left: 1px solid orange; border-right: 1px solid orange; margin: 0 20px; }
.ref1 { border-top: 1px solid orange; text-align: left; }
.ref2 { border-bottom: 1px solid orange; text-align: right; }
