
    .container {
      display: grid;
      grid-template-columns: repeat(3, 50px);
      column-gap: 10px;
      height: 120px;
      width: min-content;
      border: solid blue;
    }
    .column {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 10px;
      margin-top: -40px;
    }
  