
    .container {
      display: grid;
      grid-template-columns: repeat(3, 50px);
      column-gap: 10px;
      height: 200px;
      width: min-content;
      border: solid blue;
    }

    .track {
      display: flex;
      flex-direction: column;
      height: 200px;
      padding-bottom: 50px;
    }

    .item {
      width: 50px;
      box-sizing: border-box;
    }
  