
.grid-lanes {
    display: grid-lanes;
    flow-tolerance: 0;
    grid-template-columns: repeat(4, 50px) 15px;
    gap: 10px;
    grid-lanes-direction: column track-reverse;
    grid-auto-flow: dense;
    grid-lanes-pack: dense;
}
