
.grid-lanes {
  display: grid-lanes;
  flow-tolerance: 0;
  grid-auto-flow: dense;
  grid-lanes-pack: dense;
  grid-lanes-direction: column track-reverse;
  grid-template-columns: repeat(4, 50px);
}
