
  :root {
    background-color: gray;
  }

  table {
    border-collapse: collapse;
  }
  table, table * {
    border: none;
  }

  #table, #col, #tr, #th, #td, #tbody {
    border: 5px solid currentColor;
    color: CanvasText;
  }

  * {
    color-scheme: initial;
  }

  .dark {
    color-scheme: dark;
  }

