
  table
    {
      width: 400px;
    }

  caption
    {
      border-top: orange solid 6px;
      color: blue;
      font-size: 32px;
    }

  span
    {
      bottom: 3px;
      position: relative;
    }
  