
article {
  height: 2.5em;
  column-gap: 0;
  columns: 3 1em;
  width: 3em;
  column-fill: auto;

  font-size: 40px;
  font-family: ahem;
  line-height: 1;
}
div {
  background: orange;
  padding-top: 5em;
}
