
  p
    {
      margin-bottom: 30px;
    }

  div
    {
      height: 30px;
    }

  div.orange
    {
      background-color: orange;
    }

  div.blue
    {
      background-color: blue;
    }

  div#lime
    {
      background-color: lime;
    }
  