
  #box {
    border-style: dotted; /* Avoid border-*-width computed style 0 */
    border-top-width: thin;
    border-right-width: medium;
    border-bottom-width: thick;
  }
  #target {
    border-style: dotted; /* Avoid border-*-width computed style 0 */
    font-size: 40px;
  }
