
#green {
  position: absolute;
  background: green;
  font-family: monospace;
  width: 1ch;
  height: 19em;
}
#test {
  width: 1ch;
  line-height: 1;
  color: red;
  font-family: monospace;
  line-break: anywhere;
}
span {
  background: red;
}
