
div {
  position: relative;
  font: 20px / 1 Ahem;
}
.red {
  position: absolute;
  background: green;
  height: 100px;
  color: red;
  z-index: -1;
}
.test {
  color: green;
  width: 5ch;
  line-break: anywhere;
}
