

    .s1mm { background-color: fuchsia; width: 1mm; height: 1mm; }
    .s10mm { background-color: olive; width: 10mm; height: 10mm; }
    .s1cm { background-color: orange; width: 1cm; height: 1cm; }
    .s254cm { background-color: gray; width: 2.54cm; height: 2.54cm; }
    .s1in { background-color: blue; width: 1in; height: 1in; }

    .inline { float: left; }

    .newline { clear: left; }

    p { clear: both; margin: 10px 0; }

  