
    #t1 { width: 96px; height: 2.54cm; }
    #t2 { width: 2.54cm; height: 25.4mm; }
    #t3 { width: 25.4mm; height: 101.6q; }
    #t4 { width: 101.6q; height: 1in; }
    #t5 { width: 1in; height: 6pc; }
    #t6 { width: 6pc; height: 72pt; }
    #t7 { width: 72pt; height: 96px; }
