
  div
    {
      height: 100px;
      width: 100px;
    }

  div#test-overlapping-green
    {
      background-color: red;
      background-image: linear-gradient(1.57rAd, green, green);
    }

  div#reference-overlapped-red
    {
      background-color: red;
      bottom: 100px;
      position: relative;
      z-index: -1;
    }
  