
			html, body { margin: 0px; padding: 0px; }

			html { background: white; overflow: hidden; }
			#outer { position: relative; background: green; }

			#outer { width: max(attr(data-test type(<length>))); height: 200px; }
	