
  #one::after {
    content: attr(does-not-exist, "Fallback value");
  }

  #two::after {
    content: attr(does-exist, "Fallback value");
  }

  #three::after {
    content: attr(does-not-exist, invalid);
  }

  #four::after {
    content: attr(does-exist, invalid);
  }

  #five::after {
    content: attr(does-exist, "Fallback value");
  }

  #six::after {
    content: attr(does-exist, "Fallback value");
  }
