
  #one::after {
    content: "Fallback value";
  }

  #two::after {
    content: "Not fallback value";
  }

  #three::after {
    content: "";
  }

  #four::after {
    content: "Not fallback value";
  }

  #five::after {
    content: "";
  }

  #six::after {
    content: "";
  }
