
* {
  box-sizing: border-box;
}
:root {
  font-family: sans-serif;
}
.parent {
  display: inline-flex;
  --addon-size: 1rem;
}
.child {
  min-width: 0;
  display: inline-flex;
  max-width: calc(100% - var(--addon-size));
}
.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.addon-child {
  display: inline-flex;
  width: var(--addon-size);
}
span {
  outline: 1px dashed red;
  outline-offset: -1px;
}
p > span > span {
  padding: .5rem .25rem;
}
