

			html, body { margin: 0px; padding: 0px; }

			html { background: red; overflow: hidden; }
			#outer { position: absolute; top: 0px; left: 0px; background: green; width: 100%; }
			#outer { height: calc(calc(100%)); }

	