
@font-face {
  font-family: ChTestZeroWidthZero;
  src: url(resources/ChTestZeroWidthZero.woff);
}
div {
  height: 10px;
  background-color: blue;
  margin-top: 10px;
}
.test {
  width: calc(100px + 5ch);
}
.ref {
  width: 100px;
}
