
@font-face {
  font-family: ChTestShortZero;
  src: url(resources/ChTestShortZero.woff);
}
div {
  height: 10px;
  background-color: blue;
  margin-top: 10px;
}
.test {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 5ch;
}
.ref {
  width: 100px;
}
