
@font-face {
  font-family: ExTest;
  src: url(resources/ExTest.woff);
}
div {
  height: 10px;
  background-color: blue;
  margin-top: 10px;
}
.test {
  writing-mode: vertical-rl;
  width: 10ex;
}
.ref {
  width: 100px;
}
