
@font-face {
  font-family: ExTestNoSpace;
  src: url(resources/ExTest-NoSpace.woff);
  unicode-range: U+0021-00FF;
}
div {
  height: 10px;
  background-color: blue;
  margin-top: 10px;
  font-size: 80px;
  width: 10ex;
}
.test {
  font-family: ExTestNoSpace, Arial, sans-serif;
}
.ref {
  font-family: Arial, sans-serif;
}
