
  html {
      font-size: 30px;
  }

  body {
      font-size: 16px;
      line-height: 1.25; /* computed value: 20px */
      width: 520px;
      height: 500px;
      margin: 20px;
  }

  div#target {
      height: 100px;
      width: 100px;
  }
  