
  html
    {
      font-size: 30px; /* for checking rem unit */
    }

  body
    {
      font-size: 16px;
      line-height: 1.25; /* computed value: 20px; for checking lh unit */
      height: 500px;
      margin: 20px;
      width: 520px;
    }

  div#target
    {
      height: 100px;
      width: 100px;
    }
  