
  div#target
    {
      border: solid 2px;
      border-top-left-radius: calc(1px + 1%) calc(5px + 5%);
      border-top-right-radius: calc(2px + 2%) calc(6px + 6%);
      border-bottom-right-radius: calc(3px + 3%) calc(7px + 7%);
      border-bottom-left-radius: calc(4px + 4%) calc(8px + 8%);
      height: 100px;
      width: 100px;
    }
  