
@font-face {
    font-family: IcTestFullWidth;
    src: url(resources/IcTestFullWidth.woff2);
}

span {
    font: 20px IcTestFullWidth;
    background: green;
    color: green;
    left: 0; right: 0;
    position: absolute;
}

div {
    font: 20px IcTestFullWidth;
    background: red;
    color: red;
    position: relative;
    height: 5ic;
    width: 10ic;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

div + div {
    height: auto;
}

div + div span {
    height: 5ic;
}
