
@font-face {
  font-family: ASCIIonly;
  src: local(Ahem), url("/fonts/Ahem.ttf");
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: IcTestHalfWidth;
  src: url("resources/IcTestHalfWidth.woff2");
}
div {
  height: 10px;
  background-color: blue;
  margin-top: 10px;
}
.test {
  width: calc(20px + 2ic);
}
.ref {
  width: 100px;
}
