
div {
  width: 100px;
  height: 100px;
  background: red;
  line-height: 50px;
}
aside {
  background: green;
  height: 1em;
  line-height: 42px; /* number doesn't matter, as long as it's neither 50 nor 100*/
  font-size: 2lh;
}

