
    @property --number {
        syntax: "<number>";
        inherits: true;
        initial-value: 0;
    }
    @property --numbers {
        syntax: "<number>+";
        inherits: true;
        initial-value: 0;
    }
    @function --f() {
        result: random(element-shared, 1, 1e6);
    }
    @function --g() {
        result: random(element-shared, 1, 1e6);
    }
    @function --locals() {
        --x: random(element-shared, 1, 1e6);
        --y: random(element-shared, 1, 1e6);
        result: var(--x) var(--y);
    }
    @function --locals-position-registered() returns <number>+ {
        --x: random(element-shared, 1, 1e6);
        result: var(--x) var(--x);
    }
    @function --f-locals() {
        --x: random(element-shared, 1, 1e6);
        result: var(--x);
    }
    @function --g-locals() {
        --x: random(element-shared, 1, 1e6);
        result: var(--x);
    }
    @function --f-arguments(--x <number>) {
        result: var(--x);
    }
    @function --g-arguments(--x <number>) {
        result: var(--x);
    }
    @function --f-default-arguments(--x <number>: random(element-shared, 1, 1e6)) {
        result: var(--x);
    }
    @function --g-default-arguments(--x <number>: random(element-shared, 1, 1e6)) {
        result: var(--x);
    }
    @function --f-locals-arguments(--x <number>) {
        --x: random(element-shared, 1, 1e6);
        result: var(--x);
    }
    @function --g-locals-arguments(--x <number>) {
        --x: random(element-shared, 1, 1e6);
        result: var(--x);
    }
    @function --f-number() returns <number> {
        result: random(element-shared, 1, 1e6);
    }
    @function --g-number() returns <number> {
        result: random(element-shared, 1, 1e6);
    }
