
  @import url("/fonts/ahem.css");
  html {
    font-family: 'Ahem';
    font-size: 40px;
  }
  body {
    font-family: monospace;
    font-size: 20px;
  }
  div {
    height: 10rex;
    width: 10rex;
  }
