
      #target {
        font-variant: no-common-ligatures proportional-nums !important;
        initial-letter: 123 !important;
        text-box-edge: text !important;
        view-transition-class: cls !important;
      }
    