
  .test {
    width: 1em;
    height: 1em;
    background-color: green;
    display: inline-block;
  }
  #t1 {
    font-size: 1vh;
  }
  #t2 {
    font-size: 1vw;
  }
  #t3 {
    font-size: 1vh;
  }
  #t4 {
    font-size: 1vw;
  }
