
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
html {
  background: red;
  overflow: auto;
  width: 200%;
  height: 200%;
}
body {
  background: white;
  border-right: solid blue 4px;
  border-bottom: solid blue 4px;
}
