
    #div {
      position: relative;
      width: 50vw;
      height: 10vw;
      background: green;
      border: 0 green solid;
      font-size: 4vw;
    }

    #table td {
      border: 1px solid green;
    }
  