
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html {
  overflow: scroll;
}
body {
  background: white;
  border-right: solid green 4px;
  border-bottom: solid green 4px;
}
