
  .test {
    width: 1em;
    height: 1em;
    background-color: green;
    display: inline-block;
  }
  #t1 {
    writing-mode: vertical-lr;
    font-size: 1vi;
  }
  #t2 {
    writing-mode: vertical-lr;
    font-size: 1vb;
  }
  #t3 {
    font-size: 1vi;
    writing-mode: vertical-lr;
  }
  #t4 {
    font-size: 1vb;
    writing-mode: vertical-lr;
  }
