
    .container { position: relative; }
    .grid-lanes {
      display: grid-lanes;
      position: relative;
      text-orientation: sideways;
      grid-template-columns: 200px 100px;
      font-family: Ahem;
      line-height: 1;
      background-color: grey;
      justify-items: baseline;
      width: 300px;
    }
    .bigFont  { font-size: 50px; }
    .paddingLeft { padding-left: 25px; }
    .paddingRight { padding-right: 25px; }

    .firstItem {
      background-color: blue;
      grid-column: 1;
      width: 100px;
    }

    .secondItem {
      background-color: purple;
      grid-column: 1;
      width: 200px;
    }

    .thirdItem {
      background-color: aqua;
      grid-column: 2;
      width: 300px;
      height: 25px;
    }

    .verticalRL {
      writing-mode: vertical-rl;
    }
    .verticalLR {
      writing-mode: vertical-lr;
    }
    .horizontalTB {
      writing-mode: horizontal-tb;
    }
  